.disscussion-reply
{

}

.none
{
    display: none;
}

.discussion-block
{
    padding: 10px;
    margin-top: 10px;
    /*background: #a9a9a9;*/
    border-top: 3px solid #e0e0e0;
    width: 1135px !important;
    /*border-bottom: 1px solid #e0e0e0;*/
}

.discussion-in-block
{
    background-color: #dbdbdb !important;
    border-radius: 4px;
    margin-left: 60px;
    width: 1075px !important;
}


.discussion-delete
{
   float: right;
    background: url(/img/d2/gtk-close.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.discussion-in-block .discussion-delete
{
    left: 1040px;
}

.reply-size
{
    margin-left: 60px;
    width: 1055px !important;
}