#notification {display:none;}

textarea
{
    resize:none;
}

*:focus
{
    outline: none;
}

*{ margin:0; padding:0;}

a { outline: 0 !important; }

.spacer5px {height: 5px;}

.noselect
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.not-active
{
    opacity:0.5;
}

h1
{
    font-size: inherit;
    font-weight: inherit;
}

.fout-hidden
{
    visibility:hidden;
}

/********************  ********************/
/* Validation */
.validation-error-tooltip
{
    position:absolute;
    background-color: #EDE8D6;
    color: red;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #38414B;
    font-size: 14px;
    z-index:2000;
}

.validation-error-tooltip-arrow
{
    position: absolute;
    width: 21px;
    height: 10px;
    top: -10px;
    background-image: url('/img/valid_triangle.png');
}

/********************  ********************/
/* Tooltip */
.tooltip-content
{
    color:white;
}

#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: rgba(0,0,0,0.8);
    padding: 4px 4px 0;
    border-radius: 5px;
    text-align: justify;
    color:white;
}

#tooltip h3, #tooltip div { margin: 0; }

#tooltip * {
    font-weight: normal;
    font-size: 14px;
}

/********************  ********************/
/* Pretty textarea */
.pretty-textarea
{
    background:#FFFFFF none repeat scroll 0 0;
    outline-style:none;
    outline-width:medium;
    width:325px;
    padding:5px;
    border:1px solid #dfdfdf;
    font-size:1em;
    margin-bottom:10px;
    resize: vertical;
}

/********************  ********************/
/* Image preloader classes */
.image-preloader
{
    background-color: #ffffff;
    background-image: url('/img/loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

#editor {
    position: absolute;
    top: 92px;
    right: 0;
    bottom: 0;
    left: 80px;
}