/* This file contains all global styling properties */

/********************  ********************/
/* Main blocks */
#main-block
{
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -68px;
}

#gradient
{
    background-image: url("/img/gradient.png");
    background-repeat: repeat-x;
    display: block;
    height: 731px;
    left: 0;
    position: absolute;
    top: 68px;
    width: 100%;
    z-index: -1;
}

/********************  ********************/
/* Site footer */

html, body
{
    height: 100%;
}

#spacer
{
    height:108px;
}

.site-footer
{
    background-image: url("/img/main/footer_bg.png");
    width: 100%;
    height:68px;
}
