.orange-border
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.search-orange-border
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.validation-error-tooltip
{
    behavior: url('/tools/PIE.htc');
}

.login-fields-input
{
    behavior: url('/tools/PIE.htc');
    position: relative;

    height: 21px;
    padding-top: 4px;
}

.main-menu-user-block-search-input
{
    behavior: url('/tools/PIE.htc');
    position: relative;

    height: 21px;
    padding-top: 4px;
}

.fancy-input-text
{
    behavior: url('/tools/PIE.htc');
    position: relative;

    height: 21px;
    padding-top: 4px;
}

.user-deal-header
{
    position:relative;
    behavior: url('/tools/PIE.htc');
}

.user-deal-item
{
    position:relative;
    behavior: url('/tools/PIE.htc');
}

.friend-email-input
{
    behavior: url('/tools/PIE.htc');
    position: relative;

    height: 21px;
    padding-top: 4px;
}

.spinner-input
{
    behavior: url('/tools/PIE.htc');
    position: relative;

    height: 21px;
    padding-top: 4px;
}

.invite-input {
    behavior: url('/tools/PIE.htc');
}

.da-slide .da-link{
    background: url('/tools/background?color=255,255,255,0.2') repeat;
    border: 6px solid #FFF5E3;
}

.da-ok-button
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.invite-input {
    background: url('/tools/background?color=255,255,255,0.2') repeat;
}

.da-link-button
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.reg-input-container
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.user-info-block
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.user-deal-main-block
{
    position: relative;
}

.organizer-top-block.rounded-processed > .rounded-inner-wrapper
{
    top: 0px !important;
}

.organizer-top-block.rounded-processed
{
    margin-bottom: 7px;
}

.modal-main-image
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.modal-main-info-container
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.modal-item-desc
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.modal-params-info-container
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.boxgrid p
{
    font-weight:normal;
    font-size: 16px;
}

.secondary-block {
    position:relative;
}

.primary-block {
    position:relative;
}

#tooltip {
    background: url('/tools/background?color=0,0,0,0.8') repeat;
}

.da-slide-previous .invite-input
{
    left:110%;
}

.cleditorSmileybar {
    background: url('/tools/background?color=232,236,244,0.5') repeat;
}

.hiddden-password
{
    display:inline;
}

.modal-main-block
{
    position: relative;
}

.da-slider-container
{
    behavior: url('/tools/PIE.htc');
    position: relative;
    box-shadow: none;
}

.ui-tabs .ui-tabs-nav li {top: 5px !important;}

a img {
 border:none;
 outline:none;
}

.landing-simple-button
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.container .deal-container
{
    behavior: url('/tools/PIE.htc');
    position: relative;
}

.categories-main-menu .ui-menu .subcategory-container
{
    behavior: url('/tools/PIE.htc');
}
