@font-face {
    font-family: 'MyriadProRegular';
    src: url('/fonts/myriadproregular-webfont.eot');
    src: url('/fonts/myriadproregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/myriadproregular-webfont.woff') format('woff'),
    url('/fonts/myriadproregular-webfont.ttf') format('truetype'),
    url('/fonts/myriadproregular-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    background-color:#F7F8FC;
    font-size: 15px;
}

.main-header
{
    font-size: 35px;
    margin-bottom: 30px;
    color: #1B4684;
    text-shadow: 5px 5px 4px rgba(0,0,0,0.2);
}

.main-note
{
    font-size: 20px;
    color: #FB4900;
}

.main
{
    background-image:url('/img/size-table/grid.jpg');
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-top: 30px;
}

.girl
{
    background-image:url('/img/size-table/grid_girl.jpg');
    background-repeat: no-repeat;
    background-position: 750px 50px;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'MyriadProRegular',arial,sans-serif;
}

ol
{
    counter-reset: item;
    list-style-type:none;
    padding-left: 0;
}

li
{
    display:block;
    color: #1B4684;
    margin-top: 10px;
    margin-bottom: 10px;
}

li:before
{
    content: counter(item) " ";
    counter-increment: item;
}

.tr-even
{
    background-color: #D1D9DF;
}

.list-row-name
{
    color: #1576A0;
    padding-left: 5px;
}

.list-row-text
{
    color: #7F7F81;
}

table
{
    border-collapse:collapse;
    color: #7F7F81;
    text-align: center;
    width: 700px;
}

td
{
    border-left:1px solid #7A7F87;
    padding: 5px;
}

.tr-even td
{
    border-left:1px solid #B1B5BB;
}

td:first-child
{
    border-left:none;
}

tr:first-child td
{
    color: #1576A0;
    border: none;
}

.side-note
{
    margin-top: 10px;
    color: #7F7F81;
    font-size: 14px;
}
