/** sprite: main-grad; sprite-image: url('/packed/img/main-grad-${md5}.png'); sprite-layout: vertical */
/** sprite: main-fixed-horizontal; sprite-image: url('/packed/img/main-fixed-horizontal-${md5}.png'); sprite-layout: horizontal */
/** sprite: main-fixed-horizontal-large; sprite-image: url('/packed/img/main-fixed-horizontal-large-${md5}.png'); sprite-layout: vertical; */
/** sprite: single-gd; sprite-image: url('/packed/img/single-gd-${md5}.png'); sprite-layout: vertical */
/** sprite: user; sprite-image: url('/packed/img/user-${md5}.png'); sprite-layout: vertical */
/** sprite: modal; sprite-image: url('/packed/img/modal-${md5}.png'); sprite-layout: horizontal */
/** sprite: right-buttons; sprite-image: url('/packed/img/right-buttons-${md5}.png'); sprite-layout: vertical; */

a
{
    text-decoration: none;
    color:inherit;
}

pre
{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/********************  ********************/
/* Login panel */
.login-fields
{
    float:left;
}

.login-links
{
    float:left;
    margin-top: 6px;
}

.login-additional-links
{
    color:white;
    font-size: 14px;
    cursor:pointer;
}

.login-additional-links:hover
{
    color: #e4ff00;
}

.orange-border
{
    border-style: solid;
    border-width: 1px;
    border-color: #b2722d;
    border-radius: 7px;
    float:left;
}

.dayte-dve-login-button
{
    float:left;
    margin:8px;
}

.search-orange-border
{
    border-style: solid;
    border-width: 1px;
    border-color: #b2722d;
    border-radius: 7px 0px 0px 7px;
    float:left;
}

.login-fields-margin
{
    margin:8px;
}

/********************  ********************/
/* Top level menu */
#top-menu
{
    z-index:9;
}

.top-level-menu-link
{
    color: #FAFADA;
    font-size: 16px;
    margin: 10px;
    display:inline;
    position:relative;
    z-index:10;
}

.top-level-menu-link:hover
{
    color: #67ccff;
}

.main-menu-block {
    background-image: url('/img/main/shapka_bg.png');/** sprite-ref: main-grad; */
    width:100%;
    height:68px;
}

.logo {
    background-image: url('/img/main/logo.png');
    width:286px;
    height:65px;
    float:left;
}

.main-menu {
    width:1015px;
    margin-left:auto;
    margin-right:auto;
}

.main-menu-block-content {
    padding-top:7px;
}

/********************  ********************/
/* Stars */
.background-stars {
    width:821px;
    height:135px;
    margin-right:auto;
    margin-left:auto;
    margin-top: -55px;
    background-image: url('/img/main/bubble_bg.jpg');
}

/********************  ********************/
/* Internal site authorization fileds */
.login-fields-input
{
    border-style: solid;
    border-width: 1px;
    border-color: #f7f5e7;
    background-color: #ede8d6 ;
    padding-left: 5px;
    padding-right: 0px;
    width: 170px;
    border-radius: 7px;
    height:25px;
}

.login-fields-input:focus
{
    box-shadow: 0 0 10px #e4ff00;
    -moz-box-shadow: 0 0 10px #e4ff00;
    -webkit-box-shadow: 0 0 10px #e4ff00;
}

/********************  ********************/
/* Orange menu */
.main-menu-user-block {
    position: relative;
    z-index: 3;
    left: 15px;
    width:1040px;
    height:55px;
    margin-left:auto;
    margin-right:auto;
}

.main-menu-user-block-left {
    background-image: url('/img/main/orange_main_menu_left.png'); /** sprite-ref: main-fixed-horizontal-large; */
    width:75px;
    height:58px;
    float:left;
}

.main-menu-user-block-right {
    background-image: url('/img/main/orange_main_menu_right.png');/** sprite-ref: main-fixed-horizontal-large; */
    width:214px;
    height:58px;
    float:left;
}

.main-menu-user-block-middle {
    background-image: url('/img/main/orange_main_menu_center.png');
    height:58px;
    width: 650px;
    float:left;
    vertical-align: middle;
    display: table-cell;
}

.main-menu-user-link {
    position: relative;
    top: 15px;
    text-decoration:none;
    color: #ffffff;
    margin-right: 15px;
    font-size: 16px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

.main-menu-user-link:hover {
    color: #e4ff00;
}

/* Search menu and input */
.main-menu-user-block-search {
    float: left;
    margin-left: -280px;
    margin-top: 8px;
}

.main-menu-user-block-search-button {
    float:right;
    width: 34px;
    height: 29px;
    margin-left: -1px;
    background-image: url('/img/main/search_button.png');/** sprite-ref: main-fixed-horizontal; */
}

.main-menu-user-block-search-input {
    border-style: solid;
    border-width: 1px;
    border-color: #f7f5e7;
    padding-left: 5px;
    padding-right: 5px;
    width: 300px;
    height: 25px;
    border-radius: 7px 0px 0px 7px;
    background-color: #ede8d6 ;
}

.main-menu-user-block-search-input:focus {
    box-shadow: 0 0 10px #e4ff00;
    -moz-box-shadow: 0 0 10px #e4ff00;
    -webkit-box-shadow: 0 0 10px #e4ff00;
}

/********************  ********************/
/* Single group deal page */
.organizer-field-key {
    color: #404852;
    font-size: 11pt;
    margin-right: 5px;
}

.organizer-field-value {
    color: #1b4684;
    font-size: 11pt;
}

.organizer-rate {
    color: #1b4684;
    float: right;
    margin-right: 9px;
    font-size: 11pt;
}

.organizer-question {
    margin-top: 5px;
    font-size: 15px;
}

.organizer-info-block {
    border-style:solid;
    border-width:1px;
    border-radius: 5px;
    border-color: #C3CCD5;
    background-color: #EEF2F5;
}

.header
{
    position:relative;
    background-image: url('/img/basket/basket_shapka.gif');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
    height: 28px;;
    border-radius: 7px 7px 0px 0px;
    color: white;
    padding-top: 12px;
}

.dark-header
{
    background-image: url('/img/basket/basket_shapka.gif');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
}

.blue-header
{
    background-image:url('/img/main-stock-list/header_block_grad.png');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
    text-shadow:1px 2px 1px #083B58;
}

.stock-filters {
    background-image: url('/img/tabs/tabs_gradient_bottom.png');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
    height: 54px;
}

.stock-filters-separator {
    background-image: url('/img/tabs/separator.png');/** sprite-ref: single-gd; */
    height: 52px;
    float:left;
    width: 2px;
    border-bottom: 2px #D9DFE4 solid;
}

.stock-filters-item {
    float:left;
    text-align: center;
    padding-top: 11px;
}

.filter-container
{
    margin: auto;
    width: 155px;
}

/********************  ********************/
/* Dayte dve small invites on single deal page */
.small-invite-first-block-text
{
    color: #1B4684;
    text-align: center;
}

.small-invite-contact
{
    border: 1px solid #C3CCD5;
    width:100%;
    height: 30px;;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#1576A0;
    text-align:center;
    font-size: 16px;
    border-radius: 4px;
}

.small-invite-contact:focus
{
    box-shadow: 0 0 5px #40B5E2;
    border-color: #40B5E2;
}

/********************  ********************/
/* Header */
.main-block-wrapper
{
    width: 100%;
}

.main-block-header
{
    position: relative;
    width: 100%;
    background-image: url('/img/showcase/shapka_vitrina.gif');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
    height: 35px;
    color: #1b4684;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;

    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    text-shadow: 1px 1px 2px #ffffff;
}

.main-block-status
{
    width: 100%;
    text-align: right;
}

.infinite-table
{
    border-collapse: collapse;
    color:inherit;
}

.main-list-header
{
    height:60px;
    width:100%;
    background-image:url('/img/main-stock-list/header_grad3.png');/** sprite-ref: main-grad; sprite-alignment:repeat;*/
    background-repeat:repeat-x;
    border-radius: 9px 9px 0 0;
}

/********************  ********************/
/* Deal description */
.full-info
{
   width:933px;
   min-height:423px;
   padding:10px;
   border:1px solid #C3CCD5;
   background-color:white;
   z-index:9999;
   position:absolute;
}

.deal-desc
{
    float: left;
    width: 313px;
}

.deal-info-title-container
{
    border: 1px solid #C3CCD5;
    color:#1B4684;
    background-image: url('/img/showcase/shapka_vitrina.gif');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
}

.deal-info-title-container:hover
{
    background-image: url('/img/showcase/shapka_vitrina_hover.png');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
}

.deal-info-title-container:active
{
    background-image: url('/img/showcase/shapka_vitrina_clicked.png');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
}

.deal-info-content-container
{
    border: 1px solid #C3CCD5;
    border-collapse: collapse;
    width: 100%;
    height: 142px;
    color: #1B4684;
}

.deal-info-content-footer
{
    height: 10px;
    background-image: url('/img/showcase/shapka_vitrina.gif');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
}

.deal-desc-link
{
    color: #1576A0;
    margin: 6px 22px 0 0;
    float: right;
}

.deal-desc-link:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.deal-conditions
{
    margin-left: 20px;
    vertical-align: top;
}

.deal-conditions li
{
    padding-bottom: 5px;
    padding-left: 5px;
}

.deal-shipper a
{
    color: #1576A0;
}

.deal-shipper a:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.deal-shipper p
{
    text-align: justify;
    margin-top: 10px;
}

/********************  ********************/
/* User profile page */
.user-profile-main-container
{
    background-color: #f7f8fc;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

    background-image: url(/img/user-profile/balls.png);
    background-position: left bottom;
    background-repeat: no-repeat; /* Отменяем повторение фона */
}

.user-profile-header {
    color: #2c333c;
    font-size: 22px;
    margin-bottom: 10px;
}

.user-info-block
{
    position: relative;

    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 7px;
    border: 1px solid lightgrey;
}

.user-profile-info-row {
    height: 35px;
}

.user-profile-contacts-warning
{
    font-size: 12px;
    color: #9a9a9a;
}

.user-profile-edit-link
{
    color: #1b4684;
    font-size: 18px;
    margin-bottom: 17px;
    margin-top: 17px;
    margin-left: 56px;
    display:block;
    text-decoration: none;
}

.user-profile-info-key
{
    color: #404852;
    float: left;
    width: 180px;
    text-align: right;
    margin-right: 10px;
    margin-top: 4px;
}

.user-profile-info-value
{
    color: #1b4684;
    float:left;
    margin-top: 4px;
    width: 500px;
}

.user-profile-rating
{
    color: #336D88;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.user-profile-show-rating
{
    color: #1EADE8;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    width:160px;
    margin-left: 25px;
}

.user-profile-show-rating:hover
{
    text-decoration: underline;
}

.user-profile-input-contact
{
    height: 21px;
    width: 245px;
    padding-top: 4px;
    vertical-align: top;
    border:none;
}

.drop-down-date .dk_toggle
{
    width: 40px !important;
}

#dk_container_birthdate-year.dk_container
{
    margin-left: 0px !important;
}

.drop-down-date .dk_container
{
    margin-left: 3px;
    margin-right: 3px;
}

.user-profile-image-edit
{
    vertical-align:top;
}

.user-profile-image-buttons-panel
{
    margin: 10px;
    float: right;
}

.user-additional-block
{
    border:1px solid lightgrey;
    border-radius:7px;
    margin:15px 18px 18px;
    background-color:white;
}

.rating-block
{
    width:150px;
    height:45px;
    border:1px solid lightblue;
    margin:10px;
}

.amount-block
{
    margin: 0 10px 10px 44px;
    text-align: left;
}

.amount-sum
{
    font-size: 45px;
    font-weight: bold;
}

.amount-currency
{
    font-size:18px;
}

.user-help-info-block
{
    displat:table-row;
    margin-bottom:6px;
}

.user-help-info
{
    width:130px;
    display:table-cell;
}

.user-percent-rating
{
    text-align:right;
    display:table-cell;
    vertical-align:top;
    padding-left:4px;
}
/********************  ********************/
/* User deals page */
.user-deal-name
{
    float: left;
    color: #1576a0;
    text-align: left;
}

.user-deal-name:hover
{
    text-decoration:underline;
}

.user-deal-organizer a
{
    width: 200px;
    color: #1576a0;
    padding-right: 5px;
}

.user-deal-organizer-text
{
    color: #1b4684;
}

.user-deal-organizer-image
{
    vertical-align: middle;
    border: 1px solid #1576A0;
    border-radius: 3px;
}

.user-deal-date
{
    margin-left: 30px;;
    margin-right: 15px;
}

.user-deal-header
{
    border-radius: 6px 6px 0px 0px;
    background-image: url('/img/user-deal/sp_header.png');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
    height: 34px;
    line-height: 34px;
    font-size: 16px;
}

.user-deal-item-stock-cell
{
    text-align:left;
}

.user-deal-item-stock-block
{
    margin-left: 5px;
}

.user-deal-item-checkbox-td
{
    width: 40px;
    text-align: center;
}

.user-deal-item-stock-name
{
    vertical-align: 24px;
    padding-left: 10px;
    font-size: 15px;
    color: #1b4684;
}

.user-deal-status
{
    vertical-align:middle;
}

.user-deal-status-img
{
    vertical-align:middle;
    padding-left: 5px;
}

.user-deal-block
{
    background-color: #ffffff;
    color: #1b4684;
}
.user-deal-block-orange
{
    background-color: #ffffff;
    color: #FF6000;
}

.user-deal-toggle-button
{
    float:left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 6px;
    width: 23px;
    height: 24px;
}

.user-deal-toggle-button-showed
{
    background-image: url("/img/user-deal/arrow_bottom.png");/** sprite-ref: user; */
}

.user-deal-toggle-button-showed:hover
{
    background-image: url("/img/user-deal/arrow_bottom_hover.png");/** sprite-ref: user; */
}

.user-deal-toggle-button-hidden
{
    background-image: url("/img/user-deal/arrow_right.png");/** sprite-ref: user; */
}

.user-deal-toggle-button-hidden:hover
{
    background-image: url("/img/user-deal/arrow_right_hover.png");/** sprite-ref: user; */
}

.user-deal-main-block
{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    width:919px;
    background-color: #ffffff;
    border-radius: 7px;
    -moz-border-radius: 7px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.user-deal-item
{
    border: 3px double;
    border-color: #a1d5df;
    border-radius: 7px;
    -moz-border-radius: 7px;
    margin-bottom: 20px;
}

.user-deal-item:last-child
{
    margin-bottom: 0px;
}

.user-deal-button
{
    position:absolute;
    height:40px;
    font-size:14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    border-radius:7px;
    border-collapse: collapse;
    bottom:0;
}

/* opera specific fix */
noindex:-o-prefocus, .user-deal-button {
    margin-top: -4px;
}

.user-deal-buttons-block
{
    positon:relative;
}

.user-deal-button-anchor
{
    color: #1b4684;
    float:left;
    padding:  0 10px 0 10px;
}

.user-deal-button-anchor-not-active
{
    color: #6c6c6c;
}

.user-deal-button-center
{
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #d1d4d4;
}

.user-deal-button-active
{
    background-color:#EDE0CC;
}

.user-deal-button-corner
{
    width:18px;
    height:44px;
    margin-top: -1px;
}

.user-deal-button-corner-none
{
    display:none;
}

.user-deal-button-left
{
    float:left;
    margin-left: -15px;
    background-image: url('/img/user-deal/tab_left.png');/** sprite-ref: user; */
}

.user-deal-button-right
{
    float:right;
    margin-right: -15px;
    background-image: url('/img/user-deal/tab_right.png');/** sprite-ref: user; */
}

.user-deal-block-header {
    position: relative;
    width: 100%;
    background-image: url('/img/user-deal/header.png');/** sprite-ref: user; sprite-alignment:repeat;*/
    height: 38px;
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    color: #1b4684;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 2px #ffffff;
    padding-top: 14px;
}

.user-deal-input
{
    border-style: solid;
    border-width: 1px;
    border-color: #d9dfe4;
    border-radius: 6px;
    background: #f6f6f6;
    color: #1b4684;
    font-size: 14px;
    text-align:left;
    padding-left: 5px;
}

.user-deal-quantity
{
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

.user-deal-not-register-message
{
    margin:0 0 20px 0 !important;
    border-radius:5px;
    padding:10px !important;
    text-align:center;
}

.backet-info
{
    margin:0 -40px -20px -20px !important;
    width:105% !important;
}

/* Order items table */
.user-deal-items-table {
    border-collapse:collapse;
    text-align: center;
}

.user-deal-items-header {
    background-color: #F0F0F0;
    height: 40px;
    font-size: 15px;
    color: #1B4684;
}

.user-order-items-footer {
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    width: 1000px;
    background-color: #F0F0F0;
}

.user-deal-items-header td {
    border-style:solid;
    border-width:0;
    border-top-width:1px;
    border-color: #d9dfe4;
}

.user-deal-items-table-row td {
    border-style: solid;
    border-bottom-color: #d9dfe4;
    border-top-color: #D9DFE4;
    border-left-color: #f0f0f0;
    border-right-color: #f0f0f0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 2px;
    border-right-width: 2px;
}

.user-deal-items-table-row
{
    height: 70px;
}

.user-order-item-change
{
    color: #1576A0;
}

.user-deal-items-checkbox {
    text-align: center;
}

.user-deal-items-no-borders-td
{
    border-right: 0px !important;
    border-left: 0px !important;
}

.user-deal-td-param-caption
{
    text-align: left;
    width: 65px;
    padding-left: 7px;
    border: none !important;
    font-size: 14px;
    color: #1b4684;
}

.user-deal-td-param-value
{
    border: none !important;
    width: 140px !important;
}

.user-deal-param
{
    width: 225px;
}

.user-deal-number
{
    font-size: 14px;
    color: #1b4684;
    padding-left: 8px;
    padding-right: 8px;
}

/* Common styles */
.left-block-header
{
    font-size: 22px;
    text-shadow: 1px 1px 2px #ffffff;
    padding-left:20px;
}

*+html .left-block-header
{
    margin-top: 16px;
}

.right-block-header
{
    font-size: 22px;
    text-shadow: 1px 1px 2px #ffffff;
    padding-left:20px;
}

/* Action links */
.action-link
{
    color: #1576A0;
}

.action-link:hover
{
    color: #40b5e2;
    cursor: pointer;
}

.user-deals-action-link
{
    color: #1576A0;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.user-deals-action-link:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.user-deals-action-link-no-active
{
    color: #9A9A9A;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.user-deals-base-font
{
    color: #2c333c;
    margin-right: 5px;
    font-size: 14px;
}

.user-deals-pay-button
{
    float:right;
    margin-right: 11px;
    font-size:14px;
}

.user-deals-pay-label-text
{
    color: #2C333C;
    margin:3px;
    margin-top:15px;
}

.user-deals-pay-label-textarea:focus
{
    box-shadow: 0px 0px 5px #40b5e2;
    border-color: #40b5e2;
}

/********************  ********************/
/* User bookmarks */
.user-bookmarks-link
{
    color: #1b4684;
    font-size: 20px;
    margin-bottom: 17px;
    margin-top: 17px;
    margin-left: 56px;
    display:block;
    text-decoration: none;
}

/********************  ********************/
/* User messages */
.user-message-readed
{
    background-color: #ffffff;
    border-top-color: #D9DFE4;
    border-top-style: solid;
    border-top-width: 1px;
}

.user-message-readed:hover
{
    background-color: #E2EDF1;
}

.user-message-info-block
{
    margin-right: 15px;
    margin-left: 5px;
    color: #1b4684;
    text-align: left;
    width: 150px;
}

.user-message-not-read
{
    background-image:url('/img/messages/message_not_read.png');/** sprite-ref: user; sprite-alignment: repeat; */
    border-top-color: #D9DFE4;
    border-top-style: solid;
    border-top-width: 1px;
}

.user-message-text-block-wrapper
{
    text-align: left;
    width: 530px;
    margin-right: 20px;
}

.user-message-text-block
{
    width: 630px;
    word-wrap: break-word;
    font-size: 15px;
    color: #1b4684;
    text-align:justify;
}

.user-message-text-block-selectable
{
    width: 520px;
    word-wrap: break-word;
    text-align:justify;
    color: #1576a0;
}

.user-message-text-block-selectable:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.user-message-remove
{
    float: right;
    margin-right: 18px;
    color: #1576a0;
    font-size: 15px;
    cursor: pointer;
}

.user-message-remove:hover
{
    text-decoration: underline;
}

.user-message-non-toggled-block
{
    float:left;
    margin-bottom: 10px;
}

.user-message-info-response-block
{
    color: #1b4684;
}

.user-message-response-text
{
    border-radius: 7px;
    border: 1px solid #e0e4e8;
    float: right;
    height: 140px;
    margin-right: 12px;
    width: 578px;
    color: #1b4684;
    padding: 5px;
    resize: none;
}

.user-message-response-remove
{
    float: right;
    color: #1576a0;
    margin-right: 8px;
}

.user-message-checkbox-block
{
    margin-right: 5px;
    width: 35px;
}

.user-message-sent-time
{
    font-size: 12px;
    color:gray;
}

.user-message-image-block
{
    float:left;
    background-repeat: no-repeat;
    height: 52px;
    width: 52px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.user-message-big-image-block
{
    float:left;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    margin-top: 2px;
    margin-bottom: 20px;
    margin-right: 8px;
}

.user-message-response-block
{
    padding-left: 10px;
    padding-right: 10px;
    display:none;
    background-color: #F7F8FC;
}

.user-message-toggled-response-block
{
    margin-top: 18px;
    margin-left: 5px;
    width: 760px;
}

.online
{
    color: #1b4684;
    font-size: 11pt;
}

.offline
{
    color: #9a9a9a;
    font-size: 11pt;
}

.message-status-large
{
    font-size: 16px;
}

.message-button-container
{
    float: left;
    margin-top: 7px;
    margin-bottom: 5px;
}

.user-message-username
{
    font-size:14px;
    color: #1B4684;
}

.user-message-username:hover
{
    text-decoration:underline;
}

.user-message-sent-time
{
    color: #404852;
}

.user-message-table
{
    vertical-align:middle;
    height: 77px;
}

.user-message-header-text
{
    padding-left: 10px;
    font-size: 16px;
}

.user-message-header-search
{
    float: right;
}

.user-message-header-input
{
    float: left;
    margin-right: 12px;
    margin-top: 7px;
    height: 24px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 6px;
    border:  1px solid #d9dfe4;
    color: #7faaca;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.user-message-header-img
{
    background-image: url("/img/messages/button_search.png");/** sprite-ref: user; */
    height: 34px;
    width: 45px;
    float: left;
    margin-left: -22px;
    margin-right: 10px;
    margin-top: 2px;
}

.user-message-header-img:hover
{
    background-image: url("/img/messages/button_search_hover.png");/** sprite-ref: user; */
}

.user-message-header-img:active
{
    background-image: url("/img/messages/button_search_clicked.png");/** sprite-ref: user; */
}

.user-messages-block
{
    border: 3px double #A1D5DF;
    border-radius: 7px 7px 7px 7px;
    color: #1B4684;
}

/********************  ********************/
/* Modal window classes */
td.modal-arrow
{
    vertical-align:middle;
}

.modal-main-image-container
{
    margin-right: 3px;
    width: 340px;
    height: 490px;
}

.modal-main-image
{
    border-radius: 4px;
    border: 1px solid lightGrey;
}

.modal-additional-button
{
    height: 34px;
    margin-top: 5px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 19px;
    color: #8f8f8f;
    border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:  1px solid lightGrey;
    background-color: #e1e2e9;
    color: #305284;
    cursor: pointer;
    font-size: 12px;
    width: 15px;
    text-align: center;
}

.modal-additional-button:hover
{
    box-shadow: 0 0 5px #40b5e2;
}

.modal-additional-button:active
{
    box-shadow: 0 0 5px #31558c;
}

.modal-additional-item-image
{
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid lightGrey;
    position:relative;
}

.modal-additional-item-image:hover
{
    box-shadow: 0 0 5px #40b5e2;
}

.carousel-frame > ul
{
    padding-left:4px;
}

.modal-main-info-container
{
    width: 400px;
    min-height: 480px;
}

.modal-params-info-container
{
    background-color: white;
    border-radius: 4px;
    border: 1px solid lightGrey;
    margin-left: 5px;
    min-height: 155px;
    padding: 5px;
    width: 386px;
}

.modal-title-text
{
    color: #2c333c;
    font-size: 22px;
    margin-bottom: 8px;
}

.modal-order-desc
{
    display: table;
    margin-left: 10px;
}

.modal-order-desc-row
{
    display: table-row;
    height: 35px;
}

.modal-order-desc-row-text
{
    display: table-cell;
    text-align: right;
    color: #1B4684;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
}

.modal-order-desc-row-param
{
    display: block;
    padding-left: 10px;
    vertical-align: middle;
}

.modal-order-desc-text-additional, .modal-order-desc-text-additional a
{
    float: right;
    text-align: center;
    color: #1d8fc0;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
}

.modal-order-desc-text-additional a:hover
{
    text-decoration: underline;
}

.modal-item-header
{
    /* background-image:url('/img/modal/modal_header.png');/\** sprite-ref: modal; *\/ */
    height: 35px;
    /* margin: -3px 5px 5px 6px; */
    background:url('/img/buttons/blue_grad.png');
    color:white;
    margin-bottom:5px;
    padding:5px 10px;
    border-radius:4px;
    width:726px;
}

.modal-block
{
    border-radius: 4px;
    border: 1px solid lightGrey;
    color: #1B4684;
    margin-bottom: 5px;
    margin-left: 5px;
    overflow:auto;
    white-space: pre-line;
    width: 396px;
}

.modal-info-block
{

}

.modal-text
{
    display:table-cell;
    vertical-align:middle;
    padding: 5px 15px;
}

.modal-warning-block
{
    background:none repeat scroll 0 0 #FFFDE6;
    border:1px solid orange;
}

.modal-item-name
{
    /* color: #EFEFEF; */
    float: left;
    font-size: 18pt;
    /* margin-left: 14px; */
    margin-top: 5px;
    text-align: left;
    width:570px;
}

.modal-item-price
{
    font-size: 24pt;
    font-weight: bold;
    text-align: left;
    white-space: pre-line;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.25);
    margin:5px 105px;
}

.modal-item-desc
{
    background-color: white;
    border-radius: 4px;
    border: 1px solid lightGrey;
    color: #1B4684;
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 5px;
    max-height: 120px;
    overflow:auto;
    padding: 5px 10px 10px 10px;
    white-space: pre-line;
    width: 376px;
}

.modal-order-button-container
{
    margin-top: 5px;
}

.modal-order-button-text
{
    margin-top: 11px;
    font-size: 20px;
    color: white;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

.dialog-content
{
    display:none;
}

/********************  ********************/
/* Question component */
#suggestion-tabs li.ui-tabs-active .tabs-left-rounded {
    background-image: url('/img/tabs/tab_left_grey.png');/** sprite-ref: single-gd; */
}

#suggestion-tabs li.ui-tabs-active .tabs-right-rounded {
    background-image: url('/img/tabs/tab_right_grey.png');/** sprite-ref: single-gd; */
}

#suggestion-tabs .ui-tabs-nav li.ui-tabs-active a
{
    background-color: #F7F8FC;
}

/******************************************/
/* Bucket */
.bucket-header-text
{
    margin-left: 10px;
    color: white;
    display: inline-block;
    font-size: 16px;
    float: left;

    zoom: 1;
    display: inline\9;
}

/********************  ********************/
/* Deal orders */

.deal-order-item-closed
{
    background-color:#ffa581;
}

.deal-order-item
{
    border-radius: 7px;
    border: 3px double;
    border-color: #a1d5df;
    margin: 10px 10px;
}

.deal-order-header
{
    border-radius: 6px 6px 0 0;
    background-image: url('/img/user-deal/sp_header.png');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
    height: 33px;
    text-align: left;
    padding-left: 10px;
    display: table-row;
}

.deal-order-header-text
{
    display: table-cell;
    vertical-align: middle;
    height: 32px;
    color:#1b4684;;
    font-size:18px;
    width: 343px;
    padding-left: 9px;
}

.deal-order-main-block
{
    background-color: #f0f0f0;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    border-bottom: 1px solid #d9dfe4;
    border-top: 1px solid #d9dfe4;
}

.deal-order-for-change
{
    background-color:#cdb7b5;
}

.deal-order-min-sum-main-table
{
    width: 100%;
    border-collapse:collapse;
}

.deal-order-min-sum-user-name
{
    text-align:center;
    border-top:1px solid #d9dfe4;
    border-bottom:1px solid #d9dfe4;
    color:#1b4684;
    font-size: 14px;
}

.deal-order-min-sum-param-name
{
    color: #404852;
}

.deal-order-min-sum-requested-count
{
    border-top:1px solid #d9dfe4;
    border-bottom:1px solid #d9dfe4;
    color:#1b4684;
    font-size: 14px;
    padding-left: 2px;
}

.deal-order-min-sum-image
{
    vertical-align:top;
    width:150px;
    background-color:white;
    padding-top:10px;
}

.deal-order-min-sum-params-table
{
    border-left:3px solid #d9dfe4;
    background-color:white;
}

.deal-order-min-sum-params-cell
{
    width:200px;
    border-bottom:1px solid #d9dfe4;
    text-align:left;
    padding: 10px;
    padding-left: 15px;
}

.deal-order-min-sum-param-item
{
    color:#1b4684;
    font-size:15px;
}

.deal-order-min-sum-price
{
    color: #ff6000;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
}

.deal-order-sizes-tooltip-key
{
    color: white;
}

.deal-order-sizes-tooltip-value
{
    color: #e4ff00;
}

.deal-order-sizes-tooltip-prices
{
    color: #ff8a00;
}

.deal-order-sizes-cell
{
    float:left;
    margin-left:-1px;
    height: 150px;
    width: 115px;
    cursor:pointer;
}

.order-sizes-request:hover
{
    box-shadow: 0px 0px 5px #40b5e2;
    border-color: #40b5e2;
}

/********************  ********************/
/* Completed widget */

.completed-top
{
    display: table-cell;
    height:33px;
}

.completed-active-left
{
    background-image: url('/img/completed/completed_blue_left.png');/** sprite-ref: single-gd; */
    width:20px;
    height:33px;
    float:left;
}

.completed-active-grad
{
    background-image: url('/img/completed/completed_blue_grad.png');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
    height:33px;
    float:left;
}

.completed-active-right
{
    background-image: url('/img/completed/completed_blue_right.png');/** sprite-ref: single-gd; */
    width:20px;
    height:33px;
    float:left;
}

.completed-gray-right
{
    background-image: url('/img/completed/completed_gray_right.png');/** sprite-ref: single-gd; */
    width:20px;
    height:33px;
    float:left;
}

.completed-gray-grad
{
    background-image: url('/img/completed/completed_gray_grad.png');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
    height:33px;
    float:left;
}

/********************  ********************/
/* Hybrid switch */
.hybrid-switch-button-left
{
    background-image:url('/img/tabs/tab_minser_left.png');/** sprite-ref: single-gd; */
    width:62px;
    height:39px;
    float:left;
    margin-top:13px;
}

.hybrid-switch-button-right
{
    background-image:url('/img/tabs/tab_minser_right.png');/** sprite-ref: single-gd; */
    width:28px;
    height:39px;
    float:left;
    margin-top:13px;
}

.hybrid-switch-button-center
{
    float:left;
    margin-top:13px;
    padding-top:10px;
    border-top:2px solid #CBD5E3;
}

.hybrid-area-left
{
    background-image:url('/img/tabs/tabarea_minser_left.png');/** sprite-ref: single-gd; */
    width:132px;
    height:52px;
}

.hybrid-area-stretch
{
    height:52px;
    background-image:url('/img/tabs/tabarea_minser_grad.png');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
}

.hybrid-switch-button-not-active
{
    height:52px;
    background-image:url('/img/tabs/tabarea_minser_grad.png');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
}

/********************  ********************/
/* Breadcrumbs */

.breadcrumbs-div
{
    height: 30px;
}

.breadcrumbs-link
{
    padding:7px 10px 0 10px;
    float: left;
    font-size: 14px;
}

.breadcrumbs-link a
{
    color: white;
}

.breadcrumbs-link a:hover
{
    color: #5fcae5;
}

.breadcrumbs-1-level
{
    background-image:url("/img/breadcrumbs/dark_breadcrumbs.png");
    background-repeat:repeat-x;
    padding-left: 15px;
    height: 30px;
    float: left;
}

.breadcrumbs-1-level-separator
{
    background-image:url("/img/breadcrumbs/dark_breadcrumbs_level_2_left.png");
    width: 17px;
    float: left;
}

.breadcrumbs-level-separator
{
    background-image:url("/img/breadcrumbs/dark_breadcrumbs_level_2_left.png");
    width: 17px;
    height: 30px;
    float: left;
}

.breadcrumbs-2-level
{
    background-image:url("/img/breadcrumbs/dark_breadcrumbs.png");
    background-repeat:repeat-x;
    height: 30px;
    overflow: hidden;
}

.breadcrumbs-2-level-separator
{
    float:left;
}

.breadcrumbs-2-level-left
{
    background-image:url("/img/breadcrumbs/dark_breadcrumbs_level_2_left.png");
    background-repeat:repeat-x;
    background-color:#3e4c59;
    height: 40px;
    width: 6px;
    float:left;
    -moz-transform: scaleX(-1);
}

.breadcrumbs
{
    position:relative;
    z-index:3;
}

/********************  ********************/
/* Images border */

.image-with-borders
{
    border-color: #3a5370;
    border-top-color: #396982;
}

.image-borders-5px
{
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
}

.image-borders-3px
{
    border-width: 3px;
    border-radius: 4px;
    border-style: solid;
}

.image-borders-2px
{
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
}

.image-borders-4px
{
    border-width: 4px;
    border-radius: 6px;
    border-style: solid;
}

/********************  ********************/
/* Statuses */

.status-panel
{
    background-image: url('/img/status/status_grad.png');/** sprite-ref: single-gd; sprite-alignment:repeat;*/
    height:63px;
    border-radius:7px;
}

.status-aux-table
{
    width: 100%;
    text-align:center;
    width:483px;
    margin-left:53px;
    font-size:12px;
    color:#404852;
}

/********************  ********************/
/* Deal list */
.deal-container
{
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 2px 2px #DED2BF;
    width:220px;
    height: 405px;
    margin: 0 12px 20px 12px;
    border-radius: 7px;
    position:relative;
    display:table;
    padding:10px;margin:0px;
}

.deal-container:hover
{
    box-shadow: 0 0 2px 2px #40B5E2 !important;
}

.container .deal-container
{
    border-radius:0px;
    box-shadow: 0 0 1px 1px white;
}

.deal-container-header
{
    background-image: url('/img/showcase/shapka_vitrina.gif');/** sprite-ref: main-grad; */
    height: 50px;
    background-color: #ffffff;
    padding: 8px 0 5px 0;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    color: #ffffff;
    display:table-row;
}

.deal-container-footer
{
    height: 75px;
    width: 220px;
    background-color: #FFFFFF;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
    margin-top: -5px;
    padding-top: 10px;
}

.deal-container-header-text
{
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    color: #1B4684;
    font-size: 16px;
    text-shadow: 1px 1px 2px #FFFFFF;
    display:table-cell;
    vertical-align:middle;
}

.deal-container-footer-image
{
    background-repeat: no-repeat;
    height: 34px;
    width: 38px;
    margin-left: 25px;
    display: table-cell;
}

.deal-container-footer-text
{
    display: table-cell;
    vertical-align: middle;
    width: 160px;
    text-align: left;
    color: #1B4684;
    margin-left: 10px;
    text-shadow: 1px 1px 2px #FFFFFF;
}

.group-deal-navigate-link
{
    color: #00A1CD;
    text-decoration: none;
    vertical-align: middle;
    display:block;
}

.desc-container
{
    text-align:left;
    margin: 0px 10px 0;
}

.stock-name
{
    color: #1B4684;
    font-size: 20px;
    widht:200px;
    margin: 5px 3px;
}

.go-to-deal
{
    font-size:14px;
    margin-left:3px;
}

.market-price
{
    color:gray;
    margin-top:5px;
}

.full-stock-info
{
    background-color:white;
    /*height:auto;
    width:220px;
    box-shadow: 0 0 2px 2px #40B5E2;*/
    border-radius:7px;
    position:absolute;
    z-index:100;
}

.right-triangle-with-shadow
{
    border-top:20px  solid transparent;
    border-bottom:20px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid #494949;
    left: 481px;
    position: absolute;
    top: 110px;
}

.left-triangle-with-shadow
{
    border-top:20px  solid transparent;
    border-bottom:20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid #494949;
    left: -40px;
    position: absolute;
    top: 110px;
}

.condition-title
{
    margin:15px 0 10px;
    color:#1B4684;
}

/********************  ********************/
/* Stock list */
.stock-container
{
    margin:0 12px 20px;
}

.stock-list-image
{
    border:none;
    margin:10px 10px 0 10px;
}

.stock-rating-container
{
    margin:3px; height:16px;
}

.stock-price
{
    font-size: 22px;
    margin:8px 3px 0;
}

.stock-order-button-container
{
    margin-top: 6px;
}

.full-stock-info
{
    width: 482px;
    background:none repeat scroll 0 0 #494949;
    border:1px solid #393939;
    box-shadow:0 0 20px #555555;
    border-radius:6px;
}

.full-stock-name
{
    color:white;
    text-align:left;
    margin:5px 6px 3px 6px;
    font-size:18px;
}

.full-stock-desc-container
{
    border-radius: 3px;
    background-color:white;
    margin:5px;
    width:472px;
}

.full-stock-image
{
    border:none;
    margin:4px;
    text-align:left;
}

.full-stock-desc-title
{
    text-align:left;
    font-size:18px;
    margin:5px 5px 10px 5px;
}

.full-stock-desc
{
    margin: 5px;
    width:200px;
    text-align:left;
}
/********************  ********************/
/* Discussion */

.discussion-template-container
{
    vertical-align:top;
    border-radius: 7px;
    border: 1px solid #C3CCD5;
    color: #1B4684;
    margin: 10px;
    padding: 10px 10px 0 10px;
    background-color: #EEF2F5;
}

.discussion-container
{
    border: 1px solid #C3CCD5;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.discussion-image
{
    padding: 5px 5px 0 5px;
    padding-right: 0px;
    width: 55px;
    vertical-align: top;
}

.discussion-text-container
{
    padding: 5px;
    vertical-align: top;
}

.discussion-info-text
{
    font-size: 10pt;
    margin-top: 3px;
    width: 55px;
}

.discussion-message
{
    resize: none;
    width: 100%;
    height: 53px;
    border: 1px solid #C3CCD5;
    overflow-y: auto;
    overflow: hidden;
    box-sizing: border-box;        /* IE 8+ */
    -moz-box-sizing:border-box;    /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding: 5px;
    color: gray;
}

.discussion-message:focus
{
    color: black;
}

.discussion-offset
{
    margin-left: 60px;
}

/********************  ********************/
/* To top button */
#to-top-button
{
    padding-top: 15px;
    text-align: center;
    position:fixed;
    display:none;
    top:0px;
    width: 100px;
    cursor: pointer;
}

#to-top-button.hover,
#to-top-button:hover
{
    background-color: #8095b2;
    opacity: 0.3;
    filter: alpha(opacity = 30);
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-color: white;
}

#to-top-button-text-content
{
    position:fixed;
    top:20px;
    font-size: 20px;
    display: none;
}

.top-text
{
    color: #bac3ca;
    cursor: pointer;
}

.top-arrow
{
    background-image: url('/img/to-top/arrow_up.png');/** sprite-ref: main-fixed-horizontal; */
    height: 19px;
    width: 10px;
    margin-left: 10px;
    margin-right: 5px;
    float:left;
    cursor: pointer;
}

#to-top-button-text-content:hover .top-text,
#to-top-button:hover + #to-top-button-text-content .top-text
{
    color: #d9dfe4;
}

#to-top-button-text-content:hover .top-arrow,
#to-top-button:hover + #to-top-button-text-content .top-arrow
{
    background-image: url('/img/to-top/arrow_up_hover.png');/** sprite-ref: main-fixed-horizontal; */
}

/********************  ********************/
/* Help */

ul.help-list
{
    list-style:none;
    margin:0 0 1em 15px;
    padding: 0;
}

ul.help-list li
{
    background:url('/img/help/list.png') no-repeat 0px 4px;
    padding-left: 13px;
    padding-bottom: 10px;
}

.help-main-block
{
    padding-top: 20px;
    padding-bottom:20px;
}

.help-number-block
{
    background-color: white;
    border-radius: 7px;
    border: 3px solid #dae0e5;
    background-color: white;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.help-container-block
{
    background-color: white;
    border-radius: 7px;
    border: 3px solid #dae0e5;
    background-color: white;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
}

.help-number
{
    margin: 20px;
    width: 50px;
    height: 85px;
    background-repeat:no-repeat;
}

.help-header
{
    color: #2C333C;
    font-size: 40px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 2px #cccccc;
}

.help-text
{
    color: #1B4684;
    font-size: 14px;
}

.help-text p
{
    margin-top: 15px;
}

.help-link
{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 34px;
}

.help-text-with-paragraph p
{
    margin-top: 13px;
    margin-bottom: 13px;
    text-align: justify;
}

/********************  ********************/
/* Help link active */
.help-link-active a
{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 6px;
    display:block;
    text-decoration: none;
}

.help-link-active
{
    background-image: url('/img/help/arrow_grad.png');/** sprite-ref: main-grad; */
    height: 43px;
    float:left;
}

.help-link-active-left
{
    float:left;
    background-image: url('/img/help/arrow_left.png');/** sprite-ref: main-fixed-horizontal;*/
    height: 43px;
    width: 39px;
}

.help-link-active-right
{
    float:left;
    background-image: url('/img/help/arrow_right.png');/** sprite-ref: main-fixed-horizontal;*/
    height: 43px;
    width: 3px;
}

.help-link:hover .help-link-active
{
    background-image: url('/img/help/arrow_grad_hover.png');/** sprite-ref: main-grad; */
}

.help-link:hover .help-link-active-left
{
    background-image: url('/img/help/arrow_left_hover.png');/** sprite-ref: main-fixed-horizontal;*/
}

.help-link:hover .help-link-active-right
{
    background-image: url('/img/help/arrow_right_hover.png');/** sprite-ref: main-fixed-horizontal;*/
}

/********************  ********************/
/* Help link inactive */
.help-link-inactive a
{
    color: #1b4684;
    font-size: 20px;
    padding-left: 59px;
    padding-top: 6px;
    display:block;
    text-decoration: none;
    height: 32px;
}

.help-link-inactive
{
    background-image: url('/img/help/menu_grad.png');/** sprite-ref: main-grad; */
    height: 32px;
    float:left;
    margin-left: -1px;
    border: 1px solid #ccd4dc;
}

.help-link-inactive:hover
{
    background-image: url('/img/help/menu_grad_hover.png');/** sprite-ref: main-grad; */
}

.help-link-inactive:active
{
    background-image: url('/img/help/menu_grad_clicked.png');/** sprite-ref: main-grad; */
}

/********************  ********************/
/* Help */
#help {
    background-image:url(/img/right-buttons/help.png);/** sprite-ref: right-buttons; */
    color:#FFFFFF;
    font-size: 16px;
    line-height: 18px;
    cursor:pointer;
    height:108px;
    right:-20px;
    overflow:hidden;
    position:fixed;
    *position:absolute;
    text-indent:-100000px;
    top:80px;
    *margin-top:10px;
    width:62px;
    z-index:900;
}

#help:hover
{
    background-image:url(/img/right-buttons/help_hover.png);/** sprite-ref: right-buttons; */
}

#help:active
{
    background-image:url(/img/right-buttons/help_clicked.png);/** sprite-ref: right-buttons; */
}

/********************  ********************/
/* Help */
#contactable {
    background-image:url(/img/right-buttons/contact.png);/** sprite-ref: right-buttons; */
    color:#FFFFFF;
    font-size: 16px;
    line-height: 18px;
    cursor:pointer;
    height:152px;
    right:-20px;
    overflow:hidden;
    position:fixed;
    *position:absolute;
    text-indent:-100000px;
    top:200px;
    *margin-top:10px;
    width:64px;
    z-index:900;
}

#contactable:hover
{
    background-image:url(/img/right-buttons/contact_hover.png);/** sprite-ref: right-buttons; */
}

#contactable:active
{
    background-image:url(/img/right-buttons/contact_clicked.png);/** sprite-ref: right-buttons; */
}

/********************  ********************/
/* Forum */

/**********  **********/
/* Message */
.user-block-text
{
    font-size: 14px;
    color: #1576A0;
}

.user-block-name
{
    color: #1576a0;
    font-size: 11pt;
}

.user-block-status
{
    margin: 5px;
}

.user-block-image
{
    display: block;
    margin-bottom: 15px;
}

.forum-button
{
    text-align: center;
    height: 29px;
    margin-bottom: 4px;
    margin-top: 2px;
}

.forum-message-text
{
    padding: 5px;
    text-align:justify;
    font-size: 14px;
    color: #404852;
}

.forum-message-main-text
{
    padding: 5px;
    font-size: 15px;
    color: #404852;
    background-color: #f8f8f8 !important;
    word-wrap: break-word;
    width: 787px;
}

.forum-message-sent-time
{
    float: right;
    margin-right: 10px;
}

.forum-message-title
{
    float: left;
    margin-left: 10px;
    color: #222222;
}

/**********  **********/
/* Forum themes */
.forum-table-themes
{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius:10px;
}

.forum-table-header td
{
    background-image:url('/img/forum/forum_grad.png');/** sprite-ref: main-grad; */
    height: 29px;
    color: #1b4684;
    font-size: 15px;
    text-align: center;
    text-shadow: 0px 1px 1px #FFFFFF;
    border-right: 1px solid #ADC2D7;
}

.forum-table-header td:first-child
{
    border-top-left-radius: 10px;
}

.forum-table-header td:last-child
{
    border-top-right-radius: 10px;
    border-right: none;
}

.forum-editable-theme-row
{
    height: 60px;
}

.forum-non-editable-theme-row
{
    height: 40px;
}

.forum-theme-row td
{
    padding: 5px 10px 5px 10px;
    color: #404852;
    border-right: 1px solid #ADC2D7;
    border-top: 1px solid #ADC2D7;
    border-bottom: 1px solid #ADC2D7;
    padding: 5px 10px 5px 10px;
    text-align:center;
    font-size: 14px;
}

.forum-theme-even td
{
    background-color: #f3f3f3;
}

.forum-theme-odd td
{
    background-color: #fafafa;
}

.forum-theme-row:hover td
{
    background-color: #E2EDF1;
    cursor: pointer;
}

.forum-theme-row:active td
{
    background-color: #E0EAED;
    cursor: pointer;
}

.forum-theme-row td:last-child
{
    border-right:none;
}

.forum-theme-row:last-child td
{
    border-bottom:none;
}

.forum-theme-row:last-child td:first-child
{
    border-bottom-left-radius: 10px;
}

.forum-theme-row:last-child td:last-child
{
    border-bottom-right-radius: 10px;
}

.forum-theme-row a
{
    color: #1576a0;
}

.forum-theme-row a:hover
{
    text-decoration: underline;
}

.forum-theme-row td:first-child
{
    text-align:left;
}

.forum-theme-description
{
    font-size: 13px;
    color: #6c6c6c;
}

/**********  **********/
/* Forum message table */
.forum-messages
{
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}

.forum-messages > .forum-messages-table:first-child tr:first-child > td:first-child
{
    border-top-left-radius: 10px;
}

.forum-messages > .forum-messages-table:first-child tr:first-child > td:last-child
{
    border-top-right-radius: 10px;
}

.forum-messages-table td
{
    background-color: #F3F3F3;
}

.forum-messages-main-row td
{
    border: 1px solid #ADC2D7;
    border-bottom: 1px solid #ADC2D7;
}

.forum-reply-to-row
{
    border-bottom: 2px solid #7796B9;
}

.forum-messages-main-row td:first-child
{
    border-left: none;
}

.forum-messages-main-row td:last-child
{
    border-right: none;
}

.forum-message-control-row
{
    border-bottom: 4px solid #ADC2D7;
}

.forum-message-author-block
{
    border-right: 2px solid #ADC2D7 !important;
}

.forum-messages-info-row
{
    height: 30px;;
}

.forum-messages-info-row td
{
    background-image:url('/img/forum/forum_grad.png');/** sprite-ref: main-grad; */
}

.forum-messages-main-row
{
    height: 200px;
    vertical-align: top;
}

.forum-reply-to-main
{
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    border-radius:5px;
}

/********************  ********************/
/* Friends page */

.friend-block
{
    width: 915px;
    border-bottom: 1px solid #1B4684;
}
.friend-main-text
{
    font-size: 15pt;
    color: #1B4684;
}
.friend-general-text
{
    color: gray;
    font-size: 14pt;
    margin-top: 15px;
}
.friend-mail-text
{
    color: #1B4684;
    float: left;
    font-size: 14pt;
}
.friend-email
{
    margin-left: 90px;
    margin-right: 5px;
    margin-top: 3px;
    width: 60px;
}
.friend-invite-count-text
{
    font-size: 13pt;
    font-weight: bold;
    margin-top: 4px;
    width: 150px;
    color: #1B4684;
}
.friend-invite-count
{
    color: #ff6000;
    font-size: 36pt;
    font-weight: bold;
    margin-right: 15px;
    letter-spacing:-3px;
}

.friend-email-input
{
    border:1px solid #dfe1e3;
    border-radius: 5px;
    width: 410px;
    padding-left: 5px;
    padding-right: 5px;
    color: #1B4684;
    height: 25px;
}
.friend-textarea
{
    height: 150px;
    margin-left: 7px;
    width: 410px;
    resize: none;
}
.friend-link
{
    color: #1EADE8;
    font-size: 14pt;
    margin-top: 15px;
    margin-left: 6px;
}

.big-invite-contact
{
    border: 1px solid #C3CCD5;
    width:350px;
    height: 30px;;
    padding: 5px 10px 5px 10px;
    color:#1EADE8;
    text-align:center;
    font-size: 16px;
    border-radius: 4px;
}

.big-invite-contact:focus
{
    box-shadow: 0 0 5px #40B5E2;
    border-color: #40B5E2;
}

.lead .big-invite-contact
{
    border: 1px solid #C3CCD5;
    width:202px;
    height: 30px;;
    padding: 5px 10px 5px 10px;
    color:grey;
    text-align:left;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom:10px;
}
/********************  ********************/
/* Organizer welcome page */
.main-item-container
{
    margin-top:20px;
}

.organizer-welcome-spacer
{
    height:30px;
}

.organizer-welcome-text-container
{
    width:300px;
    line-height:28px;
}

.organizer-welcome-text-header
{
    font-size:22px;
    margin-bottom:15px;
    color:#1B4684;
}

.organizer-welcome-text-content
{
    color:#1B4684;
}

.organizer-welcome-image-container
{
    margin-left:20px;
}

.organizer-welcome
{
    width:200px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 2px 2px #DED2BF;
    list-style: none outside none;
    margin: 15px 0 15px 20px;
    outline: medium none;
    width: 230px;
    z-index: 999;
}

.main-list .ranged-input-title
{
    display:none;
    margin:5px 5px 5px -52px !important;
}

.main-list .organizer-welcome
{
    width:230px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 2px 2px #DED2BF;
    list-style: none outside none;
    margin: 15px 0 15px 20px;
    outline: medium none;
    z-index: 999;
}

.main-list .ranged-input-block
{
    width:200px !important;
    margin-top:10px;
}

.main-list .ranged-input-left
{
    margin-left:3px;
}

.main-list .ranged-input-right
{
    margin-right:-7px;
}

.main-list .ui-slider-horizontal .ui-slider-handle
{
    margin-left: -0.4em;
}

.main-list .ui-slider
{
    margin-left:13px;
    background-image:url('/img/list/slider-bg-2.png');
    border-radius:5px;
}

.main-list .ui-slider-horizontal .ui-slider-handle
{
    background-color:#2D446B;
    top:-0.25em;
    border-radius:7px;
}

.main-list .ui-slider .ui-slider-range
{
    background-image:url('/img/list/slider-bg.png');
}

.main-list .ranged-input
{
    width:196px;
}

.lead .button-text
{
    margin-left:30px;
}

.lead-blue-block
{
    background-image:url('/img/landing/small-blue-grad.png');
    color:white;
    text-align:center;
    padding:10px 10px 5px 10px;
}

.lead-call-text
{
    margin:0 0 10px 0;
    font-size:18px;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
}

.lead-call-img
{
    background-image:url('/img/landing/email.png');
    position:absolute;
    width:36px;
    height:36px;
    left:25px;
    top:50px;
}

/********************  ********************/
/* Stock description */

dt {
    clear: left;
    color: black;
    float: left;
    padding: 0 5px 0 0;
}

dd {
    margin: 0 0 6px;
}

.stock-description
{
    text-align: justify;
}

/* Login */
.not-logged-panel
{
    margin-left: -30px;
    margin-top: 3px;
}

/********************  ********************/
/********************  ********************/
/* Organizer's page */

.warning-textarea
{
    background: none repeat scroll 0 0 #FFFDE6;
    border: 1px solid orange;
    color: #1B4684;
    margin-bottom:10px;
}

.warning-info
{
    background: none repeat scroll 0 0 #FFFDE6;
    border: 1px solid orange;
    color: #1B4684;
    margin: 10px;
    padding: 5px;
}

/* Organizer-deal page */
.organizer-deals-main-block
{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    width:919px;
    background-color: #ffffff;
    border-radius: 7px;
    -moz-border-radius: 7px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.organizer-deals-main-container:hover .organizer-deal-main-name
{
    color:#40B5E2;
}
.organizer-deals-main-container:hover .organizer-deal-info-container
{
    box-shadow: 0 0 16px -3px #40B5E2;
    border:1px solid #40B5E2;
}

.organizer-deal-main-name
{
    text-align:left;
    color:#1B4684;
    font-size:20px;
    margin: 15px 10px 0 15px;
    width:600px;
}

.organizer-deal-info-container
{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border:1px solid #c3ced9;
    border-radius:6px;
    margin:10px 20px 20px 20px;
    width: 587px;
    color:#1B4684;
}

.organizer-deal-image-container
{
    height:190px;
    width:135px;
    border:1px solid #c3ced9;
    margin:5px;
}

.organizer-deal-desc-container
{
    width:225px;
    margin:5px 0 5px 0;
}

.organizer-deal-desc-name
{
    font-size: 15px;
    text-align: left;
    margin-left:5px;
}

.organizer-deal-desc-value
{
    color: gray;
    font-size: 14px;
    margin: 5px 5px 0 15px;
    text-align: left;
    overflow:hidden;
    line-height:15px;
}

.organizer-deal-orders-info-container
{
    height:202px;
    width:190px;
    border-radius:0 5px 5px 0;
    background-color:#F8F2E7;
}

.organizer-deal-info-group
{
    color:grey;
    font-size:15px;
    line-height: 20px;
}

.organizer-orders-info-group
{
    font-size:15px;
    line-height:20px;
    margin-top:5px;
}

.organizer-deal-parameter-name
{
    text-align:right;
    margin-right:5px;
}

.organizer-deal-parameter-value
{
    width:35px;
    text-align:left;
    font-weight:bold;
}

.organizer-create-deal-array
{
    resize:none;
    width:858px;
    border:1px solid #C3CED9;
    padding:5px;
}

{
    resize:none;
    width:600px;
    border:1px solid #C3CED9;
    height:50px;
    padding:5px;
}

/* Organizer-stock page */
.organizer-stock-main-block
{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    width:959px;
    background-color: #ffffff;
    border-radius: 7px;
    -moz-border-radius: 7px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.organizer-stock-main-container
{
    margin:5px 5px 0 5px;
    width:619px;
}

.organizer-stock-main-container.invisible
{
    box-shadow:0 1px 2px 0 #4c5052 inset;
    background-color:#CFCFCF;
}

.organizer-stock-main-container.not-prepared
{
    background-color:#90ee90;
}

.organizer-stock-select-icon
{
    height:38px;
    width: 40px;
    margin: 5px 5px 0 15px;
    background-image:url('/img/organizer/select.png');
    background-position: 0 0;
    background-repeat:no-repeat;
}

.short-view
{
    margin: 30px 5px 0 !important;
}

.organizer-stock-select-icon:hover
{
    background-position: 0 -38px;
}

.organizer-stock-main-container.clicked .organizer-stock-select-icon
{
    background-position: 0 -76px;
}

.organizer-stock-main-container.active .organizer-stock-select-icon
{
    background-position: 0 -114px;
}

.organizer-stock-select-icon.active:hover
{
    background-position: 0 -152px;
}

.organizer-stock-select-icon.active:active
{
    background-position: 0 -190px;
}

organizer-stock-list-info-container
{
    margin-top: -5px;
}

.organizer-stock-list-container
{
    border-top: 1px solid lightgray;
}

.organizer-stock-main-container:hover
{
    background-color: #f3f3f2;
}

.organizer-stock-main-container.active
{
    background-color: #FDF9DB;
}

.organizer-stock-main-name
{
    font-size:22px;
    margin-left:3px;
    margin-top:13px;
    color:#1B4684;
}

.organizer-stock-main-name-short
{
   margin-bottom:3px;
   font-size:22px;
   color:#1B4684;
   margin-top:10px !important;
   text-align:left !important;
}

.organizer-stock-edit-text
{
    font-size:20px;
    margin-top:18px;
    margin-right:7px;
}

.organizer-stock-edit-text-short
{
    margin-right:7px;
    font-size:15px;
}

.organizer-stock-list-desc-name
{
    color:#1B4684;
    font-size: 15px;
    text-align: left;
}

.organizer-short-info-text
{
    color: #1B4684;
    font-size: 14px;
}

.organizer-stock-image-link
{
    width:257px;
    margin:5px 0 5px 7px;
}

.organizer-stock-list-desc-value
{
    color: gray;
    font-size: 14px;
    line-height: 15px;
    overflow: hidden;
    text-align: left;
}

.organizer-stock-list-status.invisible
{
    color:grey;
}

.organizer-stock-list-status.not-prepared
{
    color:red;
}

.organizer-stock-main-modal-container
{
    width:848px;
    border-left:1px solid #c3ced9;
    border-right:1px solid #c3ced9;
    border-bottom:1px solid #c3ced9;
    border-radius: 0 0 7px 7px;
    background-color:#f7f7fc;
}

.organizer-stock-main-modal-image-container
{
    background-color:white;
    border: 1px solid #C3CED9;
    border-radius:4px;
    height:500px;
    margin:0 5px 5px 5px;
    width:364px;}

.organizer-stock-modal-input
{
    border:1px solid #c3ced9;
    margin:5px;
}

.organizer-stock-modal-button-container
{
    width:371px;
    height:51px;
    padding-top:9px;
}

.organizer-stock-modal-image-component-container
{
    width:340px;
    height:480px;
    margin: 7px;
}

.organizer-stock-modal-tab-container
{
    margin-top:-29px;
}

.organizer-stock-modal-textarea
{
    resize:none;
    width:445px;
    margin: 0 5px 5px 5px;
    border:1px solid #C3CED9;
    border-radius:4px;
}

.organizer-stock-modal-param-container
{
    background-color:white;
    border:1px solid #C3CED9;
    border-radius:4px;
    margin: 0 5px 5px 5px;
    width:455px;
}

.organizer-stock-modal-param-name
{
    color: #1B4684;
    margin-left: 5px;
    text-align: right;
    width: 165px;
}

.organizer-stock-modal-param-input
{
    width:220px;
    height:23px;
}

.organizer-stock-modal-param-button
{
    margin:0 20px;
}

.organizer-modal-parameters-selectable-container
{
    color:gray;
    margin: 10px 10px 10px 30px;;
    padding: 10px;
    width: 780px;
}

.organizer-modal-parameters-selectable-container:hover
{
    background-color: #D9DEE2;
}

/* Organizer control panel */
.controls-panel-container
{
    margin-top: 5px;
}
.organizer-stock-list-control-panel-left
{
    margin-left:-6px;
    height:40px;
    width:6px;
    background-image:url('/img/breadcrumbs/breadcrumbs_level_2_left_simple.png');
}

.organizer-stock-list-control-panel-center
{
    overflow:hidden;
    width:630px;
    height:40px;
    background-image:url('/img/breadcrumbs/breadcrumbs_level_2.png');
}

.organizer-stock-list-control-panel-right
{
    margin-right:-6px;
    height:40px;
    width:6px;
    background-image:url('/img/breadcrumbs/breadcrumbs_level_2_right.png');
}

.control-link
{
    color:#1B4684;
    padding:10px 37px 10px 37px;
    cursor:pointer;
}

/* Organizer stock params autocomplete */
.organizer-stock-params.dk_options a
{
    color: white !important;
}

.organizer-stock-params.dk_options
{
    width:200px;
    opacity:0.95;
}

/* Organizer sizes modal */
.organizer-sizes-modal-main-container
{
    width:423px;
    border:1px solid #c3ced9;
    border-radius: 7px;
    background-color:#f7f7fc;
    padding: 5px;
}

.organizer-sizes-table-conainer
{
    border:1px solid #C3CED9;
    border-radius:4px;
    margin:7px;
    width:832px;
    background-color:white;
}

.organizer-sizes-block
{
    border:1px solid #C3CED9;
    border-radius:4px;
    margin:7px;
    width:750px;
    background-color:#F7F7FC;
}

.organizer-sizes-delimeter
{
    border-top:2px solid;
    color:#C3CED9;
    margin:-15px 7px 15px 7px;
}

.organizer-sizes-delimeter-text
{
    background-color:white;
    left:400px;
    position:absolute;
    text-align:center;
    top:205px;
    width:200px;
    color:#1B4684;
}

.organizer-sizes-additional-area
{
    height:180px;
    border:1px solid #C3CED9;
    border-radius:4px;
    margin:0 7px 7px;
    padding:5px;
    resize:none;
    width:396px;
}

/* Organizer modal tabs*/
.organizer-modal-tab.container
{
    border-left:1px solid #C4CCD5;
    border-right:1px solid #C4CCD5;
    border-top:1px solid #C4CCD5;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a.organizer-modal-tab-item
{
    background-color: #F7F7FC !important;
    border-color: #D9DEE2;
}

.organizer-modal-tab li.ui-tabs-active .tabs-left-rounded
{
    background-image: url("/img/tabs/tab_left_steel.png");/** sprite-ref: single-gd; */
}

.organizer-modal-tab li.ui-tabs-active .tabs-right-rounded
{
    background-image: url("/img/tabs/tab_right_steel.png");/** sprite-ref: single-gd; */
}

/* Organizer filters */
.organizer-filters-search-block
{
    margin:0 0 10px 10px;
}

.organizer-filters-search-input
{
    border:1px solid #C3CED9;
    border-radius:4px;
    color:gray;
    margin:8px 0 8px 8px;
    padding:5px 36px 5px 5px;
    width:232px;
}

.organizer-filter-drop-down-container
{
    font-size:14px;
    margin:5px;
    text-align:right;
    width:80px;
}

.organizer-filters-search-input:focus
{
    box-shadow: 0 0 16px -3px #40B5E2;
    border:1px solid #40B5E2;
}

.organizer-filters-search-button
{
    background-image:url('/img/main/search_button.png');
    background-repeat:no-repeat;
    height:29px;
    margin-left:-34px;
    margin-top:8px;
    width:34px;
}

.organizer-filter-item
{
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 5px 5px 5px 15px;
    width: 275px;
    border: 1px solid #F7F8FC;
}

.organizer-filter-item:hover
{
    /*background-color: #EEF2F5;*/
    border: 1px solid ##B4CAD8;
    color:#40B5E2;
    cursor: pointer;
    /*box-shadow: 0 0 5px 1px #40B5E2;*/
}

.selected
{
    background-color: #dbe6f1;
    cursor: pointer;
    box-shadow:0 1px 2px 0 #B4CAD8 inset;
}

.organizer-filter-block-name
{
    border-bottom: 1px solid #C3CCD5;
    margin: 10px 10px 0 10px;
}

.organizer-filter-block-name-text
{
    color:#1B4684;
    font-size:14px;
}

.organizer-filter-category-container
{
    margin:10px 20px 0 20px;
}

.organizer-modal-parameters-selectable-container .dk_toggle
{
    width:173px !important;
}

/********************  ********************/
/* News feed page */

.feed-event-block
{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 0 none;
    border-radius: 5px;
    margin: 5px;
    padding: 12px 18px;
}

.feed-event-title
{
    font-size:22px;
}

.feed-event-date
{
    font-size:14px;
    color:#666666;
}

.feed-event-content
{
    margin-top:10px;
    color:#666666;
    vertical-align:top;
    padding-left:10px;
    display:table-cell;
}

.new-feed-available
{
    background: none repeat scroll 0 0 #dbe6f1;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    margin-left: 5px;
    padding: 2px;
    text-align: center;
    width: 22px;
    height:15px;
    box-shadow:0 1px 2px 0 #B4CAD8 inset;
}

.feed-event-creator
{
    display:table-cell;
}

.feed-event-category
{
    border-radius:5px;
    padding:5px 10px;
    margin:10px 0 0;
    color:white;
    background-color:#f8935b;
    display:inline-block;
}

.feed-event-remove
{
    float: right;
    font-size: 14px;
    margin-top: 20px;
    text-align: right;
}

.feed-opened
{
    background: none;
}

/********************  ********************/
/* Initial page(registration) */

.main-deal-name
{
    text-align:left;
    color:#1B4684;
    font-size:20px;
    margin: 15px 10px 0 25px;
}

.main-stock-link
{
    font-size: 18px;
    margin: 25px 15px 0;
    text-align: center;
    display:block;
}

.deal-info-container
{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border:1px solid #c3ced9;
    border-radius:6px;
    margin:10px 20px 20px 20px;
    width: 587px;
    color:#1B4684;
}

.deal-info-container:hover
{
    box-shadow: 0 0 2px 2px #40B5E2;
}

.deal-image-container
{
    height:190px;
    width:135px;
    border:1px solid #c3ced9;
    border-radius:5px;
    margin:5px;
}

.deal-desc-container
{
    float:left;
    height:180px;
    width:225px;
    margin:5px 0 5px 0;
}

.deal-desc-name
{
    font-size: 15px;
    text-align: left;
    margin-left:5px;
}

.deal-desc-value
{
    color: gray;
    font-size: 14px;
    margin: 5px 5px 0 15px;
    text-align: justify;
    overflow:hidden;
    line-height:15px;
}

.deal-orders-info-container
{
    height:192px;
    width:200px;
    border-radius:0 5px 5px 0;
    background-color:#F8F2E7;
    padding:5px;
}

.organizer-orders-info-group
{
    font-size:15px;
    line-height:20px;
    margin-top:5px;
}

.parameter-name
{
    width:160px;
    text-align:right;
    margin-right:5px;
}

.parameter-value
{
    width:35px;
    text-align:left;
    font-weight:bold;
}

/********************  ********************/
/* Top menu button */
.top-menu-button-center
{
    width: 20px;
    height: 36px;
    background-image:url('/img/top-button/top_menu_button_grad.png');/** sprite-ref: main-grad; */
    float:left;
}

.top-menu-button-left
{
    width: 8px;
    height: 36px;
    background-image:url('/img/top-button/top_menu_button_left.png');/** sprite-ref: main-fixed-horizontal; */
    float:left;
}

.top-menu-button-right
{
    width: 8px;
    height: 36px;
    background-image:url('/img/top-button/top_menu_button_right.png');/** sprite-ref: main-fixed-horizontal; */
    float:left;
}

/********************  ********************/
/* Suggestions and errors */
.suggestion-wysiwyg iframe
{
    background-color: #e0fae4;
}

.question-wysiwyg iframe
{
    background-color: #e7f0f8;
}

.error-wysiwyg iframe
{
    background-color: #f8ecec;
}

.suggestion > div
{
    padding: 0px;
}

.suggestion iframe
{
    border-radius: 5px;
}

/********************  ********************/
/* Smiles */
.smile
{
    width: 24px;
    height: 24px;
    margin-left: 2px;
    margin-right: 2px;
    background-image: url('/img/cleditor/smiles.png');
    display:inline-block;
    position:relative;
    top:4px;
}

/********************  ********************/
/* Content stubs */
.stub-container
{
    border: 1px solid #C3CCD5;
    border-radius: 7px;
    width: 100%;
    height: 60px;
}

.stub-message
{
    color: #1B4684;
    margin-top: 0;
    padding-top: 25px;
    text-align: center;
    white-space: pre-line;
}

.hiddden-password
{
    border: 0 none !important;
    border-radius: 0 0 0 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
    display: block !important;
}

/********************  ********************/
/* Drilldown component */
.tree-drilldown-container
{
    position:relative;
    behavior: url('/tools/PIE.htc');

    background-image: url('/img/dropdown/drop-down_grad.png');
    height:30px;;

    color:#333333;
    border:1px solid #CCCCCC;
    background-repeat: repeat-x;
    font-size: 13px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.tree-drilldown-container:hover
{
    border-color:#8c8c8c;
    transition:border-color 0.5s ease 0s;
    transition:color 0.5s ease 0s;
}

.tree-drilldown-container a
{
    cursor: pointer;
    text-decoration: none;
}

.tree-drilldown
{
    position:absolute;
    background: white;
    z-index:50;
    top:28px;
    left:-99999px;
    min-width:250px;
    width:100%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color:#FFFFFF;
    border:1px solid #8c8c8c;
}

.tree-drilldown-element
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:100%;
    display:block;
    margin:8px;
    float:left;
    width:100%;
    cursor:pointer;
}

/********************  ********************/
/* Input BF component */
.inputbf-inactive
{
    color:gray;
}

.inputbf-active
{
    color:#1B4684;
}

/********************  ********************/
/* Categories main menu */
.categories-main-menu .ui-menu
{
    list-style:none;
    margin: 0;
    display:block;
    outline: none;
    width:230px;
    z-index:999;
    width:230px;
    background-color:white;
    box-shadow:0 0 2px 2px #DED2BF;
    border-radius:7px;
    margin: 0 0 15px 20px;
}

.categories-main-menu .ui-menu .subcategory-container
{
    background-color: #F47B20 !important;
    border: 1px solid #D3611C;
    border-radius: 0 4px 4px 4px;
    box-shadow: 0 0 3px 0 rgba(100, 100, 100, 0.8);
    display: none;
    margin: -10px 0 0 262px;
    padding: 0;
    position: absolute;
    width: 240px;
    z-index: 9999;
}

.categories-main-menu .ui-menu div.subcategory-group
{
    font-size:20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    padding:12px 15px;
    margin-bottom: 2px;
    color:white;
    border-bottom:1px dotted #D3611C;
    background-color:#D3611C;
    width:210px;
}

.categories-main-menu .ui-menu p.subcategories
{
    font-size:15px;
    text-align:left;
    margin:20px 15px 15px 15px;
}

.subcategories:hover
{
    text-decoration:underline;
    cursor:pointer;
}

.categories-main-menu .ui-menu .ui-menu { margin-top: -3px; position: absolute; }
.categories-main-menu .ui-menu .ui-menu-item
{
    margin: 0;
    padding: 0;
    zoom: 1;
    width: 100%;
    opacity:1;
    display:block;
    border-radius:3px;
    position:relative;
    margin-left:-5px;
    border-bottom:0;
}

.categories-main-menu .ui-menu .ui-menu-item .subcategory
{
   list-style: none outside none;
   margin:0 -5px;
   padding:0 10px 5px;
   z-index:999;
   padding-bottom:5px;
   border-radius:5px;
   width:230px;
}

.categories-main-menu .ui-menu .ui-menu-divider { margin: 5px -2px 5px -2px; height: 0; font-size: 0; line-height: 0; border-width: 0; }
.categories-main-menu .ui-menu .ui-menu-item a { text-decoration: none; display: table-cell; width:135px; padding: 2px .4em; line-height: 1.5; zoom: 1; font-weight: normal; }

.categories-main-menu .ui-menu .ui-menu-item p.subcategory-name {color: #FFFFFF; display: table-cell; padding: 8px 0; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); margin:0 10px; width:180px;}

.categories-main-menu .ui-menu .ui-menu-item a.ui-state-focus,
.categories-main-menu .ui-menu .ui-menu-item a.ui-state-active { font-weight: normal; margin: -1px; }

.categories-main-menu .ui-menu .ui-state-disabled { font-weight: normal; margin: .4em 0 .2em; line-height: 1.5; }
.categories-main-menu .ui-menu .ui-state-disabled a { cursor: default; }

.category-container {width:240px !important;}

.subcategory-container p {display:table-cell; padding-left:15px; width:165px;}

.category-container:hover
{
    background:none repeat scroll 0 0 #F47B20;
    color:white;
    margin-left:-25px;
    box-shadow:0 0 3px 0 rgba(100, 100, 100, 0.8), -20px 0 35px -35px rgba(0, 0, 0, 0.5) inset;
}

.category-container:hover a
{
    color:white;
    width:220px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.stock-counter
{
    color:#929292;
    display:table-cell;
    font-size:14px;
    padding-right:10px;
    text-align:right;
    width:65px;
    vertical-align:middle;
}

.categories-main-menu .ui-menu-item .subcategory-container span
{
    color: white;
    display: table-cell;
    padding: 0 0 0 15px;
    text-align: right;
    vertical-align: middle;
    width: 40px;
}

.categories-main-menu .subcategory-group p
{
    display:table-cell;
    vertical-align:middle;
}

.subcategory:hover
{
    background-color:#D3611C;
}

.subcategory-stock-counter
{
    color: white;
    display:table-cell;
    padding:0 0 0 15px;
    text-align:right;
    vertical-align:middle;
    width:40px;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.2);
}

/********************  ********************/
/* Deal veiw switcher */

.switcher-on
{
    background-color: #eff3f7;
    border-left: 1px solid #377cb1;
    border-right: 1px solid #377cb1;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    margin-top: 1px;
    padding: 19px 20px 0;
    text-align: center;
    width: 100px;
    color:#3e4c59;
    text-shadow:1px 2px 1px lightgray;
}

.switcher-off
{
    width:100px;
    display:inline-block;
    font-size:20px;
    color:white;
    text-align:center;
    padding:0 20px;
    text-shadow:1px 2px 1px #083B58;
}

/********************  ********************/
/* Town changer */
.town-label
{
    font-size: 20px;
    margin: 19px 0 -7px 24px;
    text-shadow:1px 2px 1px #083B58;
}

/********************  ********************/
/* Landing */
.landing-simple-button
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-size: 22px;
    text-align: center;
    cursor:pointer;
}

.landing-register-button
{
    margin: 20px 50px;
    padding: 10px 0;
    text-shadow: 2px 2px 2px #033F72;
}

.landing-register-button:hover
{
    border-color:#033F72;
    box-shadow:0 0 2px 2px #40B5E2;
}

.landing-friend-button
{
    margin: 20px 31px;
    padding: 10px 8px;
    text-shadow: 2px 2px 2px #8F2B00;
    width:190px;
}

.landing-friend-button:hover
{
    border-color:#FF4E00;
    box-shadow:0 0 2px 2px #f3d2ad;
}

.landing-main-text
{
    color: white;
    font-size: 22px;
    padding-top: 25px;
    text-align: center;
    text-shadow: 2px 2px 2px #033F72;
}

.landing-additional-main-text
{
    color: white;
    font-size: 22px;
    margin: 30px 20px 0 0;
    text-align: center;
    text-shadow: 2px 2px 2px #8F2B00;
}

.blue-line
{
    height:7px;
    background-color:#32558d;
}

.orange-line
{
    height:7px;
    background-color:#ff4e00;
}

.call-to-action-line
{
    height:7px;
    background-color:#32558d;
}

.call-to-action-block
{
    background-image:url('/img/landing/small-blue-grad.png');/** sprite-ref: main-grad; */
    cursor:pointer;
    text-shadow:2px 2px 2px #033F72;
}

.call-to-action-button:hover .call-to-action-line
{
    background-color:#ff4e00;
}

.call-to-action-button:hover .call-to-action-block
{
    background-image:url('/img/landing/small-orange-grad.png');/** sprite-ref: main-grad; */
    text-shadow:2px 2px 2px #8F2B00;
}

.call-to-action-text-container
{
    margin: 10px 35px;
    color: white;
}

.call-to-action-image
{
    margin: 8px 0 0 50px;
}

.landing-header-text
{
    font-size:18px;
}

.landing-deals-desc-container
{
    color:#1B4684;
    margin:20px 15px;
}

.landing-deal-desc
{
    width:275px;
    padding:5px 15px;
}

.landing-additional-button
{
    width:192px;
    height:50px;
}

.landing-additional-line
{
    width:192px;
}

.landing-additional-text
{
    padding-top:15px;
    color:white;
    font-size:17px;
    text-align:center;
}

.landing-stat-info
{
    color: #1B4684;
    margin: 7px 0 0 230px;
    text-shadow: 2px 2px 2px #CCCCCC;
}

.help-status-header
{
    margin: 0 10px 15px 0;
    text-align: right;
    width: 100px;
}

.help-status-text
{
    margin-bottom: 15px;
    width: 800px;
}

.landing-category-container
{
    padding:0 45px;
    background-image:url('/img/landing/big-blue-grad.png');
    color:white;
    text-shadow:2px 2px 2px #033F72;
    width:870px;
}

.landing-category-block
{
    float:left;
    margin:0 42px;
}

.landing-category-header
{
    font-size:20px;
    margin-bottom:10px;
}

.landing-category-text
{
    padding-left:10px;
}

.landing-category-link
{
    margin:5px 0 15px 0;
    font-size:16px;
}

.landing-total-categories-count
{
    font-size:20px;
    text-align:center;
    padding:10px 0;
    color:white;
}

.landing-review-container
{
    height:150px;
}

.landing-review
{
    height: 120px;
    margin: 15px 30px;
    width: 415px;
}

.landing-review-image
{
    margin:10px;
}

.landing-review-text-block
{
    width:450px;
}

.landing-review-text
{
    font-style: italic;
    margin: 10px;
    text-align: justify;
    width:360px;
}

.landing-review-signature
{
    text-align:right;
    margin:15px 35px 0 0;
}

.big-quotes
{
    font-size:50px;
    color:lightblue;
    font-style:italic;
    width:20px;
    height:20px;
}

.orange-block
{
    width:690px;
    height:250px;
    background-image: url('/img/landing/big-orange-grad.png');/** sprite-ref: main-grad; */
}

.blue-block
{
    width:270px;
    height:250px;
    background-image:url('/img/landing/big-blue-grad.png');/** sprite-ref: main-grad; */
}

/********************  ********************/
/* banner for rating */
.banner-numbers-container
{
    font-weight: bold;
    position: absolute;
    text-shadow: 1px 2px 1px #083b58;
    color:white;
}

.banner-numbers-block
{
    margin-top:20px;

}

.banner-big-text
{
    font-size: 42px;
}

.banner-medium-text
{
    font-size:28px;
}

.banner-small-text
{
    font-size: 18px;
    margin-left: 10px;
}

.banner-eq-block
{
    font-size: 42px;
    margin: 30px 15px 0;
}

.banner-quest-block
{
    height:28px;
    width:28px;
    background-image:url('/img/banner/banner_quest_icon.png');
    margin:37px 15px;
}

.banner-quest-block:hover
{
    background-image:url('/img/banner/banner_quest_icon_hover.png');
    cursor:pointer;
}

.banner-close-block
{
    height:29px;
    width:29px;
    background-image:url('/img/banner/banner_close_icon.png');
    margin:36px 14px;
}

.banner-close-block:hover
{
    background-image:url('/img/banner/banner_close_icon_hover.png');
    cursor:pointer;
}

/********************  ********************/
/* Rating */
.star-rating,.star-rating-on
{
    width:70px;
    height:14px;
    display:block;
    overflow:hidden
}

.star-rating
{
    background:url('/img/rating/star_modal_stroke.png') repeat;
}

.star-rating-on
{
    background:url('/img/rating/star_modal_fill.png') repeat;
    margin-right:-70px;
}

.review
{
    margin: 15px 0 0;
    padding: 5px;
    border-radius:6px;
}

.good-review .type
{
    color:green;
}

.bad-review .type
{
    color:red;
}

.neutral-review .type
{
    color:gray;
}

.rating-review-container
{
    width:725px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px;
}

.in-deal-stock-template .deal-container
{
    width: 198px;
    height:368px;
    border-radius:0;
    box-shadow:none;
}

.in-deal-stock-template .go-to-deal.link
{
    display:none;
}

.in-deal-stock-template .group-deal-top
{
    border: 1px solid #C3CCD5;
    border-bottom: 2px solid #C3CCD5;
    margin: 5px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    width: 198px;
    height:368px;
}

.in-deal-stock-template .stock-list-item-top:hover
{
    box-shadow: 0 0 2px 2px #40B5E2 !important;
}

.in-deal-stock-template .stock-price,
.in-deal-stock-template .stock-order-button-container,
.in-deal-stock-template .stock-list-image,
.in-deal-stock-template .stock-container
{
    margin:0;
}


/********************  ********************/
/* Global news template */
.global-news-template td:hover
{
    background-color:orange !important;
}

.jcrop-holder
{
    float:left;
}

.lazycomplete-menu
{
    max-height:200px;
    overflow-y:auto;
    width:300px !important;
}

/********************  ********************/
/* Price button */
.price-button-container
{
    position:relative;
}

.blue-part-container
{
    display:table-cell;
    position:relative;
}

.blue-part-left
{
    background-image:url('/img/buttons/price_blue_left.png');
    height:50px;
    width:8px;
    display:table-cell;
}

.blue-part-grad
{
    background-image:url('/img/buttons/price_blue_grad.png');
    background-repeat:x-repeat;
    height:50px;
    width:100px;
    display:table-cell;
}

.orange-part-container
{
    display:table-cell;
    position:relative;
}

.orange-part-grad
{
    background-image:url('/img/buttons/orange_grad.png');
    background-repeat:x-repeat;
    height:50px;
    width:200px;
    display:table-cell;
}

.orange-part-right
{
    background-image:url('/img/buttons/orange_right.png');
    height:50px;
    width:8px;
    display:table-cell;
}

.price-button-text
{
    position:absolute;
    left:20px;
    top:2px;
}

.button-delimiter-container
{
    position:absolute;
}

.button-delimiter
{
    background-image:url('/img/buttons/button_circle.png');
    position:absolute;
    height:47px;
    width:14px;
    top:0;
    left:100;
}

.button-delimiter-circle
{
    background-image:url('/img/buttons/button_circle.png');
    position:absolute;
    height:20px;
    width:20px;
    top:-35;
    left:109;
}

.notify-link
{
    color:#87ceeb !important;
    cursor:pointer;
}

.notify-link:hover
{
    text-decoration:underline !important;
}

/********************  ********************/
/* Terms of use page */

.license-header
{
    font-size:20px;
    margin-bottom:10px;
}

.license-text ol
{
    margin-left:30px;
}

.license-text ul
{
    margin-left:40px;
}

.license-text li
{
    margin-bottom:10px;
}
