<div class="top-section">
  <div class="fixed-group center relative">
    <div class="group header-menu" style="width:1125px; padding:5px 0 1px;">
      <div class="right margin15r"><a href="/guestbook/">Отзывы</a></div>
      <div class="right margin15r"><a href="/contacts/">Контакты</a></div>
      <div class="right margin15r"><a href="/news/">Новости</a></div>
      <div class="right margin15r"><a href="/pages/dostavka_i_oplata/">Условия сотрудничества</a></div>
      <div class="right margin15r"><a href="/pages/about/">О компании</a></div>
    </div>
    <div class="fixed-group" style="width:1220px;">
      <div class="left left-ribbon"></div>
      <div class="left center-ribbon"></div>
      <div class="left right-ribbon"></div>
    </div>
    <p class="absolute text-on-ribbon">Трикотаж от производителя, заказ от 300 грн.</p>

    <div class="fixed-group header-bottom relative align-right">
      <div class="left header-left-bottom"></div>
      <div class="left header-center-bottom">
        <div class="phone-icon left"></div>
        <div class="phone-number-img left"></div>
        <div class="relative left">
          <input type="text" placeholder="Поиск" autocomplete="off"
                 class="search-field"
                 name="search" id="search">
          <div class="search-icon"></div>
        </div>
      </div>
      <div class="left header-right-bottom">
        <div class="profile-dropdown dropdown">
          <div class="group">
            <div class="profile-icon left"></div>
            <div class="profile-title left">Личный кабинет</div>
            <div class="profile-arrow right"></div>
          </div>
          <div class="profile-menu relative none" style="width:220px;">
            <div class="tooltip-triangle absolute"></div>
            <a class="dropdown-icon border-bottom group" href="/orders/">
              <span class="left orders-icon"></span>
              <span class="left">Мои заказы</span>
            </a>

            <a class="dropdown-icon border-bottom group" href="/profile/">
              <span class="left settings-icon"></span>
              <span class="left">Настройки профиля</span>
            </a>

            <div class="dropdown-icon group" onclick="{{action.logout()}}">
              <span class="left exit-icon"></span>
              <span class="left">Выход</span>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="absolute logo clickable" onclick="location.href = &quot;/&quot;;"></div>
  </div>
  <div class="body center">
    {{.}}
  </div>
  <div class="width footer-side top-footer-side" style="margin-top:-19px;">
    <div class="text-center">
      <div class="top-footer-left-corner"></div>
      <div class="top-footer-spacer"></div>
      <div class="top-footer-right-corner"></div>
    </div>
  </div>
  <div class="width footer-side">
    <div class="center footer-center">&copy; 2014 ООО «BONO»</div>
  </div>
</div>
