{{#template('common')}}
<div class="fixed-group center main-block">
  <div class="left info-block">
    <div class="header">Новости</div>
    <div class="template-container padding10">
      {{component.short-news()}}
      <a class="all-items red" href="/news/">все новости</a>
    </div>
  </div>
  <div class="left relative center-menu-block circle">
    <ul>
      <li>
        <img id="mainSlider" src="/img/bono/centerSlider/1.png">
      </li>
    </ul>
    <div class="absolute contacts" style="left: 71px;top: -40px;">
      <a class="text align-right block" href="/contacts/">Наши контакты</a>
    </div>
    <div class="absolute enter" style="right: 30px;top: -13px;">
      <a class="text align-right block" href=""></a>
    </div>
    <div class="absolute delivery" style="left: 0px;top: 77px;">
      <a class="text align-right block" href="/pages/dostavka_i_oplata/">
        Доставка и оплата
      </a>
    </div>
    <div class="absolute answers" style="left: 65px;top: 281px;">
      <a class="text align-right block" href="/guestbook/">
        Вопросы и ответы
      </a>
    </div>
    <div class="absolute catalog" style="right: 0px;top: 137px;">
      <a class="text align-right block" href="/stocks/">
        Каталог товаров
      </a>
    </div>
    <div class="login-icon absolute"></div>
    <a class="login absolute" onclick="openDialog(this, true)">
      Вход
    </a>
    <a class="register absolute" onclick="openDialog(this, true)">
      Регистрация
    </a>
  </div>
  <div class="left info-block">
    <div class="header">Отзывы</div>
    <div class="template-container padding10">
      {{component.short-reviews()}}
      <a class="all-items red" href="/guestbook/">все отзывы</a>
    </div>
  </div>
</div>
<div class="fixed-group center">
  <div class="left box-left"></div>
  <div class="left box-center"></div>
  <div class="left box-right"></div>
</div>
<div class="center" style="width:1050px;">
  <div class="group">
    <div class="left-header-img left"></div>
    <div class="center-header-img left"></div>
    <div class="right-header-img left"></div>
  </div>
  <div class="info-block-title title-italic text-center">Обновление наличия - ежедневно!!! Поставки нового
    товара осуществляются дважды в неделю!!!
  </div>
  <div class="relative">
    {{component.stock-carousel()}}
  </div>
  <div class="info-block-delimeter"></div>
  <div class="page-content">
    {{page-info}}
  </div>
</div>
{{/template}}
