<div class="item-container">
  <div class="item-time grey">{{util.format-date(item.sent-time)}}</div>
  <a class="item-title green" href="{{item.url}}">{{item.title}}</a>
  <p class="item-text">{{item.text}}</p>
</div>
