{{#template('common')}}
<div class="main-list-body single-stock margin10b" xmlns:fn="http://www.w3.org/1999/xhtml">
  <div class="top-categories group fixed-panel"
       style="z-index: 200; top: 0px; left: 0px; position: relative;">
    <div class="left" style="width: 640px;">
      <span class="left categories-separator" style="margin-left: 10px;"></span>
    </div>
    <div class="right">
      <div class="left sale"><a class="text" href="/sale/">Распродажа</a></div>
      <div class="left new"><a href="/new/">Новое</a></div>
      <div class="left bucket-block container">
      </div>
    </div>
  </div>
  <div style="display: none;"></div>
  {{component.breadcrumbs()}}
  <div class="group form">
    <div class="left left-categories">
      {{component.categories-tree()}}
    </div>
    <div class="left info">
      <div class="left images-carousel">
        <img src="{{component.image([404, 608],stock.images.0)}}"
             role="main-image"
             alt="stock1">

      </div>
      <div class="left info-block"><h1 class="single-stock-name">{{stock.name}}</h1>

        <div class="block">
          <div class="header">Характеристики</div>
          <div class="section"><span class="section-name">Производитель:</span>{{stock.all-params.brand.0}}
          </div>
          <div class="section group">
            <div class="extra-info group">
              <div class="left margin10b"><strong>Замеры:</strong>

                <div class="model-icon right" style="margin:5px 25px 5px 10px;"></div>
              </div>
            </div>
            <div class="section"><span class="section-name">Состав:</span></div>
          </div>
          <div class="block">
            <div class="header">Описание</div>
            <div class="description" itemprop="description">{{stock.description.other}}</div>
          </div>
          <div class="section">
            <div class="section-name">Размер:</div>
            <div class="fixed-group sizes ng-pristine ng-valid" bs-radio-group="bs-radio-group"
                 data-toggle="buttons">
              {{#stock.params.size}}
              <label class="btn filter-cell-item margin10l margin10ba">
                <input type="radio"
                       autocomplete="off"
                       name="size"
                       value="{{.}}"
                       checked="checked"
                       bs-radio=""
                       ng-model="selected"
                       class="ng-pristine ng-valid">{{.}}</label>
              {{/stock.params.size}}
            </div>
          </div>
          <div class="section">
            <span class="section-name">Количество:</span>
            <fn fn="component.spinner" id="quantity" class="input input-text"/>
          </div>
          <div class="price-section">
            <div class="fixed-group width100">
              <div class="left price">{{stock.price}} грн</div>
              <div class="right">
                <fn fn="button.ok" action="{{action.add-to-bucket(stock)}}">
                  Добавить в корзину
                </fn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/template}}
