{{#template('stocks')}}
<h1 class="green cuprum" style="margin-left:11px;width:800px;font-size:24px;">
  {{global.category.name}}
</h1>

<div class="left" style="max-width:625px;">
  {{component.stock-list()}}
</div>

<div class="right relative" style="margin-right:12px;">
  <div class="absolute" style="right: 2px;top: -4px;">
    <div id="filter-btn" class="btn btn-default"
         style="margin: 5px 10px;padding: 4px 0 2px;width: 180px;font-size: 16px;">
      Спрятать фильтры
    </div>
    {{component.filters()}}
  </div>

</div>
{{/template}}
