<fn fn="component.modal.simple">
  <div style="width: 425px;">
    <div class="bono-modal form">
      <div class="modal-close">×</div>
      <div class="group margin10" style="display:inline-block !important;">
        <input type="text" class="none" name="quantity" id="quantity" value="1">

        <div class="margin10l left" style="line-height:25px;">Размер:</div>
        <div class="margin10l left">

          {{component.dropdown('size',stock.params.size)}}

        </div>

        <div class="margin10l left text-center clickable">

          <fn fn="button.small-ok" action="{{action.add-to-bucket(stock)}}">в корзину</fn>

</div>
</div>
<img class="relative" role="main-image" style="margin:0 10px;"
     src="{{component.image([404 608],stock.images.0)}}">
<div class="margin10l group margin10b"></div>
</div>
</div>
</fn>
