{{#template('common')}}
<div class="main-list-body margin10b">
  <div class="top-categories group fixed-panel"
       style="z-index: 200; top: 0px; left: 0px; position: relative; width: 1050px;">
    <div class="left" style="width: 640px;">
      <span class="left categories-separator" style="margin-left: 10px;"></span>
    </div>
    <div class="right">
      <div class="left sale"><a class="text" href="/sale/">Распродажа</a></div>
      <div class="left new"><a href="/new/">Новое</a></div>
      <div class="left bucket-block container">
        <div class="icon"></div>
      </div>
    </div>
  </div>
  <div style="display: none; width: 1050px; height: 48px;"></div>
  <div class="breadcrumbs-home-icon"></div>
  {{component.breadcrumbs()}}
  <div class="group padding10b relative">
    <div class="left left-categories">
      {{component.categories-tree()}}
    </div>
    <div class="left" style="width:840px;">
      {{.}}
    </div>
  </div>
</div>
<div class="center" style="width:1050px;">
  <div class="group">
    <div class="left-header-img left"></div>
    <div class="center-header-img left"></div>
    <div class="right-header-img left"></div>
  </div>
  <div class="info-block-title title-italic text-center">
    Обновление наличия - ежедневно!!! Поставки нового товара осуществляются дважды в неделю!!!
  </div>
  <div class="relative">

  </div>
  <div class="info-block-delimeter"></div>
  <div class="page-content"></div>
</div>
{{/template}}
