{{include('stock-popup')}}
<div class="top-stock-block margin10l margin10t relative">
  <form class="relative ng-pristine ng-valid">
    <div class="slider-left absolute"></div>
    <div class="slider-right absolute"></div>
    <div class="stock-block" data-popover-trigger="data-popover-trigger" popover-id="{{stock.id}}">
      <a href="/stock/{{stock.id}}">
        <img src="{{component.image([180 273],stock.images.0)}}">
      </a>
      <a class="name block cutted" href="/stock/{{stock.id}}">{{stock.name}}</a>

      <div class="price">{{stock.price}} грн (опт)</div>
      <div class="delimeter"></div>

      <div class="info-panel">
        <div class="text">Размеры: {{#stock.params.size}}<span class="margin5r">{{.}}</span>{{/stock.params.size}}
        </div>
      </div>

      <a class="absolute clickable-layer none" href="/stock/{{stock.id}}"
         style="top: 0px;left: 0px;z-index: 0;height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.7);">
      </a>

      <div class="fast-order-panel absolute form none" data-id="{{stock.id}}"
           style="top: 0px;left: 0px;z-index: 99;margin-top: 0px;padding: 10px 10px 0 0;">
        <div class="group padding10r padding10t"
             data-toggle="buttons"
             onchange="setPopoverContent('[popover-id={{stock.id}}]', renderTemplate('#popoverDescription', {'selected': formState('[data-id={{stock.id}}]').size, 'stock': {{js(stock,'description','variants')}}}))">

          {{#stock.params.size}}

          <label class="btn filter-cell-item left margin10l margin10b {{#if(first)}}active{{/if}}">
            <input type="radio"
                   autocomplete="off"
                   name="size"
                   value="{{.}}"
                   checked="{{#if(first)}}active{{/if}}">
            {{.}}
          </label>

          {{/stock.params.size}}

        </div>
        <div class="group">
          <div class="text-center clickable left margin10l">
            <fn fn="button.ok" action="{{action.add-to-bucket(stock)}}">Купить</fn>
          </div>
          <div class="right">
            <fn fn="button.cancel" action="openDialog(this, true)">
              <img style="margin-top:8px;" src="/img/themes/bono/lens_size_white.png"/>
            </fn>
          </div>
        </div>
      </div>

      <fn fn="component.popover" title="{{stock.name}}">
        <div class="content">
          <div>
            <div class="description relative">
              <div class="group" style="height:100px;">
                <div class="left margin10b">
                  <strong>Замеры для размера {{stock.params.size.0}}</strong>
                </div>
                <div class="model-icon left absolute" style="top:30px;"></div>
              </div>
              <p>Состав:{{stock.description.fabric}}</p>

              <div class="header">Цена</div>
              <div>{{stock.price}} грн.</div>
              <div class="header">Описание</div>
              <div class="margin5t">
                {{stock.description.other}}
              </div>
            </div>
          </div>
        </div>
      </fn>

      {{include('stock-dialog')}}
    </div>
  </form>
</div>
