@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 4.5em;
	font-style: normal;
	line-height: 1;
	/*margin-left: 20px;*/
}
.flaticon-facebook:before {
	content: "\e005";
}
.flaticon-googleplus:before {
	content: "\e006";
}
.flaticon-tumblr:before {
	content: "\e007";
}
.flaticon-vkontakte:before {
	content: "\e008";
}