/* Imports
------------------------------ */
@import "lesshat";
@import "lesshat-prefixed";
@import "/fonts/landing/font/flaticon.css";

/* Variables
------------------------------ */
/* --- background --- */
@bg-strip-turquoise: #16a9a7;
@bg-strip-blue: #2ea9e9;
@bg-strip-green: #97cb41;
@bg-strip-yellow: #efba2c;
@bg-strip-orange: #e75f32;
@bg-strip-pink: #ffc6fc;
@bg-dark-orange: #cf5001;

/* --- font --- */
@color-font-blue: #22AFFF;
@color-font-grey: #9099ac;
@color-font-yellow: #efba2c;
@color-font-red: #cf5001;
@color-font-green: #9abc43;
@color-font-orange: #f0b736;


@color-light_blue: #21AEFD;
@color-orange: #F1B837;
@color-dark_orange: #ce5003;
@color-grey: #929AAF;
@color-dark_grey: #2e353d;
@color-yellow: #F1B732;



/* Mixins
------------------------------ */
.color-bg(@color: none, @bg-color: none) {
	color: @color;
	background-color: @bg-color;
}

.font-family(@form) {
	font-family: "PFDinTextCondPro-@{form}";
}

.main-ul {
	text-align: justify;
	line-height: 0;
	font-size: 1px;
	text-justify: newspaper;
	zoom: 1;
}

.main-after {
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}

.main-li {
	display: inline-block;
	line-height: normal;
	font-size: 14px;
	vertical-align: middle;
	//display: inline;
	//zoom: 1;
}

/* Mixins End
------------------------------ */

.max-width {
	max-width: 980px;
	margin: 0 auto;
}

.strip {
	height: 4px;
}

.color-green {
	.color-bg(none, @bg-strip-green);
}

.color-blue {
	.color-bg(none, @bg-strip-blue);
}

.color-yellow {
	.color-bg(none, @bg-strip-yellow);
}

.color-orange {
	.color-bg(none, @bg-strip-orange);
}

.color-turquoise {
	.color-bg(none, @bg-strip-turquoise);
}

.color-pink {
	.color-bg(none, @bg-strip-pink);
}

.color-font-blue {
	.color-bg(@color-font-blue);
}

.color-font-yellow {
	.color-bg(@color-font-yellow);
}

.color-font-green {
	.color-bg(@color-font-green);
}

.color-font-grey {
	.color-bg(@color-font-grey);
}

.size-font {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

html {
	font-size: 100%;
}
body {
	.font-family(regular);
	font-size: 62.5%;
	background-color: #fff;
	a:active, a:focus {
		outline: none;
	}
	&.modal-open {
		overflow: auto;
	}
}

.modal {
	overflow-y: hidden;
	.modal-dialog {
		position: absolute;
		width: 370px;
		top: 50%;
		left: 0;
		right: 0;
		margin: auto;
		margin-top: -229px;
	}
	.modal-body {
		padding: 0;
	}
	.modal-content {
		border-color: @color-dark_grey;
		.box-shadow(5px 5px 0 rgba(0,0,0,0.3));
	}
	.form {
		max-width: 370px;
		.color-bg(@color-font-grey, @color-dark_grey);
		.border-radius(5px);
		padding: 15px 10%;
		p {
			margin: 0;
			.font-family(regular);
			font-size: 2.5em;
			text-align: center;
			.color-bg(@bg-strip-yellow);
			& + p {
				.font-family(light);
				.color-bg(#fff);
				margin: 0 0 25px;
				text-transform: none;
				span {
					.color-bg(@color-yellow);
				}
			}
			&:last-child {
				.color-bg(@color-font-grey);
				margin: 0;
				font-size: 15px;
				text-transform: none;
				line-height: 1;
				margin-top: -15px;
				margin-bottom: 5px;
			}
		}
		.form-group {
			width: 100%;
			position: relative;	
			margin-top: 15px;
			margin-bottom: 15px;
			padding-top: 8px;
			padding-bottom: 8px;
			&:last-child {
				padding: 0 15px;
			}
			.sr-only {
				text-transform: none;
				top: -10px;
				.color-bg(@color-font-grey);
				.font-family(light);
				font-size: 15px;
				width: auto;
				height: auto;
				clip: auto;
				font-weight: normal;
			}
		}
		.form-control {
			width: 100%;
			margin: 0 auto;
			.color-bg(@color-yellow, rgba(144, 153, 172, .2));
			border-color: #9098AB;
			.font-family(regular);
			font-size: 1.6em;
		}
		.btn {
			width: 100%;
			height: 50px;
			padding: 0;
			.font-family(medium);
			font-size: 20px;
			.box-shadow(0, -3px, 0, #82AA38, inset);
			.color-bg(#303642, #9ABC43);
			border-color: #9ABC43;
			&:hover {
				.color-bg(#fff, #537123);
				.box-shadow(0, -3px, 0, #455e1d, inset);
				border-color: #455e1d;
			}
			&:active {
				.color-bg(#fff, #537123);
				.box-shadow(0, -3px, 0, #455e1d, inset);
				border-color: #455e1d;
			}
		}
	}
}

.toTop {
	border: 2px solid #9a9a9a;
	color: #9a9a9a;
	position: fixed;
	bottom: 35px;
	right: 15px;
	cursor: pointer;
	padding: 7px 9px 5px 11px;
	font-size: 20px;
	display: none;
	.border-radius(100%);
	z-index: 50;
}

.btn:focus, .btn:active, .btn.active:focus {
	outline: none !important;
}

.start {
	header {
		position: relative;
		.font-family(regular);
		.background-image(url('/img/landing/img/start-bg-header.jpg'));
		.logo {
			margin: 40px 0 0;
			line-height: .8;
			a {
				.color-bg(#fff);
				&:hover {
					text-decoration: none;
				}
				small {
					.font-family(light);
				}
			}
			span {
				.color-bg(@color-light_blue);
			}
		}
		.tel {
			line-height: 1;
			margin: 40px 0 0;
			font-size: 3em;
			color: #fff;
			span {
				.color-bg(@color-font-grey);
			}
			a {
				.font-family(light);
				font-size: 20px;
				.color-bg(@color-font-red);
				&:hover {
					text-decoration: none;
					border-bottom: 1px dashed red;
				}
			}
		}
		.navbar {
			bottom: -33px;
			.border-radius(0);
			.color-bg(@color-font-grey, #2E353D);
			border: none;
			margin-bottom: 0;
			z-index: 15;
			.collapse {
				padding: 0;
				border: none;
			}
			.container-fluid {
				padding: 0;
			}
			.navbar-toggle {
				margin-right: 20px;
				border-color: @color-grey;
				&:hover {
					background: @color-dark_grey;
				}
				&:focus {
					background: @color-dark_grey;
				}
			}
		}
		ul.nav {
			width: 100%;
			margin: 0;
			.color-bg(none, #2E353D);
			li {
				width: 20%;
				text-align: center;
				& + li {
					border-left: 1px solid #454F5B;
				}
				&:last-child {
					a {
						.color-bg(@bg-strip-yellow);
					}
				}
				&:hover {
					.color-bg(none, @bg-strip-yellow);
					a {
						.color-bg(#2E353D, @bg-strip-yellow);
					}
				}
			}
			a {
				display: inline-block;
				.font-family(light);
				font-size: 1.8em;
				padding-top: 23px;
				padding-bottom: 23px;
				.color-bg(@color-font-grey);
				&:focus {
					.color-bg(@color-font-grey);
				}
			}
		}
	} /* header end */
	main {
		position: relative;
		.color-bg(#fff);
		min-height: 660px;
		text-transform: uppercase;
		.item {
			min-height: 660px;
			&.slide-1 {
				background: url('/img/landing/img/slide-1.jpg') center center no-repeat;
				.background-size(cover, 100%);
			}
			&.slide-2 {
				background: url('/img/landing/img/slide-2.jpg') center center no-repeat;
				.background-size(cover, 100%);
			}
			&.slide-3 {
				background: url('/img/landing/img/slide-3.jpg') center center no-repeat;
				.background-size(cover, 100%);
			}
		}
		.carousel-indicators {
			bottom: 10px;
		}
		.carousel-caption {
			text-align: left;
			padding: 80px 20px 0;
			left: 20px;
			right: 0;
			top: 0;
			text-shadow: none;
			h2 {
				.font-family(medium);
				font-size: 5em;
				margin-top: 0;
				line-height: 1.2;
				text-transform: uppercase;
				margin-bottom: 30px;
			}
			p {
				text-transform: none;
				.font-family(regular);
				font-size: 2em;
				line-height: 1.2;
				margin-bottom: 30px;
			}
		}
		.form {
			position: absolute;
			bottom: 60px;
			left: 0;
			right: 0;
			z-index: 20;
		}
		.form {
			width: 100%;
			.color-bg(@color-font-grey, rgba(42, 48, 55, .8));
			.border-radius(5px);
			padding: 15px;
			p {
				.font-family(light);
				font-size: 25px;
				.color-bg(#fff);
				text-transform: none;
				&:last-child {
					.color-bg(@color-font-grey);
					margin: 0;
					font-size: 15px;
				}
				span {
					text-transform: uppercase;
					.color-bg(@color-yellow);
					.font-family(regular);
				}
			}
			.form-group {
				position: relative;	
				margin-top: 15px;
				margin-bottom: 15px;
				padding-top: 8px;
				padding-bottom: 8px;
				&:last-child {
					padding: 0 15px;
				}
				.sr-only {
					text-transform: none;
					top: -10px;
					.color-bg(@color-font-grey);
					.font-family(light);
					font-size: 15px;
					width: auto;
					height: auto;
					clip: auto;
					font-weight: normal;
				}
			}
			.form-control {
				width: 100%;
				.color-bg(@color-yellow, rgba(144, 153, 172, .2));
				border-color: #9098AB;
				.font-family(regular);
				font-size: 1.6em;
			}
			.btn {
				width: 100%;
				height: 50px;
				padding: 0;
				.font-family(medium);
				font-size: 20px;
				.box-shadow(0, -3px, 0, #82AA38, inset);
				.color-bg(#303642, #9ABC43);
				border: none;
				text-transform: uppercase;
				&:hover {
					.color-bg(#fff, #537123);
					.box-shadow(0, -3px, 0, #455e1d, inset);
				}
				&:active {
					.color-bg(#fff, #537123);
					.box-shadow(0, -3px, 0, #455e1d, inset);
				}
			}
		}
	} /* main end */
	footer {
		background: url('/img/landing/img/bg-benefits.jpg') no-repeat;
		min-height: 445px;
		padding: 55px 0;
		.block-info {
			margin-bottom: 15px;
			text-align: center;
			min-height: 320px;
			.height {
				position: relative;
				height: 160px;
			}
			.icon {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				background: url('/img/landing/img/sprites-benefits.png') no-repeat;
			}
			.comfortably {
				background-position: 0 0;
				width: 71px;
				height: 45px;
			}
			.safely {
				background-position: 0 -47px;
				width: 74px;
				height: 54px;
			}
			.remotely {
				background-position: 0 -103px;
				width: 68px;
				height: 56px;
			}
			.professionally {
				background-position: 0 -161px;
				width: 57px;
				height: 47px;
			}
			.caption {
				.color-bg(none, #fff);
				padding: 10px 20px;
				height: 160px;
				span {
					.font-family(regular);
					font-size: 2em;
					line-height: 1;
				}
				hr {
					.color-bg(#cfcfcf, #cfcfcf);
					border: 0 none;
					height: 1px;
					clear: both;
					margin-top: 0;
				}
			}
			p {
				text-transform: uppercase;
				.font-family(light);
				font-size: 2em;
				&.or {
					.color-bg(@bg-strip-orange);
				}
				&.tq {
					.color-bg(@bg-strip-turquoise);
				}
				&.ye {
					.color-bg(@bg-strip-yellow);
				}
				&.bl {
					.color-bg(@bg-strip-blue);
				}
			}
		}
	} /* End Footer */
}

.shop-sale {
	text-align: center;
	header {
		background: url('/img/landing/img/start-bg-header.jpg') repeat;
		p {
			.font-family(regular);
			font-size: 3.5em;
			margin: 20px 0 0;
			.color-bg(#fff);
		}
		small {
			display: block;
			.font-family(light);
			font-size: 2.5em;
			margin: 0 0 35px;
			.color-bg(@color-font-grey);
		}
	}
	.icon {
		position: relative;
		left: 0;
		right: 0;
		display: block;
		margin: auto;
		background: url('/img/landing/img/sprites-icon.png') no-repeat;
	}
	.nav {
		padding: 0 15px;
		border: none;
		li {
			margin: 0;
			padding: 0 5px;
			.border-top-left-radius(4px);
			.border-top-right-radius(4px);
			a {
				.font-family(light);
				font-size: 2.2em;
				.color-bg(#fff, @color-yellow);
				border: none;
				margin: 0;
			}
			&.active a {
				border: none;
				.color-bg(@color-dark_grey, #eaeaea);
				.shop {
					background-position: -50px 0;
				}
				.goods {
					background-position: -50px -27px;
				}
				.scale {
					background-position: -50px -54px;
				}
			}
			.shop {
				background-position: 0 0;
				width: 25px;
				height: 26px;
			}
			.goods {
				background-position: 0 -27px;
				width: 22px;
				height: 26px;
			}
			.scale {
				background-position: 0 -54px;
				width: 27px;
				height: 26px;
			}
		}
	}
	.tab-pane {
		padding: 30px 0 0;
		.color-bg(#000, #eaeaea);
		text-align: left;
		min-height: 465px;
		.img {
			margin-top: 30px;
		}
		article {
			line-height: 1.2;
			position: relative;
			margin: 30px 0;
		}
		.icon {
			display: inline-block;
			float: left;
			top: 6px;
		}
		.shop {
			background-position: -50px 0;
			width: 25px;
			height: 26px;
		}
		.goods {
			background-position: -50px -27px;
			width: 22px;
			height: 26px;
		}
		.scale {
			background-position: -50px -54px;
			width: 27px;
			height: 26px;
		}
		p {
			.font-family(light);
			font-size: 2.5em;
			padding-left: 32px;
			.color-bg(@color-dark_grey);
			span {
				.font-family(regular);
			}
		}
	}
}

.order {
	text-align: center;
	header {
		background: url('/img/landing/img/bg-yellow.jpg') repeat;
		p {
			.font-family(regular);
			font-size: 3.5em;
			margin: 20px 0 0;
			.color-bg(@color-dark_grey);
		}
		small {
			display: block;
			.font-family(light);
			font-size: 2.5em;
			line-height: 1.2;
			margin: 0 0 35px;
			.color-bg(#fefefe);
		}
	}
	.icon {
		position: relative;
		left: 0;
		right: 0;
		display: block;
		margin: auto;
		background: url('/img/landing/img/sprites-icon.png') no-repeat;
	}
	.nav {
		border: none;
		li {
			margin: 0;
			padding: 0 5px;
			.border-top-left-radius(4px);
			.border-top-right-radius(4px);
			a {
				.font-family(light);
				font-size: 2.2em;
				.color-bg(@color-dark_grey, #fff);
				border: none;
				margin: 0;
			}
			&.active a {
				border: none;
				.color-bg(#fff, @color-dark_grey);
				.orders {
					background-position: -50px -82px;
					width: 29px;
					height: 28px;
				}
				.analytics {
					background-position: -50px -112px;
					width: 31px;
					height: 25px;
					margin-bottom: 3px;
				}
				.warehouse {
					background-position: -50px -139px;
					width: 25px;
					height: 25px;
					margin-bottom: 3px;
				}
			}
			.orders {
				background-position: 0 -82px;
				width: 29px;
				height: 28px;
			}
			.analytics {
				background-position: 0 -112px;
				width: 31px;
				height: 25px;
				margin-bottom: 3px;
			}
			.warehouse {
				background-position: 0 -139px;
				width: 25px;
				height: 25px;
				margin-bottom: 3px;
			}
		}
	}
	.tab-pane {
		padding: 30px 0 0;
		.color-bg(#fff, @color-dark_grey);
		text-align: left;
		min-height: 525px;
		overflow: hidden;
		.img {
			position: relative;
			margin-top: 30px;
			min-height: 477px;
			img {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		article {
			line-height: 1.2;
			position: relative;
			margin: 30px 0;
		}
		.icon {
			display: inline-block;
			float: left;
			top: 3px;
		}
		.orders {
			background-position: -50px -82px;
			width: 29px;
			height: 28px;
		}
		.analytics {
			background-position: -50px -112px;
			width: 31px;
			height: 25px;
		}
		.warehouse {
			background-position: -50px -139px;
			width: 25px;
			height: 25px;
		}
		p {
			.font-family(light);
			font-size: 2.2em;
			padding-left: 40px;
			span {
				display: block;
				margin-top: 15px;
				font-size: 1.2em;
				.color-bg(#fff);
			}
		}
	}
}

.start-2 {
	background: url('/img/landing/img/bg-form.jpg') 0 0 no-repeat;
	main {
		min-height: 450px;
		padding: 20px 0 30px;
		h2 {
			margin: 30px 0 15px;
			.font-family(regular);
			font-size: 5em;
			line-height: 1.6;
			text-transform: none;
		}
		.form {
			margin: 30px 0;
		}
	}
}

.rates {
	.color-bg(none);
	background: url('/img/landing/img/bg-grey.png') repeat;
	h2 {
		.font-family(regular);
		font-size: 3.5em;
		.color-bg(@color-dark_grey);
		margin: 45px 0;
		small {
			.font-family(light);
			font-size: 30px;
			line-height: 1;
			.color-bg(@color-font-grey);
		}
	}
	table {
		border-collapse: separate;
		border-spacing: 4px;
		margin-bottom: 50px;
		.font-family(regular);
		font-size: 2em;
		.colored-grey {
			.color-bg(#fff, @color-grey);
		}
		.font-grey {
			.color-bg(@color-font-grey);
		}
		.colored-white {
			.color-bg(none, #fff);
		}
		.light {
			.font-family(light);
			font-size: 25px;
		}
		.medium {
			.font-family(medium);
		}
		&>tbody>tr>td {
			border: none;
			padding: 13px 8px;
			vertical-align: middle;
		}
		&>tbody>tr>th {
			text-align: center;
			font-weight: normal;
			border: none;
			padding: 8px;
			vertical-align: middle;
		}
	}
	.btn {
		width: 27%;
		max-width: 270px;
		height: 50px;
		margin-bottom: 50px;
		.font-family(medium);
		font-size: 25px;
		.box-shadow(0, -3px, 0, #82AA38, inset);
		.color-bg(@color-dark_grey, #9ABC43);
		border: none;
		text-transform: uppercase;
		&:hover {
			.color-bg(#fff, #537123);
			.box-shadow(0, -3px, 0, #455e1d, inset);
		}
		&:active {
			.color-bg(#fff, #537123);
			.box-shadow(0, -3px, 0, #455e1d, inset);
		}
	}
}

.benefits {
	header {
		background: url('/img/landing/img/bg-orange.jpg') repeat;
	}
	h2 {
		.font-family(regular);
		font-size: 3.5em;
		line-height: 1.8;
		margin: 35px 0;
		.color-bg(#fff);
		span {
			.color-bg(@color-light_blue);
		}
	}
	main {
		padding: 40px 0;
		background: url('/img/landing/img/bg-benefits2.jpg') center center no-repeat;
		.background-size(cover, 100%);
	}
	article {
		position: relative;
		overflow: hidden;
		min-height: 180px;
		.color-bg(none, #fff);
		margin: 30px 0;
	}
	.icon-block {
		display: table-cell;
		position: relative;
		width: 90px;
		.color-bg(none, @bg-dark-orange);
	}
	.icon {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		margin: auto;
		background: url('/img/landing/img/sprites-benefits-2.png') no-repeat;
	}
	.multisite {
		background-position: 0 0;
		width: 50px;
		height: 36px;
	}
	.backup {
		background-position: 0 -38px;
		width: 42px;
		height: 39px;
	}
	.protection {
		background-position: 0 -79px;
		width: 42px;
		height: 42px;
	}
	.no-once {
		background-position: 0 -123px;
		width: 41px;
		height: 39px;
	}
	.ease {
		background-position: 0 -164px;
		width: 47px;
		height: 41px;
	}
	.support {
		background-position: 0 -207px;
		width: 41px;
		height: 39px;
	}
	.info-block {
		display: table-cell;
		vertical-align: middle;
		height: 180px;
		padding: 15px;
	}
	.colored-orange {
		.font-family(regular);
		font-size: 2.5em;
		line-height: 1;
		.color-bg(@bg-dark-orange);
		& + p {
			.font-family(regular);
			font-size: 2em;
			.color-bg(@color-dark_grey);
		}
	}
}

.counter {
	background: url('/img/landing/img/bg-rates.jpg') repeat;
	.colored {
		margin: 40px 0 10px;
		.font-family(regular);
		font-size: 6.5em;
		.color-bg(@color-orange);
		& + p {
			.font-family(thin);
			font-size: 2.5em;
			line-height: 1.2;
			margin: 0 35px 50px;
			.color-bg(#fff);
		}
	}
}

.caption-business {
	background: url('/img/landing/img/bg-grey.png') repeat;
	.font-family(medium);
	font-size: 3.5em;
	.color-bg(@color-dark_grey);
	text-transform: uppercase;
	padding: 30px 0;
	.colored-blue {
		.color-bg(@color-light_blue);
		padding: 0 50px;
		& + p {
			padding: 0 50px;
		}
	}
}

.questions {
	main {
		background: url('/img/landing/img/bg-footer.jpg') center center no-repeat;
		.background-size(cover, 100%);
		padding: 0 0 30px;
	}
	p {
		.font-family(regular);
		font-size: 5em;
		margin: 40px 0 20px;
		text-transform: uppercase;
		.color-bg(@color-orange);
		& + p {
			margin-top: 20px;
			font-size: 4em;
			.color-bg(#fff);
		}
	}
	.btn {
		.font-family(medium);
		font-size: 2em;
		height: 50px;
		.box-shadow(0, -3px, 0, #cf5001, inset);
		.color-bg(#fff, #d86001);
		border: none;
		text-transform: uppercase;
	}
	.form {
		max-width: 370px;
		margin: 55px auto 20px;
		.color-bg(@color-font-grey, rgba(42, 48, 55, .8));
		.border-radius(5px);
		padding: 15px 10%;
		p {
			margin: 0;
			.font-family(regular);
			font-size: 2.5em;
			text-align: center;
			.color-bg(@color-light_blue);
			text-transform: uppercase;
			& + p {
				.font-family(light);
				.color-bg(#fff);
				margin: 0 0 25px;
				text-transform: none;
				span {
					.color-bg(@color-yellow);
				}
			}
			&:last-child {
				.color-bg(@color-font-grey);
				margin: 0;
				font-size: 15px;
				text-transform: none;
				line-height: 1;
				margin-top: -15px;
				margin-bottom: 20px;
			}
		}
		.form-group {
			width: 100%;
			position: relative;	
			margin-top: 15px;
			margin-bottom: 15px;
			padding-top: 8px;
			padding-bottom: 8px;
			&:last-child {
				padding: 0 15px;
			}
			.sr-only {
				text-transform: none;
				top: -10px;
				.color-bg(@color-font-grey);
				.font-family(light);
				font-size: 15px;
				width: auto;
				height: auto;
				clip: auto;
				font-weight: normal;
			}
		}
		.form-control {
			width: 100%;
			margin: 0 auto;
			.color-bg(@color-yellow, rgba(144, 153, 172, .2));
			border-color: #9098AB;
			.font-family(regular);
			font-size: 1.6em;
		}
		.btn {
			width: 100%;
			height: 50px;
			padding: 0;
			.font-family(medium);
			font-size: 20px;
			.box-shadow(0, -3px, 0, #82AA38, inset);
			.color-bg(#303642, #9ABC43);
			border: none;
			text-transform: uppercase;
			&:hover {
				.color-bg(#fff, #537123);
				.box-shadow(0, -3px, 0, #455e1d, inset);
			}
			&:active {
				.color-bg(#fff, #537123);
				.box-shadow(0, -3px, 0, #455e1d, inset);
			}
		}
	}
	a.social {
		display: inline-block;
		.color-bg(@color-light_blue);
		& + a {
			margin-left: 15px;
		}
		&:hover {
			text-decoration: none;
		}
	}
	footer {
		background: url('/img/landing/img/start-bg-header.jpg') repeat;
		.color-bg(@color-font-grey);
		h3 {
			.font-family(regular);
			font-size: 4.5em;
			.color-bg(#fff);
			span {
				.color-bg(@color-light_blue);
			}
		}
		p {
			.font-family(light);
			font-size: 2em;
			margin: 20px 0;
			text-transform: none;
			.color-bg(@color-font-grey);
		}
		.copyright {
			.font-family(regular);
			font-size: 2em;
			margin: 0 0 5px;
		}
	}
}

.modal-backdrop {
	background: #fff;
}

@media screen and (max-width: 767px) {
	.start {
		header {
			ul.nav li {
				width: 100%;
			}
			.logo {
				margin-top: 20px;
			}
			.tel {
				margin-top: 20px;
			}
		}
	}
	.start-2 {
		main {
			padding: 0;
			h2 {
				margin: 15px 0;
				font-size: 4.5em;
				line-height: 1;
			}
			.form {
				.btn {
					padding: 0 5px;
				}
			}
		}
	}
	.benefits {
		h2 {
			font-size: 3em;
			line-height: 1.2;
			margin: 20px 0;
		}
	}
	.caption-business {
		font-size: 2.2em;
		line-height: 1.2;
		.colored-blue {
			padding: 0;
			& + p {
				padding: 0;
			}
		}
	}
	.questions {
		p {
			margin: 20px 0 10px;
			font-size: 3.5em;
			& + p {
				font-size: 2.5em;
				margin-top: 10px;
			}
		}
		.form {
			padding-left: 5%;
			padding-right: 5%;
		}
	}
}
@media screen and (max-width: 386px) {
	.modal .modal-dialog {
		width: 100%;
	}
}


.validation-error-tooltip
{
  background-image: url("/img/retail/main/tooltip_back.png");
  border: 2px solid #757575 !important;
  border-radius: 3px 3px 3px 3px;
  color: black !important;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  transition: all 0.3s ease-in-out 0s;
  z-index: 2000;
}

.validation-error-tooltip-arrow
{
  background-image:url("/img/retail/main/valid_triangle.png") !important;
}

.validation-error-tooltip {
  position: absolute;
  transition: all 0.3s ease-in-out 0s;
  z-index: 2000;
}
.validation-error-tooltip .validation-error-tooltip-arrow {
  border-bottom: 10px solid rgba(0, 0, 0, 0.75);
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  display: block;
  position: absolute;
  top: -10px;
}
