html, body, #retail-main-wrapper, .retail-wrapper
{
    height:100%;
}

html, body
{
    background-size:100% auto;
    margin:0;
    font-family: 'PT Sans', sans-serif;
}

/********************  ********************/
/* Tooltip */
.tooltip-content
{
    color:white;
}

#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: rgba(0,0,0,1);
    padding: 10px;
    max-width: 320px;
    border-radius: 5px;
    text-align: left;
    color:white;
}

#tooltip p
{
    margin:10px;
}

#tooltip h3, #tooltip div { margin: 0; }

#tooltip * {
    font-weight: normal;
    font-size:16px;
}

/******************/
/** Invite block **/
.partner-info-holder
{
    text-align:center;
}

.partner-info-holder input
{
    border: 1px solid #4B8A9D;
    border-radius: 3px 3px 3px 3px;
    height: 50px;
    margin:0 5px 5px 0;
    padding:10px;
    font-size:16px;
}

#partner-site
{
    width: 600px;
}

#partner-phone
{
    width:295px;
    margin-right:5px;;
}

#partner-mail
{
    width:300px;
}

#partner-name
{
    width:300px;
}

.small-icon-holder table
{
    border-collapse: separate;
    border-spacing: 3px;
    width: 100%;
}

.small-icon-holder td
{
    text-align:center;
    width:33%;
}

.big-text-holder
{
    text-align:center;
    margin-top:-45px;
}

.big-text-holder h2
{
    color: #FFFFFF;
    font-size: 46px;
    text-shadow: 1px 1px 0 #555555;
}

.big-text-holder h3
{
    font-size: 26px;
    margin-top: -36px;
    color:#9bf68c;
}


.text-holder
{
    color: #FFFFFF;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #4B8A9D;
}

.small-text
{
    font-size:20px;
}

.middle-text
{
    font-size:30px;
    padding-bottom:10px !important;
}

/*******************/
/** SP info block **/
.sp-info-container
{
}

/**************************/
/** SP infographic block **/
.sp-infographic-container
{
    height:1450px;
}

/**************************/
/** SP comparison block **/
.comparison-holder
{
    margin-top:30px;
}

.comparison-holder table
{
    border-collapse: collapse;
    border-spacing: 0;
}

.comparison-holder th
{
    color: #363636;
    padding-bottom: 20px;
    text-align: center;
    font-size:24px;
}

.comparison-holder td
{
    color: #363636;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    vertical-align: top;
    width: 50%;
    font-size:22px;
}

.comparison-holder ul
{
    text-align:left;
}

.comparison-holder li
{
    margin:0 0 20px 0;
    padding:0 0 0 10px;
    font-size:18px;
}

ul.negative
{
    list-style-image: url("/img/group-deals/delete.png");
}

ul.positive
{
    list-style-image: url("/img/group-deals/plus.png");
    margin-left:10px;
}

td.result-description
{
    padding:30px;
}

/*****************/
/** Offer block **/
.sub-title
{
    font-size: 26px;
    padding: 35px 0;
    text-align: center;
}

.offer-table
{
    width:100%;
    text-align:center;
}

.offer-table td
{
    color:white;
    font-size:18px;
    padding:10px 20px;
    vertical-align:top;
    width:33%;
}

/*********/
/** nfs **/
.negative .additional-info
{
    color:red;
}

.positive .additional-info
{
    color:#05A505;
}

.additional-info-link
{
    cursor:pointer;
    color:#03ABE5;
    font-size:15px;
}

.none
{
    display:none;
}

.holder980px-width
{
    width:980px;
    margin:0 auto;
    text-align:center;
}

.landing-button
{
    background-color: #FE5635;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin:25px auto 75px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 340px;
}

.back-button
{
    background-color: #3DCE97;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 140px auto 0;
    padding: 10px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 340px;
}

.back-button:hover
{
    background-color:#2b916a;
}

.landing-button:hover
{
    background-color:#c75f4a;
    cursor:pointer;
}

.landing-button:before
{
    background-color: #D9482C;
    background-image: url("/img/group-deals/add.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1px 0 #D9482C inset, 0 1px 0 #D9482C;
    content: "";
    height: 20px;
    margin-top: -9px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 20px;
}


.standard-landing-block
{
    padding-bottom: 20px;
    position: relative;
    width:100%;
}

.white-block
{
    background-color:#ffffff;
    color:#2F2F2F;
    margin-top:-20px;
}

.white-delimeter-top
{
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(to right bottom, transparent 50.5%, #FFFFFF 50.5%), linear-gradient(to left bottom, transparent 50.5%, #FFFFFF 50.5%), linear-gradient(to right top, transparent 50.5%, #FFFFFF 50.5%), linear-gradient(to left top, transparent 50.5%, #FFFFFF 50.5%);
    background-origin: padding-box, border-box, border-box, border-box, border-box;
    background-position: 0 0px, 10px 0px, 10px 0px, 10px 100%, 10px 100%;
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
    border-top: 10px solid transparent;
    margin-top: -10px;
    padding: 10px 0;
}

.dark-grey-delimeter-top
{
    background-color:#2f2f2f;
    margin-top:-14px;
    height:14px;
}

.dark-grey-block
{
    background-color:#2f2f2f;
    color:white;
    margin-top:-40px;
}

.blue-block
{
    background: url("/img/group-deals/blue-bg.jpg") repeat scroll 0 0 transparent;
    color:white;
    padding-top:30px;
}

.blue-delimeter-top
{
    background: url("/img/group-deals/blue-bg-top.png") repeat-x scroll 0 0 transparent;
    height: 14px;
    margin-bottom: -20px;
    margin-top:30px;
}

.blue-delimeter-bottom
{
    background: url("/img/group-deals/blue-bg-bottom.png") repeat-x scroll 0 0 transparent;
    height: 14px;
    margin-bottom:-12px;
}

.light-blue-block
{
    background-image:url("/img/group-deals/bg.jpg");
    background-position:center;
}

.streetch-background-block
{
    background-image:url("/img/group-deals/bg_line.jpg");
    height:100%;
    width:100%;
    position:relative;
}

.fixed-background-block
{
    background-image: url("/img/group-deals/bg.jpg");
    background-position: center top;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.central-gradient
{
    background: radial-gradient(ellipse at center center , rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0 transparent;
    padding-bottom: 100px;
    padding-top: 35px;
}

.title-holder
{
    font-size: 28px;
    position: relative;
    text-align: center;
    padding:20px 0 40px;
}

.lenta-holder
{
    position:relative;
    text-align:center;
}

.lenta-holder .ribbon
{
    margin: 0 0 50px;
}

.lenta-holder p
{
    position:absolute;
    font-size:21px;
    width:750px;
    top:-12px;
}

.spacer
{
    height:60px;
}

/********************  ********************/
/* Ribbon images */

.ribbon-blue
{
    width:716px;
    height:116px;
}

.ribbon-blue-long
{
    width:1000px;
    height:122px;
}

.ribbon-blue-wide
{
    width:1000px;
    height:160px;
}

.ribbon
{
    background:url('/img/group-deals/ribbon_blue.svg');
    background-size:100% 100%;
    display:inline-block;
}
