<tr>
    <td class="image"><img src="{{component.image([30 30],item.stock.images.0)}}"/></td>
    <td class="name">{{item.stock.name}}</td>
    <td class="model">{{item.params.size}}</td>
    <td class="quantity">{{item.quantity}} шт</td>
    <td class="price">{{item.stock.price}} грн</td>
    <td class="total">{{item.sum}} грн</td>
</tr>
