{{#template('common')}}
<section id="columns" class="offcanvas-siderbars">
    {{component.template-seo("Корзина")}}
  <div class="container">
    <div class="row visible-xs visible-sm">
      <div class="container">
        <div class="offcanvas-sidebars-buttons">
          <button type="button" data-for="column-left" class="pull-left btn btn-danger" style="display: none;">
            <i class="glyphicon glyphfa fa-indent-left"></i> Sidebar Left
          </button>

          <button type="button" data-for="column-right" class="pull-right btn btn-danger" style="display: none;">
            Sidebar Right <i class="glyphicon glyphfa fa-indent-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="wrap-container">
      <div class="row">

        <section class="col-lg-12 col-sm-12 col-xs-12">
          <div id="breadcrumb">
            {{component.breadcrumbs()}}
          </div>

          <div id="content">


            <div class="checkout">
              <h1 class="margin15l margin20b">Корзина</h1>

              <form>
                <div class="cart-info">
                  <table class="pav-shop-cart">
                    <thead class="hidden-phone">
                      <tr>
                        <td class="image">Изображение</td>
                        <td class="name">Наименование товара</td>
                        <td class="model">Размер</td>
                        <td class="quantity">Количество</td>
                        <td class="price">Цена за шт.</td>
                        <td class="total">Сумма</td>
                      </tr>
                    </thead>
                    <tbody>
                      {{component.bucket()}}
                    </tbody>
                  </table>
                </div>
              </form>
              <div class="row">
                <div class="col-lg-9">
                  <div class="buttons clearfix">
                    <div class="pull-right right">
                      <a href="/checkout/" class="button">Создать заказ</a>
                    </div>
                    <div class="center pull-left">
                      <a href="/stocks/" class="button">Продолжить покупки</a></div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="cart-total clearfix">
                    <table id="total">
                      <tbody>
                        <tr>
                          <td><b>Total:</b></td>
                          <td class="pull-right">{{bucket-info.total-sum()}} грн</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </section>
        </div>
      </div>
    </div>
</section>
{{/template}}
