<ul class="box-category">

  {{#child}}
  <li class="hasChild">
    {{#if(val.child)}}
    <div class="head pull-left" style="padding-top:7px; padding-right:10px;">
      <a onclick="$(this).closest('li').children('ul').toggle();return false;" class="fa fa-plus"/>
    </div>
    {{/if}}

    <a href="{{link.category(val)}}">

      {{val.name}} <span class="badge">({{val.stocks}})</span>
    </a>

    {{component.categories(val.child,level)}}
  </li>
  {{/child}}
</ul>
