<table class="pav-shop-cart margin15b">
  <thead class="hidden-phone">
    <tr>
      <td class="image">Изображение</td>
      <td class="name">Наименование товара</td>
      <td class="model">Размер</td>
      <td class="quantity">Количество</td>
      <td class="price">Цена за шт.</td>
      <td class="total">Сумма</td>
    </tr>
  </thead>
  <tbody>
    {{component.bucket()}}
  </tbody>
</table>

<div role="submit" class="left button">
  <input class="button" type="button"
         onclick="{{checkout.make-order()}}"
         value="Создать заказ"/>
</div>
