{{#template('common')}}
<section id="columns" class="offcanvas-siderbars">
    <script type="text/javascript">
        var state = {{checkout.state()}};
    </script>
    <script type="text/javascript">
        $(document).ready(function (){
            if (state == "logged-without-info"){
                $(".checkout-content.login").hide();
                $(".checkout-content.confirm").hide();

            }
            else
            if (state == "unlogged"){
                $(".checkout-content.payment-address").hide();
                $(".checkout-content.confirm").hide();
            };
        });
    </script>
<div class="container">
    <div class="row visible-xs visible-sm">
        <div class="container">
            <div class="offcanvas-sidebars-buttons">
                <button type="button" data-for="column-left" class="pull-left btn btn-danger"
                        style="display: none;">
                    <i class="glyphicon glyphfa fa-indent-left"></i> Sidebar Left
                </button>

                <button type="button" data-for="column-right" class="pull-right btn btn-danger"
                        style="display: none;">
                    Sidebar Right <i class="glyphicon glyphfa fa-indent-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="wrap-container">
        <div class="row">

            <section class="col-lg-12 col-sm-12 col-xs-12">
                <div id="breadcrumb">
                    {{component.breadcrumbs()}}
                </div>

                <div id="content">

                    <div class="checkout">
                        <h1 class="margin15l margin20b">Корзина</h1>

                        <form>
                            <div class="checkout">
                                <div id="checkout">
                                    <div class="checkout-heading">Шаг 1: Вход</div>
                                    <div class="checkout-content login" style="display: block;">
                                        {{checkout.panel('login')}}
                                    </div>
                                </div>
                                <div id="payment-address">
                                    <div class="checkout-heading">Шаг 2: Способ доставки</div>
                                    <div class="checkout-content payment-address" style="display: block;">
                                        {{checkout.panel('payment-address')}}
                                    </div>
                                </div>
                                <div id="confirm">
                                    <div class="checkout-heading">Шаг 3: Подтверждение</div>
                                    <div class="checkout-content confirm" style="display: block;">
                                      {{checkout.panel('confirm')}}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
            </section>
        </div>
</div>
    </div>
</section>
{{/template}}
