<div class="row" ng-init="{{inputs.user-init()}}">

    <div role="enter" class="fields-block form">

        <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="form-group"><label class="margin5b">Фамилия и имя получателя:</label>

            <input value="{{user.name}}" id="name" name="name" type="text"
                   class="form-control" autocomplete="off" placeholder="Петр Иванов">
        </div>
        <div class="form-group"><label class="margin5b">Контактный телефон:</label>

            <input id="phone" name="phone" type="text" class="form-control"
                   autocomplete="off" value="{{user.contact.phone.value}}" placeholder="066 123 45 67">
        </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <input type="radio" name="delivery" id="delivery" value="ukraine" checked/>
            <h2>Новая почта</h2>

            <p>Ваши данные о доставке:</p>

            <b>Область</b>

            <div class="margin10b clearfix">
                {{inputs.district(user.address-region)}}
            </div>

            <b>Город</b>

            <div class="margin10b">
                {{inputs.city(user.address)}}
            </div>
            <b>Отделение</b>

            <div class="margin10b">
                {{inputs.novaya-pochta(user.extra-info.novaya_pochta)}}
            </div>
            <div role="submit" class="">
                <input class="button" type="button" id=""
                       onclick="{{checkout.delivery()}}"
                       value="Продолжить"/>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">

            <input type="radio" name="delivery" id="delivery" value="other"/>
            <h2>За пределы Украины</h2>

            <p>Адрес:</p>
            <b>Полный адрес</b>

            <div class="margin15b margin5t">
                <textarea name="login" type="text" class="form-control">
                </textarea>
            </div>

            <div role="submit" class="left button">
                <input class="button" type="button"
                       onclick="{{checkout.delivery()}}"
                       value="Продолжить"/>
            </div>

        </div>
    </div>
</div>
