<div class="row">
  <div class="col-lg-6 col-sm-6 col-xs-12">
    <h2>Новый пользователь</h2>

    <p>Ваши персональные данные:</p>

    <div role="enter" class="fields-block form">
      <b>e-mail</b>

      <div class="margin10b">
        <input name="login" type="text"
               class="form-control" autocomplete="off">
      </div>

      <h2>Ваш пароль</h2>
      <b>Пароль</b>

      <div class="margin10b">
        <input name="password" type="password"
               class="form-control" autocomplete="off">
      </div>
      <b>Повторите пароль</b>

      <div class="margin10b">
        <input name="password-repeat"
               type="password" class="form-control"
               autocomplete="off">
      </div>
      <div role="submit" class="">
        <input class="button" type="button"
               onclick="{{checkout.register()}}"
               value="Продолжить"/>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-6 col-xs-12">
    <h2>Существующий пользователь</h2>

    <form class="form" action="" method="post"
          enctype="multipart/form-data">
      <div role="enter" class="fields-block form content">
        <p>Я уже зарегистрированный пользователь</p>
        <b>e-mail</b>

        <div class="margin15b margin5t">
          <input name="login" type="text" class="form-control">
        </div>
        <b>Пароль</b>

        <div class="margin15b margin5t">
          <input name="password" type="password"
                 class="form-control">
        </div>
        <a class="margin10l" href="">Забыли пароль?</a>

        <div role="submit" class="left button">
          <input class="button" type="button"
                 onclick="{{checkout.login()}}"
                 value="Войти"/>
        </div>
      </div>
    </form>

  </div>
</div>
