<div class="top-section">
  <div id="header">
    <section id="topbar" class="">
      <div class="container">
        <div class="topbar">
          <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6 hidden-xs">
            {{#if(user)}}
              <ul class="links  pull-left">
                <li><a href="/profile/"><span class="fa fa-user"></span>Профиль</a></li>
                <li><a href="/bucket/"><span class="fa fa-shopping-cart"></span>Корзина</a></li>
                <li><a href="/orders/"><span class="fa fa-archive"></span>Заказы</a></li>
                <li><a onclick="{{action.logout()}}"><span class="fa fa-arrow-right"></span>Выход</a></li>
              </ul>
              {{/user}}
              {{#if-not(user)}}
              <div class="login pull-left hidden-sm hidden-md" style="padding-left:25px;">
                Вы можете
                <a href="/login/">войти</a>
                или
                <a href="/register/">зарегистрироваться</a>.
              </div>
              {{/user}}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

              <div class="pull-right">
                <div id="search">
                  <div class="button-search pull-right"><span class="fa fa-search"></span></div>
                  <input type="text" name="search" placeholder="Поиск..." value="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="header-main">
      <div class="container" style="height:60px;">
        <div class="header-wrap">
          <div class="pull-left wrap-logo">
            <div class="heading" id="logo">
              <h1 style="margin-top:4px;">
                <a href="/" style="color:white;">{{settings.storeName}}</a>
              </h1>
            </div>
          </div>
          <div class="pull-left wrap-menu">
            <!--menu-->
            <div id="pav-mainnav">
              <div class="navbar-inverse">
                <div class="pav-megamenu">
                  <div class="navbar navbar-default">
                    <div id="mainmenutop" class="megamenu" role="navigation">
                      <div class="navbar-header">
                        <a data-target=".navbar-collapse" data-toggle="collapse"
                           class="navbar-toggle">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </a>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                          {{#with-subtheme('top-categories')}}
                          {{component.categories()}}
                          {{/with-subtheme}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="mini-access visible-xs pull-right"> -->
          <!--   <ul> -->
          <!--     <li><a href="http://demopavothemes.com/pav_floral/index.php?route=account/wishlist" -->
          <!--            class="mini_wishlist"><i class="fa fa-heart"></i></a></li> -->
          <!--     <li><a href="http://demopavothemes.com/pav_floral/index.php?route=account/account" -->
          <!--            title="My Account" class="mini_account"><span class="fa fa-user"></span></a></li> -->
          <!--     <li><a href="http://demopavothemes.com/pav_floral/index.php?route=checkout/cart" -->
          <!--            title="Shopping Cart" class="mini_cart"><span class="fa fa-shopping-cart"></span></a> -->
          <!--     </li> -->
          <!--     <li class="exchange"><\!--a href=""></a-\-> -->
          <!--       <a class=" dropdown-toggle" data-toggle="dropdown"> -->
          <!--         <i class="icon fa fa-exchange"></i> -->
          <!--       </a> -->

          <!--       <div class="dropdown-menu"> -->
          <!--         <form method="post" enctype="multipart/form-data"> -->
          <!--           <div class="currency"> -->
          <!--             <a title="Euro">€</a> -->
          <!--             <a title="Pound Sterling">£</a> -->
          <!--             <a title="US Dollar"><b>$</b></a> -->
          <!--           </div> -->
          <!--         </form> -->

          <!--       </div> -->
          <!--     </li> -->
          <!--     <li class="search"> -->
          <!--       <a class=""> -->
          <!--         <i class="icon fa fa-search"></i> -->
          <!--       </a> -->
          <!--     </li> -->
          <!--   </ul> -->
          <!-- </div> -->


          <div class="header-right pull-right wrap-cart hidden-xs ">
            <div class="cart-top pull-right">
              <div id="cart">
                <span class="icon fa fa-shopping-cart"></span>

                <div class="heading">
                  <h4>Корзина</h4>
                  {{component.inline-bucket()}}
                </div>
                <div class="content">
                  <div class="empty">Your shopping cart is empty!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="body center">
    {{.}}
  </div>

  <section id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="wrap-fcenter">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="box pav-custom  cusblock">
                <div class="box-content">
                  <div class="row quickaccess">
                      {{component.footer-top-items()}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="footer-center">
      <div class="container">
        <div class="wrap-fcenter">
          <div class="row">
              {{component.footer-center-items()}}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>