<div class="margin10b">
    <div class="filter-header block pointer">
        <div data-toggle="collapse" data-target="#filters-{{type}}">
            {{name}}
            <i class="glyphicon glyphicon-arrow-up none" style="font-size:10px;"></i>
            <i class="glyphicon glyphicon-arrow-down none" style="font-size:10px;"></i>
        </div>
        <div class="right margin5r clear-filter" title="Сбросить фильтр">
            ×
        </div>
    </div>
    <div class="filter-content collapse in" id="filters-{{type}}">
        {{#values}}
        <div class="filter-block">
            <input type="checkbox" autocomplete="off" name="{{type}}" value="{{.}}">
            <label>{{.}}</label>
            <span>({{count(.)}})</span>
        </div>
        {{/values}}
    </div>
</div>
