{{#template('main-profile')}}
<div id="content">
    <h1>Вход в Аккаунт</h1>

    <div class="login-content">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="inner">
                    <h2>Новый пользователь</h2>

                    <div class="content">
                        <p><b>Регистрация Аккаунта</b></p>

                        <p>Создав аккаунт, вы сможете осуществлять покупки быстрее, быть в курсе состояния заказов,
                            и отслеживать ранее сделанные заказы.</p>
                        <a href="/register/" class="button">Продолжить</a></div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="inner">
                    <h2>Зарегистрированный Пользователь</h2>

                    <form>
                        <div role="enter" class="fields-block form content">
                            <p>Я уже зарегистрированный пользователь</p>
                            <b>e-mail</b>
                            <div class="margin15b margin5t">
                                <input id="login" name="login" type="text" class="form-control">
                            </div>
                            <b>Пароль</b>
                            <div class="margin15b margin5t">
                                <input id="password" name="password" type="password" class="form-control">
                            </div>
                            <a class="margin10l" href="">Забыли пароль?</a>
                            <div role="submit" class="left button">
                                <input class="button" type="button" onclick="{{action.login()}}" value="Войти"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{/template}}
