{{#template('common')}}
<div class="page-home">
    {{component.template-seo(settings.storeName)}}
  <section id="pav-slideshow" class="pav-slideshow hidden-xs hidden-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9">
          <div id="pavcontentslider5" class="carousel slide pavcontentslider">

            <div class="carousel-inner">
                {{component.banner-carousel-inner()}}
            </div>

            <a class="carousel-control left " href="#pavcontentslider5" data-slide="prev">‹</a>
            <a class="carousel-control right" href="#pavcontentslider5" data-slide="next">›</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="box pav-custom  ">
            <div class="box-content">
              {{component.right-banners()}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- <section class="pav-showcase" id="pavo-showcase"> -->
  <!--     <div class="container"> -->
  <!--         <div class="row"> -->
  <!--             <div class="col-lg-6 col-md-6 col-sm-6"> -->
  <!--                 <div class="box-product vertical box productcarousel"> -->
  <!--                     <div class="box-heading"><span>Featured</span></div> -->
  <!--                     <div class="box-content"> -->
  <!--                         <div class="box-products slide" id="productcarousel715422"> -->
  <!--                             <div class="carousel-controls"> -->
  <!--                                 <a class="carousel-control left" href="#productcarousel715422" data-slide="prev">‹</a> -->
  <!--                                 <a class="carousel-control right" href="#productcarousel715422" data-slide="next">›</a> -->
  <!--                             </div> -->
  <!--                             <div class="carousel-inner "> -->
  <!--                                 {{component.stock-horizontal-carousel-inner()}} -->
  <!--                             </div> -->
  <!--                         </div> -->
  <!--                     </div> -->
  <!--                 </div> -->
  <!--             </div> -->

  <!--             <div class="col-lg-6 col-md-6 col-sm-6"> -->
  <!--                 <div class="box-product pink horizontal box productcarousel"> -->
  <!--                     <div class="box-heading"><span>Most Viewed</span></div> -->
  <!--                     <div class="box-content"> -->
  <!--                         <div class="box-products slide" id="productcarousel2be500"> -->
  <!--                             <div class="carousel-controls"> -->
  <!--                                 <a class="carousel-control left" href="#productcarousel2be500" data-slide="prev">‹</a> -->
  <!--                                 <a class="carousel-control right" href="#productcarousel2be500" data-slide="next">›</a> -->
  <!--                             </div> -->
  <!--                             <div class="carousel-inner "> -->
  <!--                                 {{component.stock-vertical-carousel-inner()}} -->
  <!--                             </div> -->
  <!--                         </div> -->
  <!--                     </div> -->
  <!--                 </div> -->
  <!--             </div> -->
  <!--         </div> -->

  <!--     </div> -->
  <!-- </section> -->

  <section id="columns" class="offcanvas-siderbars">
    <div class="container">
      <div class="row visible-xs visible-sm">
        <div class="container">
          <div class="offcanvas-sidebars-buttons">
            <button type="button" data-for="column-left" class="pull-left btn btn-danger"
                    style="display: none;"><i
                                              class="glyphicon glyphfa fa-indent-left"></i> Sidebar Left
            </button>

            <button type="button" data-for="column-right" class="pull-right btn btn-danger"
                    style="display: none;">
              Sidebar Right <i class="glyphicon glyphfa fa-indent-right"></i></button>
          </div>
        </div>
      </div>
      <div class="wrap-container">
        <div class="row">

          <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="content">
              <div class="content-top">
                <div class="box pav-custom  ">
                  <div class="box-content"><p><img alt="" src=""></p>
                  </div>
                </div>
                <div class="box-product yellow horizontal box productcarousel">
                  <div class="box-heading"><span>Свежие поступления</span></div>
                  <div class="box-content">
                    <div class="box-products slide" id="productcarousel2cd118">
                      <div class="carousel-controls">
                        <a class="carousel-control left" href="#productcarousel2cd118"
                           data-slide="prev">‹</a>
                        <a class="carousel-control right" href="#productcarousel2cd118"
                           data-slide="next">›</a>
                      </div>
                      <div class="carousel-inner ">
                        {{component.stock-quadro-vertical-carousel-inner()}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h1 style="display: none;">Floral Store</h1>
            </div>
          </section>


        </div>
      </div>
    </div>
  </section>

  <section id="pav-mass-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="box pav-block bloglatest">
                <div class="box-heading"><span>Отзывы</span><a href="/guestbook/" style="margin: 15px">все отзывы</a></div>
                <div id="pavtestimonial62" class="carousel slide pavtestimonial">
                    <div class="carousel-inner">
                        {{component.short-reviews()}}</div>


                    <a class="carousel-control left" href="#pavtestimonial62" data-slide="prev">‹</a>
                    <a class="carousel-control right" href="#pavtestimonial62" data-slide="next">›</a>
                </div>
            </div>


        </div>


        <div class="col-lg-9 col-md-9 col-sm-9">
          <div class="box pav-block bloglatest">
            <div class="box-heading"><span>Новости</span><a href="/news/" style="margin: 15px">все новости</a></div>
            <div class="pavblog-latest clearfix box-content">

                {{component.short-news()}}
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>
</div>
{{/template}}
