{{#template('common')}}
<section id="columns" class="offcanvas-siderbars">
    <div class="container">
        <div class="row visible-xs visible-sm">
            <div class="container">
                <div class="offcanvas-sidebars-buttons">
                    <button type="button" data-for="column-left" class="pull-left btn btn-danger" style="display: none;">
                      <i class="glyphicon glyphfa fa-indent-left"></i> Sidebar Left
                    </button>

                    <button type="button" data-for="column-right" class="pull-right btn btn-danger" style="display: block;">Sidebar Right
                      <i class="glyphicon glyphfa fa-indent-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="wrap-container">
            <div class="row">
                <div id="breadcrumb">
                    {{component.breadcrumbs()}}
                </div>

                <section class="col-lg-12 col-sm-12 col-xs-12 main-column">
                    {{.}}
                </section>
                <!-- <aside class="col-lg-3 col-sm-3 col-xs-12 offcanvas-sidebar" id="oc-column-right"> -->
                <!--     <div id="column-right" class="sidebar"> -->
                <!--         <div class="box"> -->
                <!--             <div class="box-heading"><span>Account</span></div> -->
                <!--             <div class="box-content"> -->
                <!--                 <ul> -->
                <!--                     <li><a href="/login/">Login</a> -->
                <!--                         / -->
                <!--                         <a href="/register/">Register</a> -->
                <!--                     </li> -->
                <!--                     <li> -->
                <!--                         <a href="">Forgotten Password</a> -->
                <!--                     </li> -->
                <!--                     <li> -->
                <!--                         <a href="/account/">My Account</a> -->
                <!--                     </li> -->
                <!--                     <li> -->
                <!--                         <a href="">Address Books</a></li> -->
                <!--                     <li> -->
                <!--                         <a href="">Wish List</a></li> -->
                <!--                     <li> -->
                <!--                         <a href="">Order History</a></li> -->
                <!--                     <li> -->
                <!--                         <a href="">Downloads</a> -->
                <!--                     </li> -->
                <!--                     <li> -->
                <!--                         <a href="">Returns</a> -->
                <!--                     </li> -->
                <!--                     <li> -->
                <!--                         <a href="">Transactions</a> -->
                <!--                     </li> -->
                <!--                     <li> -->
                <!--                         <a href="">Newsletter</a> -->
                <!--                     </li> -->
                <!--                     <li> -->
                <!--                         <a href="">Recurring payments</a> -->
                <!--                     </li> -->


                <!--                 </ul> -->
                <!--             </div> -->
                <!--         </div> -->
                <!--     </div> -->
                <!-- </aside> -->
            </div>
        </div>
    </div>
</section>
{{/template}}
