{{#template('news-main')}}

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div id="content" class="content-blog">
        <div class="pav-category">
            <div class="pav-blogs">
                {{component.render-all-news()}}
            </div>
        </div>
    </div>
</div>



{{/template}}