<div class="col-lg-4 col-sm-4 pavblock">
  <div class="blog-item">
    <div class="blog-body clearfix">

      <div class="image clearfix">
        <img src="{{item.image}}">
      </div>
      <div class="group-blog">
        <div class="blog-title">
          <a href="{{item.url}}">{{item.title}}</a>
        </div>

        <div class="description">
          <p>
            {{item.content-short}}
          </p>
        </div>


        <p class="created">
          <span>{{util.format-date(item.sent-time)}}</span>
        </p>
      </div>

    </div>
  </div>
</div>
