<div class="row">
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bono-order-container group">
        <div id="content">
            <table class="list">
                <tr>
                    <td colspan="8" class="left"><b>Заказ №: </b>{{order.id}}</td>
                </tr>
                <tr>
                    <td colspan="3" class="center">Наименование, размер, цена за шт.</td>
                    <td class="center">Заказано</td>
                    <td class="center">Забронировано</td>
                    <td class="center">Сумма</td>
                    <td class="center">Статус</td>
                    <td class="center">&nbsp;</td>
                </tr>
                    {{component.order-items(order)}}
                <tr>
                    <td colspan="4"></td>
                    <td class="right"><b>Итого:</b></td>
                    <td class="right">{{order.sum}}грн.</td>
                    <td colspan="2"></td>
                </tr>
            </table>
            {{component.order-controlls(order.id)}}
        </div>

    </section>
</div>