{{#template('common')}}

<section id="columns" class="offcanvas-siderbars"><div class="container">
    {{component.template-seo("Заказы")}}
    <div class="row visible-xs visible-sm"><div class="container">
        <div class="offcanvas-sidebars-buttons">
            <button type="button" data-for="column-left" class="pull-left btn btn-danger" style="display: none;"><i class="glyphicon glyphfa fa-indent-left"></i> Sidebar Left</button>

            <button type="button" data-for="column-right" class="pull-right btn btn-danger" style="display: block;">Sidebar Right <i class="glyphicon glyphfa fa-indent-right"></i></button>
        </div>
    </div></div>
    <div class="wrap-container">
        <div class="row"><div id="breadcrumb">{{component.breadcrumbs()}}</div>

            <section class="col-lg-9 col-sm-9 col-xs-12 main-column">

                <div id="content">
                    <h1>Заказы</h1>
                    <div class="order-list">
                        {{component.orders()}}
                    </div>
                    <div class="buttons">
                        <div class="right"><a href="/" class="button">Продолжить покупки</a></div>
                    </div>
                </div>
            </section>

        </div></div></div></section>

{{/template}}