{{#template('pages-main')}}

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div id="content" class="content-blog">
        <div class="pav-blog">
            {{content}}
        </div>
    </div>
</div>

{{/template}}