{{#template('main-profile')}}
<div id="content">
<h1>Регистрация Аккаунта</h1>

<p>Если у вас уже есть учетная запись, пожалуйста войдите на <a
        href="/login/">странице входа</a>.</p>

<form action="" method="post"
      enctype="multipart/form-data">
<h2>Ваши персональные данные</h2>
<div role="enter" class="fields-block form">
    e-mail
    <div class="margin10b">
        <input id="login" name="login" type="text"  class="form-control" autocomplete="off">
    </div>

    <h2>Ваш пароль</h2>
    Пароль
    <div class="margin10b">
        <input id="password" name="password" type="password" class="form-control" autocomplete="off">
    </div>
    Повторите пароль
    <div class="margin10b">
        <input id="password-repeat" name="password-repeat" type="password" class="form-control" autocomplete="off" >
    </div>
    <div role="submit" class="">
        <input class="button" type="button" onclick="{{action.register()}}"  value="Продолжить"/>
    </div>
</div>
</form>
</div>
{{/template}}
