<div class="testimonial-item">
    <div class="testimonial">
        <span class="fa fa-quote-left icon"></span>

        <div><p>{{item.text}}</p>
        </div>
    </div>
    <div class="t-avatar"></div>
    <div class="profile">
        <div>
            <h3><a href="{{item.url}}">{{item.title}}</a></h3>

            <p>{{util.format-date(item.sent-time)}}</p>
        </div>
    </div>
</div>