{{#template('main-profile')}}
{{component.template-seo("Профиль")}}
<div id="content" class="form group" ng-init="{{inputs.user-init()}}">

  <h1>Настройка профиля</h1>

    <h2>Общая информация</h2>

    <div class="content margin25b">
        <table class="form">
            <tbody>
            <tr>
                <td>E-Mail:</td>
                <td><input autocomplete="off" type="text" name="email" class="form-control" value="{{user.contact.email.value}}">
                </td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td><input autocomplete="off" type="text" name="phone" class="form-control" value="{{user.contact.phone.value}}">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2>Информация для заказа</h2>

    <div class="content margin25b">
      <table class="form">
        <tbody>
          <tr>
            <td>Имя и фамилия:</td>
            <td><input autocomplete="off" type="text" name="name" class="form-control" value="{{user.name}}">
            </td>
          </tr>
          <tr>
            <td>Область:</td>
            <td>{{inputs.district(user.address-region)}}</td>
          </tr>
          <tr>
            <td>Город:</td>
            <td>{{inputs.city(user.address)}}</td>
          </tr>
          <tr>
            <td>Отделение новой почты:</td>
            <td>
              <div class="red-dropdown">
                {{inputs.novaya-pochta(user.extra-info.novaya_pochta)}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <input type="hidden" name="delivery" value="ukraine"/>
    <div class="right margin5r">
        <input onclick="{{action.update-user()}}" type="button" value="Сохранить" class="button form-control">
    </div>
</div>
{{/template}}
