{{#template('stocks')}}
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12  main-column">
  <div id="content">
    <div class="product-info">
      <div class="row">
        <div class="col-lg-6 col-sm-5 image-container">
          <div class="image">
            <a href="/stock/{{stock.id}}"
               class="colorbox cboxElement">
              <img src="{{component.image([400, 600],stock.images.0)}}"
                   title="{{stock.name}}" alt="{{stock.name}}" id="image"
                   data-zoom-image="{{component.image([700, 900],stock.images.0)}}"
                   class="product-image-zoom">
            </a>
          </div>
          <div class="image-additional slide carousel" id="image-additional">
            <div id="image-additional-carousel" class="carousel-inner">
              <div class="item active">
                <a href="/stock/{{stock.id}}"
                   title="" class="">
                  <img src="{{component.image([114, 114],stock.images.0)}}"
                       title="{{stock.name}}" alt="{{stock.name}}"
                       data-zoom-image="{{component.image([600, 800],stock.images.0)}}"
                       class="product-image-zoom">
                </a>
              </div>
            </div>
            <a class="carousel-control left" href="#image-additional" data-slide="prev">‹</a>
            <a class="carousel-control right" href="#image-additional" data-slide="next">›</a>
          </div>

        </div>
        <div class="col-lg-6 col-sm-7 form">
          <div class="clearfix">
            <h1 class="pull-left">{{stock.name}}</h1>
            <div class="price pull-right">
              <span role="price">{{stock.price}}</span> грн
            </div>
          </div>
          <div class="tabs-group">
            <div id="tabs" class="htabs clearfix">
              <a href="#tab-description" class="selected" style="display: inline;">Описание</a>
            </div>
            <div id="tab-description" class="tab-content" style="display: block;">
              <div class="cpt_product_description ">
                {{stock.description.other}}
              </div>
            </div>
          </div>
          <div class="price-cart">
            {{component.bucket-item(stock)}}
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript">

      $(function ()
      {
      $("#image").elevateZoom({  gallery: 'image-additional-carousel', cursor: 'pointer', galleryActiveClass: 'active' });
      });

    </script>

  </div>


</div>
{{/template}}
