<fn fn="singleton">
  <keep>
    <script id="popoverDescription" type="text/ng-template">
      <div>
        <div class="description relative">
          <div style="height:100px;" class="group">
            <div class="left margin10b">
              <strong>Замеры для размера {{selected}}</strong>

              <div ng-repeat="measurement in stock.description.measurements[selected]"
                   class="measurement-info">
                <span style="width:135px;" class="measure-name">{{measurement.name}}:</span>
                <span class="measure-value">{{measurement.value}} см.</span></div>
            </div>
            <div style="top:30px;" class="model-icon left absolute"></div>
          </div>
          <p>Состав:{{stock.description.fabric}}</p>

          <div class="header">Цена</div>
          <div>{{stock.variants[selected]}} грн.</div>
          <div class="header">Описание</div>
          <div class="margin5t">{{stock.description.other}}</div>
        </div>
      </div>
    </script>
  </keep>
</fn>
