<div class="row">
<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="modal-close">x</div>
    <div id="content" class="product-detail">
    <div class="product-info">
        <div class="row">
            {{component.image-container(stock)}}
            <div class="col-lg-5 col-sm-6">
                <h1>{{stock.name}}</h1>
                <div class="description">
                    {{stock.description.other}}
                </div>
                <div class="price-cart">
                    <div class="price">
                        {{stock.price}}
                    </div>
                    {{component.bucket-item(stock)}}
                </div>
                <div class="compare-wish">
                    <span class="links">
                        <a class="wishlist" onclick="">
                            Add to Wish List
                        </a>
                        <a class="compare" onclick="">
                            Add to Compare
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.elevateZoom-3.0.8.min.js"></script>
<script type="text/javascript">
    $("#image").elevateZoom({  gallery: 'image-additional-carousel',
        cursor: 'pointer',
        galleryActiveClass: 'active' });
</script>
</section>
</div>
