{{#template('common')}}
<section id="columns" class="offcanvas-siderbars">
  <div class="container">
    <div class="row visible-xs visible-sm">
      <div class="container">
        <div class="offcanvas-sidebars-buttons">
          <button type="button" data-for="column-left" class="pull-left btn btn-danger" style="display: none;">
            <i class="glyphicon glyphfa fa-indent-left"></i> Sidebar Left
          </button>
          <button type="button" data-for="column-right" class="pull-right btn btn-danger" style="display: block;">
            Sidebar Right
            <i class="glyphicon glyphfa fa-indent-right"></i></button>
        </div>
      </div>
    </div>
    <div class="wrap-container">
      <div class="row">
        <div id="breadcrumb">
          {{component.breadcrumbs()}}
        </div>

        <aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12 offcanvas-sidebar" id="oc-column-left">
          <div id="column-left" class="sidebar">

            <div class="box category">
              <div class="box-heading">
                <span>Категории</span>
              </div>
              <div class="box-content">
                {{component.categories()}}
              </div>
            </div>

            <div class="box category">
              <div class="box-heading">
                <span>Фильтры</span>
              </div>
              <div class="box-content">
                {{component.filters()}}
              </div>
            </div>

          </div>
        </aside>

        {{.}}

      </div>
    </div>
  </div>
</section>
{{/template}}
