{{#template('stocks')}}

<section class="col-lg-9 col-md-9 col-sm-12 col-xs-12 main-column">

<div id="content">
<h1 class="margin10l">{{global.category.name}}</h1>

<!-- <div class="product-filter clearfix margin10t"> -->
<!--   <div class="display"> -->
<!--     <span style="float: left;"> -->
<!--       Отображение:</span> -->
<!--     <a class="list" onclick="display('list');"> <span class="fa fa-th-large"></span><em>List</em></a> -->
<!--     <a class="grid active"><span class="fa fa-th-list"></span><em>Grid</em></a> -->
<!--   </div> -->

<!--     <div class="limit"><span>Товаров на странице:</span> -->
<!--         <select onchange="location = this.value;"> -->
<!--             <option selected="selected">12 </option> -->
<!--             <option> 25 </option> -->
<!--             <option> 50 </option> -->
<!--             <option> 75 </option> -->
<!--             <option> 100 </option> -->
<!--         </select> -->
<!--     </div> -->
<!--     <div class="sort"><span>Сортировка:</span> -->
<!--         <select onchange="location = this.value;"> -->
<!--             <option selected="selected">Default </option> -->
<!--             <option > Name (A - Z) </option> -->
<!--             <option > Name (Z - A) </option> -->
<!--             <option > Price (Low &gt; High) </option> -->
<!--             <option > Price (High &gt; Low) </option> -->
<!--             <option > Rating (Highest) </option> -->
<!--             <option > Rating (Lowest) </option> -->
<!--             <option > Model (A - Z) </option> -->
<!--             <option > Model (Z - A) </option> -->
<!--         </select> -->
<!--     </div> -->
<!-- </div> -->


<div class="product-grid">
    <div class="products-block">
        {{component.stock-list()}}
    </div>
</div>

</div>

</section>

{{/template}}
