<div style="width:250px;margin:10px;">
  <div class="product-block">
    <div class="image ">
      <span class="product-label-special label">Скидка</span>

      <div class="image_container">
        <a href="/stock/{{stock.id}}" class="img front">
          <img src="{{component.image([480 640],stock.images.0)}}" class="img-responsive">
        </a>
      </div>

      <a class="pav-colorbox cboxElement" onclick="{{action.open-stock-modal(stock)}}">
        <span class="fa fa-eye"></span>
        Просмотр
      </a>
      <div class="img-overlay"></div>
    </div>

    <h3 class="name">
      <a href="/stock/{{stock.id}}">
        {{stock.name}}
      </a>
    </h3>

    <div class="description">
      {{stock.description.other}}
    </div>

    <div class="group-item">
      <div class="price-cart">
        <div class="price">
          <span class="price-old margin10r">{{stock.price}} грн.</span>
          <span class="price-new">{{stock.price}} грн.</span>
        </div>

        <div class="cart">
            <a href="/stock/{{stock.id}}">
                <span class="fa fa-shopping-cart icon margin10r"></span>
                <span>В корзину</span>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
