.top {top:0;}
.bottom {bottom:0;}
.left {float:left;}
.right {float:right;}
.fixed {position:fixed;}
.fixed-left {left:0;}
.fixed-right {right:0;}

.margin5b {margin-bottom:5px;}
.margin15b {margin-bottom:15px;}
.margin20b {margin-bottom:20px;}
