<div id="first">
  <div class="descriptionn">

    <p>Женские сапоги. Цвет&nbsp;<span style="font-family: sans-serif; font-size: 13px; line-height: 19px; background-color: #ffffff;">Фиолетовый</span>. В ящике 6 пар. Размеры 36-41. Цена за пару 107



      грн.&nbsp;</p>

    <!-- Выбор варианта товара -->
    <form action="/cart" class="variants">
      <table>
        <tbody><tr class="variant">
	    <td>
	      <input type="radio" style="display:none;" checked="" class="variant_radiobutton" value="1334" name="variant" id="product_1334">
	    </td>
	    <td>
	    </td>
	    <td>
	      <span class="prices">Цена: 642,00 <span class="currency">грн</span></span>
	    </td>
	  </tr>
      </tbody></table>
      <input type="submit" data-result-text="добавлено" value="в корзину" class="button">
    </form>
    <!-- Выбор варианта товара (The End) -->

  </div>
</div>
