@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/font/SourceSansPro-Light.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/font/SourceSansPro-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/font/SourceSansPro-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/font/SourceSansPro-It.woff) format('woff');
}

.limit-dropdown
{
    display:none;
}

.pager-pages-container:not(.pager-pages-container-bottom)
{
    display:none;
}

.pager-pages-container-bottom
{

    color: #A3A3A3;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.pager-non-active
{
    padding-right: 8px;
    color: #000000;
}

.pager-current-link
{
    padding-right: 8px;
    color: #000000;
}

.pager-page
{
    padding-right: 8px;
}

.center
{
}

.ui-dialog-titlebar
{
}

.ui-dialog-content
{
}

.ui-widget-overlay
{
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
}

.modal-main-block
{
    width: 800px;
    background-color: #ffffff;
}

.modal-product-info
{
    background-color: #ffffff;

}


.modal
{
    background-color: white;
    border-radius: 6px;
    position: relative;
    display: inline-block;
}

.modal-header-close
{
    background-color: #000000;
}

.modal-header
{

}

.modal-close
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    opacity: 0.5;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: none !important;
    text-align: center;
    height: 20px !important;
    width: 20px !important;
    position: absolute;
    right: 20px;
    top: 3px;
}

.panel .modal-close
{
    display: none;
}

.panel .modal-button
{
    display: none;
}

.modal-link
{
    color: #659300;
    font-family: 'Cuprum',sans-serif;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
}

.modal-footer
{
    background-color: #f3f3f3;
    border-top: 1px dashed #c3c8c9;
    color: #8f8f8f;
    font-size: 19px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.ui-dialog .modal-main-block > div
{
    width:800px !important;
}

.ui-dialog .modal-main-block > div > table
{
    border: none !important;
}

.delete
{
    cursor: pointer;
    background-image: url('/img/themes/bono/cross_small.png');
    width: 23px;
    height: 23px;
}

.edit-small
{
    background-image: url('/img/themes/bono/edit_small.png');
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.edit-small:hover
{
    background-image: url('/img/themes/bono/edit_small_hover.png');
    width: 23px;
    height: 23px;
}

.edit-small:active
{
    background-image: url('/img/themes/bono/edit_small_clicked.png');
    width: 23px;
    height: 23px;
}


