 .paneltool{
		position: fixed;
		top: 20px;
		transition:all 0.6s;
		left: -302px;
		border:solid 1px #CCC;
		  -webkit-box-shadow: 1px -1px 3px #888888;
          box-shadow: 1px -1px 3px #888888;
          z-index: 9998;
	}
	.paneltool.active{
		left: 0px;
		transition:all 0.6s;
	}
	.paneltool.active .panelbutton{
		color: red
	}
	.paneltool.themetool{
		top: 100px
	}
	.paneltool .panelcontent{
		background: #FFF; 
		width: 300px;
	}
	.paneltool .panelcontent > div{
		padding:10px 16px;
	}
	.panelbutton{
		border:solid 1px #CCC;
		 background: #FFF; 
	    padding: 9px 11px;
	    position: absolute;
	    right: -35px;
	    top: 10px;
	    border-left: none;
	    cursor: hand; cursor: pointer;	
	     -webkit-box-shadow: 2px -1px 2px #888888;
          box-shadow: 2px -1px 2px #888888;
	}
	.editortool .panelbutton{
		top: 280px
	}

#pav-paneltool.panel-open .panel-inner {
	right:0
}

#pav-paneltool .accordion-heading{
	margin-bottom: 10px;
}

#pav-paneltool form > *{
	float: left;
}

#pav-paneltool form .group-input{
	margin-right: 5px;
}

.group-input{overflow: hidden;}
.group-input label {float: left;line-height: 30px;margin-right: 10px}
.group-input select{float: left;line-height: 28px;height: 28px; padding: 4px}
.panelinner p{}
.panelinner p .btn {border:1px solid #ddd; padding:0px 12px; border-radius: 0; line-height: 28px;}

#pav-paneltool select{
	padding: 3px;
}

.box-patterns div{
	display:block ;
	width:38px;
	height:38px;
	float:left;
	cursor:hand;
	cursor:pointer;
	border:solid 1px #f3f3f3;
	margin:6px;
	border:1px solid #ccc;	
}
.box-patterns div.active{
	border:solid 1px red;
}
#pav-paneltool .nav-tabs > li:before,
#pav-paneltool .nav-tabs > li:after{
	display: none;
}

#customize-form{
	position: relative;
}
#main-preview {
   bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 300px;
    transition-duration: 0.2s;
    transition-property: left, right, top, bottom, width, margin;
}
#main-preview iframe { 
    height: 100%;    
    width: 100%; 
}
.colorpicker{
	z-index: 9999
}
#pav-customize{
	width: 300px;
	height: 100%;
	position:absolute;
	top: 0;
	left:0px; 
	z-index: 3;
	box-shadow: 0 1px 3px #999;
	transition-duration: 0.2s;
    transition-property: left, right, top, bottom, width, margin;
  	background: none repeat scroll 0 0 #F5F5F5;
    border-right: 1px solid rgba(0, 0, 0, 0.2);  
}

#pav-customize .wrapper{

	padding: 12px; 
}
#customize-body input[type="text"], #customize-body select{
	margin: 0;	
	color: #FFF;
	font-size: 11px;	
	border: 1px solid #e2e2e2;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	padding:3px;
	width:70px;
}
#customize-body select{
	color:#888;
}

#customize-body .accordion-group label{
	color:#888;
	font-size: 11px;
	font-weight: normal
}
.form-group  {
	margin-right: 6px;
}
.accordion-group label, .form-group label{
	display: block;
	font-size: 11px;

}
.accordion-group label{
	float: left;
	min-width: 100px;	
	margin-right:12px;
	margin-top: 5px;
}
#pav-customize .btn{
	padding: 4px 12px;
	font-size: 11px;
	font-weight: bold;
}
#pav-customize .btn-show{
	position: absolute;
	top: 39px;
	padding:6px 18px;
	background:#CCC;
	right:11px;
	z-index: 99;
	transition:all 1.2s;
	cursor: hand;
	cursor: pointer;

}
#customize-body .nav-tabs{padding: 0}
#customize-body .nav-tabs, #customize-body .nav-tabs a{
	border:none;
}
#customize-body .nav-tabs a{
	background: #f9f9f9;
	font-weight: bold;
	font-size: 13px;
	margin: 0px;
	padding: 6px 10px;	
}
 #customize-body .nav-tabs .active a{
 	background: #fff;
 }
 .accordion-heading .accordion-toggle{
 	font-weight: bold;
 }
#customize-body .form-group{
	margin-bottom: 6px;
}

.clear-bg{
	padding: 3px 6px;
	margin-left: 5px;
}

/* .tab-content > .tab-pane, .pill-content > .pill-pane {
    background: none repeat scroll 0 0 #FFFFFF;    
    padding: 13px;

} */

.panelinner .nav-tabs > li{
	border: 1px solid #ddd;
	margin-right: 3px;
}
.panelinner .nav-tabs > li.active{
	border-bottom: 1px solid #fff;
}

.panelinner .tab-content{
	border-top: 1px solid #ddd;
}

.bi-wrapper > div{
	float: left;
	width: 20px;
	height: 20px;
	margin: 3px 4px;
	border: solid 1px #999;
	cursor:hand; cursor:pointer;
}
.bi-wrapper > div.active{
	border-color:red;
}
.btn-small {
	 border-radius: 0;
	 background-color: #7DB641 ;
	 color: #fff;
	 padding: 3px 6px;
}
.btn-small:hover {
	background-color: #C83A3A;
	 color: #fff;
}

.editortool .label-customize{
	position: absolute;
	right:-155px;
	top: 250px;	
	width: 115px;
	height: 74px;
	padding: 0;
	background-image:url(/img/image/label_customize.png);
	background-repeat: no-repeat;
	background-position: 0 0;

	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border: 0;
}
.editortool .label-customize:hover{
	background-position: 0 -111px;
}
.paneltool.active .label-customize{
	display: none;	
}