
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.pav-header  { position:relative  }
.pav-header .rss-wrapper{
	width:30px;	height:30px;	display:block; position:absolute;right:0; top:0; background:url('/img/image/icon-rss.png') no-repeat center center;
	overflow:hidden; text-indent:-999em;
}
.content-blog {
}
.content-blog h2{margin: 0}
.content-blog .image {text-align: center; margin-bottom: 15px}
.blog-meta {
		overflow: hidden;
     color: #999999;
	}
	.blog-meta > span  {    
   display: block;
    float: left;
    font-size: 90%;
    font-style: italic;
    font-weight: bold;
    padding: 0 10px 5px;
	 }
    .blog-meta > span:first-child {
      padding-left: 0;
    }
	.blog-meta > span:last-child{font-size:90% }
	.blog-meta > span  span{ font-weight:normal }
	
.blog-meta ul{list-style: none; padding: 0; text-align: right}  
.blog-header .created {
}
.blog-header h3{margin: 0}

.blog-header  span.day{ }
.blog-header  span{  }
.blog-item .description{
  line-height: 20px; height: 40px; overflow: hidden; color: #999999;
}
.blog-item .readmore{
    display: inline-block;
	zoom: 1;
	*display: inline;
  font-weight: bold;
  margin: 10px 0px;
}

.blog-readmore{margin-top: 12px;}
.pav-block .blog-item .created {
    margin-top: 24px;
    padding-top: 8px;
    position: relative;
    color: #ccc;
}
.pav-block .blog-item .created:before {
    width:20px; height: 0px;
    content: ".";text-indent: -9999em;
    display: block;
    position: absolute;
    top: 0;left: 0;
    border-top:1px solid #ccc;
}

.blog-item .readmore:hover {
}
/**
 * Category Page
 */

 .pav-blog .image {
 	text-align: center;
 }
 .pav-blogs .blog-item,
.pav-filter-blogs .blog-item{
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #d0d0d0;
      overflow: hidden;
 }
 .pav-filter-blogs .blog-item img {
    border: 1px solid #d0d0d0;
    padding: 3px;
    margin-left: 15px;
    float: right;
 }
  .blog-item .image {

  }
    .pavblog-latest .blog-item {
      margin-top: 7px;
      margin-bottom: 7px;
    }

.pavblog-latest .blog-item .blog-body { 
     position: relative; 
     overflow:  hidden;
     }

     .pavblog-latest .blog-item .group-blog {

     }
 .pavblog-latest .blog-item:hover .group-blog {
    
}
	.pavblog-latest .blog-item .blog-title{
		font-size:22px;line-height:42px;
		height:40px; overflow:hidden;
	}
  .pavblog-latest .blog-item .blog-title a {	
		color:#000;
		font-weight:200;
    text-decoration: none;
  }
  .pavblog-latest .blog-item .blog-title a:hover {
		
  }
  .pavblog-latest .blog-item img:hover{}
 
 .pav-blogs .blog-item img {}
 .pav-blogs .blog-title a {
  color: #000;
	text-decoration:none;
  font-weight: 200;
  font-size: 22px;
 }
 /**
  * Blog Page
  */
  .pav-blog .description{ font-weight:bold;text-align: justify; }
	
  .pav-blog .blog-content, .pav-blog .blog-bottom { margin-bottom:20px; }
 .pav-comment,.pav-blog .blog-bottom { text-align: justify;
  	padding-top: 10px;}
   .comment-item {
	 
		padding-bottom:10px;
   }
  .comment-item  img{
	padding-right:12px;
  }
  .comment-wrap{
	overflow:hidden;
	  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease-out 0s;	
  }
  .comment-wrap .comment-meta{
	 border-bottom: 1px solid #E5E5E5;
    font-size: 11px;
    margin: -20px -20px 10px;
    padding: 10px 20px;
  }
  .comment-wrap .comment-meta > span { font-weight:bold; }
   .comment-wrap .comment-meta > span  span{ font-weight:normal; }
   .blog-social  .social-wrap > div { float:left; }
   .blog-social .social-heading{ padding-right:12px; }
   
   .comment-link{
	background: none repeat scroll 0 0 #F4F4F4;
    border-left: 1px solid #E5E5E5;
    display: block;
    float: right;
    font-weight: bold;
    margin: -11px -20px -10px 0;
    padding: 10px 20px;
   }

 
   #comment-form .message{ background:#FCF8E3; padding: 12px; color:#000; margin:12px ;}
   #comment-form .comment-warning{ color:#B94A48  } 

   	#comment-form .input-group{	clear:both; padding: 6px 0;	}
   #comment-form label{  
		 
		display: block;
		float: left;
		line-height: 27px;
		margin: 0;
		width: 20%;
   }
    #comment-form input, #comment-form textarea{
		 display: block;
		margin: 0;
		width: 77%;
	}

		#comment-form  .recaptcha{padding:12px; }
		#comment-form  .recaptcha input { width: 140px; height:27px; display:inline; margin:0 12px; }

   /**
    * Module
	*/
	.pavblogs-comments-box  .pav-comment { padding:10px ;border-bottom:1px dashed  #F4F4F4  }
	.pavblogs-comments-box  .pav-comment:last-child{ border-bottom:none; }
	.pavblogs-comments-box img{ padding-right:12px; }


/*category*/
ul.pav-category li .head > a {
    background: none repeat scroll 0 0 transparent !important;
    padding: 0 0 0 10px;
    position: relative;
    top: 0;
}
ul.pav-category ul.level2 {
    margin-left: 15px;
}
