.box-products {
	position:relative;
}
.productcarousel .carousel-control{
	z-index:10
}

.productcarousel .nav{
	padding:0;
	margin:0
}
.productcarousel .carousel-controls{
	position:absolute;
	top:-42px;
	right:0px;
	z-index:11;
	width:66px;
	height: 30px;
}
	.productcarousel .carousel-controls a.carousel-control{
		height: 30px;
		margin: 0;
		width: 30px;
		background-image:url(/img/image/default/carousel_control.png) ;
		background-repeat: no-repeat;
		background-color: transparent;
		border: none;
		border-radius:0;
		opacity: 1;
		display: block;
		top: 0;
		overflow:hidden;
		text-indent: -9999em;
	}
	.productcarousel .carousel-controls a.left{
		background-position: left top;
		left: 0;
	}.productcarousel .carousel-controls a.left:hover{
		background-position: left bottom;
	}
	.productcarousel .carousel-controls a.right{
		background-position: -30px top;
		right: 0;
	}
	.productcarousel .carousel-controls a.right:hover{
		background-position: -30px bottom;
	}
.productcarousel .tab-content, .producttabs .box-product{
	overflow:inherit
}