.pavtestimonial {
	position:relative;
	background:#5fce9b;
	padding:24px 38px;
	color:#fff;
	text-align:center;
	line-height:24px;
}
.pavtestimonial .carousel-inner{
	position:relative;
}
.pavtestimonial .banner-info{
	position:absolute;
	bottom:25%;
	left:10%;
	z-index:4;
	background:#ccc;
	width:300px;
	padding:12px;
	min-height:40px;
	opacity:0.7;
  filter: alpha(opacity=70);
}

.pavtestimonial .carousel-indicators{
	position:absolute;
	bottom:10px;
	left:20px;

}
.pavtestimonial .carousel-indicators li{ display:block;float:left;	z-index:20;
	padding:10px;
	margin:3px; background:red; }
.pavtestimonial .carousel-indicators li.active{ background:#000 }

.pavtestimonial  .thumb-indicators li {text-indent:0;
	display: block;
    float: left;
    height: 97px;
    margin: 3px;
    padding: 3px;
    width: 23%;
    z-index: 20;
}
.testimonial{margin-bottom:10px}
.testimonial .icon{
	font-size:22px
}
.testimonial > div{height:120px; overflow:hidden}
.pavtestimonial p{margin:0}
.pavtestimonial h3{font-weight:bold; font-family:"Montserrat", sans-serif;margin:0}

.pavtestimonial .carousel-control{background:none; top:56%;text-shadow:none;}
.pavtestimonial .carousel-control:hover{opacity:1}
.pavtestimonial .carousel-control.right {right: 40px}
.pavtestimonial .carousel-control.left {left: 40px}
