html {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}
body {
    background: url('/img/image/default/bg.jpg') center top fixed;
    color: #555555;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    overflow-x: hidden;
}
.fs9 {
    font-size: 11px;
}
.fs10 {
    font-size: 12px;
}
.fs11 {
    font-size: 13px;
}
.fs12 {
    font-size: 14px;
}
.fs13 {
    font-size: 15px;
}
.fs14 {
    font-size: 16px;
}
.fs15 {
    font-size: 17px;
}
.fs16 {
    font-size: 18px;
}
.welcome {
    color: #636E75;
    font: Verdana;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: normal;
    text-shadow: 0 0 1px rgba(0,0,0,0.01);
}
.default-color {
    color: #00B1C0;
}
a {
    color: #999999;
    cursor: hand;
    cursor: pointer;
}
a img {
    border: none;
}
a:hover {
    text-decoration: none;
    color: #00B1C0;
}
a:focus {
    outline: none;
    color: #00B1C0;
    text-decoration: none;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
ul,
ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
table.list {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 20px;
}
table.list thead td {
    background-color: transparent;
    padding: 0px 5px;
}
table.list .center {
    text-align: center;
    padding: 7px;
}
table.list tbody td {
    padding: 0px 5px;
}
table.list td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.list .right {
    text-align: right;
    padding: 7px;
}
table.list .left {
    text-align: left;
    padding: 7px;
}
table.list thead td a,
.list thead td {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
input.large-field,
select.large-field {
    width: 300px;
}
table.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table.form > * > * > td {
    color: #000000;
}
table.form td {
    padding: 4px;
}
table.form tr td:first-child {
    width: 200px;
    text-align:right;
}
table.radio {
    width: 100%;
    border-collapse: collapse;
}
table.radio td {
    padding: 5px;
}
table.radio td label {
    display: block;
}
table.radio tr td:first-child {
    width: 1px;
}
table.radio tr td:first-child input {
    margin-top: 1px;
}
table.radio tr.highlight:hover td {
    background: #F1FFDD;
    cursor: pointer;
}
.pagination {
    border-top: 1px solid #ddd;
    padding-top: 8px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.pagination .links {
    float: left;
}
.pagination .links a,
.pagination .links b {
    border: 1px solid #ddd;
}
.pagination .links a {
    display: inline-block;
    border-left-width: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 12px;
    text-decoration: none;
    color: #A3A3A3;
}
.pagination .links a:hover {
    background-color: #00B1C0;
    color: #fff;
}
.pagination .links b {
    display: inline-block;
    border-left-width: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    background-color: #00B1C0;
}
.pagination .results {
    float: right;
    padding-top: 3px;
}
input.button {
    margin: 0;
    border: 0;
    height: 24px;
    padding: 0px 12px 0px 12px;
}
button.button,
a.button,
input.button {
    cursor: pointer;
    color: #555555;
    background: transparent;
    height: 32px;
    border: 1px solid #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
button.button .icon,
a.button .icon,
input.button .icon {
    color: #555555;
}
button.button:hover,
a.button:hover,
input.button:hover {
    color: #00B1C0;
    border: 1px solid #00B1C0;
}
button.button:hover i,
button.button:hover .icon,
a.button:hover i,
a.button:hover .icon,
input.button:hover i,
input.button:hover .icon {
    color: #00B1C0;
}
.form-control:focus {
    border-color:#00B1C0;
}
a.button {
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px 6px 12px;
    line-height: 16px;
}
.buttons {
    background: #FFFFFF;
    border: 1px solid #CCC;
    overflow: auto;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.buttons .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.buttons .right {
    float: right;
    text-align: right;
}
.buttons .left {
    float: left;
    text-align: left;
}
.htabs {
    height: 30px;
    line-height: 16px;
    border-bottom: 1px solid #ededed;
}
.htabs a {
    background: #FFFFFF;
    padding: 7px 15px 6px 15px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-decoration: none;
    color: #333333;
    margin-right: 2px;
    display: none;
}
.htabs a.selected {
    padding-bottom: 7px;
    background: #00B1C0;
    color: #FFFFFF;
}
.tab-content {
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    padding: 10px;
    margin-bottom: 20px;
    z-index: 2;
    color: #999999;
}
ul.links {
    position: relative;
    margin: 0;
    padding: 0;
}
ul.links li {
    display: inline-block !important;
    margin-left: 6px;
}
.carousel-control {
    cursor: pointer;
    line-height: 1em;
}
.carousel-control.left,
.carousel-control.right {
    background: none;
}
.required {
    color: #FF0000;
    font-weight: bold;
}
.success,
.warning,
.attention,
.information {
    padding: 10px 10px 10px 33px;
    margin-bottom: 15px;
    color: #555555;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.success .close,
.warning .close,
.attention .close,
.information .close {
    float: right;
    padding-top: 6px;
    padding-left: 4px;
    cursor: pointer;
}
.attention {
    background: url('/img</image/attention.png') 10px center no-repeat #FFF5CC;
    border: 1px solid #F2DD8C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.warning {
    background: url('/img/image/warning.png') 10px center no-repeat #FFD1D1;
    border: 1px solid #F8ACAC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.help {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    font-family: 14px;
    display: block;
}
.error {
    display: block;
    color: #FF0000;
}
.welcome {
    color: #636E75;
    font: 14px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 0 0 1px rgba(0,0,0,0.01);
}
.success {
    background: url('/img/image/success.png') 10px center no-repeat #EAF7D9;
    border: 1px solid #BBDF8D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
h1 {
    font-size: 24px;
    line-height: 34px;
    margin: 0px;
    font-weight:bold;
    font-family: "Montserrat", sans-serif;
}
h1 small {
    font-size: 21px;
}
h2 {
    font-size: 21px;
}
h2 small {
    font-size: 14px;
}
h3 {
    font-size: 17px;
    line-height: 34px;
}
h3 small {
    font-size: 16px;
}
h4 {
    font-size: 16px;
    line-height: 34px;
}
h4 small {
    font-size: 14px;
}
h5 {
    font-size: 15px;
    line-height: 34px;
}
h5 small {
    font-size: 12px;
}
h6 {
    font-size: 14px;
    line-height: 34px;
}
form {
    padding: 0;
    margin: 0;
    display: inline;
}
input[type='text'],
input[type='password'],
textarea {
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 10px;
    margin-left: 0px;
    margin-right: 0px;
}
#page {
    margin: 0 auto;
}
#page,
.header-wrap,
.wrap-logo,
#pav-mainnav,
#cart,
#header,
#topbar {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.hide-bar {
    margin-top: -72px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.hide-bar #header-main {
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}
.hide-bar #header-main .header-wrap {
    height: 66px;
}
.hide-bar #header-main .header-wrap .wrap-logo {
}
.hide-bar #header-main .header-wrap #pav-mainnav {
    padding: 0px;
}
.hide-bar #header-main .header-wrap #cart {
    margin-top: 10px;
    height: 56px;
}
.hide-bar #header-main .header-wrap #cart .content {
    top: 55px;
}
body.layout-boxed-md {
    background: url("/img/image/pattern/pattern14.png");
}
body.layout-boxed-md #page {
    max-width: 980px;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}
body.layout-boxed-md .hidden-md {
    display: none !important;
}
body.layout-boxed-md .col-md-6 {
    width: 50%;
}
body.layout-boxed-md #header-main .header-wrap .wrap-logo {
}
body.layout-boxed-lg {
    background: url("/img/image/pattern/pattern14.png");
}
body.layout-boxed-lg #page {
    max-width: 1180px;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}
#topbar {
    margin-bottom: 20px;
}
#topbar .topbar {
    color: black;
    font-size: 14px;
    background: #FFFFFF;
}
#topbar .topbar ul li {
    margin-left: 15px;
}
#topbar .topbar ul li a {
    font-size: 14px;
    color: #555555;
}
#topbar .topbar ul li span {
    margin-right: 5px;
}
#topbar .topbar ul li:hover a {
    color: #00B1C0;
}
#topbar .topbar ul li:first-child {
    margin-left: 15px;
}
#topbar .topbar .login,
#topbar .topbar .links {
    margin: 15px 0px;
}
#header-main {
    background: url("/img/image/default/fcenter.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    left: 0;
    right: 0;
    z-index: 99999;
}
#header-main .header-wrap {
    height: 86px;
}
#header-main .header-wrap .wrap-logo {
    padding: 10px 15px;
}
#header-main .inner {
    display: table;
    position: relative;
    height: 100%;
}
#header-main .inner > * {
    display: table-cell;
    vertical-align: middle;
}
#content {
    min-height: 400px;
    margin-bottom: 25px;
}
.sidebar  [class*="col-"] {
    width: 100%;
}
#footer {
    background: transparent;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 35px;
    color: #b5b5b5;
}
#footer:before,
#footer:after {
    content: " ";
    display: table;
}
#footer:after {
    clear: both;
}
#footer .footer-top .wrap-fcenter {
    background: url('/img/image/default/fcenter.png');
}
#footer .footer-center .wrap-fcenter {
    background: url('/img/image/default/fcenter.png');
    padding: 5px 20px 20px;
}
#footer h3 {
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 8px;
}
#powered {
    text-align: left;
    clear: both;
    color: #FFFFFF;
}
#powered .powered {
    background: url('/img/image/default/powered.png');
    padding: 10px 20px;
    overflow: hidden;
}
#powered .powered a {
    color: #00B1C0;
}
.banner div {
    text-align: center;
    width: 100%;
    display: none;
}
.banner div img {
    margin-bottom: 20px;
}
#breadcrumb .breadcrumb {
    padding: 15px;
    border-radius: 0;
    border-bottom: 1px dotted #999999;

}
#breadcrumb .breadcrumb li a {
    color: #222222;
}
#breadcrumb .breadcrumb li:last-child a {
    color: #999999;
}
#breadcrumb .breadcrumb li a:hover {
    color: #00B1C0;
}
.mini-access > ul {
    margin: 0px;
    padding: 0px;
}
.mini-access > ul > li {
    width: 35px;
    height: 35px;
    border: 1px solid #DDD;
    text-align: center;
    display: inline-block;
    margin: 5px 10px;
    position: relative;
}
.mini-access > ul > li > a {
    line-height: 35px;
    font-size: 20px;
    text-decoration: none;
}
.mini-access > ul > li:hover {
    border-color: #00B1C0;
}
.mini-access > ul > li:hover >a {
    color: #00B1C0;
}
.mini-access > ul > li .dropdown-menu {
    right: -10px;
    left: auto;
    padding: 6px 15px;
    border-top: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    height: 0;
    opacity: 0;
    display: none;
}
.mini-access > ul > li.open .dropdown-menu {
    height: auto;
    opacity: 1;
    display: block;
}
.mini-access > ul > li.search .dropdown-menu {
    width: 250px;
}
.box {
    margin-bottom: 20px;
}
.box .box-heading {
    border-bottom: 3px solid #eeeeee;
    padding: 0px 0px 9px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    color: #FFFFFF;
}
.box .box-heading span {
    background: #00B1C0;
    height: 36px;
    padding: 0px 10px;
    display: inline-block;
}
.box .box-content {
    color: #999999;
    padding: 10px 0 0;
}
.box .box-content ul {
    padding: 0;
    list-style: none;
}
.box .box-content ul li {
    border-bottom: 1px solid #eeeeee;
    padding: 8px 0px;
}
.box .box-content a {
    color: #999999;
}
.box .box-content a:hover {
    color: #00B1C0;
}
.box.pav-custom .box-content {
    padding: 0;
}
.box.productcarousel .box-heading {
    border-bottom: none;
    padding: 0;
    border-color: #00B1C0;
    border-style: solid;
    border-width: 0 0 0 5px;
}
.box.productcarousel .box-heading span {
    background: url('/img/image/default/fcenter.png') !important;
}
.box.productcarousel .box-content .product-block {
    background: #FFFFFF;
    overflow: hidden;
}
.box.productcarousel .box-content .product-block .name a {
    font-size: 24px;
}
.box.productcarousel .box-content .product-block .product-meta {
    padding: 8px 18px 20px;
}
.box.productcarousel.vertical .image {
    float: left;
    width: 47%;
    margin-right: 15px;
}
.box.productcarousel.orange .box-heading {
    border-color: #f89406;
}
.box.productcarousel.blue .box-heading {
    border-color: #049cdb;
}
.box.productcarousel.red .box-heading {
    border-color: #9d261d;
}
.box.productcarousel.yellow .box-heading {
    border-color: #ffd20e;
}
.box.productcarousel.pink .box-heading {
    border-color: #ea779e;
}
.box.productcarousel.purple .box-heading {
    border-color: #9f3f80;
}
.box.productcarousel.white .box-heading {
    border-color: #FFFFFF;
}
.box.productcarousel.black .box-heading {
    border-color: #000000;
}
.box.productcarousel.cyan .box-heading {
    border-color: #00B1C0;
}
.box.bloglatest {
    background: #FFFFFF;
}
.box.bloglatest .box-heading {
    padding: 0;
    border: none;
}
.box.bloglatest .box-content {
    padding: 18px;
}
.box.blue .box-heading span {
    background: #049cdb;
}
.box.bluedark .box-heading span {
    background: #0064cd;
}
.box.green .box-heading span {
    background: #46a546;
}
.box.red .box-heading span {
    background: #9d261d;
}
.box.yellow .box-heading span {
    background: #ffd20e;
}
.box.orange .box-heading span {
    background: #f89406;
}
.box.pink .box-heading span {
    background: #ea779e;
}
.box.black .box-heading span {
    background: #000000;
}
.box.purple .box-heading span {
    background: #9f3f80;
}
.box.white .box-heading span {
    background: #FFFFFF;
    color: #000000;
}
.box.cyan .box-heading span {
    background: #00B1C0;
}
.box.cusblock {
    margin: 0;
    background: #00B1C0;
}
.box.cusblock .box-content {
    padding: 0;
}
#pav-slideshow .box-content {
    padding: 0;
}
#footer .box .box-heading {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    position: relative;
    margin-bottom: 8px;
    padding: 12px 0px;
    line-height: 1.428571429;
}
#footer .box .box-heading:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: ".";
    text-indent: -9999em;
    background: #00B1C0;
}
#footer .box .box-heading span {
    background: transparent;
    padding: 0;
    height: auto;
}
#footer .box .box-heading h2 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.428571429;
    font-family: "Montserrat", sans-serif;
}
#footer .box .box-content {
    background: none;
    border: none;
}
#footer .box .box-content li {
    border: none;
    padding: 0px 0px 0 15px;
    margin-bottom: 9px;
    background: url('/img/image/default/flist-style.png') left center no-repeat;
}
#footer .box .box-content li a {
    text-decoration: none;
    color: #b5b5b5;
}
#footer .box .box-content li a i {
    margin-right: 3px;
    font-size: 12px;
}
#footer .box .box-content li a:hover {
    color: #FFFFFF;
}
#footer .column a {
    text-decoration: none;
    color: #b5b5b5;
}
#footer .column a i {
    font-size: 10px;
    margin-right: 3px;
}
#footer .column ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 0;
}
#footer .column ul li {
    margin-bottom: 9px;
}
#footer .column a:hover {
    color: #FFFFFF;
}
.rtl #footer .box .box-content li {
    background: url('/img/image/default/flist-style-rtl.png') right center no-repeat;
}
.language {
    line-height: 10px;
    border: 2px solid #eeeeee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 7px 5px 6px;
    margin: 10px 0px 10px 6px;
}
.language img {
    cursor: pointer;
    margin: 2px 3px 1px;
}
.currency {
    line-height: 10px;
    border: 2px solid #eeeeee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 7px 5px 6px;
    margin: 10px 0px 10px 6px;
}
.currency a {
    display: inline-block;
    padding: 2px 4px;
    text-decoration: none;
    cursor: pointer;
    color: #999999;
}
.currency a:hover {
    color: #00B1C0;
}
.currency a b {
    color: #00B1C0;
    text-decoration: none;
}
#header #cart {
    position: relative;
    top: 0px;
    right: 5px;
    z-index: 9997;
    min-width: 255px;
    margin-top: 11px;
}
#header #cart .content {
    clear: both;
    display: none;
    position: absolute;
    top: 66px;
    right: 0px;
    padding: 8px;
    min-height: 150px;
    min-width: 280px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 10px 12px rgba(0,0,0,0.176);
    box-shadow: 0 10px 12px rgba(0,0,0,0.176);
    background: #FFFFFF;
}
#header #cart > span.icon {
    float: left;
    text-align: center;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background-color: #3ABEC0;
    display: block;
    color: #FFFFFF;
    font-size: 22px;
}
#header #cart .heading {
    float: left;
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 14px;
    position: relative;
    z-index: 1;
}
#header #cart .heading a {
    text-decoration: none;
    color: white;
    line-height: 14px;
}
#header #cart .heading a span {
    background: url('/img/image/arrow-down.png') 100% 50% no-repeat transparent;
    padding-right: 15px;
}
#header #cart .heading h4, .heading {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    color: #3ABEC0;
    line-height: 20px;
}
#header #cart.active .content {
    display: block;
}
#header #cart .checkout {
    text-align: right;
    clear: both;
}
#header #cart .empty {
    padding-top: 50px;
    text-align: center;
}
.mini-cart-total {
    text-align: right;
}
.mini-cart-total td {
    color: #000;
    padding: 4px;
}
.mini-cart-total table {
    border-collapse: collapse;
    display: inline-block;
    margin-bottom: 5px;
}
.mini-cart-info .quantity {
    text-align: right;
}
.mini-cart-info .name {
    min-width: 100px;
}
.mini-cart-info .name small {
    color: #666;
}
.mini-cart-info td {
    color: #000;
    vertical-align: top;
    padding: 10px 5px;
    border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5px;
}
.mini-cart-info .image img {
    border: 1px solid #EEEEEE;
    text-align: left;
    width: 80px;
}
.mini-cart-info .remove {
    text-align: right;
}
.mini-cart-info .remove img {
    cursor: pointer;
}
.mini-cart-info td.total {
    text-align: right;
}
#search {
    background: #FFFFFF;
    margin: 10px 10px 10px 6px;
    border: 1px solid #808080;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 3px 1px;
    min-width: 253px;
}
#search input {
    border: none;
    background: none;
    with: 223px;
    text-align:left;
    color:black;
}
#search .icon-search {
    color: #999999;
}
#search .button-search {
    cursor: pointer;
    margin: 4px 2px 0 0;
}
.product-block {
    position: relative;
    margin-bottom: 20px;
}
.product-block .compare a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('/img/image/add.png') left center no-repeat;
}
.product-block .wishlist a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('/img/image/add.png') left center no-repeat;
}
.product-block a:hover {
    color: #00B1C0;
}
.product-block .price-old {
    color: #999999;
    text-decoration: line-through;
    font-weight: normal;
    font-size: 14px;
}
.product-block .rating {
    display: block;
    margin-bottom: 4px;
}
.product-block .cart {
    margin-bottom: 3px;
}
.product-block .price-new {
    font-weight: bold;
}
.product-block .name {
    margin: 0;
}
.product-block .name a {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    height: 30px;
    overflow: hidden;
}
.product-block .name a:hover {
    color: #00B1C0;
}
.product-block .description {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.product-block .image {
    display: block;
    margin-bottom: 0px;
    position: relative;
    text-align: center;
}
.product-block .image .product-label-special {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #D9534F;
    z-index: 999;
    width: 61px;
    height: 61px;
    line-height: 50px;
    text-align: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 41px;
    border: 3px solid #fff;
}
.product-block .image .product-zoom {
    position: absolute;
    bottom: 6px;
    right: 6px;
    z-index: 9999;
    width: 0px;
    background: #fff;
    font-size: 20px;
    border: 1px solid #555555;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
}
.product-block .image:hover .product-zoom {
    opacity: 1;
    width: 34px;
}
.product-block .image:after {
    content: ".";
    display: block;
    width: 0;
    height: 0;
    text-indent: -9999em;
    position: absolute;
    bottom: 0;
    left: 46%;
    border-left: 9px solid transparent;
    border-bottom: 8px solid #fff;
    border-right: 9px solid transparent;
    z-index: 9999;
}
.product-block .image.swap .image_container {
    display: block;
    position: relative;
    width: 100%;
}
.product-block .image.swap .image_container img {
    width: 100%;
    height: 100%;
    display: block;
}
.product-block .image.swap .image_container .front {
    backface-visibility: hidden;
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: all 600ms ease-in-out 0s;
    transition: all 600ms ease-in-out 0s;
    transform-style: preserve-3d;
}
.product-block .image.swap .image_container .back {
    backface-visibility: hidden;
    top: 0;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms ease-in-out 0s;
    transition: all 600ms ease-in-out 0s;
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    left: 0;
    width: 100%;
    height: auto;
    visibility: hidden;
    opacity: 0;
}
.product-block .image.swap:hover .image_container .front {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.product-block .image.swap:hover .image_container .back {
    position: absolute;
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 10;
    visibility: visible;
    opacity: 1;
}
.product-block .image.swap .img-overlay {
    display: none;
}
.product-block .price {
    display: block;
    font-weight: bold;
    color: #ea779e;
    margin: 8px 0 16px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}
.product-block .price .price-tax {
    display: none;
}
.product-block .pav-colorbox {
    background: #FFFFFF;
    padding: 0 3px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    line-height: 33px;
    overflow: auto;
    display: block !important;
    z-index: 10;
    color: #000000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    width: 120px;
    height: 33px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 0.4s ease-in 0.2s, opacity 0.4s ease-in-out 0s;
    transition: transform 0.4s ease-in 0.2s, opacity 0.4s ease-in-out 0s;
    position: absolute;
    display: none;
}
.product-block .pav-colorbox span {
    margin-right: 6px;
}
.product-block .pav-colorbox .icon-eye {
    margin: 0 5px 0 0;
}
.product-block:hover .pav-colorbox {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.sidebar .box .box-heading span {
    background: #00B1C0;
}
.sidebar .product-block {
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}
.sidebar .product-block .image {
    float: left;
    margin-right: 12px;
    width: 40%;
}
.sidebar .product-block .image .label {
    display: none;
}
.sidebar .product-block .image:after {
    display: none;
}
.sidebar .product-block .name {
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}
.sidebar .product-block .name a {
    font-size: 18px !important;
}
.sidebar .product-block .cart {
    display: none;
}
.sidebar .product-block .wishlist,
.sidebar .product-block .compare {
    display: none;
}
.vertical .product-block .image:after,
.product-list .product-block .image:after {
    bottom: 45%;
    left: auto;
    right: 0;
    border-top: 9px solid transparent;
    border-right: 8px solid #fff;
    border-bottom: 9px solid transparent;
}
.vertical .product-block .price,
.product-list .product-block .price {
    margin: 6px 0;
}
ul.box-category,
ul.box-category ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.box ul.box-category > li {
    padding: 8px 8px 8px 0px;
}
.box ul.box-category > li ul {
    display: none;
}
.box ul.box-category > li ul li {
    padding: 5px 5px 0px 22px;
    border: none;
}
.box ul.box-category > li ul li > a {
    text-decoration: none;
}
.box ul.box-category > li ul li > a.active {
    font-weight: bold;
}
.box ul.box-category > li > a {
    text-decoration: none;
    color: #999999;
}
.box ul.box-category > li > a > i {
    font-size: 10px;
    margin: 0px 6px;
}
.box ul.box-category > li a.active + ul {
    display: block;
}
.box ul.box-category > li .head a {
    font-size: 8px;
}
.box ul.box-category li a {
    color: #999999;
}
.box ul.box-category li a:hover {
    color: #00B1C0;
}
ul.box-filter,
ul.box-filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.box-filter > li ul {
    padding-bottom: 10px;
}
ul.box-filter span {
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 8px;
}
#colorbox *:before,
#colorbox *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.zoomContainer .zoomLens {
    border-color: #999999 !important;
}
.zoomContainer .zoomWindow {
    border: 4px solid #eeeeee !important;
    display: none;
}
.quickaccess {
    padding: 0 12px;
    color: #fff;
}
.quickaccess > div {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #72d3d4;
}
.quickaccess > div:last-child {
    border: none;
}
.quickaccess .icon {
    font-size: 36px;
    float: left;
    margin: 25px 0 25px 15px;
}
.quickaccess h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin: 25px 0 0px !important;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 15px;
}
.quickaccess p {
    font-style: italic;
    margin-bottom: 25px;
}
.vertical .item .box-product:last-child .product-block {
    margin: 0 !important;
}
.horizontal .item .box-product .product-block {
    margin: 0;
}
#content .productcarousel {
    margin: 0;
}
.pav-blogs a:hover,
.pav-blogs .blog-title a:hover,
.pavcontentslider .pav-caption.title,
.pavblog-latest .blog-item .blog-title a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.pav-megamenu .mega-group > .dropdown-toggle {
    color: #00B1C0;
}
.box.productcarousel .carousel-controls a.carousel-control,
#related .carousel-controls a.carousel-control {
    background-image: url('/img/image/default/carousel_control.png');
    background-color: #a44688;
    border-radius: 50%;
    width: 30px;
}
.newsletter_block .title_block {
    font-family: "Montserrat", sans-serif;
    text-align: right;
}
.newsletter_block .block_content {
    position: relative;
}
.newsletter_block .block_content .wrap-input {
    padding: 5px;
    float: left;
    position: relative;
}
.newsletter_block .block_content .wrap-input .inputNew {
    font-size: 12px;
    color: #a0a0a0;
    border: none;
    width: 250px;
    background: #FFFFFF;
    padding: 5px;
}
.newsletter_block .block_content .wrap-input i {
    color: #00B1C0;
    bottom: 3px;
    display: inline-block;
    font-size: 12px;
    line-height: 34px;
    margin: 0 8px;
    position: absolute;
    right: 0;
}
.newsletter_block .block_content .wrap-input .button_mini {
    background-color: rgba(0,0,0,0);
    border: 0 none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    bottom: 1px;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 1px;
    text-indent: -5000px;
    width: 32px;
}
#footer .box .box-content .social li {
    background: none;
    float: left;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border: 2px solid #B5B5B5;
    padding: 0px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    margin: 0 8px 0 0;
}
#footer .box .box-content .social li a i {
    margin: 0 0 0 5px;
    font-size: 16px;
}
#footer .box .box-content .social li:hover {
    border-color: #00B1C0;
    background: #00B1C0;
}
#footer .box .box-content .social li:hover a {
    color: #FFFFFF;
}
.wrap-contact {
    margin-top: 20px;
}
.wrap-contact .wrapform,
.wrap-contact .contact-customhtml,
.wrap-contact .contact-info {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}
.wrap-contact .wrapform h2,
.wrap-contact .wrapform b,
.wrap-contact .contact-customhtml h2,
.wrap-contact .contact-customhtml b,
.wrap-contact .contact-info h2,
.wrap-contact .contact-info b {
    color: #000;
}
#page-quickview {
    background: #fff;
    padding: 32px 0;
}
.wrap-container {
    background: #FFFFFF;
    padding: 0 15px;
}
.page-home .wrap-container,
.page-common-home .wrap-container {
    padding: 0;
    background: transparent;
}
.category-list {
    margin-bottom: 20px;
}
.category-list ul {
    float: left;
}
.category-info {
    margin-bottom: 18px;
}
.category-info .image {
    margin-bottom: 12px;
}
.category-info p {
    margin: 0px;
}
.refine {
    margin-bottom: 20px;
}
.refine h4 {
    margin: 0px;
    border-bottom: 2px solid #eeeeee;
    padding: 0px 10px;
}
.refine .category-list {
    padding: 10px;
    margin: 0px;
}
.refine .category-list ul {
    float: none;
    padding: 0;
    margin: 0;
    list-style: none;
}
.refine .category-list ul li {
    float: left;
    width: 30%;
}
.refine .category-list ul li a {
    color: #999999;
}
.refine .category-list ul li a:hover {
    color: #00B1C0;
}
.manufacturer-heading {
    background: #F8F8F8;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 8px;
    margin-bottom: 6px;
}
.manufacturer-list {
    border: 1px solid #DBDEE1;
    padding: 5px;
    margin-bottom: 20px;
}
.manufacturer-list ul {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}
.manufacturer-content {
    padding: 8px;
    overflow: auto;
}
.product-filter {
    border-bottom: 1px solid #ededed;
    border-top: 3px solid #ededed;
    padding: 3px 0px;
    line-height: 30px;
    margin-bottom: 18px;
}
.product-filter .sort {
    float: right;
    color: #a0a0a0;
}
.product-filter .limit {
    margin-left: 15px;
    float: right;
    color: #a0a0a0;
}
.product-filter .display {
    margin-right: 15px;
    float: left;
    color: #a0a0a0;
}
.product-filter .display a {
    color: #dbdbdb;
    border: 1px solid #dbdbdb;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    margin: 0px 3px;
}
.product-filter .display a > em {
    display: none;
}
.product-filter .display a.active {
    color: #000;
}
.product-filter select {
    padding: 4px;
    border: 1px solid #dbdbdb;
}
.product-compare {
    float: right;
    line-height: 26px;
    padding: 0px 10px;
    background: #00B1C0;
    border: 2px solid #288485;
    margin-left: 8px;
}
.product-compare a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}
.product-list .col-fullwidth {
    width: 100%;
}
.product-list .product-block {
    overflow: hidden;
}
.product-list .wishlist-compare {
    margin-top: 10px;
}
.product-list .price-old {
    color: #999999;
    text-decoration: line-through;
    margin-right: 10px;
}
.product-list .rating {
    color: #7B7B7B;
}
.product-list .cart {
    margin-bottom: 3px;
}
.product-list .price-tax {
    font-size: 12px;
    font-weight: normal;
    color: #BBBBBB;
}
.product-list .price-new {
    font-weight: bold;
}
.product-list .name {
    margin-bottom: 3px;
}
.product-list .name a {
    font-weight: normal;
    text-decoration: none;
}
.product-list .image {
    float: left;
    margin-right: 10px;
    width: 200px;
}
.product-list .price {
    float: left;
    margin: 3px 20px 0px 0;
    text-align: left;
    color: #ea779e;
    font-size: 18px;
}
.product-list .description {
    line-height: 18px;
    margin-bottom: 10px;
    color: #999999;
}
.product-list .right {
    float: right;
    margin-left: 15px;
}
.product-list > div {
    margin-bottom: 15px;
}
.product-list > div + div {
    border-top: 1px solid #EEEEEE;
    padding-top: 16px;
}
.product-list .wishlist,
.product-list .compare {
    margin-bottom: 3px;
    margin-right: 10px;
    color: #555555;
}
.product-related,
.product-grid {
    position: relative;
}
.product-related .description,
.product-grid .description {
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    color: #999999;
}
.product-related .wishlist-compare,
.product-grid .wishlist-compare {
    display: none;
}
.product-related .carousel-controls {
    height: 30px;
    position: absolute;
    right: 0;
    top: -65px;
    width: 66px;
    z-index: 11;
}
.product-related .carousel-controls a.left {
    background-position: left top;
    left: 0;
}
.product-related .carousel-controls a.right {
    background-position: -30px top;
    right: 0;
}
.products-block.carousel-inner {
    margin-top: 10px;
}
.product-grid .wishlist,
.product-grid .compare {
    margin-bottom: 3px;
    display: block;
}
.zoomContainer {
    z-index: 999;
}
.product-info {
    margin-bottom: 20px;
}
.product-info .price-old {
    color: #999999;
    text-decoration: line-through;
    font-weight: normal;
    font-size: 18px;
}
.product-info .cart {
    border-bottom: 1px solid #E7E7E7;
    padding: 0px 5px 10px 5px;
    margin-bottom: 20px;
    color: #4D4D4D;
}
.product-info .cart .minimum {
    padding-top: 5px;
    font-size: 11px;
    color: #999;
}
.product-info .cart .links {
    display: inline-block;
    vertical-align: middle;
}
.product-info .cart div > span {
    color: #999;
}
.product-info .price-tax {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.product-info > .left {
    float: left;
    margin-right: 15px;
}
.product-info > .left + .right {
    margin-left: 265px;
}
.product-info .image {
    position: relative;
    margin-bottom: 4px;
}
.product-info .image .product-label-special {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #D9534F;
    z-index: 50;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    border: 3px solid #fff;
}
.product-info .price {
    padding: 0px 5px 10px 5px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #ea779e;
    font-family: "Montserrat", sans-serif;
}
.product-info .price .reward {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.product-info .price .discount {
    font-weight: normal;
    font-size: 12px;
    color: #4D4D4D;
}
.product-info .description {
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
    line-height: 20px;rr
    color: #4D4D4D;
}
.product-info .description a {
    text-decoration: none;
}
.product-info .description span {
    font-weight: bold;
}
.product-info .image-additional {
    margin: 0 -1%;
    clear: both;
    overflow: hidden;
}
.product-info .image-additional a {
    float: left;
    display: block;
    width: 23%;
    margin: 0 1%;
}
.product-info .image-additional a img {
    max-width: 100% !important;
}
.product-info .image-additional .carousel-control {
    height: 30px;
    line-height: 20px;
    width: 30px !important;
    top: 35px;
}
.product-info .option-image {
    margin-top: 3px;
    margin-bottom: 10px;
}
.product-info .option-image label {
    display: block;
    width: 100%;
    height: 100%;
}
.product-info .option-image img {
    margin-right: 5px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}
.product-info .options {
    border-bottom: 1px solid #ededed;
    padding: 0px 5px 10px 5px;
    margin-bottom: 10px;
    color: #000000;
}
.product-info .review {
    color: #4D4D4D;
    margin-bottom: 10px;
}
.product-info .review .share {
    line-height: normal;
}
.product-info .review .share a {
    text-decoration: none;
}
.product-info .review > div {
    padding: 8px 0;
    line-height: 20px;
}
.product-info .review > div > span {
    color: #38B0E3;
}
.product-info .quantity-adder {
    margin-top: 3px;
}
.product-info .quantity-adder input {
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: none;
}
.product-info .quantity-adder .add-action {
    cursor: pointer;
}
.product-info .quantity-adder .wrap-qty {
    border: 1px solid #eeeeee;
    margin-left: 10px;
    display: inline-block;
}
.product-info .quantity-adder .wrap-qty span {
    padding: 2px 5px;
}
.product-info .quantity-adder .wrap-qty span.add-down {
    border-right: 1px solid #eeeeee;
}
.product-info .quantity-adder .wrap-qty span.add-up {
    border-left: 1px solid #eeeeee;
}
.product-info button.button {
    background: #00B1C0;
    border: 2px solid #288485;
    color: #FFFFFF;
}
.product-info button.button .icon {
    color: #FFFFFF;
}
.product-info .compare-wish {
    margin: 6px 0;
}
.product-info .compare-wish a {
    margin-right: 10px;
    color: #555555;
}
.product-info .compare-wish a:hover {
    color: #00B1C0;
}
.review-list {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #EEEEEE;
}
.review-list .rating {
    float: right;
    margin-bottom: 20px;
}
.review-list .author {
    float: left;
    margin-bottom: 20px;
}
.review-list .text {
    clear: both;
}
.attribute thead td,
.attribute thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #F7F7F7;
    text-align: left;
}
.attribute {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 20px;
}
.attribute td {
    padding: 7px;
    color: #4D4D4D;
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.attribute tr td:first-child {
    color: #000000;
    font-weight: bold;
    text-align: right;
    width: 20%;
}
.compare-info {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 20px;
}
.compare-info .price-old {
    font-weight: bold;
    color: #999999;
    text-decoration: line-through;
}
.compare-info .price-new {
    font-weight: bold;
}
.compare-info .name a {
    font-weight: bold;
}
.compare-info td {
    padding: 7px;
    width: 20%;
    color: #4D4D4D;
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.compare-info tr td:first-child {
    color: #ddd;
    font-weight: bold;
    text-align: right;
}
.compare-info thead td,
.compare-info thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #F7F7F7;
    text-align: left;
}
.wishlist-info tbody .quantity,
.wishlist-info tbody .price,
.wishlist-info tbody .total,
.wishlist-info tbody .action {
    text-align: right;
}
.wishlist-info thead .name,
.wishlist-info thead .model,
.wishlist-info thead .stock {
    text-align: left;
}
.wishlist-info thead .quantity,
.wishlist-info thead .price,
.wishlist-info thead .total,
.wishlist-info thead .action {
    text-align: right;
}
.wishlist-info tbody .name,
.wishlist-info tbody .model,
.wishlist-info tbody .stock {
    text-align: left;
}
.wishlist-info thead td {
    color: #4D4D4D;
    font-weight: bold;
    background-color: #F7F7F7;
    border-bottom: 1px solid #ddd;
}
.wishlist-info thead .image {
    text-align: center;
}
.wishlist-info tbody td {
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}
.wishlist-info tbody .action img {
    cursor: pointer;
}
.wishlist-info tbody .image {
    text-align: center;
}
.wishlist-info tbody .image img {
    border: 1px solid #ddd;
}
.wishlist-info tbody .price s {
    color: #F00;
}
.wishlist-info td {
    padding: 7px;
}
.wishlist-info table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 20px;
}
.order-list {
    margin-bottom: 10px;
}
.order-list .order-status {
    width: 49%;
    float: right;
    text-align: right;
    margin-bottom: 2px;
}
.order-list .order-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
    float: left;
    width: 33.3%;
}
.order-list .order-info {
    text-align: right;
}
.order-list .order-id {
    width: 49%;
    float: left;
    margin-bottom: 2px;
}
.order-detail {
    background: #EFEFEF;
    font-weight: bold;
}
.return-list {
    margin-bottom: 10px;
}
.return-list .return-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
    float: left;
    width: 33.3%;
}
.return-list .return-id {
    width: 49%;
    float: left;
    margin-bottom: 2px;
}
.return-list .return-status {
    width: 49%;
    float: right;
    text-align: right;
    margin-bottom: 2px;
}
.return-list .return-info {
    text-align: right;
}
.return-product {
    margin-bottom: 20px;
    clear: both;
    overflow: auto;
}
.return-name {
    float: left;
    width: 31%;
    margin-right: 15px;
}
.return-model {
    float: left;
    width: 31%;
    margin-right: 15px;
}
.return-quantity {
    float: left;
    width: 31%;
}
.return-detail {
    overflow: auto;
    margin-bottom: 20px;
}
.return-reason {
    float: left;
    width: 31%;
    margin-right: 15px;
}
.return-opened {
    float: left;
    width: 31%;
    margin-right: 15px;
}
.return-opened textarea {
    width: 98%;
    vertical-align: top;
}
.return-captcha {
    float: left;
}
.download-list {
    margin-bottom: 10px;
}
.download-list .download-status {
    width: 49%;
    float: right;
    text-align: right;
    margin-bottom: 2px;
}
.download-list .download-id {
    width: 49%;
    float: left;
    margin-bottom: 2px;
}
.download-list .download-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
    float: left;
    width: 33.3%;
}
.download-list .download-info {
    text-align: right;
}
.cart-module > div {
    display: none;
}
.cart-info tbody .name,
.cart-info tbody .model,
.cart-info tbody .quantity {
    text-align: left;
}
.cart-info thead .name,
.cart-info thead .model,
.cart-info thead .quantity {
    text-align: left;
}
.cart-info tbody .quantity input[type='image'],
.cart-info tbody .quantity img {
    position: relative;
    top: 4px;
    cursor: pointer;
}
.cart-info tbody .price,
.cart-info tbody .total {
    text-align: left;
}
.cart-info thead td {
    color: #4D4D4D;
    font-weight: bold;
    background-color: #F7F7F7;
    border-bottom: 1px solid #ddd;
}
.cart-info thead .image {
    text-align: left;
}
.cart-info tbody td {
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}
.cart-info tbody .image {
    text-align: left;
}
.cart-info tbody .image img {
}
.cart-info tbody span.stock {
    color: #F00;
    font-weight: bold;
}
.cart-info td {
    padding: 7px;
}
.cart-info table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.cart-total {
    border-top: 1px solid #ddd;
    overflow: auto;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.cart-total td {
    padding: 3px;
    text-align: left;
}
.cart-total table {
    float: right;
    margin-right:25px;
}
.cart-info thead .price,
.cart-info thead .total {
    text-align: left;
}
.checkout-heading {
    background: #eeeeee;
    border: 1px solid #eeeeee;
    padding: 8px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 15px;
}
.checkout-heading a {
    float: right;
    margin-top: 1px;
    font-weight: normal;
    text-decoration: none;
}
.checkout-content {
    padding: 0px 0px 15px 0px;
    display: none;
}
.checkout-content .buttons {
    clear: both;
}
.checkout-product tbody .name,
.checkout-product tbody .model {
    text-align: left;
}
.checkout-product thead .name,
.checkout-product thead .model {
    text-align: left;
}
.checkout-product thead td {
    color: #4D4D4D;
    font-weight: bold;
    background-color: #F7F7F7;
    border-bottom: 1px solid #ddd;
}
.checkout-product tfoot td {
    text-align: right;
    border-bottom: 1px solid #ddd;
}
.checkout-product tbody td {
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}
.checkout-product td {
    padding: 7px;
}
.checkout-product table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 20px;
}
.checkout-product tbody .quantity,
.checkout-product tbody .price,
.checkout-product tbody .total {
    text-align: right;
}
.checkout-product thead .quantity,
.checkout-product thead .price,
.checkout-product thead .total {
    text-align: right;
}
.sitemap-info {
    overflow: auto;
    margin-bottom: 40px;
}
.contact-info {
    overflow: auto;
}
#content > .search select,
#content > .search input[type="text"] {
    margin-bottom: 10px;
}
#pav-mainnav .navbar-inverse {
    background-color: transparent;
}
#pav-mainnav .navbar {
    border-top: none;
    border-bottom: none;
    border-color: none;
}
#pav-mainnav .navbar .navbar-nav > li > a {
    font-family: "Montserrat", sans-serif;
}
#pav-mainnav .navbar .navbar-nav > li > .dropdown-menu {
    border: none;
    -webkit-box-shadow: 0 10px 12px rgba(0,0,0,0.176);
    box-shadow: 0 10px 12px rgba(0,0,0,0.176);
}
#pav-mainnav .navbar .navbar-nav .dropdown a:hover,
#pav-mainnav .navbar .navbar-nav .dropdown a:focus {
    background: none;
    color: #00B1C0;
}
#pav-mainnav .navbar .navbar-nav .dropdown a:hover .caret,
#pav-mainnav .navbar .navbar-nav .dropdown a:focus .caret {
    border-top-color: #00B1C0;
    border-bottom-color: #00B1C0;
}
#pav-mainnav .navbar .navbar-nav > .open > a:hover,
#pav-mainnav .navbar .navbar-nav > .open > a:focus {
    color: #00B1C0;
}
#pav-mainnav .navbar .navbar-nav > .open > a:hover .caret,
#pav-mainnav .navbar .navbar-nav > .open > a:focus .caret {
    border-top-color: #00B1C0;
    border-bottom-color: #00B1C0;
}
#pav-mainnav .navbar .dropdown-menu {
    border-top: none;
}
#pav-mainnav .navbar .dropdown:hover > .dropdown-menu {
    display: block;
}
#pav-mainnav .navbar .dropdown:hover > a {
    color: #00B1C0;
}
#pav-mainnav .navbar .dropdown:hover > a .caret {
    border-top-color: #00B1C0;
    border-bottom-color: #00B1C0;
}
#mainmenutop .navbar-toggle {
    float: left;
}
#menu-offcanvas .menu-offcanvas-inner {
    padding: 12px;
}
#menu-offcanvas .dropdown .dropdown-menu {
    display: block;
    position: relative;
    float: none;
}
html,
body,
.offcanvas-container,
.offcanvas-pusher,
.offcanvas-content {
    min-height: 100%;
}
.offcanvas-content {
    overflow-y: scroll;
    background: #f3efe0;
}
.offcanvas-content,
.offcanvas-content-inner {
    position: relative;
}
.offcanvas-container {
    position: relative;
}
.offcanvas-pusher {
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.offcanvas-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.offcanvas-menu-open .offcanvas-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 9999;
}
.offcanvas-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: #FFFFFF;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: 000;
}
.offcanvas-menu li {
    list-style: none;
}
.offcanvas-menu .dropdown-menu {
    max-width: 100%;
    background: none;
    box-shadow: none;
    border: none;
    margin-top: 0;
    padding-top: 0px;
}
.offcanvas-menu .dropdown-menu .mega-col {
    min-width: 90%;
}
.offcanvas-menu .caret {
    border-top-color: 000;
    border-bottom-color: 000;
}
.offcanvas-menu ul ul {
    margin-left: 10px;
}
.offcanvas-menu h3 {
    margin: 0;
}
.offcanvas-menu ul.megamenu > li >a {
    font-weight: bold;
}
.offcanvas-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.offcanvas-menu-open .offcanvas-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.offcanvas-menu ul {
    margin: 0;
    padding: 0;
    lioffcanvas-style: none;
}
.offcanvas-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 2em;
}
.offcanvas-menu ul li a {
    display: block;
    padding: 0.5em;
    outline: none;
    border-bottom: 1px solid #eeeeee;
    color: 000;
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
.offcanvas-menu ul li:firoffcanvas-child a {
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}
.offcanvas-menu ul li a:hover {
    color: #00B1C0;
}
.offcanvas-effect-1.offcanvas-menu {
    visibility: visible;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.offcanvas-effect-1.offcanvas-menu-open .offcanvas-effect-1.offcanvas-menu {
    visibility: visible;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.offcanvas-effect-1.offcanvas-menu::after {
    display: none;
}
.offcanvas-effect-2.offcanvas-menu-open .offcanvas-pusher {
    -webkit-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);
}
.offcanvas-effect-2.offcanvas-menu {
    z-index: 1;
}
.offcanvas-effect-2.offcanvas-menu-open .offcanvas-effect-2.offcanvas-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.offcanvas-effect-2.offcanvas-menu::after {
    display: none;
}
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-pusher {
    -webkit-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);
}
.offcanvas-effect-3.offcanvas-menu {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-effect-3.offcanvas-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transform: translate3d(0px,0px,0px);
}
.offcanvas-effect-3.offcanvas-menu::after {
    display: none;
}
.offcanvas-effect-5.offcanvas-menu-open .offcanvas-pusher {
    -webkit-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);
}
.offcanvas-effect-5.offcanvas-menu {
    z-index: 1;
    -webkit-transform: translate3d(50%,0,0);
    transform: translate3d(50%,0,0);
}
.offcanvas-effect-5.offcanvas-menu-open .offcanvas-effect-5.offcanvas-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.navbar-inverse .navbar-toggle {
    float: none;
    width: 45px;
    height: 35px;
    background-color: #00B1C0;
    border-color: #288485;
    margin-left: 10px;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #2e9799;
    border-color: #227072;
}
.offcanvas-sidebars-buttons {
    overflow: hidden;
    margin-bottom: 10px;
}
@media (max-width: 990px) {
    #mainmenutop .navbar-nav {
        display: none;
    }
    .offcanvas-siderbars {
        position: relative;
    }
    .offcanvas-siderbars .offcanvas-sidebar {
        display: none;
        width: 100%;
    }
    .offcanvas-siderbars.column-left-active #oc-column-left {
        display: block;
    }
    .offcanvas-siderbars.column-right-active #oc-column-right {
        display: block;
    }
    .offcanvas-siderbars.column-left-active .main-column {
        display: none;
    }
    .offcanvas-siderbars.column-right-active .main-column {
        display: none;
    }
}
.button-close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    z-index: 99999;
}
.button-close-menu:hover {
    color: #00B1C0;
}
.quantity a img {
    top: 0px !important;
}
.pattern1 {
    background-image: url('/img/image/pattern/pattern1.png');
}
.pattern2 {
    background-image: url('/img/image/pattern/pattern2.png');
}
.pattern3 {
    background-image: url('/img/image/pattern/pattern3.png');
}
.pattern4 {
    background-image: url('/img/image/pattern/pattern4.png');
}
.pattern5 {
    background-image: url('/img/image/pattern/pattern5.png');
}
.pattern6 {
    background-image: url('/img/image/pattern/pattern6.png');
}
.pattern7 {
    background-image: url('/img/image/pattern/pattern7.png');
}
.pattern8 {
    background-image: url('/img/image/pattern/pattern8.png');
}
.pattern9 {
    background-image: url('/img/image/pattern/pattern9.png');
}
.pattern10 {
    background-image: url('/img/image/pattern/pattern10.png');
}
.pattern11 {
    background-image: url('/img/image/pattern/pattern11.png');
}
.pattern12 {
    background-image: url('/img/image/pattern/pattern12.png');
}
.pattern13 {
    background-image: url('/img/image/pattern/pattern13.png');
}
.pattern14 {
    background-image: url('/img/image/pattern/pattern14.png');
}
.pattern15 {
    background-image: url('/img/image/pattern/pattern15.png');
}
.pattern16 {
    background-image: url('/img/image/pattern/pattern16.png');
}
@media only screen and (min-width: 980px) {
    #menu-offcanvas {
        display: none;
    }
}
@media only screen and (max-width: 1199px) {
    #header-main .header-wrap .wrap-logo {
    }
    #header-main .header-wrap .wrap-menu .nav > li > a {
        padding: 22px 10px;
    }
    .box.productcarousel.vertical .box-content .product-block {
        margin-bottom: 16px;
    }
    .box.productcarousel.vertical .box-content .image {
        width: 52%;
    }
    .box.productcarousel.vertical .box-content .product-meta {
        padding: 5px 18px 8px;
    }
    .product-block .price {
        margin-bottom: 21px;
    }
    .carousel.pavtestimonial {
        padding: 4px 12px;
    }
    .pav-caption {
        display: none;
    }
    #pav-slideshow .pavcontentslider .carousel-indicators {
        bottom: 10px;
        right: 10px;
        left: auto;
        width: auto;
    }
    #image-additional {
        margin: 0 -5px;
    }
    #image-additional .carousel-inner .item img {
        max-width: 79px !important;
    }
}
@media only screen and (max-width: 990px) {
    #header-main .header-wrap .wrap-logo {
        display: inline-block;
        float: none !important;
        width: auto;
    }
    #header-main .header-wrap #pav-mainnav {
        border-left: none;
    }
    .box.productcarousel .product-block .description {
        display: none;
    }
    .pavtestimonial .testimonial > div {
        height: 90px;
    }
    .quickaccess > div {
        border-right: none;
        border-bottom: 1px solid #72d3d4;
    }
    .quickaccess .icon {
        margin: 0;
    }
    .product-block .image .product-zoom {
        display: none !important;
    }
    #image-additional {
        margin: 0 -8px;
    }
    #image-additional .carousel-inner .item img {
        max-width: 81px !important;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-inverse .navbar-toggle {
        display: block;
    }
    .zoomContainer {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
    }
    #page {
        padding-top: 0 !important;
    }
    #header-main {
        -webkit-box-shadow: 0 0 5px #888;
        box-shadow: 0 0 5px #888;
    }
    #header-main .header-wrap {
        height: 66px;
    }
    #header-main .header-wrap .wrap-logo {
        padding: 0px;
    }
    #header-main .header-wrap #pav-mainnav {
        padding: 0px;
    }
    #header-main .header-wrap #cart {
        margin-top: 10px;
        height: 56px;
    }
    #header-main .header-wrap #cart .content {
        top: 55px;
    }
    #topbar {
        margin-bottom: 0px;
        position: fixed;
        top: -54px;
        right: 0;
        background: #FFFFFF;
        z-index: -9;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.15);
        box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    }
    #topbar #search {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #topbar #search input {
        width: 250px;
    }
    #topbar.topshow {
        top: 0px;
        z-index: 99999;
    }
    #header-main .header-wrap .wrap-logo {
        display: block;
        margin: 0px;
        border-left: none;
        text-align: center;
    }
    #header-main .header-wrap .wrap-logo a {
        display: inline-block;
        font-size:18px;
        margin-top:10px;
    }
    #header-main .header-wrap .cart-top {
        border: none;
    }
    .navbar {
        min-height: 30px;
        margin-top:10px;
    }
    .navbar .navbar-inverse .navbar-toggle {
        margin: 5px 10px;
    }
    .product-filter .sort {
        float: left;
    }
    .product-filter .display {
        display: none;
    }
    .product-info .image-container {
        margin-bottom: 20px;
    }
    .box.productcarousel.box-product .box-content .product-block {
        margin-bottom: 20px;
    }
    .box.productcarousel.box-product .box-content .product-block .image {
        width: 48%;
        float: left;
        margin-right: 10px;
    }
    .box.productcarousel.box-product .box-content .product-block .image:after {
        bottom: 40%;
        left: auto;
        right: 0;
        border-top: 9px solid transparent;
        border-right: 8px solid #fff;
        border-bottom: 9px solid transparent;
    }
    .box.productcarousel.box-product .box-content .product-block .product-meta {
        padding-bottom: 0px;
    }
    .box.productcarousel.box-product .box-content .product-block .product-meta .description {
        display: block;
    }
    .pavtestimonial {
        margin-bottom: 20px;
    }
    .zoomContainer {
        display: none;
    }
    .newsletter_block .title_block {
        text-align: center;
    }
    .newsletter_block .block_content .wrap-input {
        width: 250px;
        margin: 0 auto;
    }
    .blog-meta ul {
        text-align: left;
    }
    table.compare-info td,
    table.compare-info th,
    table.pav-checkout-product td,
    table.pav-checkout-product th,
    table.pav-shop-cart td,
    table.pav-shop-cart th {
        border-right: 0 none;
        display: block !important;
        float: none !important;
        text-align: left !important;
        width: auto !important;
    }
    table.pav-shop-cart tr td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
        width: 50%;
    }
    table.pav-shop-cart tr td {
        text-align: right;
        display: block;
        min-height: 20px;
        border-left: none;
        background: none;
    }
    .product-block .image .product-zoom,
    .product-block .image .pav-colorbox {
        display: none !important;
    }
}
@media only screen and (max-width: 599px) {
    .product-filter .limit {
        margin: 0px;
        float: left;
    }
    .product-filter .sort {
        float: left;
        margin-left: 10px;
        margin-top: 0px;
    }
    .product-filter .display {
        display: none;
    }
    #topbar .topbar ul li {
        width: 20px;
        height: 20px;
        overflow: hidden;
    }
    .productcarousel .product-block .cart {
        display: none;
    }
}
@media only screen and (max-width: 479px) {
    .mini-access > ul >li {
        margin: 5px 3px;
    }
    .product-filter .sort {
        margin-left: 0px;
        margin-top: 10px;
    }
    .box.productcarousel.box-product .box-content .product-block .product-meta .description {
        display: none;
    }
    .box.productcarousel.box-product .box-content .product-block {
        margin-bottom: 20px;
    }
    .box.productcarousel.box-product .box-content .product-block .image {
        width: auto;
        float: none;
        margin-right: 0px;
    }
    .box.productcarousel.box-product .box-content .product-block .image:after {
        bottom: 0;
        left: 46%;
        right: auto;
        border-left: 9px solid transparent;
        border-bottom: 8px solid #fff;
        border-right: 9px solid transparent;
    }
    .box.productcarousel.box-product .box-content .product-block .product-meta {
        padding-bottom: 10px;
    }
    .box.productcarousel.box-product .box-content .product-block .product-meta .description {
        display: block;
    }
    .box.productcarousel.box-product .box-content .product-block .description,
    .box.productcarousel.box-product .box-content .product-block .cart {
        display: block;
    }
}
@media only screen and (max-width: 319px) {
    .box.productcarousel.box-product .box-content .product-block .product-meta .description {
        display: none;
    }
    .box.productcarousel.box-product .box-content .product-block {
        margin-bottom: 20px;
    }
    .box.productcarousel.box-product .box-content .product-block .image {
        width: auto;
        float: none;
        margin-right: 0px;
    }
    .box.productcarousel.box-product .box-content .product-block .image:after {
        bottom: 0;
        left: 46%;
        right: auto;
        border-left: 9px solid transparent;
        border-bottom: 8px solid #fff;
        border-right: 9px solid transparent;
    }
    .box.productcarousel.box-product .box-content .product-block .product-meta {
        padding-bottom: 10px;
    }
    .box.productcarousel.box-product .box-content .product-block .product-meta .description {
        display: block;
    }
    .box.productcarousel.box-product .box-content .product-block .description,
    .box.productcarousel.box-product .box-content .product-block .cart {
        display: block;
    }
}
.validation-error-tooltip {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75) !important;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 10px;
}
.validation-error-tooltip {
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    z-index: 2000;
}
.validation-error-tooltip .validation-error-tooltip-arrow {
    border-bottom: 10px solid rgba(0, 0, 0, 0.75);
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    display: block;
    position: absolute;
    top: -10px;
}
.navbar-inverse .navbar-nav > li > a {
    color:white;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-bottom-color: white;
    border-top-color: white;
}

.dropdown-menu {
    top:94%;
}

.pager-main {
    display:block;
    margin-top:35px;
    padding:0 30px 0 10px;
    text-align:center;
}

.pager-current-link {
    margin: 0 8px;
    display:inline-block;
}

.pager-page {
    margin: 0 8px;
    display: inline-block;
}
