.plain-button:not(.enabled)
{
    background-color:#626F77;
}

.plain-button:not(.enabled):hover
{
    background-color:#626F77;
}

.plain-button
{
    border-radius: 3px 3px 3px 3px;
    color: white;
    text-align: center;
    cursor:pointer;
}

/********************  ********************/
/* Neutral button(Login,Registration) */
.neutral-button-plain
{
    background-color:#8DC63F;
    margin-left:15px;
    margin-right:15px;
    padding: 10px;
}

.neutral-button-plain:hover
{
    background-color:#05a505;
}

.middle-neutral-button-plain
{
    background-color:#8DC63F;
    margin-left:15px;
    margin-right:15px;
    padding: 10px;
}

.small-neutral-button-plain
{
    background-color:#8DC63F;
    padding: 5px;
}

.middle-neutral-button-plain:hover, .small-neutral-button-plain:hover
{
    background-color:#05a505;
}

/********************  ********************/
/* Back & Cancel button */
.small-cancel-button-plain
{
    background-color: #626F77;
    padding: 5px;
}

.cancel-button-plain
{
    background-color:gray;
    padding: 10px;
}

.cancel-button-plain:hover
{
    background-color: #626F77;
}

/********************  ********************/
/* Light button(OK,Save,Update) */
.ok-button-plain
{
    background-color: #D60796;
    padding: 10px;
}

.ok-button-plain:hover
{
    background-color:#A11D61;
}

.retail-blue .ok-button-plain
{
    background-color:#03ABE5;
}

.retail-blue .ok-button-plain:hover
{
    background-color:#014c66;
}

.small-ok-button-plain
{
    background-color: #D60796;
    padding: 5px;
}
