html, body, #retail-main-wrapper, .retail-wrapper
{
    height:100%;
}

html, body
{
    background:url("/img/retail/main/background.png") repeat scroll 0 0 transparent;
    background-size:100% auto;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

#retail-header .retail-main-menu-container
{
    min-width: 1100px;
}

/***********************/
/** Header **/

.retail-legkapokupka
{
    background: url("/img/retail/main/header.jpg") repeat-x scroll left bottom #272727;
    border-bottom: 1px solid #000000;
    display: block;
    height: 60px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.retail-company-info-holder
{
    margin: 0 auto;
    width: 940px;
    text-align:left;
    display:table;
}

.retail-logo
{
    display:table-cell;
    width:270px;
    background-repeat: no-repeat;
    vertical-align:middle;
}

.retail-contacts
{
    display:table-cell;
    color:white;
    font-size:14px;
    vertical-align:middle;
}

.retail-delivery-banner
{
    width:185px;
    display:table-cell;
    vertical-align:middle;
}

.retail-contacts div
{
    margin-bottom:10px;
}

.retail-logo a
{
    height:50px;
    width:242px;
    display:block;
}

.retail-pink .retail-logo a
{
    background-image:url('/img/retail/main/logo-pink-medium-text.png');
}

.retail-orange .retail-logo a
{
    background-image:url('/img/retail/main/logo-yellow-medium-text.png');
}

.retail-blue .retail-logo a
{
    background-image:url('/img/retail/main/logo-blue-medium-text.png');
}

.retail-green .retail-logo a
{
    background-image:url('/img/retail/main/logo-green-medium-text.png');
}

.retail-light-green .retail-logo a
{
    background-image:url('/img/retail/main/logo-light-green.png');
}

.retail-links-content
{
    height:35px;
    color:white;
    font-size:14px;
    display:table;
}

#retail-header .retail-links-content span
{
    padding-top:6px !important;
}

.retail-links-content span
{
    margin-left:10px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:150px;
    color:#8DC63F;
}

.retail-links-content input
{
    border-radius: 3px 3px 3px 3px;
    margin-left: -10px;
    padding: 3px 30px 3px 3px;
    width: 265px;
    border:none;
    height:25px;
}

.retail-links-content span:hover > a
{
    cursor:pointer;
    color:white;
}

/***********************/
/** Main menu **/

.retail-main-menu-container
{
    background: url("/img/retail/main/bg_topnav.jpg") repeat-x scroll 0 0 #212121;
    height: 43px;
    width:100%;
    padding-bottom:2px;
    text-shadow:-1px 1px 1px rgba(0, 0, 0, 0.5);
}

.retail-main-menu
{
    margin: 0 auto;
    max-width: 940px;
    min-width: 320px;
    width: 100%;
    font-size:16px;
    color:white;
    cursor:pointer;
}

.retail-main-menu nav > ul
{
    display:table;
    margin:0;
    padding:0;
    border-right:1px solid black;
    height:43px;
}

.retail-main-menu nav li
{
    display:table-cell;
    text-align: center;
    width: 125px;
    border-left: 1px solid #000000;
    vertical-align:middle;
}

.retail-main-menu ul li > a
{
    color: #8D8D8D;
    display: block;
    font-weight: normal;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size:14px;
}

.female .retail-woman,.male .retail-man,.kids .retail-kids
{
    background:url("/img/retail/main/bg_topnav.jpg") repeat-x scroll 0 -87px #212121;
}

.female .retail-woman > a
{
    color:#D60796;
}

.male .retail-man > a
{
    color:#03ABE5;
}

.kids .retail-kids > a
{
    color:#05A505;
}

.retail-main-menu ul li.retail-action.retail-selected > a
{
    color:#F5841F;
}

.retail-main-menu ul li:hover
{
    background:none repeat scroll 0 0 #3D3D3D;
}

.retail-main-menu ul li:hover > a
{
    color:white;
}

.retail-bucket
{
    padding-left: 30px;
    text-align: left !important;
}

.retail-bucket a
{
    position:relative;
    padding-left:0 !important;
}

.retail-bucket-ordered a
{
    color:#8dc63f !important;
}

.retail-bucket-image
{
    display: inline-block;
    height: 17px;
    width: 25px;
}

.retail-bucket-ordered .retail-bucket-image
{
    background-image:url("/img/retail/main/ordered_bucket.png");
}

.retail-bucket-empty .retail-bucket-image
{
    background-image: url("/img/retail/main/bucket.png");
}

.retail-bucket-info-image
{
    background-image:url('/img/retail/bucket/emptybag.png');
    height:230px;
    width:171px;
    margin:30px auto;
}

.retail-bucket-info-text
{
    margin:30px;
    font-size:20px;
    color:grey;
}

.retail-bucket-empty-center
{
    margin:0 auto;
    display:block;
    width:220px;
}

.retail-small-category-menu
{
    background: none repeat scroll 0 0 #3D3D3D;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-left: -1px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    z-index: 500;
}

.retail-small-category-holder
{
    margin-left:5px;
}

.retail-small-category-holder:hover
{
    background-color:#202020;
}

.retail-small-category-menu-item
{
    border-bottom:1px solid #4A4A4A;
    margin:0 5px;
    padding:5px 0;
    display:table;
}

.retail-small-category-menu-item:hover
{
    border-bottom:1px solid #202020;
}

.retail-small-category-img
{
    width:78px;
    border:1px solid black;
    background-color:white;
    display:block;
}

.retail-small-category-info-holder
{
    display:table-cell;
    vertical-align:top;
    padding-left:10px;
    width:300px;
    text-align:left;
}

.retail-small-category-info-holder h5
{
    color: lightgrey;
    font-size: 14px;
    font-weight: lighter;
    overflow: hidden;
    text-transform:uppercase;
    margin-bottom:7px;
}

.retail-small-category-info-holder ul
{
    color:#A2A1A1;
    font-size: 13px;
    margin-top: 5px;
}

.retail-small-category-info-holder > .retail-link.block
{
    font-size:13px;
}

.retail-search-img
{
    background-image: url("/img/retail/main/search-icon.png");
    height: 20px;
    margin-left: 264px;
    margin-top: -25px;
    position: absolute;
    width: 20px;
}

/***********************/
/** Breadcrumbs **/
.retail-breadcrumbs
{
    background:none repeat scroll 0 0 #464646;
    font-size:14px;
    color:#C1C1C1;
    text-shadow:-1px 1px 1px rgba(0, 0, 0, 0.5);

}

.retail-top-delimeter
{
    background:none repeat scroll 0 0 #FFFFFF;
    height:1px;
    box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.retail-breadcrumbs .breadcrumbs-link a:hover
{
    color:#8DC63F;
}

.retail-breadcrumbs .breadcrumbs-level-separator,.retail-breadcrumbs .breadcrumbs-1-level-separator
{
    background-image: url("/img/retail/breadcrumbs/delimeter.png");
    float: left;
    height: 12px;
    margin: 9px 1px 0;
    width: 5px;
}

.retail-breadcrumbs .breadcrumbs-link
{
    padding:5px 8px;
    font-size:13px;
}

.retail-breadcrumbs .breadcrumbs-1-level
{
    background-image:none !important;
    padding-left:0 !important;
}

.retail-breadcrumbs .breadcrumbs-2-level
{
    background-image:none !important;
}

/***********************/
/** Promo panel **/
.retail-buyer-menu
{
    color: black;
    display: table;
    font-size: 14px;
    height: 35px;
}

.retail-buyer-menu span
{
    display: table-cell;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

.retail-buyer-promo-holder
{
    display: table;
    margin: 15px 0;
}

.retail-buyer-banner
{
    display: table-cell;
    height: 320px;
    width: 665px;
}

.retail-buyer-banner img
{
    margin: 10px 10px 5px;
}

.retail-buyer-side-banner
{
    height: 320px;
    margin: 15px;
    position: absolute;
    top: 0px;
    width: 259px;
}

.retail-buyer-side-banner img
{
    margin: 8px 30px;
}

.retail-buyer-info
{
    padding:10px;
    width:919px !important;
}

.retail-buyer-info span
{
    width:70px;
    height:70px;
    display:table-cell;
    background-repeat:no-repeat;
}

.retail-buyer-info .retail-buyer-img-info
{
    display:table-cell;
    font-size:14px;
    width:159px;
    margin-top:20px;
    color:black;
}

.retail-buyer-menu a:hover
{
    cursor:pointer;
    color:#D60796;
}

.retail-buyer-img-1
{
    background-image:url('/img/retail/buyer-info/map-1p.png');
}

.retail-buyer-img-2
{
    background-image:url('/img/retail/buyer-info/map-2p.png');
}

.retail-buyer-img-3
{
    background-image:url('/img/retail/buyer-info/map-3p.png');
}

.retail-buyer-img-4
{
    background-image:url('/img/retail/buyer-info/map-4p.png');
}

/***********************/
/** Filters panel **/
.retail-filter-panel-holder
{
    background-color: #464646 !important;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: block;
    font-size: 14px;
    padding: 15px 30px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3) !important;
    width: 185px;
    z-index: 999;
}

.retail-filter-panel
{
    padding:5px;
}

.retail-filter-panel > input
{
    margin:0 5px 0 0 !important;
}

.retail-drop-down-holder
{
    position:relative;
}

.retail-drop-down
{
    background-image: url("/img/retail/main/drop_down_icon.png");
    height: 8px;
    position: absolute;
    right: 14px;
    top: 19px;
    width: 14px;
}

.retail-drop-down-opened
{
    background-image: url("/img/retail/main/drop_down_icon_rotate.png") !important;
}

.retail-category-input
{
    width:240px !important;
}

.retail-drop-down-holder input[type="text"]
{
    margin:0 5px 0 0 !important;
}

.retail-price-sorter
{
    margin: 0 5px 0 2px;
}

.retail-price-sorter span
{
    color: white;
    margin: 9px 5px 0 13px !important;
}

.retail-black-btn
{
    background-color: #464646;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: table-cell;
    height: 32px;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
    width: 43px;
    padding-top: 10px;
}

.retail-black-btn:hover
{
    background:url("/img/retail/main/bg_topnav.jpg") repeat-x scroll 0 -42px #212121;
    color:#8DC63F !important;
}

.price-sort:checked + .retail-black-btn
{
    color: #8DC63F !important;
}

.retail-filter-reset
{
    margin-left: 0 !important;
    margin-right: 10px !important;
    text-align: center;
    width: 103px;
}

/***********************/
/** Pager panel **/
.retail-stock-list-pager .pager-pages-container
{
    background-color: #464646;
    background-image: none !important;
    border: medium none !important;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    font-size: 15px;
    height: 100% !important;
    margin-bottom: 15px;
    margin-left: 2px;
    margin-top: -15px;
    padding: 10px;
    text-align: center;
    text-shadow:-1px 1px 1px rgba(0, 0, 0, 0.3)!important;
    display:none;
}

.retail-stock-list-pager .limit-dropdown
{
    display:none;
}

.retail-stock-list-pager .pager-main
{
    color: white !important;
    margin-right: 0 !important;
}

.retail-stock-list-pager .pager-page
{
    border-radius: 3px 3px 3px 3px;
    color: white !important;
    margin: 5px;
    padding: 7px 15px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.retail-stock-list-pager .pager-non-active
{
    border-radius: 3px 3px 3px 3px;
    color: #8dc63f;
    margin: 5px !important;
    padding: 7px 15px;
    text-transform:uppercase;
}

.retail-stock-list-pager .page-navigation
{
    display: inline-block;
    margin: 0 10px !important;
}

.retail-stock-list-pager .pager-prev-arrow
{
    display:none;
}

.retail-stock-list-pager .pager-next-arrow
{
    display:none;
}

.retail-stock-list-pager .pager-page:hover
{
    background: url("/img/retail/main/bg_topnav.jpg") repeat-x scroll 0 -43px #212121;
    color: #8DC63F !important;
    padding:7px 15px !important;
}

.retail-stock-list-pager .pager-pages-container-bottom
{
    border-radius: 3px 3px 3px 3px !important;
    margin: 0 !important;
    width:660px;
    display:block;
    margin-bottom:20px !important;
}

/***********************/
/** Main-container **/
.retail-main-container
{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 939px;
}

.retail-main-container span
{
 /*   margin-right:10px;*/
}

.retail-main-stocks.retail-category-title
{
    margin-left:250px !important;
}

.retail-category-title
{
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
}

.retail-shop-item
{
    float: left;
    margin: 0 19px 20px 0;
    position: relative;
}

.retail-shop-item-image
{
    margin-top:5px;
}

.retail-desc-container
{
    display: table !important;
    font-size: 20px;
    height: 41px;
    margin: 4px 6px;
    width:197px !important;
}

.retail-stock-list-pager .pager-row td
{
    vertical-align:top;
}

.retail-desc-text
{
    width: 125px !important;
}

.retail-list-price
{
    font-size:24px !important;
}

.retail-list-currency
{
    width:35px;
}

.retail-desc-container div
{
    display:table-cell;
    font-size:14px;
    vertical-align:middle;
}

.retail-side-buttons-block
{
    position:fixed;
    top:50%;
    right:40px;
}

.retail-side-button
{
    height: 53px;
    width: 53px;
    margin-bottom:15px;
}

.retail-size-button
{
    background-image: url("/img/retail/main/size_button.png");
}

.retail-size-button:hover
{
    background-image: url("/img/retail/main/size_button_hover.png");
}

.retail-size-button:active
{
    background-image: url("/img/retail/main/size_button_clicked.png");
}

.retail-up-button
{
    background-image: url("/img/retail/main/up_button.png");
}

.retail-up-button:hover
{
    background-image: url("/img/retail/main/up_button_hover.png");
}

.retail-up-button:active
{
    background-image: url("/img/retail/main/up_button_clicked.png");
}

.retail-input ul
{
    margin-bottom:10px;
}

.retail-input > li
{
    list-style-type: none;
}

.retail-input > li > a
{
    text-transform:uppercase;
    margin-left:-15px;
}

.retail-category-selected
{
    color:#8DC63F;
}

.retail-input li a:hover
{
    color:#8DC63F;
}

/************************/
/** Main window rating **/
.retail-main-page-rating .review
{
    width:300px;
    float:left;
}

.review-comment
{
    background-image: url("/img/retail/main/tooltip_back.png");
    border: 2px solid #757575 !important;
    border-radius: 3px 3px 3px 3px;
    color: black !important;
    margin-left: 12px;
    padding: 10px;
    position: relative;
    width: 267px;
}

.retail-main-page-rating .user-message-username
{
    font-size:16px;
}

.retail-review-pager .retail-stock-list-params-holder img
{
    margin-left:0 !important;
}

.retail-review-pager .pager-pages-container-bottom{
    width:100% !important;
}
/***********************/
/** Category List **/
.retail-category-cover-holder
{
    position:relative;
    padding:5px 5px 0 5px;
    margin: 0 15px 15px 0;
    width:290px;
}

.retail-category-cover-holder:hover
{
    box-shadow: 0 0 2px 2px grey !important;
}

.retail-category-cover-image
{
    height:422px;
    width:290px;
}

.retail-category-cover-info-holder
{
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 5px;
    font-size: 20px;
    height: 60px;
    padding-right: 10px;
    padding-top: 5px;
    position: absolute;
    text-align: right;
    width: 280px;
}

.retail-category-cover-title
{
    font-weight:600;
    color:white;
}

.retail-category-cover-logo
{
    margin: 5px 0 0 8px;
}

.retail-category-parent-name
{
    text-align:right;
    margin-top:-5px;
}
/***********************/
/*   nts **/
.retail-small-logo
{
    height: 20px;
    width: 22px;
}

.retail-small-pink-logo
{
    background-image: url("/img/retail/main/small_logo_pink.png");
}

.retail-small-blue-logo
{
    background-image: url("/img/retail/main/small_logo_blue.png");
}

.retail-small-green-logo
{
    background-image: url("/img/retail/main/small_logo_green.png");
}

.retail-small-orange-logo
{
    background-image: url("/img/retail/main/small_logo_orange.png");
}

.retail-boldhead
{
    font-weight: 700;
}

.retail-orange
{
    color:#F5841F;
}

.retail-light-green
{
    color:#8DC63F;
}

.retail-dark-grey
{
    color: #2A2E37;
}

.retail-grey
{
    color:#626F77;
}

.retail-pink
{
    color:#D60796;
}

.retail-blue
{
    color:#03ABE5;
}

.retail-green
{
    color:#05a505;
}

.retail-text-left
{
    text-align:left;
}

.retail-text-right
{
    text-align:right;
}

.retail-fixed-939px-holder
{
    width:939px;
    margin:0 auto;
}

.retail-fixed-940px-holder
{
    width:940px;
    margin:0 auto;
}

.spacer130px
{
    height:130px;
}

.retail-standard-panel
{
    background-color:white;
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.3);
    border-radius:2px;
}

.retail-standard-panel-header
{
    background-color:#EEE;
    color:#888;
    border-bottom: 1px solid #C9CED3;
    border-radius: 2px 2px 0 0;
    height: 50px;
    width: 100%;
}

.retail-header
{
    display:table;
    height:100%;
    width:100%;
    margin:0 10px;
}

.retail-header-item
{
    display:table-cell;
    font-size:14px;
    vertical-align:middle;
    text-align:center;
}

.retail-pink .retail-color-scheme
{
    background-color:#D60796;
}

.retail-pink .retail-color-scheme:hover
{
    background-color:#A11D61;
}

.retail-blue .retail-color-scheme
{
    background-color:#03ABE5;
}

.retail-blue .retail-color-scheme:hover
{
    background-color:#014c66;
}

.retail-green .retail-color-scheme
{
    background-color:#05a505;
}

.retail-green .retail-color-scheme:hover
{
    background-color:#045304;
}

.retail-orange .retail-color-scheme
{
    background-color:#F5841F;
}

.retail-orange .retail-color-scheme:hover
{
    background-color:#8d4c12;
}

.retail-light-green .retail-color-scheme
{
    background-color:#8DC63F;
}

.retail-light-green .retail-color-scheme:hover
{
    background-color:#4d6c22;
}

.retail-grey-scheme
{
    background-color:#626F77;
}

.retail-grey-scheme:hover
{
    background-color: #2A2E37;
}

.stock-size-clr-sch
{
    background-color:#626F77;
}

.retail-pink .stock-size-clr-sch:hover
{
    background-color:#D60796;
}

.retail-blue .stock-size-clr-sch:hover
{
    background-color:#03ABE5;
}

.retail-green .stock-size-clr-sch:hover
{
    background-color:#05a505;
}

.retail-orange .stock-size-clr-sch:hover
{
    background-color:#F5841F;
}

.retail-light-green .stock-size-clr-sch:hover
{
    background-color:#8DC63F;
}

#shipping .inputbf-active
{
    color:#2A2E37;
}

.validation-error-tooltip
{
    background-image: url("/img/retail/main/tooltip_back.png");
    border: 2px solid #757575 !important;
    border-radius: 3px 3px 3px 3px;
    color: black !important;
    font-size: 14px;
    padding: 10px;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    z-index: 2000;
}

.validation-error-tooltip-arrow
{
    background-image:url("/img/retail/main/valid_triangle.png") !important;
}

.ui-autocomplete
{
    width:242px !important;
    border-top:none !important;
    border-radius:0 0 3px 3px !important;
    font-size:14px;
    border: 2px solid #2A2E37;
    max-height:141px !important;
    overflow-y:auto;
}

.ui-autocomplete li:hover
{
    border-color:none !important;
    background-color:#2A2E37;
    color:white !important;
}

.ui-autocomplete li
{
    border-bottom:none !important;
    margin-bottom:2px !important;
}

.ui-autocomplete a
{
    color:#2A2E37 !important
}

.ui-autocomplete a:hover
{
    color:white !important;
}

.retail-select
{
    background-color:grey;
}

.retail-input input[type=radio]
{
    height:16px;
    width:16px;
}

.retail-input input,.retail-input textarea
{
    border: 2px solid #CFD4D9;
    border-radius: 3px 3px 3px 3px;
    margin: 0 10px 10px 0;
    padding: 8px;
    width: 163px;
    height:42px;
    color:#2A2E37;

    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.retail-input input:focus
{
    border-color:  #2A2E37 !important;
    box-shadow: none;
}

.retail-input .retail-autocomplete:focus
{
    border-bottom:none !important;
}

.retail-input .inputbf-inactive
{
    color:#626F77;
}

.retail-disabled-scheme
{
    background-color:#626F77;
}

.ui-menu
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1) !important;
}
/***********************/
/** Bucket **/
.retail-bucket-content-holder
{
    margin:10px;
    display:table;
    width:100%;
}

.retail-bucket-content-item
{
    display:table-cell;
    padding-left:5px;
    font-size:18px;
    color:#2A2E37;
    vertical-align:middle;
    text-align:center;
}

.retail-bucket-content-item div
{
    font-size:14px;
}

.retail-bucket-bottom
{
    border-top: 1px solid #C9CED3;
    margin: 10px 0 0;
    padding: 24px 0 20px;
    background-color: #EEEEEE;
}

.retail-bucket-wrapper
{
    text-shadow:none !important;
}

.retail-bucket-wrapper .short-cell
{
    width:80px;
}

.retail-bucket-wrapper .middle-cell
{
    width:120px;
}

.retail-bucket-wrapper .long-cell
{
    width:240px;
}

.retail-bucket-amount
{
    text-align:right;
    margin-right:77px;
}

.retail-bucket-amount span
{
    margin-right:10px;
}

.retail-bucket-amount .sum-text
{
    color:#2A2E37;
}

.retail-bucket-amount .sum
{
    font-size:24px;
}

.retail-bucket-buttons-holder
{
    margin:25px 100px 15px;
}

.retail-bucket-content-item .retail-delete-btn
{
    background-image:url('/img/retail/bucket/bucket_delete_icon_light.png');
    width:18px;
    height:18px;
    margin-left:15px;
}

.retail-bucket-content-item .retail-delete-btn:hover
{
    background-image:url('/img/retail/bucket/bucket_delete_icon_dark.png');
    cursor:pointer;
}

/***********************/
/** Stock profile **/

.retail-stock-profile
{
    margin-top:20px;
    margin-bottom:30px;
}

.retail-stock-profile .retail-fixed-940px-holder
{
    display:table;
}

.retail-stock-images-holder
{
    display:table-cell;
    padding-right:19px;
}

.retail-stock-image
{
    height:606px;
}

.retail-stock-info-holder
{
    width: 478px !important;
    padding:15px;
}

.retail-stock-images-holder .retail-standard-panel
{
    padding:5px;
}

.retail-stock-images-holder .retail-standard-panel > img
{
    height:606px;
    width:402px;
}

.retail-stock-category-holder
{
    border-bottom: 1px solid #D2D2D2;
    padding: 10px 0 20px;
    vertical-align: middle;
}

.retail-stock-category-holder a
{
    font-size:18px;
    text-transform:capitalize;
}

.retail-stock-name-holder
{
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: capitalize;
}

.retail-stock-price-holder
{
    padding-bottom:15px;
    border-bottom:1px solid #D2D2D2;
}

.retail-stock-price-holder span
{
    margin-right:10px;
}

.retail-stock-price-holder .price
{
    font-size:36px;
}

.retail-stock-sizes-holder
{
    margin-top:10px;
}

.retail-stock-sizes-holder .plain-button
{
    min-width:65px;
    display:inline-block;
    margin:5px;
    padding: 10px;
}

.retail-stock-profile .orange-button-plain
{
    float:right;
}

.retail-price-change
{
    font-size:12px;
    margin-left:5px;
}

.retail-stock-controls-holder
{
    border-bottom: 1px solid #D2D2D2;
    display: block;
    padding: 7px 7px 15px;
    vertical-align: middle;
}

.retail-stock-controls-holder div
{
    display: inline-block;
    margin-right: 6px;
    text-align: center;
}

.retail-stock-quantity
{
    border: 2px solid #CFD4D9;
    width: 40px;
    border-radius: 3px 3px 3px 3px;
    padding: 9px;
}

.retail-stock-additional-info-holder
{
    margin:15px 6px;
    border-bottom:1px solid #D2D2D2;
    padding-bottom:10px;
}

.retail-stock-title
{
    font-size:20px;
    margin-bottom:15px;
}

.retail-small-img-holder
{
    width: 420px !important;
}

.retail-small-img-holder div
{
    margin-right:15px;
}

.retail-small-img-holder img
{
    margin-top:15px;
    padding:5px;
    cursor:pointer;
}

.retail-stock-additional-info-holder .rating-review-container
{
    border:none;
    border-radius:none;
    margin-top:0;
    padding:0;
    width: 100%;
}

.retail-stock-additional-info-holder .fancy-textarea
{
    border: 2px solid #CFD4D9;
    border-radius: 3px 3px 3px 3px;
    color: #1B4684;
    padding: 5px;
}

.retail-review-text
{
    margin-left: 5px;
    vertical-align: 7%;
}

/***********************/
/** Checkout **/
#wizard h3
{
    font-weight:lighter;
}

h3[aria-selected=false]
{
    margin-bottom:15px;
}

#wizard input[type=radio]
{
    margin-right:10px;
}

#wizard .retail-standard-panel
{
    width:508px;
}

#wizard .retail-checkout-panel-header
{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    padding: 15px;
    vertical-align: middle;
    width: 508px;
    height:none !important;
    background-color: #EEEEEE;
    border-bottom: 1px solid #C9CED3;
    border-radius: 2px 2px 0 0;
}

#shipping-result
{
    background-color: white;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: 508px;
    margin-bottom:15px;
}

.shippint-step
{
    background-color: white;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    padding: 15px 0 15px 15px;
    width: 523px;
    margin-bottom:15px;
}

#shipping
{
    margin-top:-10px;
}

.shipping-type
{
    margin:10px 0;
}

.shippint-step .plain-button
{
    margin:5px 10px 0 310px;
}

.retail-checkout-content-item
{
    margin-left:15px;
    font-size:20px;
}

.retail-checkout-content-item div
{
    font-size:14px;
}

.retail-checkout-price
{
    font-size:18px !important;
}

.retail-checkout-agreement
{
    transition: all 0.1s ease-in-out 0s;
    float: left;
    margin-left: 15px;
    margin-top: 71px;
    width: 250px;
}

.retail-checkout-agreement-header
{
    background-color: #EEEEEE;
    border-bottom: 1px solid #C9CED3;
    border-radius: 2px 2px 0 0;
    color: #626F77;
    font-size: 20px;
    padding: 15px 15px 14px;
}

.retail-shipping-agreement
{
    padding-bottom: 5px !important;
}

.retail-checkout-btn
{
    margin: 15px;
    width: 200px;
}

.retail-checkout-summary
{
    margin:15px;
    width:220px !important;
}

.retail-checkout-summary span
{
    font-size:20px;
    margin-right:10px;
}

.retail-checkout-summary div
{
    margin-top:3px;
}

.retail-delivery-step
{
    margin-top:-57px !important;
    padding-top:65px !important;
    border-radius:3px !important;
}

.retail-checkout-panel-header .link
{
    color:#8DC63F;
}

h3[aria-selected=true] .retail-checkout-panel-header
{
    box-shadow:none !important;
}

#mail-type-switcher[value='novaya-pochta'] ~ #novaya-pochta,
#mail-type-switcher[value='ukr-pochta'] ~ #ukr-pochta
{
    display:block !important;
}

#payment-type-switcher[value='cash-on-card'] ~ #cash-on-card,
#payment-type-switcher[value='cash-on-delivery'] ~ #cash-on-delivery
{
    display:block !important;
}

.retail-finish
{
    font-size: 20px;
    margin: 15px 0;
    padding: 25px 0 10px;
    text-align: center;
}
/***********************/
/** Footer **/

#retail-footer
{
    height:135px;
    margin-top:-135px;
}

#retail-footer .retail-main-menu-container
{
    background: none repeat scroll 0 0 #000000;
}

#retail-footer .search
{
    display:none;
}

#retail-footer .retail-legkapokupka
{
    background:none repeat scroll 0 0 #1C1C1C;
}

/********************  ********************/
/* Inline buy */

.stock-inline-buy
{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:101.2%;
    background-color: rgba(35, 5, 54, 0.5);
}

.retail-shop-item:hover .stock-inline-buy
{
    display:block;
}

.stock-selector:checked + .stock-size-clr-sch
{
    background-color:#8DC63F;
}

.retail-add-to-bucket
{
    margin-right: 10px;
    width: 167px;
}

.retail-delivery-detail-holder
{
    background-color: #EEEEEE;
    border-bottom: 1px solid #C9CED3;
    border-top: 1px solid #C9CED3;
    display: block;
    margin-left: -15px;
    padding-left: 15px;
    padding-top: 10px;
}

.retail-delivery
{
    cursor:pointer;
    color:#626F77
}

.retail-delivery div
{
    padding: 10px 20px;
}

.retail-delivery input:checked + div
{
    background-color: #EEEEEE;
    border-color: #C9CED3 #C9CED3;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #2A2E37 !important;
    margin-bottom: -1px;
    cursor:pointer;
}

.retail-checkout-agreement
{
    position:relative;
    padding-bottom: 15px;
}

.ui-accordion-header-icon
{
    display:none;
}

/***********************/
/** Retail help page **/
.retail-help-main-block
{
    padding-top:20px;
    display:inline-table;
}

.retail-help-number-block
{
    background-color: white;
    border: 1px solid #C1C1C1;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0;
}

.retail-help-header
{
    color: #2C333C;
    font-size: 20px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 2px #CCCCCC;
}

.retail-help-text
{
    color: #626F77;
    font-size: 14px;
}

.retail-help-text ul
{
    margin-left:30px;
}

.retail-help-text a
{
    color:#03ABE5;
}

.retail-help-text a:hover
{
    text-decoration:underline;
}

.retail-help-link
{
    border-radius: 3px 3px 3px 3px;
    height: 33px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    margin-bottom:5px;
    color:white;
    display:inline-block;
}

.retail-help-link-active
{
    background-color: #D60796;
}

.retail-help-link-inactive
{
    background-color: #626F77;
}

.retail-help-link:hover
{
    background-color:#8DC63F;
}

.retail-help-text-with-paragraph
{
    width:422px;
    text-align:justify;
}

.retail-help-text-with-paragraph p, .retail-help-text-with-paragraph ul
{
    margin-top:10px;
}

.retail-link:hover
{
    color:#8DC63F;
}

/***********************/
/** Registration **/

.main-block-header
{
    background: url("/img/retail/main/bg_topnav.jpg") repeat-x scroll 0 55px #212121 !important;
    border-radius: 3px 3px 0 0 !important;
    color: white !important;
    font-size: 20px;
    height: 43px !important;
    padding-top: 10px !important;
    position: relative;
    text-align: center;
    width: 100%;
    text-shadow:none !important;
    background-image:none !important;
}

.modal-main-block
{
    border-radius:3px !important;
}

.left-block-header
{
    text-shadow:none !important;
}

.registration-code
{
    display:none;
}

.social-registration
{
    border-radius:3px !important;
    padding-left:100px;
}

.registration-holder
{
    border-radius: 3px !important;
    background: none repeat scroll 0 0 white;
    border: 1px solid #D3D3D3;
    text-align: right;
}

.site-login-window
{
    background-color:white !important;
    background-image:none !important;
}

.login-links
{
    display:none;
}

.social-login-holder
{
    margin-top:0 !important;
    padding-left:25px !important;
    margin-left:0 !important;
}

.social-login-title
{
    display:none !important;
}

.login-fields
{
    float:none !important;
    margin-top:10px;
    margin-left:270px;
}

.login-fields-margin
{
    clear:both;
    margin:0 auto !important;
}

.orange-border
{
    border:none !important;
}

/***********************/
/** User profile **/

.retail-main-container .user-profile
{
    margin:0 !important;
    width:939px !important;
    background-color: #EEEEEE !important;
    border-radius: 2px 2px 2px 2px !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3) !important;
}

.retail-main-container .user-profile-main-container
{
    border-radius: 2px 2px 2px 2px !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3) !important;
    background-image:none !important;
}

.retail-main-container .image-borders-5px
{
    border-radius:5px !important;
}

.retail-main-container .photo-and-rating-holder
{
    display:none;
}

.retail-main-container .user-info-block
{
    border-radius:4px !important;
}

.retail-main-container .user-profile-info-holder
{
    width:902px !important;
}

.retail-main-container .user-profile-info-value
{
    width:400px !important;
}

.retail-main-container .user-profile-header
{
    font-size:20px !important;
    color:#626F77 !important;
    margin-bottom:15px !important;
}

.retail-main-container .user-profile-contacts-warning, .user-additional-block, .review-about-user, .phone-activation-button, .dd-user-info-block, .money-control, .role-control
{
    display:none;
}

.retail-main-container .user-profile-input-contact
{
    width:145px !important;
}

.retail-main-container .user-profile-info-row
{
    font-size:14px;
}

.retail-main-container .user-profile-info-row img
{
    display:none;
}


.retail-main-container .user-profile-info-key
{
    color:#626F77;
    width:220px;
}

.retail-main-container .user-profile-info-value
{
    color:#2A2E37 !important;
}

.retail-main-container .user-profile-input-contact
{
    color:#2A2E37 !important;
}

.retail-main-container .user-profile-main-container input
{
    border: 2px solid #CFD4D9;
    border-radius: 3px 3px 3px 3px;
    margin: -7px 8px 15px 0;
    padding: 8px;
    width: 163px;
    height:42px;
    color:#2A2E37;

    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    transition:all 0.3s ease-in-out 0s;
}

.retail-main-container .user-profile-main-container input:focus
{
    border-color:  #2A2E37 !important;
    box-shadow: none;
}

.retail-user-info-block
{
    display:block !important;
}

.user-photo-controls
{
    display:block !important;
}

.retail-user-profile-image-save
{
    background-color: #8DC63F;
    clear: both;
    margin: 15px auto;
    width: 200px;
    border-radius: 3px 3px 3px 3px;
    color: white;
    cursor: pointer;
    min-width: 50px;
    padding: 10px;
    text-align: center;
}

.dk_toggle
{
    width:104px !important;
    border-radius:3px !important;
    border:2px solid #CCCCCC !important;
}

.dk_container
{
    display: block !important;
    margin-bottom: 15px !important;
    margin-top: -6px !important;
    width: 164px !important;
    background-image:none !important;
}

.image-borders-5px
{
    border-radius:4px !important;
}

.user-profile-contacts-warning
{
    margin:0 5px 10px !important;
}

.small-blue-button-text
{
    padding-top:2px !important;
}

.dk_label
{
    margin-top:3px;
}

.dk_open
{
    box-shadow:none !important;
}

.dk_focus .dk_toggle
{
    box-shadow:none !important;
    border:2px solid #CCCCCC !important;
}
