.admin-panel,.ui-dialog
{
/*  font-size: 15px;*/
  margin: 0px;
  padding: 0px;
/*  font-family: 'MyriadProRegular',arial,sans-serif;*/
}

/**************/
/**  Stocks  **/
.admin-stock-save-panel .stock-editing-tabs div
{
    top:0;
}

.admin-container-with-bottom-line
{
    border-bottom:1px solid #03ABE5;
    margin:-10px 5px 5px;
}

.admin-toggle-block
{
    width:45%;
    display:table-cell;
}

.admin-filter-img
{
    background-image:url('/img/admin/filter-icon.png');
    background-repeat: no-repeat;
    height:14px;.dk_options
    display:inline-block;
    margin: 15px 20px 10px !important;
}

.admin-stock-adding-img
{
    background-image:url('/img/admin/adding-stocks.png');
    height:25px;
    width:25px;
}

.admin-filter-toggle-block
{
    color: #434343;
    font-weight: 700;
    text-transform: uppercase;
    margin:1px 0 0 20px;

}

.admin-bottom-arrow
{
    height:20px;
    width:40px;
    background-image:url('/img/admin/arrow-bottom.png');
    margin: -1px 0 0 30px;
}

.admin-stock-list
{
    color:#333333 !important;
    display: inline-block;
    width:100%;
}

.admin-stock-list .organizer-stock-main-container
{
    border: 1px solid #C0CAD5;
    margin: 5px 5px 0;
    width: 619px;
}

.organizer-stock-main-container.active
{
    background-color:#464646 !important;;
}

.organizer-stock-main-container:hover
{
    background-color:lightgrey !important;;
}

.organizer-stock-short-main-container:hover
{
    background-color:lightgrey !important;;
}

.admin-filter-toggle-block:hover,.admin-stock-list .organizer-stock-edit:hover
{
    cursor:pointer;
    text-decoration:underline;
}

.admin-stock-list .organizer-param-holder
{
    margin-bottom:10px !important;;
}

.admin-stock-list .organizer-param-holder div
{
    margin-bottom:2px;
    font-size:14px;
}

.admin-stock-list .fancy-textarea
{
    border: 1px solid #C1C1C1;
    border-radius: 0 0 0 0;
    font-size: 14px;
    width: 530px;
    color:black;;
}

.admin-stock-list .fancy-textarea:focus
{
   border: 1px solid black;;
   box-shadow:none;
}

.admin-stock-list .organizer-button
{
    width:88px;
    min-width:88px;
    height:15px;
    border-radius:3px;
    background-color:#626F77;
    padding:10px !important;;
    text-align:center;
    color:white;
    cursor:pointer;
    margin:-5px auto 10px !important;;
}

.organizer-stock-main-container.not-prepared:hover
{
    background-color: #C0EE90;
}

.organizer-stock-main-container.invisible:hover
{
    background-color: #DFDFDF;
}

.admin-stock-list #inline-state-dirty
{
    background-image: url("/img/retail/main/tooltip_back.png");
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #757575;
    left: -97px;
    padding: 21px 5px 21px 15px;
    position: absolute;
    top: 1px;
    z-index: 99;
}

tr.inline-state-dirty
{
    background-image: url("/img/admin/changed_back.png");
}

tr.inline-state-dirty td
{
    background-color:transparent !important;;
}

.admin-stock-list .info-icon
{
    background-image: url("/img/admin/info-icon.png");
    height: 14px;
    width: 14px;
    display: inline-block;
    margin-right:5px;
    vertical-align:-10%;
}

.admin-stock-list .organizer-stock-publish-check
{
    margin:2px 5px 0 0;
}

.admin-stock-list .organizer-stock-edit
{
    margin:-5px 0 5px 0;
}

.admin-stock-list .inplace-categories-edit
{
    color:black;;
    background-color: #C1C1C1;
    border:1px solid #8C8C8C;
    font-size: 13px;
    height: 23px;
    padding-top:6px;
    position: relative;
    border-radius:2px;
    background-image:none;
}

.tree-drilldown-container
{
    width:700px;
}

.admin-stock-list .dirty
{
    background-color:#FDF9DB;
}

.admin-stock-list .organizer-sizes
{
    margin-top:10px !important;;
}

.admin-stock-list .organizer-sizes span
{
    margin:5px 0 0 5px;
    font-weight:700;
}

/***********************/
/** Admin stock modal **/
.stock-procurement-tag-group
{
    width:50px;
    height:58px;
    text-align:center;
    margin:5px;
}

.stock-tag-group
{
    height: 55px;
    margin: 5px 2px;
    text-align: center;
}

.stock-tag
{
    background-color: #3690E6;
    color: white;
    font-size: 13px;
    width:100%;
    display:block;
    padding-left: 3px;
    padding-right: 3px;
}

.admin-stock-size
{
    background-color:black;;
    border-radius:4px 4px 0 0;
}

.admin-stock-quantity
{
    background-color:grey;
}

.admin-stock-price
{
    border-radius:0 0 4px 4px;
}

.admin-stock-price-input input
{
    background-color: #03ABE5;
    border: 0 none;
    color: white;
    font-size: 13px;
    width: 100%;
    text-align:center;
    border-radius: 0 0 0 5px;
    height:21px;
}

.admin-stock-quantity-input
{
    position:relative;
}

.admin-stock-quantity-input .spinner-button
{
    display:none;
}

.admin-stock-quantity-input input
{
    border-radius: 0 5px 5px 0;
    color: #333333;
    font-size: 20px;
    height: 58px;
    margin-left: -7px;
    margin-top: 5px;
    text-align: center;
    width: 47px;
}

.admin-stock-quantity-input .spinner-button
{
    right:-30px;
}

.admin-stock-quantity-input .spinner-element
{
    width:18px !important;
}

.admin-stock-modal .organizer-stock-modal-param-container
{
    width: 570px !important;;
}

.admin-stock-modal .organizer-stock-modal-param-name
{
    width:75px !important;;
    color:#626F77 !important;;
}

.status-management .inline-block
{
    margin-top: 12px;
}

.admin-stock-modal .spinner-element > div
{
    top:7px !important;;
    right:0 !important;;
}

.admin-stock-modal .spinner-button
{
    display:none;
}

.admin-stock-modal .spinner-input
{
    border: 1px solid;
    border-radius: 2px 2px 2px 2px;
    color: black;;
    height: 27px;
    padding-left: 5px;
    width: 100%;
}

.admin-stock-modal .admin-stock-modal-category-list .dk_toggle
{
    width:423px !important;;
    background-position:98% center !important;;
    border-radius:2px !important;;
    border:1px solid black; !important;;
}

.admin-stock-modal .admin-stock-modal-category-list .dk_container
{
    width:480px !important;;
    background-image:url("/img/dropdown/drop-down_grad.png") !important;;
    margin-top:0px !important;;
    margin-bottom:5px !important;;
}

.admin-stock-modal .organizer-stock-modal-textarea
{
    border-radius:2px !important;;
    width:468px !important;;
    margin:0 0 5px 5px !important;;
    color:black;;
    border: 1px solid;
    padding-left: 5px;
}

.managed-list-add-btn
{
    margin-bottom:5px;
}

.admin-managed-sizes
{
    margin:0 12px 0 0;
}

.admin-managed-sizes.admin-size-keeper .dk_container
{
    width:162px !important;
}

.admin-managed-sizes.admin-size-keeper .dk_toggle
{
    width:105px !important;
}

.admin-managed-sizes .spinner-input
{
    margin:0 5px 5px 0;
}

.admin-managed-sizes .opt-price .spinner-element .spinner-extension
{
    background-image:url("/img/admin/opt_ico.png");
    height:16px;
    width:16px;
}

.admin-managed-sizes .retail-percentage .spinner-element .spinner-extension
{
    background-image:url("/img/admin/retail_ico.png");
    height:16px;
    width:18px;
}

.admin-managed-sizes .retail-price
{
    color: gray;
    margin-top: 7px;
    vertical-align: middle;
    width: 57px;
    text-align:center;
}

.admin-managed-sizes .action-price .spinner-element .spinner-extension
{
    background-image:url("/img/admin/discount_ico.png");
    height:16px;
    width:16px;
}

.admin-managed-sizes .organizer-stock-modal-input
{
    padding:5px;
    height:17px;
    border-radius:2px;
    margin-right:3px !important;
}

.admin-managed-sizes .dk_toggle
{
    background-position: 90% center !important;
    border: 1px solid black; !important;
    border-radius: 2px !important;
    width: 35px !important;
}

.admin-managed-sizes .dk_container
{
    width:92px !important;
    background-image:url("/img/dropdown/drop-down_grad.png") !important;
    background-repeat:repeat-x !important;
    margin:-1px 5px 5px 0 !important;
}

.admin-stock .managed-list-delete-btn
{
    margin-left:12px !important;
}

.measurement-panel .dk_container
{
    width:318px !important;
}

.measurement-panel .dk_toggle
{
    width:262px !important;
    background-position:97% center !important;
}

.organizer-stock-main-modal-container
{
    background-color:white !important;
    border:0px !important;
    border-radius:0 !important;
    width:100% !important;
}

.admin-stock-modal .organizer-stock-main-modal-image-container
{
    border:0px !important;
    border-radius:0px !important;
    width:347px !important;
    margin:0 0 5px 5px;
}

.admin-stock-modal .fancy-input-text
{
    border-radius:2px !important;
}

.admin-stock-modal .organizer-stock-modal-input
{
    border:1px solid black; !important;
    color:black; !important;
    margin:0 5px 5px;
}

.admin-stock-modal .organizer-stock-modal-param-container
{
    margin: 0 5px 5px 0;
    border-radius:2px;
}

.admin-stock-modal .organizer-stock-modal-image-component-container
{
    margin:0px;
}

.admin-stock-modal .modal-carousel.modal-pager-active.margin7l.group
{
   margin-left:0px !important;
}

.admin-stock-modal .modal-additional-item-image
{
    border-radius:2px !important;
}

.admin-stock-modal .modal-carousel
{
    margin-top:-5px;
    margin-bottom:-15px;
}

.modal-img-controls .file-upload > div
{
    width:82px;
}

.admin-stock-modal .organizer-stock-main-modal-image-container .file-upload
{
    margin-left:-8px;
}

.admin-stock-modal .organizer-stock-main-modal-image-container .file-upload > div
{
    width:164px;
}

.admin-stock-modal .organizer-stock-main-modal-image-container .right
{
    margin:10px 5px 0 0;
}

.admin-stock-modal .modal-main-image
{
    border:0 !important;
    border-radius:0 !important;
}

.admin-stock-modal .organizer-stock-main-modal-image-container .form
{
    display:none;
}

.admin-stock-modal .admin-stock-save-panel
{
    height:40px;
}

/*****************************/
/**  Admin categories page  **/
.annotation
{
    vertical-align:middle;
    font-size:14px !important;
    color:#333333;
}

.category-add-item
{
    width:20px;
    margin:5px 5px 0 0;
}

.category-add-item .small-neutral-button-plain
{
    padding:0 !important;
}

.category-name-item
{
    width:305px;
}

.category-upload-item .small-neutral-button-plain
{
    padding: 4px 0 !important;
    margin-top: 1px !important;
}

.category-publication-item
{
    width:110px;
    text-align:center;
    padding-top:2px;
}

.category-upload-item
{
    width:160px;
}

.category-upload-item > .file-upload > div
{
    width:140px !important;
    font-size:14px !important;
}

.category-image-item
{
    width:70px;
    height:20px;
    text-align:center;
    margin-bottom:10px;
}

.category-image-item .small-neutral-button-plain
{
    display:none;
}

.category-image-item div
{
    width:27px;
    cursor:pointer;
}

.category-annotation-item
{
    width:350px;
}

.category-remove-item, .category-updatelink-item
{
    width:40px;
    margin-left:5px;
    height:30px
}


.admin-category-header
{
    font-size:14px;
    padding:10px !important; 0;
    height:20px;
    color:white;
    background-color:grey;
    margin-bottom:10px !important;;
    width:1003px !important;
    padding-left:75px;
    line-height:30px;
    border-radius:6px 6px 0 0;
    margin-top:15px;
    background-image:-moz-linear-gradient(center bottom , #F2F2F2, #E8E8E8);
    border:1px solid #CDCDCD;
    color:#333333;
}
/*************************/
/**  Orders  **/
.admin-order-status .dk_container
{
    float:none!important;
}

.admin-order-status .dk_toggle
{
    width:117px !important;
    padding:5px 33px 6px 10px !important;
}

.admin-order-additional-info-tooltip
{
    padding:0 5px 5px;
}

.admin-order-additional-info-tooltip p
{
    width:150px;
    text-align:right;
    display:table-cell;
    padding-right:5px;
}

.admin-order-additional-info-tooltip span
{
    width:70px;
    text-align:left;
    display:table-cell;
}


.admin-order-items-sum
{
    background-color:grey;
    color:white;
    padding-top:3px;
    margin-left:780px;
    margin:5px;
    width:990px;
}

.admin-order-holder .additional-payment-info p
{
    width:150px;
    text-align:right;
    margin-right:5px;
}

.additional-payment-info
{
    width:800px;
}

.additional-payment-info tr
{
    display:block;
    margin-bottom:5px;
}

.additional-payment-info .middle-td
{
    min-width:150px;
}

.additional-payment-info .name-td
{
    min-width:420px;
}

.additional-payment-info .name-td > div
{
    text-align:right;
}

.additional-payment-info .value-td
{
    min-width:80px;
}

.additional-payment-info .value-td > div
{
    margin-left: 5px;
    text-align: left;
}

.admin-control-panel p
{
    width:200px;
    text-align:right;
    margin-right:5px;
}

.admin-control-panel
{
    margin-top:10px !important;
}

.admin-control-panel .dk_container
{
    background-image:url("/img/dropdown/drop-down_grad.png") !important;
    margin-bottom:5px !important;
}

.admin-control-panel .dk_toggle
{
    border:1px solid black; !important;
}

.site-login-window
{
    padding:0 0 5px !important;
}

.admin-order-row-container
{
    border:1px solid;
    margin:1px 5px;
}

.admin-order-row-container:hover
{
    background-color:lightgrey;
}

/*************************/
/**  Order modal  **/
.admin-order-sum-sending .spinner-extension
{
    top:8px !important;
}

.admin-order-sum-sending .spinner-bottom
{
    bottom:-2px !important;
}

.admin-order-total
{
    background-color: #E0E0E0;
    display: block;
    margin: 5px 0;
    padding: 5px;
    vertical-align: middle;
}

.admin-order-overall p
{
    margin-left:790px !important;;
}

.admin-order-overall-sum .neutral-button-plain
{
    width:970px !important;;
    border-radius:2px !important;;
}

.admin-order-total p
{
    margin-left:631px;
}

.admin-order-total div
{
    margin-left:5px;
}

.admin-buyer-holder
{
    margin-bottom:15px;
}

.admin-buyer-holder .buyer-name
{
    min-width:200px;
}

.admin-buyer-holder .buyer-address
{
    min-width:300px;
}

.admin-buyer-holder .buyer-phone
{
    min-width:130px;
}

.admin-buyer-holder .buyer-mail
{
    min-width:150px;
}

.admin-buyer-holder .buyer-note
{
    min-width:195px;
}

.admin-table-body-container:hover
{
    background-color:lightgrey;
}

.admin-order-holder .delete-item-container
{
    min-width:75px;
}

.admin-order-holder .name-item-container
{
    width:100%;
}

.admin-order-holder .size-item-container
{
    min-width:100px;
}

.admin-order-holder .price-item-container
{
    min-width:70px;
    text-align:center;
}

.admin-order-holder .ordered-item-container,
.admin-order-holder .fact-ordered-item-container,
.admin-order-holder .not-enough-item-container
{
    min-width:60px;
}

.fact-ordered-item-container
{
    color:green;
    text-align:center;
}

.not-enough-item-container
{
    color:red;
    text-align:center
}

.admin-order-holder .total-item-container
{
    min-width:90px;
    text-align:center;
}

.admin-order-holder .status-item-container
{
    min-width:130px;
    text-align:center;
}

.admin-order-holder .status-item-container input
{
    width:85px;
}

.admin-order-holder .return-item-container
{
    min-width:65px;
}

.return-item-container .spinner-element,
.ordered-item-container .spinner-element,
.fact-ordered-item-container .spinner-element,
.not-enough-item-container .spinner-element
{
    width:50px; !important;
    height:29px !important;
}

.admin-declaration-number
{
    font-size: 16px;
    font-weight: bold;
    height: 19px;
    margin: 0 5px;
    padding: 5px;
    width: 620px;
}

.admin-inner-info
{
    height: 60px;
    margin: 0 5px 5px;
    width: 890px;
}

/*********************/
/** Admin user **/
/*.admin-user-sms-textarea textarea
{
    height: 100px;
    margin: 5px;
    padding: 5px;
    width: 474px;
}*/

.admin-user-list .buyer-name-container
{
    width:100% !important;
    text-align:left;
}

.admin-user-list .buy-count-container
{
    min-width:200px !important;
    text-align:left;
}

.admin-user-list .buy-count-container p
{
    padding-right:20px;
}

.admin-user-list .buy-sum-container
{
    min-width:200px !important;
    text-align:left;
}

.admin-user-list .buyer-info-container
{
    min-width: 250px;
    text-align: left;
}

.buy-sum-container, .buy-count-container, .buyer-info-container
{
    min-width: 180px;
}

.admin-user-list .buyer-name-container > div > a
{
    cursor:pointer;
}

.admin-user-list .buyer-name-container > div > a:hover
{
    color:#03ABE5;
}

.admin-user-detail-content
{
    padding:15px;
}

.admin-user-detail
{
    padding-bottom:10px !important;;
}

.admin-user-detail-content .admin-user-detail input
{
    width:560px;
}

.admin-user-detail .neutral-button-plain
{
    width:200px !important;
}

.admin-user-detail textarea
{
    width:560px;
    height:60px;
}
/*******************/
/**  Admin table  **/
.admin-table-head-container
{
    background-color: gray;
    border: 1px solid;
    color: white;
    margin: -1px 4px 0;
    padding: 2px 0;
}

.admin-table-body-container
{
    border:1px solid lightgrey;
    margin:1px 0;
}

.admin-table
{
    border-collapse: separate;
    border-spacing: 1px;
    background-color: gray;
    color: white;
    height:30px;
    border:1px solid black;;
}

.admin-table-head
{
    margin: 0 0 2px;
}

.admin-table-foot
{
    padding: 0 5px;
    text-align: left;
    width: 100%;

}

.admin-collapse-table
{
    border-collapse:collapse;
}

.admin-collapse-table td .dk_container
{
    margin-bottom: 13px !important;;
    margin-top: 10px !important; !important;;
    width: 95px !important;;
    background-image:url("/img/dropdown/drop-down_grad.png") !important;;
    background-repeat:repeat-x !important;;
}

.admin-collapse-table td .dk_toggle
{
    border: 1px solid black; !important;;
    border-radius: 2px !important;;
    width: 38px !important;;
    background-image:none !important;;
}

.admin-collapse-table td .dk_label
{
    width:85px !important;;
    margin-left:-5px;
}


/****************/
/**  Arrivals  **/
.arrival-initial-info > div > p
{
    margin-right: 7px;
    margin-top: 8px;
    text-align: right;
    vertical-align: middle;
    width: 100px;
}

.arrival-initial-info div input
{
    border: 1px solid black;;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 15px;
    padding: 4px 0;
    width: 650px;
}

.arrival-initial-info .dk_container
{
    width:651px !important;;
    margin-top:0 !important;;
    background-image:url("/img/dropdown/drop-down_grad.png") !important;;
}

.arrival-initial-info .dk_toggle
{
    border:1px solid black; !important;;
    width:594px !important;;
    background-position:98% center !important;;
}

.arrival-initial-info ~div
{
    width:150px !important;;
}

.arrival-initial-info ~div:hover
{
    background-color:#626F77;
}

.arrival-general-info
{
    margin-left:5px;
    color:grey;
}

.arrival-filters-block
{
    margin-top:-15px;
}

.admin-arrival-form .managed-list-component ul ~div
{
    display: block;
    margin: 0 auto 10px !important;;
    padding: 10px !important;;
    width: 230px;
}

.admin-arrival-form li.current-item
{
    border: 1px solid lightgrey;
    float: left;
    margin: 10px 0 10px 10px !important;
    border-radius:3px;
}

.admin-arrival-form li.current-item input[type=text]
{
    width:90px;
}


.admin-arrival-form-save-button div
{
    padding:15px;
    border-radius:0 0 3px 3px;
}

.admin-arrival-parameter-container p
{
    margin-top:10px !important;
}

.admin-arrival-parameter-container ~ div
{
    float:none !important;
    margin-bottom:7px;
}

.admin-arrival-parameter-container div:last
{
    width:187px;
}

.admin-arrival-group-incoming-price
{
    border: 0 none !important;
    border-radius: 2px 2px 2px 2px;
    margin-top: -4px;
    padding: 5px;
    width: 100px;
}

.admin-arrival-stock-price
{
    color: gray;
    font-size: 16px;
    font-weight: bold;
}

.admin-arrival-markup-percentage
{
    color:gray;
    font-size:13px;
}

.admin-arrival-size
{
    height: 22px;
    margin: 5px 0;
    text-align: center;
    text-transform: uppercase;
    font-size:18px;
    font-weight:bold;
}

.admin-arrival-quantity input
{
    font-size: 22px;
    height: 30px !important;
    text-align: center;
    border-radius:2px !important;
}

.admin-arrival-incoming-price input
{
    text-align:center;
    margin-top:5px;
    border-radius:2px !important;
}

.admin-wide-btn
{
    background:none repeat scroll 0 0 rgba(70, 70, 70, 0.7);
    color:white;
    margin:0 0 5px;
    text-align:center;
    padding:15px 0;
    cursor:pointer;
}

.admin-wide-btn:hover
{
    background:#8DC63F;
}

.arrival-list-table td
{
    text-align:left;
}

.admin-arrival-managed-list
{
    width:620px;
    margin-bottom:10px !important;;
}

.admin-arrival-managed-list .fancy-textarea
{
    width:85px;
    height:15px;
    border-radius:3px;
}

.site-login-window
{
    padding:0 !important;;
}

.admin-arrival-managed-list .managed-list-add-btn
{
    display:none !important;;
}

.admin-arrival-managed-list .managed-list-delete-btn
{
    display:none !important;;
}

.arrival-list-table .delete-item-container
{
    min-width:80px;
}

.arrival-list-table .arrival-name-container
{
    width:100%;
}

.arrival-list-table .arrival-supplier-container
{
    min-width:300px;
}

.arrival-list-table .arrival-date-container
{
    min-width:150px;
}

.arrival-list-table .arrival-stock-counter-container
{
    min-width:150px;
}

.delete-item-container > div > a
{
    cursor:pointer;
}

.delete-item-container > div > a:hover
{
    color:#03ABE5;
}

.admin-table-body-container .arrival-list-table td
{
    height:25px;
}

.arrival-stock-list-table .image-item-container
{
    min-width:55px;
}

.arrival-stock-list-table .name-item-container
{
    width:100%;
}

.arrival-stock-list-table .brand-item-container
{
    min-width:150px;
}

.arrival-stock-list-table .category-item-container
{
    min-width:300px !important;;
}

.arrival-stock-list-table .params-container
{
    min-width:230px !important;;
}

.arrival-stock-list-table td
{
    text-align:left;
}

.admin-tag-param-group span
{
    display:inline-block;
}

.admin-tag-size
{
    width:70px;
    text-align:right;
}

.admin-tag-price
{
    width:85px;
    text-align:left;
}

.admin-tag-quantity
{
    width:55px;
    text-align:center;
}
/********************************/
/* Global stock category */
/*#global-stock-category-change, .category-tree-selection, .filter-category-panel
{
    z-index:9;
    background: none repeat scroll 0 0 white;
    border: 1px solid black;;
    color: gray;
    padding: 5px;
    width: 210px;
}

.admin-clickable-category:hover
{
    background-color:#03ABE5;
    color:white;
    cursor:pointer;
}

.admin-not-clickable-category
{
    font-weight:bold;
}

.admin-main-list-category
{
    cursor:pointer;
    color:#03ABE5;
    display:inline;
    border-bottom:1px dashed #03ABE5;
}

.filter-category-panel
{
    width:210px !important;
}*/

/********************************/
/* Global dictionary */
.admin-dictionary-form
{
    padding:15px;
}

.managed-list-component .current-item
{
    margin-bottom:5px !important;;
}

.managed-list-component .current-item > .none + .managed-list-delete-btn
{
    display:none;
}

.managed-list-component .current-item > input
{
    width:835px;
}

.admin-dictionary-form .fancy-textarea
{
    border-radius:3px !important;;
}

/********************************/
/* Admin short inplace edit mode*/
.admin-stock-list .organizer-stock-short-main-container
{
    width: 1013px;
    border: 1px solid #CDCDCD;
    margin: 1px 5px 0;
}

.admin-stock-list .centered-cell-with-margin
{
    margin:0 10px !important;;
    vertical-align:middle;
}

.admin-stock-list .name-item-container
{
    min-width:170px;
}

.admin-stock-list .category-item-container
{
    min-width:145px;
}

.admin-stock-list .price-size-balance-container
{
    width:100%;
    padding:5px 0;
}

.admin-stock-list .product-name-container
{
    min-width:110px;
    text-align:left;
}

.admin-stock-list .company-name-container
{
    min-width:110px;
}

.admin-stock-list .retail-status
{
    min-width:45px;
    text-align:center;
}

.admin-stock-list .opt-status
{
    min-width:45px;
    text-align:center;
}

.admin-stock-list .views-item-container
{
    min-width:45px;
    text-align:center;
}

.admin-stock-list .order-number-container
{
    min-width:90px;
}

.admin-stock-list .buyer-name-container
{
    width:100%;
}

.admin-stock-list .order-sum-container
{
    min-width:110px;
}

.admin-stock-list .order-date-container
{
    min-width:150px;
}

.admin-stock-list .order-counter-container
{
    min-width:140px;
}

.admin-stock-list .order-confirm-container
{
    min-width:140px;
}

.admin-stock-list .order-registration-container
{
    min-width:140px;
}

.admin-stock-list .image-item-container img
{
    margin:0 !important;;
    vertical-align:middle;
}

.admin-stock-list .category-item-container p
{
    text-align:left;
}

.add-template-container div
{
    background-image:url("/img/admin/copy.png");
    background-repeat:no-repeat;
    cursor:pointer;
    height:18px;
    width:18px;
}

.add-template-container div:hover
{
    background-image:url("/img/admin/copy_blue.png");
    background-repeat:no-repeat;
}

.edit-item-container > div > a
{
    cursor:pointer;
}

.edit-item-container > div > a:hover
{
    color:#03ABE5;
}

.status-item-container > p:hover
{
    color:#03ABE5;
    cursor:pointer;
}

.status-item-container > div > a, .admin-collapse-table .tag-item-container > div > p
{
    cursor:pointer;
}

.status-item-container > div > a:hover, .admin-collapse-table .tag-item-container > div > p:hover
{
    color:#03ABE5;
}

.tag-item-container
{
    min-width:65px;
}

/*************/
/** General **/
.admin-btn-gray
{
    background-color:#626F77;
}

.admin-btn-light-green
{
    background-color:#8DC63F;
}

.admin-btn-blue
{
    background-color:#03ABE5;
}

.admin-filters .ranged-input-container
{
    width:309px;
}

.admin-filter-holder
{
    width:125px;
}

.admin-order-panel
{
    padding:15px;
    border:1px solid #C0CAD5;
    margin:5px 5px 0 5px;
}

.admin-filters-panel
{
    width:530px;
}

.admin-search-panel .fancy-textarea
{
    border:1px solid grey !important;
}

.link-container > div > a
{
    cursor:pointer;
}

.link-container > div > a:hover
{
    color:#03ABE5;
}


/********************  ********************/
/** Stock group edit **/
.main-form
{
    padding:15px;
}

.main-form .plain-button
{
    padding:10px !important;
}

.admin-group-edit-content .organizer-stock-modal-param-name
{
    color: black; !important;
    margin-left: 5px;
    margin-right: 20px !important;
    text-align: right;
    width: 135px !important;
}

.admin-group-edit-content .admin-managed-list-block
{
    width: 750px !important;
    margin-left: 161px;
}

.admin-group-edit-content .admin-sizes-sizes
{
    position:absolute !important;
    margin-top:10px !important;
}

.admin-group-edit-content .managed-list-component .current-item > div
{
    margin-right: 20px !important;
}

.admin-group-edit-content .managed-list-component .current-item > div > .plain-button
{
    margin-top:-5px !important;
}

.admin-group-edit-content .plain-button
{
    margin-left:0 !important;
}

.admin-group-edit-content .measurement-dropdown-block
{
    margin-left:0 !important;
}

.admin-group-edit-content .admin-measurement-block
{
    width:750px !important;
}

.admin-group-edit-content .measurement-panel
{
    margin-left:80px !important;
}

.admin-group-save-btn div
{
    margin-left:170px;
}

/********************  ********************/
/* Dropzone for stock creation */

.normal-text,.inverted-text
{
    padding-top:18px;
    margin-left:auto;
    margin-right:auto;
}

.admin-action-panel .stock-creation
{
    font-size: 16px;
    height: 34px;
    margin: auto;
}

.dropzone.stock-creation,#load-progress,.stock-creation-container
{
    height:100%;
}

/********************  ********************/
/* Drag and drop fileupload */

.dropzone {
    text-align: center;
}

.dropzone.in {
    background:green;
}

.dropzone {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.file-upload
{
    position:relative;
}

/**********  **********/
/* Admin search panel */
.admin-search-panel input
{
    border-radius: 3px 3px 3px 3px;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    margin: 10px !important;;
    padding: 10px !important;;
    width: 350px;
}

/********************  **********************/
/* Admin general design features */
.retail-side-buttons-block
{
    display:none !important;
}

.admin-stock-save-panel > div
{
    top:5px !important;;
    left:410px !important;;
}

.retail-small-category-info-holder
{
    width:200px;
}

.retail-small-category-info-holder h5
{
    margin:7px;
    text-transform:none !important;;
}

.fancy-textarea:focus
{
    border-color: #40B5E2 !important;;
    box-shadow: 0 0 0 #40B5E2 !important;;
}

.left-block-header
{
    margin-top:5px;
}

#retail-header
{
    display:none !important;;
}

#retail-footer
{
    display:none !important;;
}

.spacer130px
{
    height:80px !important;;
}

.retail-breadcrumbs-container
{
    display:none !important;;
}

.retail-main-menu
{
    max-width:1350px;
}

.retail-main-container
{
    width:100%;
    min-width:1260px;
}

.text-left
{
    text-align:left;
}

input[type='checkbox']
{
    /* Hide the input, but have it still be clickable */
    cursor: pointer;
    float: left;
    height: 10px;
    margin-bottom: -14px;
    margin-left: 2px;
    margin-top: 2px;
    opacity: 0;
    width: 18px;
    z-index: 9999;
}

input[type='checkbox']:hover + label
{
    background: url("/img/admin/unchecked_box_blue.png") left center no-repeat;
}

input[type='checkbox']:checked:hover + label
{
    background-image: url("/img/admin/checked_box_blue.png");
}

input[type='checkbox'] + label
{
    margin: 0;
    clear: none;

    /* Left padding makes room for image */
    padding: 5px 0px 3px 18px;

    /* Make look clickable because they are */
    background: url("/img/admin/unchecked_box.png") left center no-repeat;
}

/*
    Change from unchecked to checked graphic
*/
input[type='checkbox']:checked + label
{
    background-image: url("/img/admin/checked_box.png");
}

.retail-main-menu ul li:hover a
{
    color:#8DC63F;
}

.retail-main-menu nav li
{
    width:inherit !important;
}

.retail-main-menu nav ul
{
    margin:0 auto;
}

.retail-main-menu ul li > a
{
    display: inline-block;
    padding: 10px 20px;
}

.retail-main-menu ul li:hover a ~.triangle-container
{
    background-image:url("/img/admin/triangle_green.png");
}

.triangle-container
{
    background-image: url("/img/admin/triangle.png");
    height: 6px;
    margin-top: 19px;
    width: 10px !important;;
    background-repeat: no-repeat;
}

.tree-drilldown-container
{
    width:650px;
}

/**********************/
/*START for site pages*/
.admin-test-mail
{
    height:130px;
}

.admin-test-mail input
{
    display: block;
    font-size: 26px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    width: 450px;
    color:#03ABE5;
}

.admin-test-mail p
{
    margin: 14px 0 -4px 67px;
    font-size: 16px;
}

.admin-pages-table
{
    width: inherit;
}
.admin-pages-cell
{
  background-color: #ffffff;
  color: rgb(97, 94, 106);
    border: 1px solid;
    padding-top: -5px;
    height: 30px;
}

.admin-pages-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 900px;
    height:30px;
}

.publish-item-container
{
    min-width:110px;
}

.author-item-container
{
    min-width:250px;
}

.city-item-container
{
    min-width:250px;
}

.date-item-container
{
    min-width:150px;
}

.text-item-container
{
    width:100%;
    text-align:left;
}

.admin-reviews-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 460px;
}

.admin-conten-size
{
   min-height:  900px;
}

.page_form_container
{
    padding-bottom: 8px;
    clear:both;
}

.page_form_container textarea
{
    width:87%;
    border:1px solid gray;
}

.page_form_title
{
    float: left;
    margin-right: 5px;
    min-width: 120px;
    margin-top: 7px;
    text-align: right;
}
.page_form_title_big
{
    clear: left;
}
.page_editor_container
{
    position: relative;
    min-height: 560px;
    width:87.7%;
    margin-left:125px;
}

.page_editor_container .cleditorMain
{
    position: absolute;
    float: none;
    top: 35px;

}
.page_editor_container .cleditorSmileybar
{
    position: absolute;
    width: 885px;
    top: 0px;
    left: 400px;
    height: 30px;
    padding: 0;
}

.page_editor_container .cleditorToolbar
{
    background-color: rgba(232, 236, 244, 0.5);
    border: 1px solid gray;
    border-radius: 2px 2px 2px 2px;
    height: 26px !important;
    left: 183px !important;
    position: absolute;
    top: 2px;
    width: 415px;
}

.page_editor_container .cleditorMain
{
    width: 95%;
    min-width: 1000px;
    min-height: 500px;
}

.page_editor_container iframe
{
    width: 95%;
    min-width: 1000px;
    min-height: 500px;
}

.page_news_short_content
{
    width: 700px;
}

.admin-pages-table .link-item-container
{
    min-width:350px;
    max-width:350px;
}

.admin-pages-table .name-item-container
{
    min-width:450px;
    max-width:450px;
}

.admin-pages-table .status-item-container
{
    min-width:100px;
}

.admin-pages-table .content-item-container
{
    max-width:430px;
}

.page_editor_container .cleditorSmileybar
{
    display:none;
}

.page_editor_container .cleditorMain
{
    width:88%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px 4px 4px 4px;
    color: #1B4684;
    float: left;
    height: 100px;
    padding: 5px;
    resize: none;
    width: 100%;
}

.admin-pages-upload-photo
{
    display:none;
}

.page_editor_container .mce-tinymce.mce-container.mce-panel
{
    border-radius:4px;
    border:1px solid gray !important;
}

.page_editor_container .mce-container-body.mce-stack-layout, .page_editor_container .mce-stack-layout-item
{
    border-radius:4px 4px 0 0;
}

.page_editor_container .mce-edit-area.mce-container.mce-panel.mce-last.mce-stack-layout-item,
.page_editor_container iframe
{
    border-radius:0 0 4px 4px;
}

.page_form #images-list
{
    background-color: gray;
    border: 1px solid #333333;
    border-radius: 3px 3px 3px 3px;
    height: 104px;
    margin-left: 898px;
    overflow: auto;
    padding: 4px 9px 0 12px;
    width: 57.9%;
}

.page_form #images-list img
{
    margin-right:10px;
}

#.admin-image-upload-container
{
    height:50px;
}

.admin-show-img-container
{
    display: table;
    margin-left: 125px;
    width: 88%;
}

.admin-upload-holder
{
    margin-bottom: 5px;
    margin-right: 10px;
    position: relative;
}

.admin-upload-img
{

}

.admin-delete-upload-img-btn
{
    background-color: #CECECE;
    border-radius: 11px 11px 11px 11px;
    color: gray;
    font-size: 18px;
    font-weight: bold;
    height: 18px;
    left: -4px;
    line-height: 17px;
    position: absolute;
    text-align: center;
    top: -2px;
    width: 18px;
}

.admin-delete-upload-img-btn:hover
{
    cursor:pointer;
    background-color:#333333;
    color:lightgray;
}


/********************  ********************/
/* Procurement list */
.procurement-list-table
{
    text-align:left;
}

.procurement-list-table .name-item-container
{
    min-width: 130px;
}

.procurement-list-table .params-container
{
    width:100%;
}

.procurement-list-table .image-item-container
{
    min-width:85px;
}

.procurement-list-table .brand-item-container
{
    min-width:100px;
}

.procurement-list-table .category-item-container
{
    min-width:225px;
}

.procurement-list-table .admin-stock-quantity-input input
{
    width: 35px;
    border-radius:0 5px 5px 0;
    margin-top:-2px;
    height:51px;
    padding-left:0;
}

.procurement-list-table .spinner-bottom
{
    background-image:none;
    background-color:lightgray;
    width:35px;
    border-radius: 0 0 5px 0;
    height: 17px;
    left:0;
    top: 32px;
}

.procurement-list-table .spinner-bottom:hover
{
    background-image:none;
    background-color:gray;
    cursor:pointer;
    width:35px;
    border-radius: 0 0 5px 0;
    height: 17px;
    left:0;
    top: 32px;
}

.procurement-list-table .spinner-top
{
    background-color: lightgray;
    background-image: none;
    border-radius: 0 5px 0 0;
    height: 17px;
    left:0;
    top: -2px;
    width: 35px;
}

.procurement-list-table .spinner-top:hover
{
    background-image:none;
    background-color:gray;
    cursor:pointer;
    border-radius: 0 5px 0 0;
    height: 17px;
    left:0;
    top: -2px;
    width: 35px;
}

.procurement-list-table .spinner-plus
{
    color: white;
    font-size: 18px;
    font-weight: bold;
    display:block;
    margin-top:-2px;
}

.procurement-list-table .spinner-minus
{
    color: white;
    font-size: 21px;
    font-weight: bold;
    display:block;
    margin-top:-2px;
}

/********************  ********************/
/* Inventory list */
.inventory-list-table .name-item-container
{
    min-width:180px;
    text-align:left;
}

.inventory-list-table .current-stock-balance
{
    width:100%;
    text-align:left;
}

.inventory-list-table .brand-item-container
{
    min-width:200px;
}

.inventory-list-table .category-item-container
{
    min-width:200px;
}

.inventory-fact-input input
{
    border: 1px solid gray;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    height: 56px;
    margin-left: -57px;
    margin-top: 3px;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 45px;
    z-index: 0;
}

.inventory-list-table .admin-stock-price
{
    border-radius:0 0 0 4px!important;
}

.inventory-right-balance
{
    background-color:#BBE679;
}

.inventory-right-balance-input
{
    color: green;
}

.inventory-wrong-balance-input
{
    color: #FF594A;
}

.inventory-wrong-balance-input.inventory-positive-balance-input
{
    color: #1FACA3;
}

.inventory-wrong-balance
{
    background-color:#FDCAA7;
}

/********************  ********************/
/* Admin report */
.admin-report-list .brand-item-container
{
    min-width:200px;
    text-align:left;
}

.admin-report-list .name-item-container
{
    min-width:350px;
    text-align:left;
}

.admin-report-list .left-item-container
{
    min-width:150px;
    text-align:left;
}

.admin-report-list .sold-item-container
{
    min-width:150px;
    text-align:left;
}

/********************  ********************/
/* Stock movements */
.admin-stock-movements .stock-name-container
{
    min-width:350px;
    text-align:left;
}

.admin-stock-movements .size-item-container
{
    width:100%;
    text-align:left;
}

.admin-stock-movements .real-quantity
{
    background-color:lightgray;
    padding:15px 0;
    font-size:22px;
    width:41px;
    border-radius:0 0 0 5px;
    color:black;
}

.admin-stock-movements .stock-tag-group
{
    width:71px;
    height:auto;
    margin:-2px 4px 1px;
}

.admin-stock-movements .stock-tag
{
    padding:1px;
    cursor:pointer;
    background-color:gray;
}

.admin-stock-movements .stock-tag:hover
{
    background-color:#03ABE5;
}

.admin-stock-movements .admin-stock-size
{
    border-radius:5px 5px 0 0;
    background-color:black;
    color:white;
    padding:1px;
    width:71px;
}

.bordered-tag
{
    border-radius: 0 0 5px 0;
}

.admin-stock-movements .stock-movement-info
{
    border-collapse: collapse;
    display: table;
}

.tooltip-margin
{
    margin: 0 5px 5px !important;
}

/********************  ********************/
/* Sale */
.is-sale
{
    border:2px solid #EEA123;
}
