*{font-size:14px;}
a{text-decoration:none; color:inherit; cursor:inherit;}
input{border:none; font:inherit; width:30px;}

.bono-logo{background-image:url("/img/themes/bono/logo.png"); position:absolute; height:138px; width:235px; top:0}
.left0px{left:0;}
.left100px{left:100px;}
.left150px{left:150px;}
.left250px{left:250px;}
.left350px{left:350px;}
.name{display:block; position:absolute; top:0;}
.address{display:block; position:absolute; top:75px; width:700px;}
.phone{display:block; position:absolute; top:25px;}
.mail{display:block; position:absolute; top:50px;}
.order-details {margin-top:122px;}
.not-print, .none{display:none;}

.full-width-cell{width:300px;}
.fixed-75px-width-cell{width:100px;}
.fixed-100px-width-cell{width:150px;}
.fixed-150px-width-cell{width:150px;}
.fixed-200px-width-cell{width:200px;}

.print-summary{margin-left:730px;}
.admin-table-head td,
.admin-table-body-container td{border:1px solid lightgray;}

.margin5b {font-weight:bold;}
