.plain-button:not(.enabled)
{
    background-color:#626F77;
}

.plain-button:not(.enabled):hover
{
    background-color:#626F77;
}

.plain-button
{
    border-radius: 3px 3px 3px 3px;
    color: white;
    text-align: center;
    cursor:pointer;
}

/********************  ********************/
/* Neutral button(Login,Registration) */
.neutral-button-plain
{
    background-color:#8DC63F;
    margin-left:15px;
    margin-right:15px;
    padding: 10px;
}

.middle-neutral-button-plain
{
    background-color:#8DC63F;
    margin-left:15px;
    margin-right:15px;
    padding: 10px;
}

.small-neutral-button-plain
{
    background-color:#8DC63F;
    padding: 5px;
}

.middle-neutral-button-plain:hover
{
    background-color:#05a505;
    padding: 10px;
}

/********************  ********************/
/* Back & Cancel button */
.small-cancel-button-plain
{
    background-color: #626F77;
    padding: 5px;
}

.cancel-button-plain
{
    background-color: #626F77;
    padding: 10px;
}

/********************  ********************/
/* Light button(OK,Save,Update) */
.ok-button-plain
{
    background-color: #D60796;
    padding: 10px;
}

.ok-button-plain:hover
{
    background-color:#A11D61;
}

.retail-blue .ok-button-plain
{
    background-color:#03ABE5;
}

.retail-blue .ok-button-plain:hover
{
    background-color:#014c66;
}

.small-ok-button-plain
{
    background-color: #D60796;
    padding: 5px;
}

.bono_tov_descr .ok-button-plain
{
    background: url("/img/bono/but_bg.gif") repeat-x scroll 0 50% transparent !important;
    box-shadow: 0 2px 4px #CCCCCC;
    float: right;
    height: 26px !important;
    padding: 2px 0 0;
    width: 75px !important;
    text-shadow: -1px -1px 0 #7EA623;
    font: 700 12px/24px Tahoma,Geneva,sans-serif !important;
}

.bono_tov_descr .ok-button-plain:hover, .bono_form_style .neutral-button-plain:hover
{
    background: none repeat scroll 0 0 #73991E !important;
    border: 0 solid #B9B9C3 !important;
    color: #FFFFFF;
    text-decoration: none;
}

.bono_form_style .neutral-button-plain
{
    background: url("/img/bono/but_bg.gif") repeat-x scroll 0 50% transparent !important;
    box-shadow: 0 2px 4px #CCCCCC;
    font: 700 12px/24px Tahoma,Geneva,sans-serif !important;
    height: 25px !important;
    padding: 4px 15px;
    text-shadow: -1px -1px 0 #7EA623;
    width: 175px;
}
