/*headings*/
h1,h2,h3,h4,h5,h6{font-weight:400;margin:0;padding:0; line-height:1.2em}
h1{font-size:26px; padding:25px 0 15px 0;}
h2{font-size:22px; padding:25px 0 15px 0;}
h3{font-size:18px; padding:25px 0 10px 0;}
h4{font-size:16px; padding:25px 0 10px 0; font-weight:700;}

strong, b {font-weight:700;}
em { font-style:italic;}
p{margin:0;padding:0 0 1em;}
img{border:0;}
a,a:link,a:visited,a:hover{outline:none;}
form{display:block;margin:0;padding:0;}
input,select,textarea{font:12px/1.4em Arial, Helvetica, sans-serif;}
textarea{width:auto;line-height:1.4;}
label{cursor:pointer;}
table{border:0;margin:0;padding:0;border-collapse: collapse; }
table tr td,.nopadding{padding:0;vertical-align:top;}
.pager-table tr td, .nopadding{width:225px !important;}
/*bind*/
.bono_clear{clear:both;}
.bono_floatleft{float:left;}
.bono_floatright{float:right;}
.bono_textleft{text-align:left;}
.bono_textright{text-align:right;}
.bono_textcenter{text-align:center;}
.bono_textjustify{text-align:justify;}
.bono_bold{font-weight:700;}
.bono_italic{font-style:italic;}
.bono_underline{border-bottom:1px solid;}
.bono_upper{text-transform:uppercase;}
.bono_bono_top{vertical-align:top;}
.bono_bottom{vertical-align:bottom;}
.bono_block { display:block;}
.bono_rel { position:relative}
.bono_site_size {width:980px;margin:0 auto; position:relative}
.bono_overflow { overflow:hidden; //zoom:1;}
.bono_pop_link {
	text-decoration:none !important;
	line-height:1.2em !important;
	padding:0 !important;
    position: relative;
    top: 3px;
	border-bottom:1px dashed #659300;

}
.bono_user_menu .bono_pop_link{ border-bottom:1px dashed #fff; }
.bono_user_menu .bono_pop_link:hover { color:#000; border-bottom:1px dashed #000; }
.bono_pop_link:hover { text-decoration:none; color:red; border-bottom:1px dashed red}

.bono_size10{font-size:10px; line-height:1.2em}
.bono_size11{font-size:11px; line-height:1.2em}
.bono_size12{font-size:12px; line-height:1.2em}
.bono_size13{font-size:13px; line-height:1.2em}
.bono_size14{font-size:14px; line-height:1.2em}
.bono_size15{font-size:15px; line-height:1.2em}
.bono_size16{font-size:16px; line-height:1.2em}
.bono_size18{font-size:18px; line-height:1.2em}

/*color*/
.bono_white{color:white;}
.bono_black{color:black;}
.bono_red{color:red}
.bono_green{color:green}
.bono_gray { color:gray}
.bono_blue { color:blue}

/*html5*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display: block;}
audio,canvas,video {display: inline-block;//display: inline;//zoom: 1;}

/*grid*/
[class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}
.span1 { width: 40px;}
.span2 { width: 100px;}
.span3 { width: 160px;}
.span4 { width: 220px;}
.span5 { width: 280px;}
.span6 { width: 340px;}
.span7 { width: 400px;}
.span8 { width: 460px;}
.span9 { width: 520px;}
.span10 { width: 580px;}
.span11 { width: 640px;}
.span12 { width: 700px;}
.span13 { width: 760px;}
.span14 { width: 820px;}
.span15 { width: 880px;}
.span16 { width: 940px;}

/*list*/
ul, ol{padding:0;margin:0 0 20px 25px;}
li{padding:5px 0;margin:0;}
ul.list{padding:0;margin:0 0 20px 0;}
ul.list li { list-style:none; background:url(../pic/list-type.gif) 0 5px no-repeat; padding:0 0 5px 15px;}
ul.checks{padding:0;margin:0 0 20px 0;}
ul.checks li{list-style-type:none;margin:0;background:url(../pic/icon-check.png) no-repeat 5px 0.5em;padding-left:30px;}
ul.alt{padding:0;margin:0 0 20px 0;}
ul.alt li{list-style-type:none;border-top:1px dotted #ccc;border-bottom:1px dotted #ccc;margin:0 0 -1px 0;background:url(../pic/icon-arrow-right.png) no-repeat 5px 0.7em;padding-left:20px;}

/*table*/
.bono_table1 { margin:0}
.bono_table1 th {color: #fff;font-weight: bold; padding: 6px 6px 5px;text-align: left; border:1px solid #d9d99e; font:italic 14px/1.2em Arial, Helvetica, sans-serif; background:#85b024}
.bono_table1 td {
    padding: 6px 6px 5px;
    border:1px solid #d9d99e;
    vertical-align: top;
    line-height: 1.2em;
    display:table-cell;
}
.bono_table1 tr.bono_alt td { background-color: #ffffcc}
.bono_table1 tr {background-color:#ffffdf;}
.bono_table1 tr:hover {background-color:#ECECB8;}

.table2 { margin:0; margin-left:-1px}
.table2 th {color: #999;font-weight: bold; padding: 6px 6px 5px;text-align: left; border:0; font:italic 14px/1.2em Arial, Helvetica, sans-serif;}
.table2 td {    padding: 6px 6px 5px; border:0;vertical-align: top;line-height: 1.2em; background:url(../pic/standard-cell.gif) 0 1px #fff; border-bottom: 2px solid #FFFFFF;}
.table_wrap { //zoom:1; border-bottom:0px solid #d9d99e; margin:0 0 15px 0;}
.table2 td.over { background-color: #f1efef;border-bottom: 2px solid #f1efef;}

/*gallery*/
.thumbnails{margin: -2em 0 0 -1em;text-align: center; clear:both;}
.thumbnail{text-decoration: none;display: -moz-inline-box;display: inline-block;vertical-align: top;text-align: center;margin: 2em 0 0 1em;}
.thumbnail .bono_r {width: 240px;float: left;}
.thumbnails a.img_link { padding:0px; background:#fff;display:inline-block;font-size:0; line-height:0;}
.thumbnails a.img_link:hover { background:#fff;}
.item_name {font:12px/1.2em Verdana, Arial, Helvetica, sans-serif; color:#333; padding:3px 0 3px 0}

.gallery_list{margin: -1em 0 0 -1em;text-align: center; clear:both; padding:0 0 30px 0;}
.gallery_list a.img_link { padding:0px;display:inline-block;font-size:0; line-height:0; border:0; padding:8px; position:relative; background:none;}
.gallery_list a.img_link img { border:1px solid #fff;}
.gallery_list a.img_link:hover {border:0; padding:8px;}
.th_clone_top { position:absolute; top:0; left:0;}
.th_clone_bot { position:absolute; bottom:0; right:0;}


/*li Valid Form*/
.bono_mand { color:#f00 !important ; padding:4px 3px 3px 0;}

.bono_form_style .bono_form_indicator{
    border-color: #EE5F5B;
    color: #B94A48;
}

.bono_form_style .bono_form_indicator:focus {
    border-color: #E9322D;
    box-shadow: 0 0 6px #F8B9B7;
}

.bono_form_style { padding:10px 0 15px 0;}
.bono_form_style input, .form_style textarea { vertical-align:top;}
.bono_form_style textarea { vertical-align:top}
.bono_row { padding:0 0 5px 0; position:relative}
.bono_form_style label { width:150px; padding:4px 5px 5px 0; text-align:right; display:inline-block; margin-left: 14px;}
.bono_form_style .bono_r {display:inline-block; vertical-align:top; width:6px;}
.bono_form_style .bono_row table { display:inline-block; vertical-align:top; //display:inline; //zoom:1}
.bono_form_style .bono_row table td { vertical-align:top; padding:6px 10px 0 0}
.bono_form_style .bono_row table td .bono_update_captcha { text-align:left;margin:0 0 0 5px}
.bono_form_style #image {margin:0 0 0 5px !important;}
/*
.form_style .disabled { border:1px solid #d0d0d0 !important; color:#929292; box-shadow:none}
.form_style .disabled:hover {background:url(pic/but_bg.gif) 0 50% repeat-x !important ; cursor:default}
*/
.form_style .t_radio { width:auto !important; margin:0 0 0 3px;}
.top {-moz-display:inline-box;display:inline-block !important;//display:inline;//zoom:1;vertical-align:top;}
.bono_psevdo_but { background:#fff; width: 127px; height: 32px;}

/*buttons*/
.bono_but,.bono_form_style .bono_but, .bono_bucket_but div {
	font:700 12px/24px Tahoma, Geneva, sans-serif !important;
	color:#fff;
	text-shadow:-1px -1px 0 #7ea623;
	height:26px;
	padding:0 10px;
	display:inline-block;
	background:url(/img/bono/but_bg.gif) 0 50% repeat-x !important ;
	text-decoration:none;
	border:0px solid #afafaf !important;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	cursor:pointer;
	-moz-box-shadow:0 2px 4px #ccc;
	-webkit-box-shadow:0 2px 4px #ccc;
	-khtml-box-shadow:0 2px 4px #ccc;
	box-shadow:0 2px 4px #ccc;
	margin:3px 0;
	//display:inline;
	//zoom:1;
	position:relative;
	z-index:1;
	vertical-align:bottom;
}
input.bono_but,.bono_form_style input.bono_but{padding:3px 20px 5px;height:32px;//padding:3px 2px 5px;}
.bono_but:hover,.bono_form_style .bono_but:hover, .bono_bucket_but div:hover
{
    text-decoration:none;
    color:#fff;
    background:#73991e !important;
    border:0px solid #b9b9c3 !important;
}

/*images*/
img{margin:0;padding:0;display:inline-block;position:relative;zoom:1;}
img.imgLeft {margin:4px 10px 2px 0;float:left !important; clear:both; }
img.imgRight {margin:4px 0 2px 10px;float:right !important;clear:both; }
img.fullWidth{clear:both;display:block;width:100%;height:auto;margin:0 0 10px 0;}
img.style1 {border:1px solid #bcbcbc; padding:8px;}
span.img-wrap img{display:block;padding:0;margin:0;}
.img-wrap.style2{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;overflow: hidden;}
span.img-wrap{display:inline-block;position: relative;top:0;left:0;zoom: 1;}

/*tovar page*/
.thumbs_tovar img { display:inline-block; vertical-align:top; margin:0 5px 0 0; height:100px;}
.tovar_photo_wrap {background:#e9e9e9;width:400px;float:left;margin:0 -408px 0 0;position:relative;font-size:0; border:4px solid #e9e9e9; //zoom:1; text-align:center}
.thumbs_tovar {padding:0;overflow:hidden; //zoom:1; border-top:4px solid #e9e9e9; position:relative;}
.tovar_descr_wrap {padding:0 0 0 425px;}
.tovar_text {background:#f9f9f9;border:1px solid #d9d9d9;padding:10px;font:11px/1.2em Tahoma, Geneva, sans-serif;margin:0 0 20px 0;}
.tovar_text_title {font: 700 12px/1.2em Tahoma, Geneva, sans-serif;padding:0 0 8px 0;}
.tovar_cost {float:left;font:20px/1.2em Arial, Helvetica, sans-serif;padding:0 40px 0 0;}
.wrapInner { display:inline-block; white-space:nowrap; position:relative; top:0; left:0;}
.tab_wrap { position:relative; margin:0 0 37px 0;}
.tab_wrap .tab_title { float:left; display:inline-block; padding:4px 20px;text-decoration:none; font:12px/1.2em Arial, Helvetica, sans-serif; margin:0 1px 0 0; color:#999; position:relative; z-index:2; background:#fff; border:1px dotted #fff; border-bottom:0;-moz-border-radius: 20px 0 0 0; -webkit-border-radius: 20px 0 0 0; -khtml-border-radius: 20px 0 0 0; border-radius: 20px 0 0 0;}
.tab_wrap .tab_title.bono_cur {border:1px solid #f7f7f7; border-bottom:1px solid #f7f7f7; background:#fff;background:#f7f7f7; color:#000;}
.tab_wrap .tab_content { display:none; position:absolute; top:22px; left:0; width:100%; z-index:1;}
.tab_wrap .tab_content .t_cont { border:1px solid #f7f7f7; padding:15px 20px; font:12px/1.4em Arial, Helvetica, sans-serif; background:#f7f7f7;-moz-border-radius: 20px 0 20px 0; -webkit-border-radius: 20px 0 20px 0; -khtml-border-radius:20px 0 20px 0; border-radius: 20px 0 20px 0;}
.tab_wrap .tab_content .t_cont.tf {-moz-border-radius: 0 0 20px 0; -webkit-border-radius:  0 0 20px 0; -khtml-border-radius: 0 0 20px 0; border-radius: 0 0 20px 0}
.tab_c_title {font:700 12px/1.2em Tahoma, Geneva, sans-serif;color:#000;text-transform:uppercase;padding:0 0 10px 0;}
.tab_c_txt {border-top:2px solid #e9e9e9;margin:10px 0 0 0;padding:13px 0 5px;}

/*footer*/
.bono_footer_left {width:230px; margin:0 -230px 0 0; float:left; position:relative;}
.bono_footer_left_ind {padding:40px 0 0 40px; font:11px/1.2em  Tahoma, Geneva, sans-serif;}

.bono_footer_center_ind {padding:10px 235px 0; font:11px/1.2em Tahoma, Geneva, sans-serif;}
.bono_footer_center_ind img { margin:0;}
.bono_footer_center_ind a { text-decoration:underline;}
.bono_footer_center_ind a:hover {}

.bono_footer_right { width:230px; margin:0 0 0 -230px; float:right; position:relative; padding:30px 0 0 0;}
.bono_footer_right img {margin:-5px 5px 0 0; border:0; display:inline-block; vertical-align:top;}
.bono_footer_right a, .bono_footer_right a:hover { text-decoration:none;font:11px/1.2em Tahoma, Geneva, sans-serif; display:block;}
.bono_footer_right span.bono_wezom_txt { color:#333; text-decoration:none;display:inline-block; vertical-align:top}/*\txt\*/
.bono_footer_right a:hover span.bono_wezom_txt {color:#333;}
.bono_footer_right a span { text-decoration:underline; color:#39F}/*\link\*/
.bono_footer_right a:hover span { color:#f00}/*\hover\*/





/*
.form_style .disabled { border:1px solid #d0d0d0 !important; color:#929292; box-shadow:none}
.form_style .disabled:hover {background:url(pic/but_bg.gif) 0 50% repeat-x !important ; cursor:default}
*/
.bono_form_style .bono_t_radio { width:auto !important; margin:0 0 0 3px;}
.bno_top {-moz-display:inline-box;display:inline-block !important;//display:inline;//zoom:1;vertical-align:top;}
.bono_psevdo_but { background:#fff; width: 127px; height: 32px;}
/*forms*/
.bono_form_style input, .bono_form_style textarea, .bono_form_style select {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
}
.bono_form_style input,
.bono_form_style textarea {-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; height: 28px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;}

.bono_form_style select, .bono_form_style input[type="file"] {height: 27px;line-height: 27px;}
.bono_form_style input:focus, .bono_form_style textarea:focus {
  outline: 0;
  border-color: rgba(101, 147, 0, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(101, 147, 0, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(101, 147, 0, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(101, 147, 0, 0.6);
}
.bono_form_style input[type=file]:focus, .bono_form_style input[type=checkbox]:focus, .bono_form_style select:focus { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; outline: 1px dotted #666;}
.bono_form_style textarea {height: auto;}
.bono_form_style input, .bono_form_style textarea {-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;}

/*bg*/
.bg_full{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	opacity:1;
	display:none;
	z-index:-1;
}

/*padding-bottom *5 */
.bono_pb5 { padding-bottom:5px !important}
.bono_pb10 { padding-bottom:10px !important}
.bono_pb15 { padding-bottom:15px !important}
.bono_pb20 { padding-bottom:20px !important}
.bono_pb25 { padding-bottom:25px !important}

/*vertical middle*/
.bono_helper {display:-moz-inline-box; display:inline-block; height:100%; width:0px; vertical-align:middle; zoom:1; //display:inline; font-size:0;}
.bono_middle_inner,.bono_middle
{
    vertical-align:middle !important; display:inline-block !important; //display:inline !important; //zoom:1}

/*sortirovka tovarov*/
.srt_block {
    margin: 0 0 15px;
    padding:0 0 15px;
    position: relative;
    border-bottom:1px solid #ccc;
}
.srt_block_items {
    position:relative;
    float:right;
    padding:0 0 5px 0;
    z-index:20;
}
/*Spisok tovarov*/
.tovar_list  { margin:-1em 0 0 -0.5em; text-align:center}
.bono_t_item,.bono_t_item2 {
    text-align:center;
    background:url(../pic/dotted_3.gif) 0 100% repeat-x;
    padding:10px 0 0 0;
}
.tovar_list .t_item,.tovar_list .t_item2 {
    text-align:center;
    background:none;
    padding:10px 0 0 0;
    width:165px;
    display:inline-block;
    //display:inline;
    //zoom:1;
    vertical-align:top;
    margin:1em 0 0 0.5em;
}
.bono_tovar_list .bono_t_thumb {
    margin:0 0 2px 0;
}
.bono_t_thumb {
    /*height:219px;*/
    height: 247px;
    width:163px;
    padding: 0 1px;
    display:block;
    background:#fff;
    text-align:center;
    box-shadow:0 0px 3px #7b7b7b;
    position:relative;
    text-decoration:none;
}
.bono_t_thumb:hover { text-decoration:none;}
.bono_t_title {
    display:block;
    text-align:left;
    padding:2px 0 3px;
    font-style:italic;
}
.bono_cost_wrap {
    font:italic 20px/1.2em Arial, Helvetica, sans-serif;
    color:#f29a00;
    padding:5px 4px 0 0;
    text-align:left;
    overflow:hidden;
    //zoom:1;
}
.bono_buy {
    margin-left: 0 auto;
    margin-top: 5px;
    position:relative;
    top:-4px;
    margin-right:0 !important;
}
/*Korzina*/
.bono_basket_poss {
    width:174px;
    position:absolute;
    top: 0px;
    right:50%;
    z-index:300;
    height:120px;
    margin:-15px -455px 0 0;
}

.bono_basket_index {
/*top:80px;*/
}

.bono_basket_poss .bono_basket_wrap {
    width:174px;
    height:120px;
    background:url(/img/bono/basket_color.png) 0 0 no-repeat;
    margin:0;
    position:relative;
    top: -5px;
}
.bono_main_marker .bono_basket_poss {
    top: 60px;
}
.b_move{ }
.bono_basket_bg {
    font:12px/1.2em Arial, Helvetica, sans-serif;
    color:#000;
    padding:45px 20px 0;
    background:none;
    text-align:center;
}
#bono_cart .bono_ui-widget-content {
    background:none;
    border:none;
    color: #fff;
    margin:0 -3px 5px;
    font:10px/1.2em Tahoma, Geneva, sans-serif;
    padding:2px 3px;
    display:none;
}
#bono_cart .bono_ui-widget-content ol { margin:0; padding:0; list-style-position:inside}
#bono_cart .bono_ui-widget-content ol li {padding:2px 0; border:1px solid #55a28b; border-width:1px 0; margin-top:-1px; position:relative}
#bono_cart.bono_ui-state-default { background-position:0 -141px;}
#bono_cart.bono_ui-state-default:hover { background-position:0 -282px}
.bono_ui-draggable-dragging { z-index:600}

.t_item img { cursor:move;}
.b_item_del { width:12px; height:12px; background:url(../pic/basket_item_del.png) 0 0 no-repeat; display:inline-block; position:absolute; top:50%; right:-13px; margin:-6px 0 0 0;}
.b_item_del:hover { background-position:0 -12px;}
.ui-draggable-dragging { cursor:move;border:3px solid #f8df09 !important}
.d_hover { border:3px solid #0db700 !important}

.toCart {
	z-index:500;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
	position:absolute;
}

/*tovar list after search*/
.tovar_list2  { margin:0 0 0 0; overflow:hidden; //zoom:1;}
.t_list {
	text-align:center;
	background:url(../pic/dotted_3.gif) 0 100% repeat-x;
	padding:10px 0 10px 0;
	width:100%;
	display:inline-block;
	//display:inline;
	//zoom:1;
	vertical-align:top;
	margin:0;
	float:left;
	overflow:hidden;
}
.bono_cost_wrap2 {
	font:700 13px/1.2em Arial, Helvetica, sans-serif;
	coslor:#272727;
	padding:5px 4px 5px 4px;
	text-align:left;
	overflow:hidden;
	//zoom:1;
	float:right;
	text-align:center;
}
.bono_cost_wrap2 .bono_buy {
	float:none;
	position:relative;
	top:0;
	margin-right:0 !important;
}
.t_thumb2 {
	width:220px;
	height:178px;
	display:inline-block;
	background:#fff;
	text-align:center;
	box-shadow:0 0px 3px #7b7b7b;
	position:relative;
	text-decoration:none;
	color:#fff;
	margin:0 15px 2px 3px;
	float:left;
}
.bono_t_title2 {
	display:block;
	text-align:left;
	padding:2px 4px 5px;
	font-weight:700;
}
.t_par {
	text-align:left;
	overflow:hidden;
	//zoom:1;

}
.t_par p { padding:0;}

/*tovar page*/
/*ÐšÐ¾Ñ€Ð·Ð¸Ð½Ð°*/
.tovCart {
	background:rgba(62,134,112,0.7);
	border-width:3px 0;
	height:70px;
	position:absolute;
	bottom:-100px;
	left:0;
	width:100%;
	padding:4px 0;
}
.bono_buy_tov {
	width:99px;
	height:71px;
	background:url(../pic/buy_tov.png) 0 0 no-repeat;
	display:block;
	position:absolute;
	top:4px;
	left:8px;
}
.bono_buy_tov:hover { background-position:0 -81px;}
.tovThumb {
	width:62px;
	height:62px;
	position:absolute;
	top:7px;
	left:117px;
	box-shadow:0 3px 5px #236652;
}
.tovToCart {width:62px;}

/*Ð”Ð¾Ð¿Ð¾Ð»Ð½Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ñ‹Ðµ Ñ„Ð¾Ñ‚ÐºÐ¸*/
.bono_all_ph { float:left; margin:0 25px 0 0;}
.bono_all_ph img { display:block; vertical-align:top; margin:0 5px 10px 0; border:1px solid #ccc; max-width:83px; }
.bono_tovar_page .bono_t_item {
	text-align:left;
	background:none;
	padding:0;
	float:left;
	margin:0 11px 0 0;
}
.bono_tovar_page .bono_cost_wrap {
	font:700 13px/1.2em Arial, Helvetica, sans-serif;
	coslor:#272727;
	padding:10px 0;
	text-align:left;
	overflow:hidden;
	//zoom:1;
	float:none;
	text-align:center;
	border:1px solid #b7e436;
	border-width:2px 0;
	margin:0 0 10px 0;
}
.bono_tovar_page .bono_cost_wrap .bono_buy2 {
	float:right;
	position:relative;
	top:0;
	margin-right:0 !important;
}

.bono_tovar_page .bono_cost { padding:2px 0 0 0; font:20px/1.2em Arial, Helvetica, sans-serif; float:left; color:#167256}
.bono_tovar_page .bono_t_par p { padding:0 0 3px;}
.bono_tovar_page .bono_t_thumb {
	width:auto;
	height:auto;
	display:inline-block;
	background:#fff;
	text-align:center;
	box-shadow:0 0px 3px #7b7b7b;
	position:relative;
	text-decoration:none;
	font-size:0;
	line-height:0;
}
.bono_tovar_page .bono_t_title { display:none;}
.bono_tovar_page .bono_t_thumb img { cursor:default;}

/*otzivi*/
.c_list { padding:0 0 20px;}
.c_item {border-bottom:1px dashed #ccc; padding:10px 0; overflow:hidden; //zoom:1;}
.comment_txt_block {
	border:1px solid #e1e1e1;
	background:#f5f6fa;
	padding:5px 15px 10px;
}
.comment_block_text {
	font:11px/1.2em Tahoma, Geneva, sans-serif;
	color:#a1a1a1;
	margin:0 0 5px 0;
}
.textarea_block {
	width:100%;
	border:1px solid #c3c3c3;
	padding:0;
	font:12px/1.2em Tahoma, Geneva, sans-serif;
	clear:both;
}


/*group list*/
.bono_group_list { margin:0 0 0 -0.5em}
.bono_g_item {
	text-align:left;
	background:none;
	padding:10px 15px 0 0;
	display:inline-block;
	width:165px;
	//display:inline;
	//zoom:1;
	vertical-align:top;
	margin:10px 0 0 10px;
	font:11px/1.2em Arial, Helvetica, sans-serif;


}
.bono_g_thumb {
	box-shadow: 0 0 3px #7B7B7B;
	display:block;
	background:#fff;
	text-align:center;
	position:relative;
	text-decoration:none;
	margin:0 0 2px 0;
	margin:0 auto !important;
}
.bono_g_title { font:13px/1.2em Arial, Helvetica, sans-serif; display:block; text-align:center; padding:5px 0 0 0;}

.bono_n_list { padding:0 0 20px; position: relative; top: -35px}
.bono_n_list table tbody tr:first-child  .bono_n_item{ border:0;}
.bono_n_item
 {
    border-top:1px dashed #ccc;
    padding:16px 0 20px;
    overflow:hidden;
    text-align: left;
    //zoom:1;
}

.bono_n_txt { overflow:hidden; text-align: left;   min-width:200px}
.bono_n_head { padding:10px 0px 10px 0px; text-align: left; font: 12px/1.6em Verdana, Geneva, sans-serif}
.bono_n_info { font:10px/1.2em  Tahoma, Geneva, sans-serif; color:gray; padding:0 0 0 5px; float:right;}
.bono_n_pic {
	float:left;
	margin:0 15px 5px 0;
}
.bono_n_content
{
    text-align: left;
    font: 12px/1.6em Verdana, Geneva, sans-serif;
}
.bono_text_center { text-align: center;}

.bono_mand { color:#f00 !important ;}

.bono_form_style .indicator{
    border-color: #EE5F5B;
    color: #B94A48;
}

.bono_form_style .indicator:focus {
    border-color: #E9322D;
    box-shadow: 0 0 6px #F8B9B7;
}
.bono_row
{
    line-height:170%;
}
.bono_rub
{
    margin-left: 3px;
}

.validation-error-tooltip
{
    background-image: url("/img/retail/main/tooltip_back.png");
    border: 2px solid #757575 !important;
    border-radius: 3px 3px 3px 3px;
    color: black !important;
    font-size: 14px;
    padding: 10px;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    z-index: 2000;
}

.ui-autocomplete {
    position: absolute;
}
