body{background:#b7e436 url(/img/bono/back_1.gif) 0 0 repeat-x;color:#444;font:12px/1.6em Verdana, Geneva, sans-serif;}
html,body {height:100%;margin:0;padding:0;}
a { text-decoration:underline; color:#659300}
a:hover { text-decoration:underline; color:red;}

#bono_wrapper {min-height: 100%;height: auto !important;height: 100%;/* overflow:hidden; //zoom:1;*/}
#bono_header {height: 203px;}
#bono_conteiner {padding: 0 0 100px; //zoom:1}
#bono_footer {margin: -100px auto 0;height: 100px;  position:relative}

.overflow { overflow:hidden; //zoom:1;}

.bono_menu_top {font-size:0;margin:0;text-align:left; padding:0;}
.bono_menu_top li { display:inline-block; //display:inline; //zoom:1; list-style:none; padding:0;}
.bono_menu_top a { display:inline-block;}

.bono_user_menu {
    display:inline-block;
    background:#C16262;
    color:#fff;
    font:700 10px/1.2em Tahoma, Geneva, sans-serif;
    text-transform:uppercase;
    color:#fff;
    border-radius:0 0 5px 5px;
    padding:8px 12px 9px;
    box-shadow:0 5px 10px #5f8b00;
    z-index:10;
    behavior: url(/js/PIE.htc);
}

#tooltip h3 {padding: 0 0 4px !important;}
.tooltip-content img {padding:1px;}

.bono_user_menu a { color:#fff;isplay:inline-block; margin:0 12px;}
.bono_user_menu a:hover { color:#000; cursor:pointer;}

.sign_form,.remind_form { display:inline-block !important; //display:inline !important; //zoom:1; padding:10px 15px 0 !important;}
.sign_form label,.remind_form label { display:block !important; text-align:left !important;}
.toggle_link {position:absolute; bottom:12px; right:0; //zoom:1; z-index:10; background:#fff;}
.ie_fix_1 {
    _zoom:1;
    _width:320px;
}
.bono_w300 { width:300px !important;}
.bono_w150 { width:150px !important;}
.bono_phone_item { background:#769c15; -moz-border-radius: 30px; -webkit-border-radius: 30px; -khtml-border-radius:30px; border-radius: 30px; display:inline-block; //display:inline; //zoom:1; font:italic 700 26px/32px "Times New Roman", Times, serif; color:#fff; height:32px; padding:0 13px; margin:0 7px;behavior: url(js/PIE.htc); position:relative}
.bono_phone_item span { position:relative; top:-6px}
.bono_logo_azra {
    position:absolute;
    top:20px;
    left:-15px;
    z-index:10;
}

.bono_menu_top li { padding-top:7px;}
.bono_menu_top a { font:italic 700 14px/20px Arial, Helvetica, sans-serif; color:#fff; padding:0 12px; margin:0; background:none;-moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; text-decoration:none; height:22px;behavior: url(js/PIE.htc); position:relative}
.bono_menu_top a:hover { background:#e8ad0f}
.bono_menu_top li.bono_cur {font:italic 700 14px/20px Arial, Helvetica, sans-serif; color:#fff; padding:0 0px; margin:0 5px; background:#e8ad0f;-moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; text-decoration:none; height:22px;behavior: url(js/PIE.htc); position:relative}

.bono_s_form div {
    width:22px;
    height:12px;
    background:url(/img/bono/s_but.gif) 0 0 no-repeat;
    border:0;
    position:absolute;
    top:7px;
    right:0;
    cursor:pointer;
    z-index:15
}
.bono_s_b:hover { background-position:0 -22px;}

.bono_bg_1 {
    background:url(/img/bono/bg_1.jpg) 50% 0 no-repeat;
}
.bono_s_form input {
    background:#9f9f9f;
    width:202px;
    height:26px;
    border:0;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
    padding:0 5px;
    color:#fff;
    behavior: url(js/PIE.htc); position:relative;
    font:italic 13px/26px Arial, Helvetica, sans-serif;
}
.bono_s_form input:focus {background:#fff; color:#333;}
.g1 {
    position:absolute;
    bottom:0;
    left:26px;
}
.g2 {
    position:absolute;
    left:47%;
    bottom:0;
    margin:0 0 0 -92px;
}
.g3 {
    position:absolute;
    bottom:0;
    right:15px;
}
.girl_wrap img { display:none;}
.menu_main { margin:0 0 0 -20px;}
.menu_main li { list-style:none; display:inline-block; //display:inline; //zoom:1;}
.menu_main a {width:195px; height:44px; display:block; background:url(../pic/lenta.png) 0 0 no-repeat; text-decoration:none; font:italic 700 20px/40px Arial, Helvetica, sans-serif; color:#000; text-align:center; padding:0 45px 0 0; margin:0 0 0 80px; position:relative;}
.menu_main a:hover { text-decoration:none; color:#f00; text-shadow:1px 1px 0 #f3cc6b;}

.bono_soc_block a { display:inline-block; margin:0 9px; width:32px; height:32px; background:url(/img/bono/socs.png) 0 0 no-repeat;}
.bono_soc_block a.bono_vkontakte { background-position:0 -32px}
.bono_soc_block a.bono_vkontakte:hover { background-position:-32px -32px}
.bono_soc_block a.bono_facebook { background-position:0 -64px}
.bono_soc_block a.bono_facebook:hover { background-position:-32px -64px}
.bono_soc_block a.bono_twitter { background-position:0 -96px}
.bono_soc_block a.bono_twitter:hover { background-position:-32px -96px}
.bono_soc_block a.bono_livejournal { background-position:0 -192px}
.bono_soc_block a.bono_livejournal:hover { background-position:-32px -192px}
.bono_soc_block a.bono_blogger { background-position:0 0}
.bono_soc_block a.bono_blogger:hover { background-position:-32px 0}
.bono_soc_block {
    padding:5px;
    text-align:center;
    position:absolute;
    top:95px;
    left:764px;
    z-index:50;
}
.bono_phone_poss {
    position:absolute;
    top:100px;
    width:615px;
    text-align:center;
    font-size:0;
    left:50%;
    margin:0 0 0 -307px;
}
.bono_phone_poss_extra {
    top:100px !important ;
}
.bono_slogan {
    position:absolute;
    top:35px;
    left:0;
    font:32px/1.2em Arial, Helvetica, sans-serif;
    color:#fff;
    width:615px;
    text-align:center;
    left:50%;
    margin:0 0 0 -307px;
}

.bono_slogan_extra {
    top: 35px !important;
}
.bono_slogan_1 {
    position:absolute;
    top:70px;
    left:0;
    font:22px/1.2em Arial, Helvetica, sans-serif;
    color:#fff;
    width:615px;
    text-align:center;
    left:50%;
    margin:0 0 0 -307px;
}

.bono_slogan_l_extra {
    top: 70px !important;
}
.bono_menu_wrap {
    background:#333;
    color:#fff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
    height:36px;
    position:absolute;
    top:146px;
    right:0;
    padding:0 7px 0 2px;
    //padding:0 7px 0 7px; 		width:820px;
    behavior: url(js/PIE.htc);
}
.bono_s_form {
    display:block;
    padding:5px 0 0 0;
    //padding:4px 0 0 0; 		float:right;
    position:relative;
    z-index: 210;
}
.girl_wrap {
    height:450px;
    position:relative;
}
.menu_main {
    padding:0;
    position:absolute;
    top:320px;
    left:0;
    z-index:20;
    text-align:center;
    width:100%;
}
.bono_content_b {
    background:#ffffcc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
    /*padding:0 0 315px 0;*/
    behavior: url(js/PIE.htc);
    position:relative;
}

.bono_slider_bg {
    height:300px;
    background:url(/img/bono/back_2.png) 50% 0 repeat-x;
    /*margin:-300px 0 0 0;*/
    position:relative;
    top:-5px;
}
.light_1 {
    position:absolute;
    top:0;
    right:50%;
    margin:0 -640px 0 0;
    z-index:-1px;
}
.light_2 {
    position:absolute;
    top:0;
    left:50%;
    margin:0 0 0 -640px;
    z-index:-1px;
}
.bono_navigator { padding:0 0 0 0;font-size:11px; position:relative; //zoom:1; margin:10px 0 -19px 0;}
.bono_navigator a {  text-decoration:underline; display:inline-block; padding:0 6px 0 0; margin:0; //display:inline; //zoom:1; vertical-align:top;}
.bono_navigator span { display:inline-block; //display:inline; //zoom:1; vertical-align:top;}
.bono_navigator a:hover { text-decoration:underline;}

h1 { font:italic 24px/1.2em Georgia, "Times New Roman", Times, serif;}
h2,h3 { font-family:Georgia, "Times New Roman", Times, serif; font-style:italic;}
.bono_tov_descr {
    float:left;
    width:320px;
    //zoom:1;}
.bono_tov_descr h2 { padding-top:0;}
.bono_tov_descr_form label { text-align:left !important;}
.bono_tov_descr_form select { float:right;}
.bono_tov_descr_form .bono_row { overflow:hidden; //zoom:1;}

.bono_itogo_wrap {
    border-top:6px solid #92BF26;
    text-align:right;
    color:#92BF26;
    font:700 18px/1.2em Arial, Helvetica, sans-serif;
    padding:3px 15px 20px;
    margin-top: 15px;
}

.bono_news_data {
    font:12px/1.2em Tahoma, Geneva, sans-serif;

    padding:0 0 5px 0;
}

.blocks_link a { display:inline-block; padding:10px 20px; border:1px solid #92BF26; border-width:1px 1px 0; text-decoration:none; font:700 14px/1.2em Tahoma, Geneva, sans-serif;-moz-border-radius: 20px 20px 0 0; -webkit-border-radius:  20px 20px 0 0; -khtml-border-radius:  20px 20px 0 0; border-radius:  20px 20px 0 0;}
.blocks_link a:hover { background:#E9B00F; color:#fff !important;}
.blocks_link a.bono_cur { background:#92BF26;}
.blocks_link {
    border-bottom:3px solid #92BF26;
    padding:0 0 0 0;
    margin:0 0 20px 0;
    text-align:center;
}



/*11.01.2013*/
.girl_wrap img { display:inline-block;}

/* 18.02.2013 */

.men_tr {
    position: absolute;
    bottom: 124px;
    left: 93px;
    color: #fff !important;
    font-size: 15px;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width: 112px;
    height: 81px;
    background: url(../pic/bono.png) no-repeat 0 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.75);
    padding: 40px 22px 27px;
    text-align: center;
    z-index: 21;
}
.men_tr span {
    text-decoration:underline;
}

.men_tr:hover span {
    text-decoration:none;
}

.tovar_list_session {
    border: 2px solid #0E5F10;
    border-left: 0;
    position: fixed;
    top: 45%;
    left: 0;
    background-color: #FFF2A0;
    z-index: 1000;
    width: 50px;
    text-align: center;
    opacity:0.8;
}

.hide, .hide2 {
    border: 2px solid #0E5F10;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
    top: 45%;
    left: 0;
    background-color: #FFF2A0;
    z-index: 1000;
    width: 200px;
    text-align: center;
    padding:10px 10px 10px 0;
}

.cancel_session {
    color: red;
    position: absolute;
    top: 1px;
    left: 86%;
    z-index: 1001;
    cursor: pointer;
}

.cancel_session:hover {
    text-decoration: underline;
}

.delete_zakaz {
    width:25px;
    position:absolute;
    right:-33px;
    top:31px;
    cursor:pointer;
}

.bono-stock-hide
{
    background-color: rgba(70, 70, 70, 0.5) !important;
    height: 247px !important;
    left: 0 !important;
    position: absolute !important;
    top: 10px !important;
    width: 165px !important;
    z-index: 10 !important;
}

/*NEW DESIGN*/
section {
    background: url("/img/bono/bg_1.jpg") no-repeat scroll 50% 0px transparent;
    height: auto !important;
    min-height: 100%;
}
header {
    height: 170px;
    position: relative;
}

.logo {
    position: relative;
    display: block;
    float: left;
    width: 125px;
    height: 141px;
    margin: 25px 0 0 50px;
    text-align: center;
    font-size: 0;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
}

.logo span {
    display: inline-block;
    //display: inline;
    //zoom: 1;
    vertical-align: top;
    width: 125px;
    height: 107px;
    overflow: hidden;
    background: url(../pic/logo.png) no-repeat center top;
}

.logo:hover span{
    animation: logo_pic 1s ease-in;
    -moz-animation: logo_pic 1s ease-in;
    -webkit-animation: logo_pic 1s ease-in;
    -o-animation: logo_pic 1s ease-in;
}

@keyframes logo_pic {
    from {width: 1px;}
    to {width: 125px;}
}
@-moz-keyframes logo_pic {
    from {width: 1px;}
    to {width: 125px;}
}
@-webkit-keyframes logo_pic {
    from {width: 1px;}
    to {width: 125px;}
}
@-o-keyframes logo_pic {
    from {width: 1px;}
    to {width: 125px;}
}

.bono_t_Left {
    float: left;
    width: 225px;
    padding-top: 100px;
}

.bono_menKnit {
    padding: 7px;
    text-align: center;
}

.bono_menKnit a {
    color: #ffd000;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 19px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.bono_menKnit a:hover {
    color: #fff;
}

.bono_lr_content {
    position: relative;
    background: rgba(0,0,0,.2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
    height: 290px;
    padding: 45px 12px 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.bono_lr_btn {
    position: absolute;
    top: -10px;
    left: 10px;
    font: italic 700 18px/38px Arial;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    width: 206px;
    height: 42px;
    background: url(/img/bono/lrBtn.png) no-repeat 0 0;
}

.bono_lr_block {
    border-top: 1px dashed #3e4e11;
    padding: 10px 0 9px 0;
}
.bono_lr_content div:nth-child(2)
{
    border-top: 1px dashed transparent;
}

.bono_lr_block span {
    display: block;
    color: #fff;
    font: 10px/12px Tahoma;
    margin-bottom: 2px;
}

.bono_lr_block a {
    display: block;
    max-height: 26px;
    overflow: hidden;
    color: #000;
    font: 700 11px/13px Tahoma;
    margin-bottom: 4px;
    text-decoration: none !important;
}

.bono_lr_block a:hover {
    color: #fff;
}

.bono_lr_block p {
    overflow: hidden;
    height: 39px;
    color: #fff;
    font: 11px/13px Tahoma;
    padding:0;
}

.bono_tar {
    position: absolute;
    bottom: 5px;
    width: 201px;
    left: 12px;
    text-align:right;
}

.bono_tar a {
    display: inline-block;
    //display: inline;
    //zoom: 1;
    vertical-align:top;
    font: 11px/13px Tahoma;
    color: #000;
}

.bono_tar a:hover {
    color: #fff;
}

.bono_t_right {
    float: right;
    width: 225px;
    padding-top: 30px;
}

.bono_search_form {
    display: inline-block;
    //display: inline;
    //zoom: 1;
    vertical-align: top;
    position: relative;
    margin-bottom: 48px;
}

.bono_search_form input {
    width: 185px;
    margin: 0;
    padding: 0 25px 0 15px;
    height: 22px;
    border: none;
    font: italic 14px/22px Arial;
    background: #dce396;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -khtml-border-radius: 22px;
    border-radius: 22px;
}

.bono_search_input::-webkit-input-placeholder  { color:#78971e; font: italic 14px/22px Arial; }
.bono_search_input:-moz-placeholder { color:#78971e; font: italic 14px/22px Arial;}

.bono_search_form div
{
    position: absolute;
    float: left;
    top: 0;
    margin: 0;
    padding: 0;
    border:none;
    right: 4px;
    width: 7px;
    height: 22px;
    cursor: pointer;
    text-indent: -9999px;
    background: url(/img/bono/searchArr.png);
}

.bono_t_center {
    overflow: hidden;
    width: 530px;
    height: 460px;
    position: relative;
}

.bono_t_center ul {
    margin: 0;
    padding: 0;
}

.bono_t_center li {
    display: block;
    float: left;
    width: 530px;
    height: 460px;
    text-align: center;
}

.bono_t_center li img {
    height: 100%;
}

.bono_content_b {
    background: #ffffcc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    /*padding: 0 0 315px 0;*/
    behavior: url(js/PIE.htc);
    position: relative;
}

.bono_circle_B {
    position: absolute;
    font-weight:bold;
    font-size: 12px;
    font-family: Tahoma;
    text-align: center;
    text-transform: uppercase;
    z-index: 9;
}

.bono_cB1 {
    top: 0;
    left: 20px;
    line-height: 156px;
    width: 168px;
    height: 173px;
}

.bono_cB1 a {
    margin-top: 25%;
}

.bono_cB2 {
    top: 0;
    right: 45px;
    width: 136px;
    height: 141px;
    line-height: 130px;
}
.bono_cB2 a {
    margin-top: 25%;
}

.bono_cB3 {
    top: 184px;
    left: 20px;
    width: 118px;
    height: 121px;
    line-height: 115px;
}

.bono_cB3 a {
    margin-top: 35%;
}
.bono_cB4 {
    bottom: 10px;
    left: 65px;
    width: 130px;
    height: 133px;
    line-height: 125px;
}

.bono_cB4 a {
    margin-top: 25%;
}

.bono_cB5 {
    bottom: 10px;
    right: 45px;
    width: 151px;
    height: 157px;
    line-height: 145px;
}

.bono_cB5 a {
    margin-top: 35%;
}

.bono_cB6 {
    top: 174px;
    right: 20px;
    width: 104px;
    height: 107px;
    line-height: 95px;
}

.bono_cB6 a {
    margin-top: 40%;
}

.bono_circle_B a {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    line-height: 1.8;
    text-decoration: none !important;
    z-index: 3;
    color: #fff;
    text-shadow: 0 5px 5px rgba(0,0,0,.2);
}

.bono_circle_B a:hover {
    color: #000;
    text-shadow: 0 2px 4px rgba(255,255,255,.4);
}

.bono_circle_B img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bono_reg_link {
    position: absolute;
    display: block;
    top: 145px;
    right: 70px;
    color: #404c00;
    font: 12px Tahoma;
}

.bono_reg_link:hover {
    color: #fff;
}

.bono_phone_item { background:#769c15; -moz-border-radius: 30px; -webkit-border-radius: 30px; -khtml-border-radius:30px; border-radius: 30px; display:inline-block; //display:inline; //zoom:1; font:italic 700 26px/32px "Times New Roman", Times, serif; color:#fff; height:32px; padding:0 13px; margin:0 7px;behavior: url(js/PIE.htc); position:relative}
.bono_phone_item span { position:relative; top:-6px}

.bono_clear {
    clear: both;
}

.bono_size16 {
    font-size: 16px;
    line-height: 1.2em;
}

.bono_phone_poss {
    position:absolute;
    top:120px;
    width:615px;
    text-align:center;
    font-size:0;
    left:50%;
    margin:0 0 0 -307px;
}

.bono_slogan {
    position:absolute;
    top:55px;
    left:0;
    font:32px/1.2em Arial, Helvetica, sans-serif;
    color:#fff;
    width:615px;
    text-align:center;
    left:50%;
    margin:0 0 0 -307px;
}
.bono_slogan_1 {
    position:absolute;
    top:90px;
    left:0;
    font:22px/1.2em Arial, Helvetica, sans-serif;
    color:#fff;
    width:615px;
    text-align:center;
    left:50%;
    margin:0 0 0 -307px;
}

.bono_form_style .bono_yep {
    border: 1px solid rgba(101, 147, 0, 0.8);
}

.bono_else_mig {
    font-weight: 700;
}

.mig_color {
    color: green!important;
}


.bono_content {
    padding:0 15px 15px;
}

.bono_text_content {
    overflow: hidden;
    padding:15px 45px 25px;
}

.bono_top_menu {
    background: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 10px;
}

.bono_top_menu ul {
    margin: 0;
    position: relative;
}

.bono_top_menu ul > a {
    display:none;
}

.bono_top_menu li {
    float: left;
    list-style: none;
    margin: 0 28px;
}

.bono_top_menu li a {
    font: italic 700 14px/20px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 3px 12px;
    margin: 0 5px;
    background: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
}

.bono_top_menu li a:hover, .bono_top_menu li.bono_cur > a {
    background: #e8ad0f;
}

.bono_top_menu li li {
    display: inline-block;
    //display: inline;
    //zoom: 1;
    vertical-align: top;
    margin: 0 10px;
    width: 160px;
}

.bono_top_menu li li a {
    color: #fff;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.bono_top_menu li li a:hover, .bono_top_menu li li.bono_cur > a {
    color: #000;
    background: none;
}

.bono_top_menu ul ul {
    display: none;
    position: absolute;
    top: 30px;
    left: -10px;
    padding: 10px 30px;
    width: 920px;
    z-index: 200;
    background: #769c15;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.bono_top_menu li:hover ul {
    display: block;

}

.bono_top_menu li ul ul {
    position: relative;
    background: none;
    top: 0;
    left: 0;
    padding: 5px 0 0 0;
    width: auto;
}

.bono_top_menu li ul ul li {
    padding: 2px 0;
    margin: 0;
}

.bono_top_menu li ul ul li a {
    font-weight: normal;
    font-size: 12px;
}

.bono_top_menu li ul ul ul {
    margin-left: 8px;
}

.bono_top_menu li ul ul ul li {
    padding: 1px 0;
    color: #fff;
    display: list-item;
    list-style: square inside !important;
}

.bono_top_menu li ul ul ul li a{
    font-size: 11px;
}

.bono_left_block {
    float: left;
    width: 210px;
    padding: 15px 15px 25px 15px;
}

.bono_left_block ul  {
    margin: 0 0 5px 0;
}

.bono_left_block ul>li {
    list-style-type: none;
    padding: 3px 0;
}

.bono_left_block ul>li a {
    color: #e8ad0f;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.bono_left_block ul ul li a {
    color: #000;
    text-transform: none;
    font-weight: normal;
}

.bono_left_block ul ul li a:hover, .bono_left_block ul ul li.bono_cur > a {
    text-decoration: underline;
}

.bono_left_block ul li.bono_cur > a {
    color:red;
}

.bono_left_block ul ul {
    margin-left: 15px;
}

.bono_left_block ul ul li {
    list-style-type: square;
    list-style-position: inside;
    padding: 1px 0;
}

.bono_left_block ul ul li > a {
    font-size: 11px!important;
}

.girl_wrap img { display:inline-block;}

.bono_logo_azra.bono_new {
    margin-left: 13px;
    margin-top: 150px;
}

ul.brand_filter {
    list-style:none;
    margin-bottom:50px;
}
ul.brand_filter li {
    float:left;
    margin-right:10px;
}
ul.brand_filter li a {
    background-color:#C7DDB4;
    border-radius:5px;
    padding:8px;
    cursor:pointer;
    text-decoration:none;
    color:green;
}
ul.brand_filter li a.bono_cur, ul.brand_filter li a:hover {
    background-color:#F6E0A3;
}

.bono_lr_block ins
{
    color:#000;
    text-decoration:none;
    font: 700 11px/13px Tahoma;
    display: block;
    margin-bottom: 4px;
    max-height: 26px;
    overflow: hidden;
}

.bono_lr_btn { cursor:pointer; }

.bono_ad_small { color: #000080; font-size: x-small; }

.bono_pink { color: #ff00ff; }
.bono_width117 {width:117px;}
.bono_costum_header_marging { margin-bottom: 10px;}
.bono_breadcrumb_separator { margin-left: 3px; margin-right: 3px }
a.bono_cur {color: gold}
div.bono_item_cost_lable
{
    color: green;
    font-size: 20px;
    margin-top: 7px;
}
.bono_corusel
{
    width: 1000px;
    position: relative;
    top: 50px;
    margin-left: -10px;
}

.bono_carousel_container_frame
{
    float: left;
    overflow: hidden;
    margin-left: 20px;
    width: 900px;

}
.bono_carousel_container
{
    position: relative;
    width: 3500px;
}
.bono_carousel_item
{
    float: left;
    padding-right: 10px;

}

#bono_before_arrow
{
    position: absolute;
    top: 65px;
    left: -15px;
    width: 32px;
    height: 46px;
    cursor: pointer;
    background: transparent url(/img/bono/prev-horizontal.png) no-repeat 0 0;
}
#bono_before_arrow:hover,
#bono_before_arrow:focus {
    background-position: -32px 0;
}

#bono_before_arrow:active {
    background-position: -64px 0;
}

#bono_next_arrow
{
    position: absolute;
    top: 65px;
    right: 40px;
    width: 32px;
    height: 46px;
    cursor: pointer;
    background: transparent url(/img/bono/next-horizontal.png) no-repeat 0 0;
}

#bono_next_arrow:hover,
#bono_next_arrow:focus {
    background-position: -32px 0;
}

#bono_next_arrow:active {
    background-position: -64px 0;
}

img.bono_carousel_img
{
    border: 1px solid #fff;
    width: 117px;
    height: 176px;
}

/***************************/
/* Bono bucket */
.bono-bucket-layout
{
    margin:15px 35px;
    display: inline-block;
    margin: 15px 35px;
    width: 910px;
}

.bono-bucket-layout h1 {margin-top:-30px;}
.bono-bucket-layout h3
{
    font-style:normal !important;
    font:19px/1.6em Verdana,Geneva,sans-serif !important;
    margin-top:-30px;
}

.bono_table1 {font-size:12px;}

.bono-bucket-row .order-image
{
    width:55px !important;
    text-align:center;
}

.bono-bucket-row .order-params
{
    min-width:285px;
}

.bono-bucket-row .bono_form_style
{
    min-width:130px;
}

.bono-bucket-row .bono_form_style input
{
    width:60px !important;
}

.bono-bucket-row .order-price
{
    min-width:80px;
}

.bono-bucket-row .order-status
{
    min-width:110px;
}

.bono-bucket-row .bono_row
{
    padding:0 !important;
}

/***************************/
/* Bono orders */
.bono-order-template-holder
{
    position:relative;
}

.order-delete-img
{
    height: 29px;
    position: absolute;
    right: -35px;
    top: 57px;
    cursor:pointer;
}

.bono-order-container
{
    background: none repeat scroll 0 0 #F2F6F9;
    border-radius: 20px 20px 0 0;
    height: 20px;
    padding: 5px 11px;
    position: relative;
    width:868px !important;
}

.blue-link
{
    color: blue;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    text-align: center;
}

.itogo_wrap
{
    border-top: 6px solid #92BF26;
    color: #92BF26;
    font: 700 18px/1.2em Arial,Helvetica,sans-serif;
    padding: 3px 15px 20px;
    text-align: right;
}

.bono-order-itog
{
    background: none repeat scroll 0 0 #F2F6F9;
    border-radius: 0 0 20px 20px;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 5px 11px 8px 0;
}

.bono-print-order
{
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}

.table1 th
{
    background: none repeat scroll 0 0 #85B024;
    border: 1px solid #D9D99E;
    color: #FFFFFF;
    font: italic 14px/1.2em Arial,Helvetica,sans-serif;
    padding: 6px 6px 5px;
    text-align: left;
}

.table1 tr
{
    background: none repeat scroll 0 0 #FFFFDF;
}

.table1 tr:hover
{
    background-color:#ECECB8;
}

.table1 td
{
    border: 1px solid #D9D99E;
    line-height: 1.2em;
    padding: 6px 6px 5px;
    vertical-align: top;
    font-size:12px;
}

.table1 td .deal-order-min-sum-param-item
{
    font-size:12px;
    padding-top:15px;
}

.table1 .order-image
{
    width:106px;
}

.table1 .order-details
{
    width:300px;
}

.table1 .order-details:first-child
{
    margin-bottom:10px;
}

.table1 .order-quantity
{
    width:200px;
}

.table1 .order-sum
{
    width:120px;
}

.table1 .order-status
{
    width:150px;
}

.bono-additional-payment-info
{
    margin: 0 0 10px 525px;
    text-align: right;
    width: 365px;
}

.bono-additional-payment-info .name-td
{
    text-align: right;
    width: 300px;
}

.bono-additional-payment-info .value-td
{
    padding-left: 5px;
    text-align: left;
    width: 100px;
}
/***************************/
/* Common features */
.table {display:table;}
.table-cell {display:table-cell;}
.red {color:red;}
.left {float:left;}
.right {float:right;}
.margin5t {margin-top:5px;}
.margin5b {margin-bottom:5px;}
/***************************/
/* Bono Pager */
.pager-pages-container
{
    width: 250px;
    margin: 0 auto;
    display:none;
    background-image:none !important;
}

.pager-pages-container-bottom
{
    display:block !important;
    border-bottom:none !important;
    border-top:none !important;
    margin-bottom:10px;
}

.pager-page
{
    font-size:14px !important;
    color:#659300 !important;
    text-decoration:underline !important;
}

.pager-page:hover
{
    background-color:transparent !important;
    cursor:pointer;
    color:red !important;
}

.pager-page:first-child
{
    display:none;
}

.pager-active
{
    color: #659300;
    font-size: 12px;
    text-decoration: underline;
}

.pager-main
{
    width: 250px;
}

.pager-main > span:first-child, .pager-main > span:last-child
{
    display:none;
}

.pager-next-arrow
{
    width: 20px;
}

.pager-non-active
{
    background-color:#729F0B;
    border:0 !important;
    color: white;
    font-size: 12px;
    margin: 5px;
    padding: 2px 6px;
    border-radius:0 !important;
}

.pager-prev-arrow {
    position: relative;
    background-image: url("/img/pager/page_arrow_active_left.png");
    background-repeat: no-repeat;
    width: 19px;
    height: 5px;
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 1px;
}

.pager-next-arrow {
    background-image: url("/img/pager/page_arrow_active_right.png");
    background-repeat: no-repeat;
    width: 19px;
    height: 5px;
    display: inline-block;
    margin-left: 5px;
    padding-bottom: 1px;
}

.pager-non-active .pager-prev-arrow {
    background-image: url("/img/pager/page_arrow_noactive_left.png");
}

.pager-non-active .pager-next-arrow {
    background-image: url("/img/pager/page_arrow_noactive_right.png");
}

.pager-table
{
    margin-bottom: 20px;
}
/***************************/
.t_thumb
{
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 3px #7B7B7B;
    display: table-cell;
    vertical-align:middle;
    height: 247px;
    padding: 0 1px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 163px;
}

.bono_content .pager-table
{
    margin-left:2px;
}

td .bono_t_item
{
    width: 170px;
    position: relative;
    margin:0 auto;
}

.bonot_title
{
    font-size:14px !important;
    font-style:italic !important;
}

.bono_t_item .bono_buy
{
    margin-top:8px !important;
}

.bono_t_item .bono_item_cost_lable
{
    margin-bottom:7px !important;
    margin-top:0 !important;
}

.bonot_thumb
{
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 3px #7B7B7B;
    display: inline-block;
    line-height: 245px;
    padding: 0;
    position: relative;
}

/***************************/
/* Bono stock page */
.bono-measurement-info .bono-measure-name
{
    display:inline-block;
    width:150px;
    text-align:right;
}

.bono_modal_img
{
    cursor:pointer;
}

.bono-measurement-info .bono-measure-value
{
    margin-left:5px;
    width:50px;
    text-align:left;
}
/***************************/
/* Bono dropdown*/
.dk_options_inner
{
    background-color:#769C15;
    left: -5px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.dk_options a
{
    background-color: transparent;
    border-color: transparent;
    border-bottom:none !important;
}

.lazycomplete-menu
{
    width:322px !important;
}

.dk_options_inner li
{
    height: 25px !important;
    width: 305px !important;
}

.limit-dropdown
{
    display: none;
}

.dk_options a
{
    background-color: transparent;
    opacity: 0.93;
    border-bottom: 1px solid #9aabbe;
    padding: 8px 10px;
    cursor:pointer;
}

.dk_options a
{
    background-color: transparent;

}

.dk_options li:last-child a
{
    border-bottom: none;
}

.dk_option_current a
{
    background-color:transparent;
}

.bono_tov_descr .dk_toggle:hover
{
    color:#333333 !important;
    text-decoration:none !important;
}

.bono_tov_descr .dk_options_inner
{
    overflow:hidden !important;
    background-color:white !important;
    border:1px solid #CCCCCC;
}

.bono_tov_descr .dk_options_inner li
{
    height:100% !important;
    padding:0 !important;
}

.bono_tov_descr .dk_open
{
    box-shadow:none !important;
}

.bono_tov_descr a
{
    color:#333333 !important;
}

.bono_tov_descr .dk_focus .dk_toggle
{
    box-shadow:none !important;
    border-color:#B7E436 !important;
}

.bono_tov_descr .dk_options_inner li a:hover
{
    background-color:#B7E436 !important;
    color:#333333 !important;
    border-bottom:none !important;
    text-decoration:none !important;
}

.bono_tov_descr .dk_toggle
{
    padding:4px 10px;
}

.bono_param_container
{
    display: table;
    padding-left: 70px;
    vertical-align: middle;
}

.bono_table_cell
{
    display:table-cell !important;
}
/******************************/
/* Bono filters */
.bono-filter-holder > ul
{
    list-style:none outside none;
}

.bono-filter-holder > ul > li
{
    float:left;
    margin-right:10px;
}

.bono-filter-holder > ul > li > div
{
    background-color: #C7DDB4;
    border-radius: 5px;
    color: green;
    cursor: pointer;
    padding: 8px;
    text-decoration: none;
    min-width:18px;
}

.bono-filter-holder .brand-filter-input:checked + div
{
    background-color:#F6E0A3;
}

.bono-filter-holder > ul > li > div:hover
{
    background-color:#F6E0A3;
}

.group:after
{
    content: ". . . . . . .";
    display: block;
    font-size: 0.13em;
    height: 0;
    line-height: 0;
    overflow: hidden;
    word-spacing: 99in;
}

.group
{
    display: table;
    table-layout: fixed;
    width: 100%;
}

/******************************/
/** Bono modal login **/
.bono-login-modal .bono-border-group
{
    background-color:black;
    border-radius:6px;
    padding:4px;
}

.bono-login-modal .registration-holder
{
    background:none repeat scroll 0 0 #FFFFFF;
    border-radius:4px;
    padding:5px;
}

.bono-reg-field-label
{
    font-size:13px;
    font-weight:bold;
    margin:5px 0 0 1px;
}

.bono-login-modal .registration-holder p
{
    background:none repeat scroll 0 0 #F5F5F5;
    font-size:18px;
    padding:10px;
}

.bono-login-modal .login-fields
{
    margin-left:25px;
}

.bono-login-modal .login-fields-margin
{
    margin:8px 8px 0 8px;
}

.bono-login-modal .orange-border
{
    border:none !important;
}

.bono-login-modal .login-fields-input
{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    color: #808080;
    font-size: 13px;
    height: 30px;
    padding: 4px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 317px;
}

.bono-login-modal .stock-img-holder
{
    display:inline-block !important;
}

.bono-login-modal .img-holder
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    padding: 5px 5px 40px;
    display:inline-block;
}

.bono-login-modal .small-neutral-button-plain, .remind-password .neutral-button-plain
{
    background: url("/img/bono/but_bg.gif") repeat-x scroll 0 50% transparent !important;
    border: 0 solid #AFAFAF !important;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font: 700 12px/24px Tahoma,Geneva,sans-serif !important;
    height: 23px;
    margin: 10px 0 3px 25px;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    text-shadow: -1px -1px 0 #7EA623;
    vertical-align: bottom;
    z-index: 1;
}

.bono-login-modal .login-additional-links
{
    color: #659300;
    cursor: pointer;
    font-size: 12px;
    margin-left:8px;
}

.bono-login-modal .bono-registration-link
{
    cursor: pointer;
    display: block;
    font-size: 12px;
    left: 143px;
    position: absolute;
    top: 172px;
}

.bono-login-modal .login-additional-links:first-child
{
    border-bottom:1px dashed #659300;
    margin-bottom:7px;
    margin-top:12px;
}

.bono-login-modal .login-additional-links:first-child:hover
{
    color:red;
    border-bottom:1px dashed red;
}

.bono-login-modal .login-links .registration
{
    display:none;
}

.remind-password

.ui-dialog
{
    text-align:center;
}

.ui-dialog-content
{
    position:relative;
    display:table;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
}

.center
{
    margin-right:auto;
    margin-left:auto;
}

.site-login-window
{
    background-color: white !important;
    border-radius: 4px 4px 4px 4px !important;
    display: inline-block;
    margin: 4px;
    width: 332px !important;
    background-image:none !important;
}

.modal-main-block
{
    background-color: black;
    border-radius: 7px 7px 7px 7px;
}

.main-block-header
{
    background: none repeat scroll 0 0 #F5F5F5;
    height: 35px;
    margin: 5px;
    padding-top: 15px;
    position: relative;
    background-image:none !important;
    border-radius:0 !important;
    text-shadow:none !important;
    width:322px !important;
    color:#444444;
}

.left-block-header
{
    font-size: 18px;
    padding-left: 10px;
    text-shadow:none !important;
}

.friend-email
{
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    width:50px;
}

.friend-mail-text
{
    color: #444444;
    font-size: 14px;
}

.friend-email-input
{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    color: #808080;
    font-size: 13px;
    height: 30px;
    padding: 4px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 317px;
    margin:5px 0 0 7px;
}

.remind-password .neutral-button-plain
{
    margin:15px 0 20px 8px !important;
    width:220px !important;
}
/******************************/
/* Registration modal*/
.bono_row input
{
    width:322px !important;
}

.additional-registration-fields .bono-registration-data .dk_toggle
{
    background-position: 96% center !important;
    margin-bottom: 5px;
    padding: 0 67px 0 10px !important;
}

.additional-registration-fields .dk_options_inner li
{
    width: 308px !important;
}

.dialog-content
{
    display: none;
}

.modal-close
{
    background: url(/img/bono/controls.png) no-repeat scroll -25px 0px;
    position: absolute;
    z-index: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    right:10px;
    bottom:10px;
}

.bono_madal_wraper
{
    border: 4px solid black;
    height: 300px;
    width: 900px;
    padding-top: 5px;
    text-align:  center;
    background: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.ui-widget-overlay
{
    background-color: rgb(255, 255, 255);
    opacity: 0.8
}

.bono_reg_but
{
    width: 168px;
    height: 32px;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 100;
    margin-left: 0px;
    margin-top: 3px;
    opacity: 0.1
}

.ui-helper-hidden-accessible
{
    display:none;
}

[name=full-addres]
{
    width:350px;
}

.bono_login_form_title
{
    font-size: 18px;
    background: none repeat scroll 0 0 #F5F5F5;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.bono_loging_form_button
{
    width: 142px;
    height: 32px;
    left: 0px; top: 0px;
    position: absolute;
    z-index: 100;
    margin-left: 0px;
    margin-top: 3px;
    opacity: 0.1;
}


.bono_contact_p_button
{
    width: 107px;
    height: 32px; left: 0px;
    top: 0px;
    position: absolute;
    z-index: 100;
    margin-left: 0px;
    margin-top: 3px;
    opacity: 0.1;
}

.bono-stock-hide
{
    display: none;
    position: absolute;
    top: 10px;
    left: 22px;
    width: 135px;
    height: 200px;
    background-color: rgba(164,196,0,0.5);
    z-index: 10;
}

.bono_t_item:hover .bono-stock-hide
{
    display: block;
    text-decoration:none !important;

}
.bono-stock-hide-sizes-holder {
    margin-top: 10px;
}
.bono_item_size
{
    background-color: #7EA623;
    border: 1px solid white;
    border-radius: 4px 4px 4px 4px;
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 4px;
    text-transform: uppercase;
    width: 70px;
}

.bono-registration-data .dk_toggle
{
    background-position: 96% center !important;
    padding: 4px 45px 4px 10px !important;
}

.bono-registration-data a
{
    color:white !important;
}

.bono-registration-data a:hover
{
    text-decoration:none !important;
    color:white !important;
}

.dk_options_inner li
{
    height: 30px;
    width: 337px;
}

.bono-registration-data .dk_label
{
    color:#444444;
}
.bono_velcome_text
{
   color: #E8BA0A;
}
.bono_clean_linck
{
    text-decoration: none;
}

.bono_clean_linck:hover
{
    text-decoration: none;
    color: #ffffff;
}
.bono_button_container
{
    position: relative;
    top: 9px;
}

#bono-next-img
{
    position: absolute;
    left: 30px;
    background: url(/img/bono/controls.png) no-repeat -50px 0;
    width: 25px;
    height: 25px;
}

#bono-prev-img
{
    position: absolute;
    background: url(/img/bono/controls.png) no-repeat -75px 0;
    width: 25px;
    height: 25px;
}

#bono-counter-img {
    position: absolute;
    bottom: -20px;
    font-size: 10pt;
    left: 62px;
    color: #949494;
}

/**************** ******************/
/** User profile **/
.bono-user-profile .plain-button
{
    margin-left:170px;
}
