<div>
  <div style="height: 23px"/>

  <div style="width: 952px; float: left;margin-right: 24px; margin-left: 24px;"
       class="secondary-block">

    <!-- header -->
    <div class="main-block-wrapper">
      <div class="main-block-header" style="text-align:left;">
        <div class="left-block-header"/>
      </div>
    </div>

    <div class="left-block ">
      <!-- body -->
      <div style="width:100%; margin:5px 18px 18px 18px;">
        <div class="left-block-content"/>
      </div>
      <!-- end -->
      <div style="clear: both;"/>
    </div>
  </div>

  <!-- end -->
  <div style="clear: both;"/>
  <div style="height:23px;"/>

</div>
