<div>
  <div style="height: 23px"/>

  <div style="width: 629px; float: left;margin-right: 12px; margin-left: 24px;min-height:600px;"
       class="secondary-block">
    <div class="tabs-block"/>
  </div>

  <div style="float: left">

    <div style="width: 313px; height: 295px;margin-bottom:10px;" class="secondary-block">
      <div class="advertisment-block"/>
    </div>

    <div style="width: 313px;">
      <div class="organizer-block"/>
    </div>

    <div style="height: 12px"/>

    <div id="bucket" class="fixed-panel" style="float: left;width: 313px;"/>
  </div>

  <div style="clear: both;"/>

  <div style="height: 12px"/>

  <div id="dialog-modal" title="Добавить в корзину" style="display:none; background-color: #ffffff;"/>

  <div style="clear: both; height: 23px;"/>
</div>
