<div>
    <div style="width: 100%; border-radius: 7px 7px 0 0;">
        <!-- header -->
        <div class="main-block-wrapper">
            <div class="user-deal-block-header" style="text-align:left;">
                <div class="left-block-header"/>
            </div>
        </div>
    </div>

    <div style="width: 629px; float: left;margin-right: 12px; margin-left: 24px;"
         class="organizer-deals-main-block">
        <div class="left-block-content"/>
    </div>

    <div style="float: left; margin-top: 20px;">

            <div id="filters" class="secondary-block" style="float: left; width: 313px;"/>

    </div>

    <!-- end -->
    <div style="clear: both;"/>
    <div style="height:23px;"/>

</div>
