<div>
  <div style="height:23px"/>

  <div style="width:508px; float:left;"
       class="secondary-block">
    <h1 class="retail-category-title"/>
    <!-- header -->

    <div class="left-block">
      <div>
        <div class="left-block-content" style="background-color:#EEEEEE; border-radius:2px;"/>
      </div>
    </div>
  </div>

  <!-- block with edit buttons -->
  <div style="float:left;">

    <div style="width:250px; height:100px; float:right; margin: 71px 0 0 15px;"
         class="secondary-block retail-standard-panel">

      <!-- header -->

      <!-- content -->
      <div class="right-block-content"/>
    </div>

  </div>

  <!-- end -->
  <div style="clear: both;"/>
  <div style="height:23px;"/>

</div>
