<div>
  <div style="height: 23px"/>

  <div style="width: 952px; float: left;margin-right: 24px; margin-left: 24px;"
       class="secondary-block user-profile">

    <!-- header -->
    <div class="main-block-wrapper">
      <div class="main-block-header" style="text-align:left;">
        <div class="left-block-header"/>
      </div>
    </div>

    <div class="left-block user-profile-main-container">
      <!-- body - left -->
      <div class="photo-and-rating-holder" style="float:left;">
        <div class="left-block-photo-and-rating"/>
      </div>

      <!-- body - right -->
      <div.user-profile-info-holder
           style="float:right;
                  width:725px;
                  margin-top:18px;
                  margin-bottom:18px;
                  margin-right:18px;">

          <div class="left-block-content"/>
      </div>

      <!-- end -->
      <div style="clear: both;"/>
    </div>
  </div>

  <!-- end -->
  <div style="clear: both;"/>
  <div style="height:23px;"/>

</div>
