<div>
  <div style="width: 100%; border-radius: 7px 7px 0 0;">
    <!-- header -->
    <div class="main-block-wrapper">
      <div class="user-deal-block-header" style="text-align:left;">
        <div class="left-block-header"/>
      </div>
    </div>
  </div>

  <div class="user-deal-main-block">

    <div style="width:100%;">
      <div class="left-block-content"/>
    </div>

    <div style="clear: both;"/>
  </div>


  <!-- end -->
  <div style="clear: both;"/>
  <div style="height:23px;"/>

</div>
