<div>
  <div style="height: 23px"/>

  <div style="width: 629px; float: left;margin-right: 12px; margin-left: 24px;"
       class="secondary-block">

    <!-- header -->
    <div class="main-block-wrapper">
      <div class="main-block-header" style="text-align:left;">
        <div class="left-block-header"/>
      </div>
    </div>

    <div class="left-block">
      <div>
        <div class="left-block-content" style="background-color: #F7F8FC;"/>
      </div>
    </div>
  </div>

  <!-- block with edit buttons -->
  <div style="float:left;">

    <div style="width: 308px; height: 601px;float:right;background-color: #F7F8FC;"
         class="secondary-block">

      <!-- header -->
      <div class="main-block-wrapper">
        <div class="main-block-header" style="text-align:left;font-size:18px;">
          <div class="right-block-header"/>
        </div>
      </div>

      <!-- content -->
      <div class="right-block-content"/>
    </div>

  </div>

  <!-- end -->
  <div style="clear: both;"/>
  <div style="height:23px;"/>

</div>
