<ul class="nav navbar-nav megamenu">

    {{#child}}
    <li class="parent dropdown">

        <a data-toggle="dropdown" class="dropdown-toggle"
           href="{{link.category(val)}}">
            <span class="menu-title">{{val.name}}</span>

            {{#if(val.child)}}
            <b class="caret"></b>
            {{/if}}

        </a>

        <div class="dropdown-menu level1">
            <div class="dropdown-menu-inner">
                <div class="row">
                    <div data-type="menu" class="mega-col col-xs-12 col-sm-12 col-md-12">
                        <div class="mega-col-inner">
                            <ul>
                                {{#val.child}}
                                <li class=" ">
                                    <a href="{{link.category(val)}}"><span
                                            class="menu-title">{{val.name}}</span>
                                    </a>
                                </li>
                                {{/val.child}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </li>
    {{/child}}
</ul>
