.inspect-nested
{
    padding-left:10px;
    color:black;
}

.inspect-toggle-name
{
    color:blue;
    cursor:pointer;
}

.inspect-type
{
    color:#aaaaaa;
}

.inspect-panel
{
    background:white;
    z-index:100;
    width:500px;
    font-family: sans-serif;
    font-size:14px;
}

.inspect-nested td
{
    vertical-align:top;
}

.inspect-toggle-info
{
    cursor:pointer;
    background-color:white;
}

.inspect-toggle-info:hover
{
    background-color:green;
}
