Вы успешно зарегистрированы на сайте Совместных Покупок <a href=\"http://dayte-dve.com.ua\">dayte-dve.com.ua</a>.

Для подтверждения своей регистрации, пройдите по ссылке <br>

{{link}}

<br>или скопируйте ее и вставьте в строку браузера.

Если Вы забудете свой пароль, то сможете восстановить его, используя e-mail, указанный при регистрации.

С уважением,
Администрация сайта <a href=\"http://dayte-dve.com.ua\">dayte-dve.com.ua</a>.
