<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <table style="margin-left: auto; margin-right: auto; font-family: arial, sans-serif;" width="650px">
    <tbody>
      <tr>
        <td style="border: 1px solid #ced2e4;border-radius: 10px;background-color: #F7F8FC;padding:0;">
          <table cellpadding="0" cellspacing="0" width="100%" height="90px" style="padding: 10px;">
            <tbody>
              <tr>
                <td>
                  <img src="http://imageshack.us/a/img18/7424/logotol.jpg" alt="">
                </td>
                <td colspan="2" align="center">
                  <h1 style="font-size: 25px;font-weight: normal;color: #1b4684;padding-bottom: 0;">
                    Присоединяйтесь к проекту "Дайте Две"!
                    <br>
                    <table style="padding-top: 10px;" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td style="background-color: #325d9b;border-radius: 5px;padding-bottom:5px;"
                              align="center" background="http://imageshack.us/a/img10/6792/buttonmn.jpg"
                              width="164px" height="30px" valign="middle">
                            <a style="text-decoration: none;color: #FFFFFF;" href="{{link}}">
                              <span style="font-size: 20px"> Участвовать</span>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </h1>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="100%" style="border: 0;" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <div style="white-space: pre;background-color: #325d9b;height: 7px;margin-bottom: 10px;"></div>
              </td>
            </tr>
          </table>
          <table width="100%" style="border: 0; padding-left: 12px; padding-right: 12px;" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td style="padding-left: 12px; padding-right: 12px;">
                  <p>
                    <span style="font-size: 18px;color: #1b4684;">Вы получили приглашение от </span>
                    <span style="color: #ff6000;font-weight: bold;font-size: 20px;"> {{name}}.<br></span>
                    <span style="font-size: 18px;color: #1b4684;">Станьте участником нового сервиса совместных покупок "Дайте две".</span>
                  </p>

                  <span style="font-size: 14px;text-align: justify;">В основе идеи совместных покупок, лежит
                    стремление приобретать необходимые
                    товары по оптовым,
                    а не розничным ценам. Участники сервиса, объединяют свои заказы, получая при этом
                    значительные скидки.</span>
                </td>
              </tr>
              <tr>
                <td style="padding: 8px 12px 0px 12px">
                  <span style="font-size: 14px;text-align: justify;">Сервис "Дайте Две", призван сделать товары доступнее, а процесс их приобретения -
                    удобнее и проще.</span>
                </td>
              </tr>
              <tr>
                <td align="center" style="padding-top: 8px; padding-bottom: 10px;">
                  <span style="font-size: 18px;color: #1b4684;">Став участником проекта, Вы получите:</span>
                </td>
              </tr>
              <tr>

                <td>
                  <table style="margin-top: 5px;margin-left: auto;margin-right: auto;border: 1px solid #ced2e4;border-radius: 5px;background-color: #FFFFFF;"
                         width="650px" height="72px" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td>
                          <img style="padding: 9px;"
                               src="http://imageshack.us/a/img27/8919/moneybox.jpg" alt="">
                        </td>
                        <td>
                          <span style="font-size: 21px;">Экономия</span>
                          <br>
                          <span style="color: #1b4684;font-size: 15px;">Возможность значительной экономии на приобретении необходимых товаров</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="margin-top: 10px;margin-left: auto;margin-right: auto;border: 1px solid #ced2e4;border-radius: 5px;background-color: #FFFFFF;"
                         width="650px" height="72px" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td>
                          <img style="padding: 9px;"
                               src="http://imageshack.us/a/img267/9593/stockp.jpg" alt="">
                        </td>
                        <td>
                          <span style="font-size: 21px;">Ассортимент</span>
                          <br>
                          <span style="color: #1b4684;font-size: 15px;">Постоянно расширяющийся ассортимент продукции, доступной для заказа в рамках проведения совместных покупок</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="margin-top: 10px;margin-left: auto;margin-right: auto;border: 1px solid #ced2e4;border-radius: 5px;background-color: #FFFFFF;"
                         width="650px" height="72px" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td>
                          <img style="padding: 9px;"
                               src="http://imageshack.us/a/img337/5337/comfort.jpg" alt="">
                        </td>
                        <td>
                          <span style="font-size: 21px;">Комфорт</span>
                          <br>
                          <span style="color: #1b4684;font-size: 15px;">Удобный пользовательский интерфейс, позволяющий сделать участие в совместной покупке максимально простым и комфортным</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="margin-top: 10px;margin-left: auto;margin-right: auto;border: 1px solid #ced2e4;border-radius: 5px;background-color: #FFFFFF;"
                         width="650px" height="72px" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td>
                          <img style="padding: 8px;"
                               src="http://imageshack.us/a/img818/6760/bubblet.jpg" alt="">
                        </td>
                        <td>
                          <span style="font-size: 21px;">Общение</span>
                          <br>
                          <span style="color: #1b4684;font-size: 15px;">Возможность обсуждения покупок с Вашими друзьями, зарегестрированными на сайте</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" style="padding-top: 10px;padding-bottom: 25px;">
                  <span style="color: #1b4684;font-size: 15px;">"Дайте две" - качественные товары по справедливой цене. <br>
                    <a style="color: #1576a0;font-weight: bold;text-decoration: none;" href="{{link}}"> Узнайте
                      больше </a>
                    или
                    <a style="color: #1576a0;font-weight: bold;text-decoration: none;" href="{{link}}">
                      присоединяйтесь.</a></span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</html>
