<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <table style="margin-left: auto; margin-right: auto; font-family: arial, sans-serif;" width="750px">
    <tbody>
      <tr>
        <td style="border: 1px solid #ced2e4;border-radius: 10px;background-color: #F7F8FC;padding:0 0 10px;">
          <table cellpadding="0" cellspacing="0" width="100%" style="padding: 10px;">
            <tbody>
              <tr>
                <td colspan="2" align="left">
                  <h1 style="font-size: 25px;font-weight: normal;color: #1b4684;padding-bottom: 0;margin:0;">
                    {{header}}
                  </h1>
                </td>
                <td align="right">
                  <span style="color:#666666;font-size:14px;">
                    {{time}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="100%" style="border: 0;" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <div style="white-space: pre;background-color: #325d9b;height: 7px;margin-bottom: 10px;"></div>
              </td>
            </tr>
          </table>
          <table width="100%" style="border: 0;" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                {{#avatar}}
                <td style="padding-left: 12px; padding-right: 12px;width:56px;">
                  <a href="{{user-href}}">
                    <img style="border-width:3px;border-style:solid;border-color:#396982 #3A5370 #3A5370;border-radius:4px;" src="{{avatar}}"></img>
                  </a>
                </td>
                {{/avatar}}
                <td style="padding-left: 12px; padding-right: 12px;">
                  {{{body}}}
                </td>
              </tr>
            </tbody>
          </table>
          <table width="100%" style="border: 0;" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td style="padding-left: 12px; padding-right: 12px;" align="left">
                  {{{tags}}}
                </td>
                <td style="padding-left: 12px; padding-right: 12px;" align="right">
                  <a style="font-size:14px;" href="{{all-news}}">
                    Посмотреть все новости
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="100%" style="border: 0;margin-top:10px;" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <div style="white-space: pre;background-color: #325d9b;height: 7px;margin-bottom: 10px;"></div>
              </td>
            </tr>
            <tr>
              <td align="center">
                <div style="font-size:12px;">
                  <a href="{{current-user-href}}">{{current-user.name}}<a>,
                      Вы можете ограничить или отменить уведомления на E-Mail в
                      <a href="{{news-settings}}">Настройках оповещений</a>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</html>
