<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>

  <body>

    <div>
      Добрый день! Ваш друг {{name}} рекомендовал Вам наш сайт! Мы будем рады
      предложить Вам широкий ассортимент одежды по самым доступным ценам!
    </div>

    <div>
      Акции, новинки, подарки - всегда для наших клиентов!
    </div>

    <div>
      С уважением, администрация интернет-магазина LEGKA-POKUPKA
    </div>
    
  </body>
</html>
