Поздравляем с регистрацией на сайте <a href="http://smartcommerce.com.ua">smartcommerce.com.ua</a>!
<br>
С текущего момента вам доступен ваш личный магазин <a href="http://{{name}}.sc24.com.ua/">{{name}}.sc24.com.ua</a>!<br>
<br>
Для начала работы войдите под своей учётной записью по адресу <a href="http://{{name}}.sc24.com.ua/smartcommerce/login/">{{name}}.sc24.com.ua/smartcommerce/login/</a><br>
<br>
Ваши данные:<br>
Логин: {{name}}<br>
Пароль: {{pass}}<br>
<br>
<hr>
<br>
Если Вы забудете свой пароль, то сможете восстановить его, используя e-mail, указанный при регистрации.
<br>
С уважением,<br>
Администрация сайта <a href="http://smartcommerce.com.ua">smartcommerce.com.ua</a>.
