<!DOCTYPE html5>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Smart Commerce</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/css/landing/bootstrap/css/normalize.css">
    <link rel="stylesheet" href="/css/landing/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/landing/bootstrap/css/bootstrap_col_15.css">
    <link rel="stylesheet" href="/fonts/landing/font/font.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/css/landing/css/style.css">
    <link rel="stylesheet" href="/css/themes/basic/animation.css">

    <script src="/js/landing/js/less-1.7.3.min.js" type="text/javascript"></script>
    <link rel="stylesheet/less" href="/css/landing/less/lessmix.less">
    <link rel="stylesheet/less" href="/css/landing/less/style.less">
    <script src="/js/lib/angular.js" type="text/javascript"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
	<script src="/js/landing/js/nav.js" type="text/javascript"></script>

    <script src="/js/custom-lib/bbcode.js"></script>
    <script src="/js/custom-lib/carousel.js"></script>
    <script src="/js/custom-lib/common.js"></script>
    <script src="/js/custom-lib/crop.js"></script>
    <script src="/js/custom-lib/dropdown.js"></script>
    <script src="/js/custom-lib/fixed-panel.js"></script>
    <script src="/js/custom-lib/history-utils.js"></script>
    <script src="/js/custom-lib/infinite-scroll.js"></script>
    <script src="/js/custom-lib/inputbf.js"></script>
    <script src="/js/custom-lib/modal-panel.js"></script>
    <script src="/js/custom-lib/next-prev-pager.js"></script>
    <script src="/js/custom-lib/notify.js"></script>
    <script src="/js/custom-lib/pager.js"></script>
    <script src="/js/custom-lib/popover.js"></script>
    <script src="/js/custom-lib/spinner.js"></script>
    <script src="/js/custom-lib/validation.js"></script>
    <script src="/js/custom-lib/wysiwyg.js"></script>
    <script src="/js/admin/common.js"></script>

    <script src="/js/landing/underscore.js"></script>


    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="/js/landing/js/selectivizr-min.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/landing/css/style.css"/>
    </noscript>
    <link rel="stylesheet" href="/css/landing/css/style-ie.css">
    <![endif]-->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<!--[if gt IE 7]>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
    </script>
    <style type="text/css">
        * {
            behavior: url(/js/landing/PIE/PIE.htc);
        }
    </style>
    <![endif]-->
	<script type="text/javascript">
		$(function () {
			$(window).scroll(function () {
				if ($(this).scrollTop() != 0) {
					$('#toTop').fadeIn();
				} else {
					$('#toTop').fadeOut();
				}
			});
			$('#toTop').click(function () {
				$('body,html').animate({
					scrollTop: 0
				}, 800);
			});
		});
	</script>
</head>

<body ng-controller="ThemesController" class="ng-scope">
<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="ModalRegistration" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form" role="enter">
                    <p>РЕГИСТРАЦИЯ</p>
                    <p>Бесплатное использование пакета 14 дней!</p>
                    <div class="form-group">
                        <label class="sr-only">Ваше имя</label>
                        <input type="text" id="name" name="name" class="form-control input">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Ваш телефон</label>
                        <input type="text" id="phone" name="phone" class="form-control input">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Ваш email</label>
                        <input type="text" id="email" name="email" class="form-control input">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" onclick="{{send-form()}}">Зарегистрироваться</button>
                    </div>
                    <p>Без комиссии, никаких обязательств, без кредитной карты.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="ModalSuccess" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form">
                    <p>РЕГИСТРАЦИЯ</p>
                    <p>ПРОШЛА УСПЕШНО</p>
                    <p>Благодарим за ваш выбор</p>
                </div>
            </div>
        </div>
    </div>
</div>
	<div class="container-fluid">
		<div id="toTop" class="toTop"><span class="glyphicon glyphicon-chevron-up"></span></div>
		<!-- Header -->
		<section class="start">
			<div class="row">
				<header>
					<div class="max-width clearfix">
						<div class="col-md-12">
							<div class="row">
								<div class="strip color-green col15-md-3 col15-sm-3 col15-xs-3"></div>
								<div class="strip color-blue col15-md-3 col15-sm-3 col15-xs-3"></div>
								<div class="strip color-yellow col15-md-3 col15-sm-3 col15-xs-3"></div>
								<div class="strip color-orange col15-md-3 col15-sm-3 col15-xs-3"></div>
								<div class="strip color-turquoise col15-md-3 col15-sm-3 col15-xs-3"></div>
								<div class="col-md-12" >
									<h1 class="logo pull-left">
										<a href="#">
											<span>Smart</span>Commerce {{br}}
											<small>Облачная платформа</small>
										</a>
									</h1>
									<div class="tel pull-right text-right">
										<span>+38 (050) </span>050 413 69 90{{br}}
                                        <a href="#" data-toggle="modal" data-target="#registration">заказать звонок</a>
									</div>
								</div>
							</div>
							<nav class="navbar navbar-default" role="navigation">
								<div class="container-fluid">
									<div class="navbar-header">
										<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Меню</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav nav-justified">
											<li><a href="#shop-sale">О платформе</a></li>
											<li><a href="#rates">Тарифы</a></li>
											<li><a href="#benefits">Преимущества</a></li>
											<li><a href="#counter">В цифрах</a></li>
											<li><a href="#" data-toggle="modal" data-target="#registration">Регистрация</a></li>
										</ul>
									</div>
								</div>
							</nav>

						</div>
					</div>
				</header>
				<main>

					<div id="carousel-example-generic" class="carousel-slide" data-ride="carousel" data-interval="5000" data-wrap="true">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item slide-1 active">
								<div class="carousel-caption max-width">
									<article>
										<h2 class="color-font-blue">
											полнофункциональный {{br}} интернет-магазин {{br}}
											<span class="color-font-yellow">сразу после регистрации</span>
										</h2>
										<p>
											Складской учет, управление заказами, аналитические отчеты, <span>{{br}}</span>
											каталог с фильтрами, рассылка новостей, публикации в соц. сетях, <span>{{br}}</span>
											смс-рассылка - никогда еще не было так просто
                                            <span class="color-font-yellow">получить  <span>{{br}}</span>
											ВСЕ функции необходимые для успешного бизнеса в интернет-торговле</span>
										</p>
									</article>
								</div>
							</div>
							<div class="item slide-2">
								<div class="carousel-caption max-width">
									<article>
										<h2 class="color-font-yellow">
											складской учет, аналитика и инфографика
										</h2>
										<p>
											С легкостью ведите складской учет. Теперь наличие товаров <span>{{br}}</span>
											в Вашем интернет-магазине всегда полностью актуально!
										</p>
										<p>
											<span class="color-font-blue">
												Всегда получайте любую информацию по Вашему бизнесу <span>{{br}}</span>
											</span>
											с помощью удобных отчетов, красивых графиков и красочных диаграмм!
										</p>
									</article>
								</div>
							</div>
							<div class="item slide-3">
								<div class="carousel-caption max-width">
									<article>
										<h2 class="color-font-green">с легкостью управляйте заказами</h2>
										<p>Идеальный путь Ваших заказов - от принятых до исполненных, {{br}} с помощью удобных статусов.</p>
										<p>Будьте всегда на связи - уведомления о новых заказах {{br}} на почту и смс-ссобщениями.</p>
										<p>Легко сообщайте вашим клиентам любую информацию {{br}} с помощью смс-сообщений.</p>
									</article>
								</div>
							</div>
						</div>
					</div>

					<div class="max-width clearfix">
						<div class="col-xs-12">
							<div class="form form-inline clearfix ng-pristine" >
								<p><span>начните сейчас!</span> Бесплатное использование пакета 14 дней!</p>
								<div class="row">
									<div class="form-group col-sm-3">
										<label class="sr-only">Ваше имя</label>
										<input id="name" name="name" type="text" class="form-control">
									</div>
									<div class="form-group col-sm-3">
										<label class="sr-only">Ваш телефон</label>
										<input type="text" id="phone" name="phone" class="form-control">
									</div>
									<div class="form-group col-sm-3">
										<label class="sr-only">Ваш email</label>
										<input id="email" name="email" type="text" class="form-control">
									</div>
									<div class="form-group col-sm-3">
										<button class="btn btn-default" onclick="{{send-form()}}">начать бесплатно</button>
									</div>
								</div>
								<p>Без комиссии, никаких обязательств, без кредитной карты.</p>
							</div>
						</div>
					</div>

				</main>
				<footer>
					<div class="max-width clearfix">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="block-info">
								<div class="color-orange height"><span class="icon comfortably"></span></div>
								<div class="caption">
									<p class="or">удобно</p>
									<hr>
									<span>адаптивный дизайн простой интерфейс</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="block-info">
								<div class="color-turquoise height"><span class="icon safely"></span></div>
								<div class="caption">
									<p class="tq">безопасно</p>
									<hr>
									<span>резервное копирование данных ежедневно</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="block-info">
								<div class="color-yellow height"><span class="icon remotely"></span></div>
								<div class="caption">
									<p class="ye">удалённо</p>
									<hr>
									<span>доступ к информации с любого устройства</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="block-info">
								<div class="color-blue height"><span class="icon professionally"></span></div>
								<div class="caption">
									<p class="bl">профессионально</p>
									<hr>
									<span>грамотная поддержка квалифицированных специалистов</span>
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</section>

		<section id="shop-sale" class="shop-sale">
			<header class="row">
				<div class="max-width">
					<div class="col-md-12">
						<div class="row">
							<div class="strip color-green col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-blue col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-yellow col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-orange col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-turquoise col15-md-3 col15-sm-3 col15-xs-3"></div>
						</div>
						<p><span class="color-font-blue">Smart</span>Commerce - Ваш центр управления продажами</p>
						<small>Произведите впечатление на ваших клиентов</small>
						<div class="row">
							<ul class="nav nav-tabs col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3">
								<li class="col-sm-4 col-xs-4 active"><a href="#shop" data-toggle="tab"><span class="icon shop"></span>Магазин</a></li>
								<li class="col-sm-4 col-xs-4"><a href="#goods" data-toggle="tab"><span class="icon goods"></span>Товар</a></li>
								<li class="col-sm-4 col-xs-4"><a class="size-font" href="#sale" data-toggle="tab"><span class="icon scale"></span>Масштабируемость</a></li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<div class="tab-content row">
				<div id="shop" class="tab-pane col-md-12 active">
					<div class="row max-width">
						<div class="img col-md-6 hidden-xs">
							<img src="/img/landing/img/img-shop.png" alt="">
						</div>
						<div class="col-md-6">
							<article>
								<span class="icon shop"></span>
								<p>
									Простое и быстрое создание
									полнофункционального интернет-магазина.
									Начните продажи уже сегодня.
								</p>
							</article>
							<article>
								<span class="icon shop"></span>
								<p>
									Безопасность Ваших данных и их
									резервное копирование.
								</p>
							</article>
							<article>
								<span class="icon shop"></span>
								<p>
									Оптимизация создаваемого магазина
									под поисковые системы.
								</p>
							</article>
							<article>
								<span class="icon shop"></span>
								<p>
									Эффективная система управления
								</p>
							</article>
						</div>
					</div>
				</div>
				<div id="goods" class="tab-pane col-md-12">
					<div class="row max-width">
						<div class="img col-md-6 hidden-xs">
							<img src="/img/landing/img/img-goods.png" alt="">
						</div>
						<div class="col-md-6">
							<article>
								<span class="icon goods"></span>
								<p>
									Массовое редактирование товаров.
								</p>
							</article>
							<article>
								<span class="icon goods"></span>
								<p>
									Новостные рассылки с добавлением
									изображений и ссылок на товары.
								</p>
							</article>
							<article>
								<span class="icon goods"></span>
								<p>
									Комплектация товара может изменять
									его стоимость, добавлять неограниченное
									количество персональных характеристик,
									иметь собственный артикул и название.
								</p>
							</article>
						</div>
					</div>
				</div>
				<div id="sale" class="tab-pane col-md-12">
					<div class="row max-width">
						<div class="img col-md-6 hidden-xs">
							<img src="/img/landing/img/img-scale.png" alt="">
						</div>
						<div class="col-md-6">
							<article>
								<span class="icon scale"></span>
								<p>
									Создавайте не ограниченное количество
									сайтов и управляйте ими из одной панели
									администратора.
								</p>
							</article>
							<article>
								<span class="icon scale"></span>
								<p>
									Выгрузка товаров на другие продающие
									площадки и социальные сети.
								</p>
							</article>
							<article>
								<span class="icon scale"></span>
								<p>
									Добавление новых пользователей с
									возможностью назначения им различных
									прав доступа.
								</p>
							</article>
							<article>
								<span class="icon scale"></span>
								<p>
									Синхронизация остатков товара на вашем
									складе в системе <span>SmartCommerce</span> со всеми
									продающими площадками.
								</p>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="order">
			<header class="row">
				<div class="max-width">
					<div class="col-md-12">
						<div class="row">
							<div class="strip color-green col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-blue col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-pink col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-orange col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-turquoise col15-md-3 col15-sm-3 col15-xs-3"></div>
						</div>
						<p>Управлять бизнесом просто</p>
						<small>Отслеживание движения товара, хранение контактов,{{br}} обработка заказов, сервис отложенных покупок и т.д.</small>
						<div class="row">
							<ul class="nav nav-tabs col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3">
								<li class="col-sm-4 col-xs-4 active"><a href="#orders" data-toggle="tab"><span class="icon orders"></span>Заказы</a></li>
								<li class="col-sm-4 col-xs-4"><a class="size-font" href="#analytics" data-toggle="tab"><span class="icon analytics"></span>Аналитика</a></li>
								<li class="col-sm-4 col-xs-4"><a href="#warehouse" data-toggle="tab"><span class="icon warehouse"></span>Склад</a></li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<div class="tab-content row">
				<div id="orders" class="tab-pane col-md-12 active">
					<div class="row max-width">
						<div class="col-md-6">
							<article>
								<span class="icon orders"></span>
								<p>
									После оформления заказа, администратор
									может его распечатать, все параметры
									доступны для редактирования.
								</p>
							</article>
							<article>
								<span class="icon orders"></span>
								<p>
									Возможность формировать закзаы прямо
									из административной панели.
								</p>
							</article>
							<article>
								<span class="icon orders"></span>
								<p>
									Отображение на заказе его себестоимости,
									благодаря чему, сразу понятна
									прибыльность и допустимый размер
									скидки.
								</p>
							</article>
						</div>
						<div class="col-md-6 hidden-xs"><div class="img"><img src="/img/landing/img/img-orders.png" alt=""></div></div>
					</div>
				</div>
				<div id="analytics" class="tab-pane col-md-12">
					<div class="row max-width">
						<div class="col-md-6">
							<article>
								<span class="icon analytics"></span>
								<p class="color-font-grey">
									Анализ хозяйственой деятельности. Планирование
									закупок, наиболее востребованные категории
									товара, рентабельность и целесообразность
									предоставления дополнительных скидок клиентам. {{br}}
									<span>Вы сможете получить ответы на эти вопросы всего в несколько кликов.</span>
								</p>
							</article>
							<article>
								<span class="icon analytics"></span>
								<p class="color-font-grey">
									Взаиморасчеты с поставщиками. Вам нужны
									аргументы для получения допольнительных скидок
									или товарного кредита? {{br}}
									<span>Возможность анализа динамики продаж по каждому поставщику помогут их предоставить.</span>
								</p>
							</article>
						</div>
						<div class="col-md-6 hidden-xs"><div class="img"><img src="/img/landing/img/img-analytics.png" alt=""></div></div>
					</div>
				</div>
				<div id="warehouse" class="tab-pane col-md-12">
					<div class="row max-width">
						<div class="col-md-6">
							<article>
								<span class="icon warehouse"></span>
								<p>
									Подготовка списка закупок на основании
									минимальных неснижаемых остатков по
									складу.
								</p>
							</article>
							<article>
								<span class="icon warehouse"></span>
								<p>
									Оприходования, переучеты, списание
									товаров при продаже.
								</p>
							</article>
							<article>
								<span class="icon warehouse"></span>
								<p>
									Отображение на сайтах подключенных к
									системе только тех товаров, которые есть
									в наличии.
								</p>
							</article>
							<article>
								<span class="icon warehouse"></span>
								<p>
									Таким образом Ваши клиенты всегда
									располагают самой актуальной информацией
									о состоянии вашего склада.
								</p>
							</article>
						</div>
						<div class="col-md-6 hidden-xs"><div class="img"><img style="bottom:-5px" src="/img/landing/img/img-warehouse.png" alt=""></div></div>
					</div>
				</div>
			</div>
		</section>

		<section class="start start-2 row">
			<div class="col-md-12">
				<div class="max-width">
					<div class="row">
						<div class="strip color-green col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-blue col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-yellow col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-orange col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-turquoise col15-md-3 col15-sm-3 col15-xs-3"></div>
					</div>
					<main>
						<h2 class="text-center">Оцените удобства "<span class="color-font-blue">Smart</span>Commerce"{{br}}
						<span class="color-font-blue">за 14 дней</span> бесплатного пользования</h2>
						<div class="form form-inline clearfix" style="bottom: 0px !important;">
							<p>Заполните форму для входа в систему</p>
							<div class="row">
								<div class="form-group col-sm-3 col-xs-6">
									<label  class="sr-only">Ваше имя</label>
                                    <input type="text" id="name" name="name" class="form-control">
								</div>
								<div class="form-group col-sm-3 col-xs-6">
									<label  class="sr-only">Ваш телефон</label>
                                    <input type="text" id="phone" name="phone" class="form-control">
								</div>
								<div class="form-group col-sm-3 col-xs-6">
									<label  class="sr-only">Ваш email</label>
                                    <input type="text" id="email" name="email" class="form-control">
								</div>
								<div class="form-group col-sm-3 col-xs-6">
									<button class="size-font btn btn-default" onclick="{{send-form()}}" title="Начать бесплатно">начать бесплатно</button>
								</div>
							</div>
							<p>Без комиссии, никаких обязательств, без кредитной карты.</p>
						</div>
					</main>
				</div>
			</div>
		</section>

		<section id="rates" class="rates row">
			<div class="col-md-12">
				<div class="max-width text-center">
					<div class="row">
						<div class="strip color-green col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-blue col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-yellow col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-orange col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-turquoise col15-md-3 col15-sm-3 col15-xs-3"></div>
					</div>
					<h2>Наши тарифы{{br}}<small>Успешный бизнес без значительных вложений</small></h2>
					<div class="table-responsive">
						<table class="table text-center">
							<tr>
								<th>Количество товара</th>
								<th class="colored-grey">0 - 50</th>
								<th class="colored-grey">50 - 500</th>
								<th class="color-yellow">500 - 5000</th>
								<th class="colored-grey">5000 - 20000</th>
								<th class="colored-grey">20000 + шт</th>
							</tr>
							<tr>
								<td class="colored-grey light">Оплата за месяц</td>
								<td class="colored-white font-grey medium">Freemium</td>
								<td class="colored-white">14.99$</td>
								<td class="color-yellow">29.99$</td>
								<td class="colored-white">99.99$</td>
								<td class="colored-white">149.99$</td>
							</tr>
							<tr>
								<td class="colored-grey light">Экономия при оплате за год</td>
								<td class="colored-white font-grey medium">Freemium</td>
								<td class="colored-white">17%</td>
								<td class="color-yellow">17%</td>
								<td class="colored-white">17%</td>
								<td class="colored-white">17%</td>
							</tr>
							<tr>
								<td class="colored-grey light">Бонусы</td>
								<td class="colored-white font-grey medium">Freemium</td>
								<td class="colored-white">100 sms</td>
								<td class="color-yellow">250 sms</td>
								<td class="colored-white">500 sms</td>
								<td class="colored-white">750 sms</td>
							</tr>
						</table>
					</div>
					<div class="row">
						<div class="form-group col-xs-12">
							<button type="submit" class="btn btn-default" data-toggle="modal" data-target="#registration">Старт</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="benefits" class="benefits">
			<div class="row">
				<header class="clearfix">
					<div class="col-md-12">
						<div class="max-width">
							<div class="row">
								<div class="strip color-green col15-md-3 col15-sm-3 col15-xs-3"></div>
								<div class="strip color-blue col15-md-3 col15-sm-3 col15-xs-3"></div>
								<div class="strip color-yellow col15-md-3 col15-sm-3 col15-xs-3"></div>
								<div class="strip color-pink col15-md-3 col15-sm-3 col15-xs-3"></div>
								<div class="strip color-turquoise col15-md-3 col15-sm-3 col15-xs-3"></div>
							</div>
							<h2 class="text-center">Преимущества работы на облачной платформе {{br}} "<span>Smart</span>Commerce"</h2>
						</div>
					</div>
				</header>
			</div>
			<div class="row">
				<main class="clearfix">
					<div class="col-md-12">
						<div class="max-width">
							<div class="row">
								<div class="col-md-6">
									<article>
										<div class="icon-block">
											<span class="icon multisite"></span>
										</div>
										<div class="info-block">
											<p class="colored-orange">Мультисайтовость</p>
											<p>
												Вы можете управлять сразу несколькими
												магазинами
											</p>
										</div>
									</article>
								</div>
								<div class="col-md-6">
									<article>
										<div class="icon-block">
											<span class="icon backup"></span>
										</div>
										<div class="info-block">
											<p class="colored-orange">Резервное копирование</p>
											<p>
												Все ваши данные хранятся на отдельном
												сервере и каждый день обновляются.
												Вы защищены от потери информации
											</p>
										</div>
									</article>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<article>
										<div class="icon-block">
											<span class="icon protection"></span>
										</div>
										<div class="info-block">
											<p class="colored-orange">Защита коммерческих данных</p>
											<p>
												Ваш магазин защищён от хакерских атак,
												неправомерного посягательства
											</p>
										</div>
									</article>
								</div>
								<div class="col-md-6">
									<article>
										<div class="icon-block">
											<span class="icon no-once"></span>
										</div>
										<div class="info-block">
											<p class="colored-orange">Вы не платите ничего лишнего</p>
											<p>
												Вам не нужен отдельный сервер, сайт.
												Все это вы получаете автоматически.
											</p>
										</div>
									</article>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<article>
										<div class="icon-block">
											<span class="icon ease"></span>
										</div>
										<div class="info-block">
											<p class="colored-orange">Простота работы</p>
											<p>
												Облачная система SmartCommerce
												работает с популярными браузерами,
												не требует специальных знаний и
												настройки.
											</p>
										</div>
									</article>
								</div>
								<div class="col-md-6">
									<article>
										<div class="icon-block">
											<span class="icon support"></span>
										</div>
										<div class="info-block">
											<p class="colored-orange">Поддержка</p>
											<p>
												Всегда придёт на помощь, даже
												в неприлично позднее время.
											</p>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</section>

		<section id="counter" class="counter row">
			<div class="col-md-12">
				<div class="max-width">
					<div class="row">
						<div class="strip color-green col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-blue col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-yellow col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-orange col15-md-3 col15-sm-3 col15-xs-3"></div>
						<div class="strip color-turquoise col15-md-3 col15-sm-3 col15-xs-3"></div>
					</div>
					<div class="row text-center">
						<div class="col-sm-4">
							<p class="colored">9 857</p>
							<p>бизнесменов зарабатывают на платформе</p>
						</div>
						<div class="col-sm-4">
							<p class="colored">20 000</p>
							<p>позиций и более для размещения товара в интернет-магазине</p>
						</div>
						<div class="col-sm-4">
							<p class="colored">6 587</p>
							<p>проданных хитов на платформе "SmartCommerce"</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="caption-business row">
			<div class="col-md-12">
				<div class="max-width">
					<p class="colored-blue text-center">наш сервис поможет вам организовать свой бизнес, потому что он создан</p>
					<p class="text-center">исключительно для владельцев интернет магазинов, с учётом всех нюансов</p>
				</div>
			</div>
		</section>

		<section class="questions">
			<main class="row">
				<div class="col-md-12">
					<div class="max-width">
						<div class="row">
							<div class="strip color-green col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-blue col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-yellow col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-orange col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-turquoise col15-md-3 col15-sm-3 col15-xs-3"></div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<p>остались вопросы?</p>
								<p>+7 (999) 758-65-89</p>
                                <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#registration">получить консультацию</button>
							</div>
							<div class="col-sm-6">
								<div class="form">
									<p>начните сейчас!</p>
									<p>Пакет до 50 товаров - <span>0 грн</span></p>
										<div class="form-group">
											<label  class="sr-only">Ваше имя</label>
                                            <input type="text" id="name" name="name" class="form-control">
										</div>
										<div class="form-group">
											<label  class="sr-only">Ваш телефон</label>
											<input type="text" class="form-control" id="phone" name="phone">
										</div>
										<div class="form-group">
											<label  class="sr-only">Ваш email</label>
											<input type="text" class="form-control" id="email" name="email">
										</div>
										<div class="form-group">
											<button class="btn btn-default" onclick="{{send-form()}}">начать бесплатно</button>
										</div>
									<p>Без комиссии, никаких обязательств, без кредитной карты.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="max-width">
									<a href="#" class="social"><span class="flaticon-googleplus"></span></a>
									<a href="#" class="social"><span class="flaticon-facebook"></span></a>
									<a href="#" class="social"><span class="flaticon-tumblr"></span></a>
									<a href="#" class="social"><span class="flaticon-vkontakte"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer class="row">
				<div class="col-md-12">
					<div class="max-width">
						<div class="row">
							<div class="col-sm-4">
								<h3><span>Smart</span>Commerce</h3>
							</div>
							<div class="col-sm-7">
								<p>Профессиональная облачная платформа для ведения управленческого учета и создания полнофункциональных интернет-магазинов, на базе существующего ассортимента товаров</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-right">
								<p class="copyright">Copyright &copy; 2014</p>
							</div>
						</div>
						<div class="row">
							<div class="strip color-green col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-blue col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-yellow col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-orange col15-md-3 col15-sm-3 col15-xs-3"></div>
							<div class="strip color-turquoise col15-md-3 col15-sm-3 col15-xs-3"></div>
						</div>
					</div>
				</div>
			</footer>
		</section>
		<!-- Main -->
		<!-- End Main -->
	</div>

	<script src="/css/landing/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>

</html>
