/* Drill Down Menu Styles */
.dd-wrapper ul, .dd-wrapper ul li, .dd-wrapper li, .dd-wrapper li ul, .dd-wrapper li ul li {margin: 0; padding: 0; list-style: none;}
.dd-wrapper .dd-menu {overflow: hidden; position: relative;}
.dd-wrapper  .dd-menu ul {margin: 0; position: absolute; top: 0; right: 0;}

.dd-menu a
{
    text-decoration: none;
    padding: 10px 10px 10px 50px;
    color:#ffffff;
    display: block;
    position: relative;
    background-color: #2d5690;
    opacity: 0.93;
    border-bottom: 1px solid #9aabbe;
    display:block;
    padding: 8px 10px;
}

.dd-menu a:hover
{
    background-color:#486EA5;
}
.dd-menu li a .dd-icon
{
    position: absolute;
    top: 50%;
    right: 0px;
    width: 34px;
    margin-top: -8px;
    height: 34px;
}

.dd-menu li a .dd-icon:after {content: "▶ ";font-size:10px;}

.dd-header h3
{
    margin:5px 10px;
    color:#1B4684;
    text-align:left;
}

.dd-header ul
{
    padding:5px;
}

.dd-header a
{
    color:#1576A0;
}

.dd-header a:hover
{
    text-decoration:underline !important;
}

.dd_wrapper
{
    box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
    -moz-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.dd_wrapper .dd_menu a
{
    background-color: #2d5690;
    opacity: 0.93;
    border-bottom: 1px solid #9aabbe;
    display:block;
    padding: 8px 10px;
}

.dd_wrapper li:last-child a
{
    border-bottom: none;
    border-radius: 0 0 5px 5px;
}

.dk_option_current a
{
    background-color: #2d5690;
    text-decoration: none;
}
