.icarousel-images {
    float: left;
    top:0;
}

.icarousel-switch {
    width: 102px;
    float: left;
    position: absolute;
    height: 360px;
    cursor: pointer;
}

.icarousel-content {
    float: left;
    position:absolute;
    width: 1000px;
}

.icarousel-switchers{
    width: 250px;
}

.sw0{
    width:83px;
    left:0px;
}

.sw1{
    width:83px;
    left:83px;
}

.sw2{
    width:83px;
    left:166px;
}

.icarousel-container{
    position: relative;
    width:250px;
    overflow: hidden;
    height: 360px;
    margin-left:auto;
    margin-right:auto;
}

.icarousel-progress{
    width: 102px;
    height: 3px;
    float: left;
    position: absolute;
    right: 0;
    top:358px;
}

.icarousel-progress-bar{
    width: 900px;
    float: left;
    position:absolute;
}

.pr0{
    width:83px;
    left:0px;
    background-color: #1EC1F5;
}
