#header .women {
	background-color: #9b357b;
}

#header .men {
	background-color: #3472a0;
}

#header .children {
	background-color: #5b821f;
}

#header .home-textiles {
	background-color: #4a5686;
}

#header .accessories {
	background-color: #a66e14;
}

#header .stock {
	background-color: #943334;
}

#header .nav a {
	margin: 0 10px;
	opacity: .7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
