@import "/fonts/landing/font/flaticon.css";
/* Imports
------------------------------ */
/* Variables
------------------------------ */
/* --- background --- */
/* --- font --- */
/* Mixins
------------------------------ */
.main-ul {
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  text-justify: newspaper;
  zoom: 1;
}
.main-after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.main-li {
  display: inline-block;
  line-height: normal;
  font-size: 14px;
  vertical-align: middle;
}
/* Mixins End
------------------------------ */
.max-width {
  max-width: 980px;
  margin: 0 auto;
}
.strip {
  height: 4px;
}
.color-green {
  color: none;
  background-color: #97cb41;
}
.color-blue {
  color: none;
  background-color: #2ea9e9;
}
.color-yellow {
  color: none;
  background-color: #efba2c;
}
.color-orange {
  color: none;
  background-color: #e75f32;
}
.color-turquoise {
  color: none;
  background-color: #16a9a7;
}
.color-pink {
  color: none;
  background-color: #ffc6fc;
}
.color-font-blue {
  color: #22afff;
  background-color: none;
}
.color-font-yellow {
  color: #efba2c;
  background-color: none;
}
.color-font-green {
  color: #9abc43;
  background-color: none;
}
.color-font-grey {
  color: #9099ac;
  background-color: none;
}
.size-font {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html {
  font-size: 100%;
}
body {
  font-family: "PFDinTextCondPro-regular";
  font-size: 62.5%;
  background-color: #fff;
}
body a:active,
body a:focus {
  outline: none;
}
body.modal-open {
  overflow: auto;
}
.modal {
  overflow-y: hidden;
}
.modal .modal-dialog {
  position: absolute;
  width: 370px;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -229px;
}
.modal .modal-body {
  padding: 0;
}
.modal .modal-content {
  border-color: #2e353d;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.modal .form {
  max-width: 370px;
  color: #9099ac;
  background-color: #2e353d;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 15px 10%;
}
.modal .form p {
  margin: 0;
  font-family: "PFDinTextCondPro-regular";
  font-size: 2.5em;
  text-align: center;
  color: #efba2c;
  background-color: none;
}
.modal .form p + p {
  font-family: "PFDinTextCondPro-light";
  color: #ffffff;
  background-color: none;
  margin: 0 0 25px;
  text-transform: none;
}
.modal .form p + p span {
  color: #f1b732;
  background-color: none;
}
.modal .form p:last-child {
  color: #9099ac;
  background-color: none;
  margin: 0;
  font-size: 15px;
  text-transform: none;
  line-height: 1;
  margin-top: -15px;
  margin-bottom: 5px;
}
.modal .form .form-group {
  width: 100%;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.modal .form .form-group:last-child {
  padding: 0 15px;
}
.modal .form .form-group .sr-only {
  text-transform: none;
  top: -10px;
  color: #9099ac;
  background-color: none;
  font-family: "PFDinTextCondPro-light";
  font-size: 15px;
  width: auto;
  height: auto;
  clip: auto;
  font-weight: normal;
}
.modal .form .form-control {
  width: 100%;
  margin: 0 auto;
  color: #f1b732;
  background-color: rgba(144, 153, 172, 0.2);
  border-color: #9098AB;
  font-family: "PFDinTextCondPro-regular";
  font-size: 1.6em;
}
.modal .form .btn {
  width: 100%;
  height: 50px;
  padding: 0;
  font-family: "PFDinTextCondPro-medium";
  font-size: 20px;
  -webkit-box-shadow: 0 -3px 0 #82aa38 inset;
  -moz-box-shadow: 0 -3px 0 #82aa38 inset;
  box-shadow: 0 -3px 0 #82aa38 inset;
  color: #303642;
  background-color: #9abc43;
  border-color: #9ABC43;
}
.modal .form .btn:hover {
  color: #ffffff;
  background-color: #537123;
  -webkit-box-shadow: 0 -3px 0 #455e1d inset;
  -moz-box-shadow: 0 -3px 0 #455e1d inset;
  box-shadow: 0 -3px 0 #455e1d inset;
  border-color: #455e1d;
}
.modal .form .btn:active {
  color: #ffffff;
  background-color: #537123;
  -webkit-box-shadow: 0 -3px 0 #455e1d inset;
  -moz-box-shadow: 0 -3px 0 #455e1d inset;
  box-shadow: 0 -3px 0 #455e1d inset;
  border-color: #455e1d;
}
.toTop {
  border: 2px solid #9a9a9a;
  color: #9a9a9a;
  position: fixed;
  bottom: 35px;
  right: 15px;
  cursor: pointer;
  padding: 7px 9px 5px 11px;
  font-size: 20px;
  display: none;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  z-index: 50;
}
.btn:focus,
.btn:active,
.btn.active:focus {
  outline: none !important;
}
.start {
  /* header end */
  /* main end */
  /* End Footer */
}
.start header {
  position: relative;
  font-family: "PFDinTextCondPro-regular";
  background-image: url('/img/landing/img/start-bg-header.jpg');
}
.start header .logo {
  margin: 40px 0 0;
  line-height: .8;
}
.start header .logo a {
  color: #ffffff;
  background-color: none;
}
.start header .logo a:hover {
  text-decoration: none;
}
.start header .logo a small {
  font-family: "PFDinTextCondPro-light";
}
.start header .logo span {
  color: #21aefd;
  background-color: none;
}
.start header .tel {
  line-height: 1;
  margin: 40px 0 0;
  font-size: 3em;
  color: #fff;
}
.start header .tel span {
  color: #9099ac;
  background-color: none;
}
.start header .tel a {
  font-family: "PFDinTextCondPro-light";
  font-size: 20px;
  color: #cf5001;
  background-color: none;
}
.start header .tel a:hover {
  text-decoration: none;
  border-bottom: 1px dashed red;
}
.start header .navbar {
  bottom: -33px;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  color: #9099ac;
  background-color: #2e353d;
  border: none;
  margin-bottom: 0;
  z-index: 15;
}
.start header .navbar .collapse {
  padding: 0;
  border: none;
}
.start header .navbar .container-fluid {
  padding: 0;
}
.start header .navbar .navbar-toggle {
  margin-right: 20px;
  border-color: #929aaf;
}
.start header .navbar .navbar-toggle:hover {
  background: #2e353d;
}
.start header .navbar .navbar-toggle:focus {
  background: #2e353d;
}
.start header ul.nav {
  width: 100%;
  margin: 0;
  color: none;
  background-color: #2e353d;
}
.start header ul.nav li {
  width: 20%;
  text-align: center;
}
.start header ul.nav li + li {
  border-left: 1px solid #454F5B;
}
.start header ul.nav li:last-child a {
  color: #efba2c;
  background-color: none;
}
.start header ul.nav li:hover {
  color: none;
  background-color: #efba2c;
}
.start header ul.nav li:hover a {
  color: #2e353d;
  background-color: #efba2c;
}
.start header ul.nav a {
  display: inline-block;
  font-family: "PFDinTextCondPro-light";
  font-size: 1.8em;
  padding-top: 23px;
  padding-bottom: 23px;
  color: #9099ac;
  background-color: none;
}
.start header ul.nav a:focus {
  color: #9099ac;
  background-color: none;
}
.start main {
  position: relative;
  color: #ffffff;
  background-color: none;
  min-height: 660px;
  text-transform: uppercase;
}
.start main .item {
  min-height: 660px;
}
.start main .item.slide-1 {
  background: url('/img/landing/img/slide-1.jpg') center center no-repeat;
  -webkit-background-size: cover 100%;
  -moz-background-size: cover 100%;
  background-size: cover 100%;
}
.start main .item.slide-2 {
  background: url('/img/landing/img/slide-2.jpg') center center no-repeat;
  -webkit-background-size: cover 100%;
  -moz-background-size: cover 100%;
  background-size: cover 100%;
}
.start main .item.slide-3 {
  background: url('/img/landing/img/slide-3.jpg') center center no-repeat;
  -webkit-background-size: cover 100%;
  -moz-background-size: cover 100%;
  background-size: cover 100%;
}
.start main .carousel-indicators {
  bottom: 10px;
}
.start main .carousel-caption {
  text-align: left;
  padding: 80px 20px 0;
  left: 20px;
  right: 0;
  top: 0;
  text-shadow: none;
}
.start main .carousel-caption h2 {
  font-family: "PFDinTextCondPro-medium";
  font-size: 5em;
  margin-top: 0;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.start main .carousel-caption p {
  text-transform: none;
  font-family: "PFDinTextCondPro-regular";
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 30px;
}
.start main .form {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  z-index: 20;
}
.start main .form {
  width: 100%;
  color: #9099ac;
  background-color: rgba(42, 48, 55, 0.8);
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 15px;
}
.start main .form p {
  font-family: "PFDinTextCondPro-light";
  font-size: 25px;
  color: #ffffff;
  background-color: none;
  text-transform: none;
}
.start main .form p:last-child {
  color: #9099ac;
  background-color: none;
  margin: 0;
  font-size: 15px;
}
.start main .form p span {
  text-transform: uppercase;
  color: #f1b732;
  background-color: none;
  font-family: "PFDinTextCondPro-regular";
}
.start main .form .form-group {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.start main .form .form-group:last-child {
  padding: 0 15px;
}
.start main .form .form-group .sr-only {
  text-transform: none;
  top: -10px;
  color: #9099ac;
  background-color: none;
  font-family: "PFDinTextCondPro-light";
  font-size: 15px;
  width: auto;
  height: auto;
  clip: auto;
  font-weight: normal;
}
.start main .form .form-control {
  width: 100%;
  color: #f1b732;
  background-color: rgba(144, 153, 172, 0.2);
  border-color: #9098AB;
  font-family: "PFDinTextCondPro-regular";
  font-size: 1.6em;
}
.start main .form .btn {
  width: 100%;
  height: 50px;
  padding: 0;
  font-family: "PFDinTextCondPro-medium";
  font-size: 20px;
  -webkit-box-shadow: 0 -3px 0 #82aa38 inset;
  -moz-box-shadow: 0 -3px 0 #82aa38 inset;
  box-shadow: 0 -3px 0 #82aa38 inset;
  color: #303642;
  background-color: #9abc43;
  border: none;
  text-transform: uppercase;
}
.start main .form .btn:hover {
  color: #ffffff;
  background-color: #537123;
  -webkit-box-shadow: 0 -3px 0 #455e1d inset;
  -moz-box-shadow: 0 -3px 0 #455e1d inset;
  box-shadow: 0 -3px 0 #455e1d inset;
}
.start main .form .btn:active {
  color: #ffffff;
  background-color: #537123;
  -webkit-box-shadow: 0 -3px 0 #455e1d inset;
  -moz-box-shadow: 0 -3px 0 #455e1d inset;
  box-shadow: 0 -3px 0 #455e1d inset;
}
.start footer {
  background: url('/img/landing/img/bg-benefits.jpg') no-repeat;
  min-height: 445px;
  padding: 55px 0;
}
.start footer .block-info {
  margin-bottom: 15px;
  text-align: center;
  min-height: 320px;
}
.start footer .block-info .height {
  position: relative;
  height: 160px;
}
.start footer .block-info .icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url('/img/landing/img/sprites-benefits.png') no-repeat;
}
.start footer .block-info .comfortably {
  background-position: 0 0;
  width: 71px;
  height: 45px;
}
.start footer .block-info .safely {
  background-position: 0 -47px;
  width: 74px;
  height: 54px;
}
.start footer .block-info .remotely {
  background-position: 0 -103px;
  width: 68px;
  height: 56px;
}
.start footer .block-info .professionally {
  background-position: 0 -161px;
  width: 57px;
  height: 47px;
}
.start footer .block-info .caption {
  color: none;
  background-color: #ffffff;
  padding: 10px 20px;
  height: 160px;
}
.start footer .block-info .caption span {
  font-family: "PFDinTextCondPro-regular";
  font-size: 2em;
  line-height: 1;
}
.start footer .block-info .caption hr {
  color: #cfcfcf;
  background-color: #cfcfcf;
  border: 0 none;
  height: 1px;
  clear: both;
  margin-top: 0;
}
.start footer .block-info p {
  text-transform: uppercase;
  font-family: "PFDinTextCondPro-light";
  font-size: 2em;
}
.start footer .block-info p.or {
  color: #e75f32;
  background-color: none;
}
.start footer .block-info p.tq {
  color: #16a9a7;
  background-color: none;
}
.start footer .block-info p.ye {
  color: #efba2c;
  background-color: none;
}
.start footer .block-info p.bl {
  color: #2ea9e9;
  background-color: none;
}
.shop-sale {
  text-align: center;
}
.shop-sale header {
  background: url('/img/landing/img/start-bg-header.jpg') repeat;
}
.shop-sale header p {
  font-family: "PFDinTextCondPro-regular";
  font-size: 3.5em;
  margin: 20px 0 0;
  color: #ffffff;
  background-color: none;
}
.shop-sale header small {
  display: block;
  font-family: "PFDinTextCondPro-light";
  font-size: 2.5em;
  margin: 0 0 35px;
  color: #9099ac;
  background-color: none;
}
.shop-sale .icon {
  position: relative;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  background: url('/img/landing/img/sprites-icon.png') no-repeat;
}
.shop-sale .nav {
  padding: 0 15px;
  border: none;
}
.shop-sale .nav li {
  margin: 0;
  padding: 0 5px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 4px;
  -moz-background-clip: padding;
  border-top-right-radius: 4px;
  background-clip: padding-box;
}
.shop-sale .nav li a {
  font-family: "PFDinTextCondPro-light";
  font-size: 2.2em;
  color: #ffffff;
  background-color: #f1b732;
  border: none;
  margin: 0;
}
.shop-sale .nav li.active a {
  border: none;
  color: #2e353d;
  background-color: #eaeaea;
}
.shop-sale .nav li.active a .shop {
  background-position: -50px 0;
}
.shop-sale .nav li.active a .goods {
  background-position: -50px -27px;
}
.shop-sale .nav li.active a .scale {
  background-position: -50px -54px;
}
.shop-sale .nav li .shop {
  background-position: 0 0;
  width: 25px;
  height: 26px;
}
.shop-sale .nav li .goods {
  background-position: 0 -27px;
  width: 22px;
  height: 26px;
}
.shop-sale .nav li .scale {
  background-position: 0 -54px;
  width: 27px;
  height: 26px;
}
.shop-sale .tab-pane {
  padding: 30px 0 0;
  color: #000000;
  background-color: #eaeaea;
  text-align: left;
  min-height: 465px;
}
.shop-sale .tab-pane .img {
  margin-top: 30px;
}
.shop-sale .tab-pane article {
  line-height: 1.2;
  position: relative;
  margin: 30px 0;
}
.shop-sale .tab-pane .icon {
  display: inline-block;
  float: left;
  top: 6px;
}
.shop-sale .tab-pane .shop {
  background-position: -50px 0;
  width: 25px;
  height: 26px;
}
.shop-sale .tab-pane .goods {
  background-position: -50px -27px;
  width: 22px;
  height: 26px;
}
.shop-sale .tab-pane .scale {
  background-position: -50px -54px;
  width: 27px;
  height: 26px;
}
.shop-sale .tab-pane p {
  font-family: "PFDinTextCondPro-light";
  font-size: 2.5em;
  padding-left: 32px;
  color: #2e353d;
  background-color: none;
}
.shop-sale .tab-pane p span {
  font-family: "PFDinTextCondPro-regular";
}
.order {
  text-align: center;
}
.order header {
  background: url('/img/landing/img/bg-yellow.jpg') repeat;
}
.order header p {
  font-family: "PFDinTextCondPro-regular";
  font-size: 3.5em;
  margin: 20px 0 0;
  color: #2e353d;
  background-color: none;
}
.order header small {
  display: block;
  font-family: "PFDinTextCondPro-light";
  font-size: 2.5em;
  line-height: 1.2;
  margin: 0 0 35px;
  color: #fefefe;
  background-color: none;
}
.order .icon {
  position: relative;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  background: url('/img/landing/img/sprites-icon.png') no-repeat;
}
.order .nav {
  border: none;
}
.order .nav li {
  margin: 0;
  padding: 0 5px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 4px;
  -moz-background-clip: padding;
  border-top-right-radius: 4px;
  background-clip: padding-box;
}
.order .nav li a {
  font-family: "PFDinTextCondPro-light";
  font-size: 2.2em;
  color: #2e353d;
  background-color: #ffffff;
  border: none;
  margin: 0;
}
.order .nav li.active a {
  border: none;
  color: #ffffff;
  background-color: #2e353d;
}
.order .nav li.active a .orders {
  background-position: -50px -82px;
  width: 29px;
  height: 28px;
}
.order .nav li.active a .analytics {
  background-position: -50px -112px;
  width: 31px;
  height: 25px;
  margin-bottom: 3px;
}
.order .nav li.active a .warehouse {
  background-position: -50px -139px;
  width: 25px;
  height: 25px;
  margin-bottom: 3px;
}
.order .nav li .orders {
  background-position: 0 -82px;
  width: 29px;
  height: 28px;
}
.order .nav li .analytics {
  background-position: 0 -112px;
  width: 31px;
  height: 25px;
  margin-bottom: 3px;
}
.order .nav li .warehouse {
  background-position: 0 -139px;
  width: 25px;
  height: 25px;
  margin-bottom: 3px;
}
.order .tab-pane {
  padding: 30px 0 0;
  color: #ffffff;
  background-color: #2e353d;
  text-align: left;
  min-height: 525px;
  overflow: hidden;
}
.order .tab-pane .img {
  position: relative;
  margin-top: 30px;
  min-height: 477px;
}
.order .tab-pane .img img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.order .tab-pane article {
  line-height: 1.2;
  position: relative;
  margin: 30px 0;
}
.order .tab-pane .icon {
  display: inline-block;
  float: left;
  top: 3px;
}
.order .tab-pane .orders {
  background-position: -50px -82px;
  width: 29px;
  height: 28px;
}
.order .tab-pane .analytics {
  background-position: -50px -112px;
  width: 31px;
  height: 25px;
}
.order .tab-pane .warehouse {
  background-position: -50px -139px;
  width: 25px;
  height: 25px;
}
.order .tab-pane p {
  font-family: "PFDinTextCondPro-light";
  font-size: 2.2em;
  padding-left: 40px;
}
.order .tab-pane p span {
  display: block;
  margin-top: 15px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: none;
}
.start-2 {
  background: url('/img/landing/img/bg-form.jpg') 0 0 no-repeat;
}
.start-2 main {
  min-height: 450px;
  padding: 20px 0 30px;
}
.start-2 main h2 {
  margin: 30px 0 15px;
  font-family: "PFDinTextCondPro-regular";
  font-size: 5em;
  line-height: 1.6;
  text-transform: none;
}
.start-2 main .form {
  margin: 30px 0;
}
.rates {
  color: none;
  background-color: none;
  background: url('/img/landing/img/bg-grey.png') repeat;
}
.rates h2 {
  font-family: "PFDinTextCondPro-regular";
  font-size: 3.5em;
  color: #2e353d;
  background-color: none;
  margin: 45px 0;
}
.rates h2 small {
  font-family: "PFDinTextCondPro-light";
  font-size: 30px;
  line-height: 1;
  color: #9099ac;
  background-color: none;
}
.rates table {
  border-collapse: separate;
  border-spacing: 4px;
  margin-bottom: 50px;
  font-family: "PFDinTextCondPro-regular";
  font-size: 2em;
}
.rates table .colored-grey {
  color: #ffffff;
  background-color: #929aaf;
}
.rates table .font-grey {
  color: #9099ac;
  background-color: none;
}
.rates table .colored-white {
  color: none;
  background-color: #ffffff;
}
.rates table .light {
  font-family: "PFDinTextCondPro-light";
  font-size: 25px;
}
.rates table .medium {
  font-family: "PFDinTextCondPro-medium";
}
.rates table > tbody > tr > td {
  border: none;
  padding: 13px 8px;
  vertical-align: middle;
}
.rates table > tbody > tr > th {
  text-align: center;
  font-weight: normal;
  border: none;
  padding: 8px;
  vertical-align: middle;
}
.rates .btn {
  width: 27%;
  max-width: 270px;
  height: 50px;
  margin-bottom: 50px;
  font-family: "PFDinTextCondPro-medium";
  font-size: 25px;
  -webkit-box-shadow: 0 -3px 0 #82aa38 inset;
  -moz-box-shadow: 0 -3px 0 #82aa38 inset;
  box-shadow: 0 -3px 0 #82aa38 inset;
  color: #2e353d;
  background-color: #9abc43;
  border: none;
  text-transform: uppercase;
}
.rates .btn:hover {
  color: #ffffff;
  background-color: #537123;
  -webkit-box-shadow: 0 -3px 0 #455e1d inset;
  -moz-box-shadow: 0 -3px 0 #455e1d inset;
  box-shadow: 0 -3px 0 #455e1d inset;
}
.rates .btn:active {
  color: #ffffff;
  background-color: #537123;
  -webkit-box-shadow: 0 -3px 0 #455e1d inset;
  -moz-box-shadow: 0 -3px 0 #455e1d inset;
  box-shadow: 0 -3px 0 #455e1d inset;
}
.benefits header {
  background: url('/img/landing/img/bg-orange.jpg') repeat;
}
.benefits h2 {
  font-family: "PFDinTextCondPro-regular";
  font-size: 3.5em;
  line-height: 1.8;
  margin: 35px 0;
  color: #ffffff;
  background-color: none;
}
.benefits h2 span {
  color: #21aefd;
  background-color: none;
}
.benefits main {
  padding: 40px 0;
  background: url('/img/landing/img/bg-benefits2.jpg') center center no-repeat;
  -webkit-background-size: cover 100%;
  -moz-background-size: cover 100%;
  background-size: cover 100%;
}
.benefits article {
  position: relative;
  overflow: hidden;
  min-height: 180px;
  color: none;
  background-color: #ffffff;
  margin: 30px 0;
}
.benefits .icon-block {
  display: table-cell;
  position: relative;
  width: 90px;
  color: none;
  background-color: #cf5001;
}
.benefits .icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  background: url('/img/landing/img/sprites-benefits-2.png') no-repeat;
}
.benefits .multisite {
  background-position: 0 0;
  width: 50px;
  height: 36px;
}
.benefits .backup {
  background-position: 0 -38px;
  width: 42px;
  height: 39px;
}
.benefits .protection {
  background-position: 0 -79px;
  width: 42px;
  height: 42px;
}
.benefits .no-once {
  background-position: 0 -123px;
  width: 41px;
  height: 39px;
}
.benefits .ease {
  background-position: 0 -164px;
  width: 47px;
  height: 41px;
}
.benefits .support {
  background-position: 0 -207px;
  width: 41px;
  height: 39px;
}
.benefits .info-block {
  display: table-cell;
  vertical-align: middle;
  height: 180px;
  padding: 15px;
}
.benefits .colored-orange {
  font-family: "PFDinTextCondPro-regular";
  font-size: 2.5em;
  line-height: 1;
  color: #cf5001;
  background-color: none;
}
.benefits .colored-orange + p {
  font-family: "PFDinTextCondPro-regular";
  font-size: 2em;
  color: #2e353d;
  background-color: none;
}
.counter {
  background: url('/img/landing/img/bg-rates.jpg') repeat;
}
.counter .colored {
  margin: 40px 0 10px;
  font-family: "PFDinTextCondPro-regular";
  font-size: 6.5em;
  color: #f1b837;
  background-color: none;
}
.counter .colored + p {
  font-family: "PFDinTextCondPro-thin";
  font-size: 2.5em;
  line-height: 1.2;
  margin: 0 35px 50px;
  color: #ffffff;
  background-color: none;
}
.caption-business {
  background: url('/img/landing/img/bg-grey.png') repeat;
  font-family: "PFDinTextCondPro-medium";
  font-size: 3.5em;
  color: #2e353d;
  background-color: none;
  text-transform: uppercase;
  padding: 30px 0;
}
.caption-business .colored-blue {
  color: #21aefd;
  background-color: none;
  padding: 0 50px;
}
.caption-business .colored-blue + p {
  padding: 0 50px;
}
.questions main {
  background: url('/img/landing/img/bg-footer.jpg') center center no-repeat;
  -webkit-background-size: cover 100%;
  -moz-background-size: cover 100%;
  background-size: cover 100%;
  padding: 0 0 30px;
}
.questions p {
  font-family: "PFDinTextCondPro-regular";
  font-size: 5em;
  margin: 40px 0 20px;
  text-transform: uppercase;
  color: #f1b837;
  background-color: none;
}
.questions p + p {
  margin-top: 20px;
  font-size: 4em;
  color: #ffffff;
  background-color: none;
}
.questions .btn {
  font-family: "PFDinTextCondPro-medium";
  font-size: 2em;
  height: 50px;
  -webkit-box-shadow: 0 -3px 0 #cf5001 inset;
  -moz-box-shadow: 0 -3px 0 #cf5001 inset;
  box-shadow: 0 -3px 0 #cf5001 inset;
  color: #ffffff;
  background-color: #d86001;
  border: none;
  text-transform: uppercase;
}
.questions .form {
  max-width: 370px;
  margin: 55px auto 20px;
  color: #9099ac;
  background-color: rgba(42, 48, 55, 0.8);
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 15px 10%;
}
.questions .form p {
  margin: 0;
  font-family: "PFDinTextCondPro-regular";
  font-size: 2.5em;
  text-align: center;
  color: #21aefd;
  background-color: none;
  text-transform: uppercase;
}
.questions .form p + p {
  font-family: "PFDinTextCondPro-light";
  color: #ffffff;
  background-color: none;
  margin: 0 0 25px;
  text-transform: none;
}
.questions .form p + p span {
  color: #f1b732;
  background-color: none;
}
.questions .form p:last-child {
  color: #9099ac;
  background-color: none;
  margin: 0;
  font-size: 15px;
  text-transform: none;
  line-height: 1;
  margin-top: -15px;
  margin-bottom: 20px;
}
.questions .form .form-group {
  width: 100%;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.questions .form .form-group:last-child {
  padding: 0 15px;
}
.questions .form .form-group .sr-only {
  text-transform: none;
  top: -10px;
  color: #9099ac;
  background-color: none;
  font-family: "PFDinTextCondPro-light";
  font-size: 15px;
  width: auto;
  height: auto;
  clip: auto;
  font-weight: normal;
}
.questions .form .form-control {
  width: 100%;
  margin: 0 auto;
  color: #f1b732;
  background-color: rgba(144, 153, 172, 0.2);
  border-color: #9098AB;
  font-family: "PFDinTextCondPro-regular";
  font-size: 1.6em;
}
.questions .form .btn {
  width: 100%;
  height: 50px;
  padding: 0;
  font-family: "PFDinTextCondPro-medium";
  font-size: 20px;
  -webkit-box-shadow: 0 -3px 0 #82aa38 inset;
  -moz-box-shadow: 0 -3px 0 #82aa38 inset;
  box-shadow: 0 -3px 0 #82aa38 inset;
  color: #303642;
  background-color: #9abc43;
  border: none;
  text-transform: uppercase;
}
.questions .form .btn:hover {
  color: #ffffff;
  background-color: #537123;
  -webkit-box-shadow: 0 -3px 0 #455e1d inset;
  -moz-box-shadow: 0 -3px 0 #455e1d inset;
  box-shadow: 0 -3px 0 #455e1d inset;
}
.questions .form .btn:active {
  color: #ffffff;
  background-color: #537123;
  -webkit-box-shadow: 0 -3px 0 #455e1d inset;
  -moz-box-shadow: 0 -3px 0 #455e1d inset;
  box-shadow: 0 -3px 0 #455e1d inset;
}
.questions a.social {
  display: inline-block;
  color: #21aefd;
  background-color: none;
}
.questions a.social + a {
  margin-left: 15px;
}
.questions a.social:hover {
  text-decoration: none;
}
.questions footer {
  background: url('/img/landing/img/start-bg-header.jpg') repeat;
  color: #9099ac;
  background-color: none;
}
.questions footer h3 {
  font-family: "PFDinTextCondPro-regular";
  font-size: 4.5em;
  color: #ffffff;
  background-color: none;
}
.questions footer h3 span {
  color: #21aefd;
  background-color: none;
}
.questions footer p {
  font-family: "PFDinTextCondPro-light";
  font-size: 2em;
  margin: 20px 0;
  text-transform: none;
  color: #9099ac;
  background-color: none;
}
.questions footer .copyright {
  font-family: "PFDinTextCondPro-regular";
  font-size: 2em;
  margin: 0 0 5px;
}
.modal-backdrop {
  background: #fff;
}
@media screen and (max-width: 767px) {
  .start header ul.nav li {
    width: 100%;
  }
  .start header .logo {
    margin-top: 20px;
  }
  .start header .tel {
    margin-top: 20px;
  }
  .start-2 main {
    padding: 0;
  }
  .start-2 main h2 {
    margin: 15px 0;
    font-size: 4.5em;
    line-height: 1;
  }
  .start-2 main form .btn {
    padding: 0 5px;
  }
  .benefits h2 {
    font-size: 3em;
    line-height: 1.2;
    margin: 20px 0;
  }
  .caption-business {
    font-size: 2.2em;
    line-height: 1.2;
  }
  .caption-business .colored-blue {
    padding: 0;
  }
  .caption-business .colored-blue + p {
    padding: 0;
  }
  .questions p {
    margin: 20px 0 10px;
    font-size: 3.5em;
  }
  .questions p + p {
    font-size: 2.5em;
    margin-top: 10px;
  }
  .questions form {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 386px) {
  .modal .modal-dialog {
    width: 100%;
  }
}


.validation-error-tooltip
{
    background-image: url("/img/retail/main/tooltip_back.png");
    border: 2px solid #757575 !important;
    border-radius: 3px 3px 3px 3px;
    color: black !important;
    font-size: 14px;
    padding: 10px;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    z-index: 2000;
}

.validation-error-tooltip-arrow
{
    background-image:url("/img/retail/main/valid_triangle.png") !important;
}

.validation-error-tooltip .validation-error-tooltip-arrow {
    border-bottom: 10px solid rgba(0, 0, 0, 0.75);
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    display: block;
    position: absolute;
    top: -10px;
}