.seo-category-header
{
    background-color: grey;
    color: white;
    font-size: 14px;
    height: 20px;
    margin-bottom: 10px !important;
    padding: 10px 10px 0 !important;
    width: 580px !important;
}

.page_editor_container .cleditorSmileybar
{
    display:none;
}

.page_editor_container
{
    width:87%;
    margin-left:115px;
    margin-top:-15px;
}

.page_editor_container .cleditorMain
{
    width:88%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px 4px 4px 4px;
    color: #1B4684;
    float: left;
    height: 100px;
    padding: 5px;
    resize: none;
    width: 100%;
}

.page_editor_container .cleditorToolbar
{
    background-color: rgba(232, 236, 244, 0.5);
    border: 1px solid gray;
    border-radius: 2px 2px 2px 2px;
    height: 35px;
    position: absolute;
    left: 183px !important;
    top: 1px;
    width: 380px;
}

.admin-panel .retail-standard-panel
{
    margin-bottom:0 !important;
}

.page_form_container.table .table-cell div
{
    border:1px solid gray;
}

.category-remove-item
{
    text-align:right;
}

.seo-category-info-container
{
    min-height:30px;
}

.seo-pattern-block
{
    margin:10px;
}

.seo-pattern-block p
{
    margin-bottom:5px;
}

.seo-pattern-block .fancy-textarea
{
    border: 1px solid gray !important;
    border-radius: 3px 3px 3px 3px !important;
    width: 468px !important;
}

.table{display:table;}
